p.boxed
  | Each piece has a charge generating a magnetic field,
  | attracting enemy pieces while repelling others.

p.
  Every piece has a charge generating a magnetic field, except the two kings
  which have a neutral charge.
  Pieces of the same color have let's say a positive charge,
  while the others have a negative charge.
  After each move positive charges attract negative ones, and repel positive ones.

p Win by capturing opponent's king. There is no notion of check or stalemate here.

figure.diagram-container
  .diagram.diag12
    | fen:3b4/8/3K4/q1R2rP1/3Q4/8/3b4/8:
  .diagram.diag22
    | fen:3b4/8/3K4/qR1Qr1P1/3b4/8/8/8:
  figcaption Left: before white move Qd5. Right: after this move.

p.
  Remember that since kings have a neutral charge, any of their movement does not
  change anything on the board. They also block magnetic actions which go in
  their direction.

p.
  Castling is possible, but no en-passant captures.
  While castling, the changes are made by the rook movement.

h3 Source

p
  a(href="https://www.chessvariants.com/other.dir/magnetic.html") Magnetic chess 
  | on chessvariants.com.

p Inventors: Joao Pedro Neto and Claude Chaunier (1996)
