p.boxed
  | Cada pieza contiene una carga que genera un campo magnético,
  | que atrae piezas de color opuesto mientras aleja piezas amigables.

p.
  Cada pieza contiene una carga que genera un campo magnético, excepto
  reyes que son neutrales.
  Digamos que las piezas del mismo color tienen carga positiva,
  mientras que los otros están cargados negativamente.
  Después de cada jugada, las cargas positivas atraen a las negativas, y
  repeler otras cargas positivas.

figure.diagram-container
  .diagram.diag12
    | fen:3b4/8/3K4/q1R2rP1/3Q4/8/3b4/8:
  .diagram.diag22
    | fen:3b4/8/3K4/qR1Qr1P1/3b4/8/8/8:
  figcaption Izquierda: antes del movimiento blanco Qd5. Derecha: después de este movimiento.

p.
  Los reyes son neutrales, sus movimientos no cambian nada a la
  situación en el tablero. También bloquean las acciones magnéticas
  emitido en su dirección.

p.
  El enroque es posible, pero no hay capturas en passant.
  Durante el enroque, la torre en movimiento aplica los efectos magnéticos.

h3 Fin de la partida

p Gana capturando al rey contrario. No hay noción de jaque o empate.

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/other.dir/magnetic.html") variante magnética
  | &nbsp;en chessvariants.com.
