p.boxed
  | TODO

p.
  Besides the usual game end conditions, White can win by preventing black
  long castle. And, Black can win by castling long.

p For example after 1.e4 e5 2.Bc4, Nc6?? loses immediatly: 3.Bxf7+

figure.diagram-container
  .diagram
    | fen:r1bqkbnr/pppp1Bpp/2n5/4p3/4P3/8/PPPP1PPP/RNBQK1NR:
  figcaption After 1.e4 e5 2.Bc4 Nc6 3.Bxf7+ 1-0

h3 Source

p
  a(href="https://www.chessvariants.com/winning.dir/castle.html")
    | Castle chess
  | &nbsp;on chessvariants.com. See also 
  a(href="http://cinquantesignes.blogspot.com/2020/09/castlechess.html")
    | this post
  | &nbsp;giving some clarifications and advices.

p Inventor: Éric Angelini (1996)
