p.boxed
  | Long-range pieces can jump over an obstacle
  | when they are on the first rank.

p.
  From the first rank, rook, bishops and queen can play directly on the third
  rank, even if an obstacle stands in-between.
  Development is thus accelerated.

figure.diagram-container
  .diagram
    | fen:r2q2br/ppp2kpp/PN6/8/4pP2/1P1p2P1/P1PPP2P/R2QK2R a6,b6,e6,h6,a3,d3,f3,h3:
  figcaption Illustration of the possible jumps

h3 Source

p Variant imagined recently (2020) by Zied Haddad.
