p.boxed
  | Choisissez des cases d'appartition de nouvelles pièces,
  | lors d'un premier déplacement depuis la première rangée.
  | Un cavalier (premier coup) et un fou supplémentaires (second coup).

p.
  Tout se déroule comme aux échecs orthodoxes, à l'exception de nouvelles
  pièces apparaissant à des endroits désignés : un cavalier et un fou.

p.
  Le premier coup de la partie sélectionne une case pour le cavalier
  (cliquez simplement sur une case de la première rangée),
  et le second coup désigne une case pour le fou.
  Quand une "pièce augmentée" se déplace, la pièce supplémentaire entre
  dans le jeu sur la case de départ.

figure.diagram-container
  .diagram
    | fen:rnaqkbor/pppppppp/8/8/8/8/PPPPPPPP/RMBQKCNR:
  figcaption Pièces augmentées sur b1, f1, c8 et g8.

p.
  Le roque est toujours possible. Si les deux pièces impliquées sont
  augmentées, alors deux nouvelles pièces apparaissent après le coup.

figure.diagram-container
  .diagram.diag12
    | fen:rm1qkbor/ppp2ppp/4b3/3pp3/8/5NP1/PPPPPPBP/RNBQJ2V:
  .diagram.diag22
    | fen:rm1qkbor/ppp2ppp/4b3/3pp3/8/5NP1/PPPPPPBP/RNBQNRKB:
  figcaption Avant et après 0-0.

h3 Plus d'information

p
  | Cette idée a été suggérée récemment, et correspond aux 
  a(href="https://musketeerchess.net/home/index.html")
    | Échecs Mousquetaires
  | , avec des pièces standard.

p Inventeur : Zied Haddad (2020)
