input#modalHelp.modal(type="checkbox")
div(role="dialog")
	#help.card
		label.modal-close(for="modalHelp")
		.section
			ol
				li Click on a variant,
				li Read the rules (in the upper left corner),
				li Back to playing mode (click on "Play!")
				li Click on "new live game", and then, while waiting
				li Click on "new computer game" (just next).
			p Reminder:
			ul
				li All games start with a random assymetric position.
				li Games are untimed, and played anonymously.
				li No chat while playing, to focus on the moves.
		.section
			h3.red Bug report
			p
				| Please send an email (in English or French) to 
				a(href="mailto:contact@vchess.club?subject=[vchess.club] bug report")
					| contact@vchess.club
				| .
