input#modalHelp.modal(type="checkbox")
div(role="dialog")
	#help.card
		label.modal-close(for="modalHelp")
		.section
			ol
				li Cliquez sur une variante,
				li Lisez les règles (en haut à gauche),
				li Revenez en mode jeu (cliquer sur "Jouer")
				li Cliquez sur "nouvelle partie en direct", puis, en attendant
				li Cliquez sur "nouvelle partie contre l'ordinateur" (à côté).
			p Rappel :
			ul
				li Toutes les parties démarrent avec une position aléatoire assymétrique.
				li Les parties ne sont pas chronométrées, et jouée anonymemement.
				li Pas de chat pendant la partie, pour se concentrer sur les coups.
		.section
			h3.red Rapport de bug
			p
				| SVP envoyez un email (en français ou anglais) à 
				a(href="mailto:contact@vchess.club?subject=[vchess.club] bug report")
					| contact@vchess.club
				| .
