p.boxed.
  Play the piece type determined by a dice roll.

p.
  At each turn, click on any empty square first: you will see a piece type
  written in the moves list, and a piece of this nature will be highlighted on
  the board. You then have to play a move with this piece's type.

p There is no check or checkmate: the goal is to capture the king.

figure.diagram-container
  .diagram
    | fen:r1b2b1r/pp2p3/2p2q2/3p1kpp/1P2Qp2/2K2P1P/P1PP2P1/RNB2BNR:
  figcaption Both kings could be captured if the dice indicated a queen.

p.
  Note: a pawn promotion into a piece type 'T' is a valid move
  if the dice shows 'T'.

p.
  Games are likely to be very random with this constraint.
  Play at your own risk :)
