p.boxed.
  Juega la pieza cuyo tipo está determinado por una tirada de dado.

p.
  En cada turno, haga clic en una casilla vacía: verá un tipo de pieza
  escrito en la lista de jugadas, y se indicará una pieza de esta naturaleza
  en el tablero. Luego debes jugar un movimiento con una pieza de este tipo.

p No hay jaque ni jaque mate: el objetivo es capturar al rey.

figure.diagram-container
  .diagram
    | fen:r1b2b1r/pp2p3/2p2q2/3p1kpp/1P2Qp2/2K2P1P/P1PP2P1/RNB2BNR:
  figcaption.
    Los dos reyes podrían ser capturados si el dado indica una dama.

p.
  Es probable que los juegos sean muy aleatorios con esta restricción.
  Juega bajo tu propio riesgo :)
