p.boxed.
  Juega la pieza cuyo tipo está determinado por una tirada de dado.

p.
  El primer movimiento blanco se elige libremente. Luego, en cada ronda, usted
  debe jugar una pieza del tipo resaltado en el tablero de ajedrez.
  El tipo de pieza a jugar también se indica en la lista de movimientos.

p No hay jaque ni jaque mate: el objetivo es capturar al rey.

figure.diagram-container
  .diagram
    | fen:r1b2b1r/pp2p3/2p2q2/3p1kpp/1P2Qp2/2K2P1P/P1PP2P1/RNB2BNR:
  figcaption.
    Los dos reyes podrían ser capturados si el dado indica una dama.

p.
  Nota: una promoción de peón en una pieza de tipo 'T' es un movimiento
  válido si el dado indica 'T'.

p.
  Es probable que los juegos sean muy aleatorios con esta restricción.
  Juega bajo tu propio riesgo :)
