p.boxed.
  Jouez la pièce dont le type est déterminé par un lancer de dé.

p.
  À chaque tour, cliquez sur une case vide : vous verrez un type de pièce
  écrit dans la liste des coups, et une pièce de cette nature sera indiquée
  sur l'échiquier. Vous devez ensuite jouer un coup avec une pièce de ce type.

p Il n'y a ni échec ni mat : l'objectif est de capturer le roi.

figure.diagram-container
  .diagram
    | fen:r1b2b1r/pp2p3/2p2q2/3p1kpp/1P2Qp2/2K2P1P/P1PP2P1/RNB2BNR:
  figcaption.
    Les deux rois pourraient être capturés si le dé indiquait une dame.

p.
  Note : une promotion de pion en une pièce de type 'T' est un coup valide
  si le dé indique 'T'.

p.
  Les parties sont susceptibles d'être très aléatoires avec cette contrainte.
  Jouez à vos risques et périls :)
