p.boxed
  | A rook versus five pawns.

figure.diagram-container
  .diagram
    | fen:8/ppppp3/8/8/8/8/8/7R:
  figcaption Initial position

p.
  The pawns win if one reaches the other end
  without being immediately captured.
  The rook wins if it captures all the pawns.

h3 Source

p
  a(href="https://chessplus.net/interactive-games/")
    | Rook vs 5 Pawns
  | &nbsp;on chessplus.net.
