p.boxed
  | Une tour contre cinq pions.

figure.diagram-container
  .diagram
    | fen:8/ppp5/8/8/8/8/8/7R:
  figcaption Position initiale

p.
  Les pions gagnent si l'un d'eux arrive de l'autre côté sans être
  immédiatement capturé.
  La tour gagne si elle mange tous les pions.

h3 Source

p
  a(href="https://chessplus.net/interactive-games/")
    | Rook vs 5 Pawns
  | &nbsp;sur chessplus.net.
