p.boxed
  | Las blancas juegan un movimiento, luego las negras juegan dos veces,
  | entonces las blancas juegan tres movimientos...

p.
  En la primera jugada de la partida, las blancas solo juegan una vez -
  como de costumbre. Sin embargo, después de eso y por el resto del juego,
  cada lado debe jugar tantos movimientos como el oponente haya jugado más uno.

p.
  Si una jugaga da jaque, la secuencia termina aquí, pero el oponente
  todavía puede jugar tantos movimientos como hubiera sido teóricamente
  posible. Además, si un lado es mat o empate antes del número máximo de
  movimientos se juega, el juego termina.
  No hay capturas en-passant.

figure.diagram-container
  .diagram
    | fen:rnbqk2r/pppp2pp/4p3/8/1b1P4/4pN2/PPP1PPPP/RN1QKB1R:
  figcaption "Mate en 1"

p.
  En el diagrama, las blancas matan con la secuencia de 5 jugadas
  c3 Ne5 Qd3 Qf5 Qf7. La notación de movimiento se reemplaza por &#8734;
  (infinito) cuando hay cuatro o más jugadas para mostrar.

h3 Más información

p
  | Puedes comenzar con la 
  a(href="https://en.wikipedia.org/wiki/Progressive_chess")
    | página Wikipedia
  | , que apunta a 
  a(href="http://users.ics.aalto.fi/tho/chess.html") esta página
  | &nbsp;con varias partidas comentadas.
