p.boxed
 | Captura tus propias piezas para fusionar sus poderes.

p
  | Puede capturar una torre, un caballo, un alfil o una dama de su
  | color con una pieza de este listado pero de una naturaleza diferente.
  | El resultado suma los movimientos de las piezas, como en la variante 
  a(href="/#/variants/Absorption") Absorption
  | .

p Esto fue sugerido por Vincent Rothuis en 2020.
