p.boxed.
  TODO

// TODO: banane ou bombe redirige vers bonus, puis enchaînement
// (mushroom ou egg ou autre banane...etc)
// Example a1 to a5 banana => b5 mushroom => jump over c5, arrive on d5, egg
// Possible en sortant les fonctions applyEffect() de getBasicMove() ?
