p.boxed
  | Si las negras enroquen por el lado largo, ganan.
  | Si el enroque largo es imposible, las blancas ganan.

p.
  Además de las condiciones habituales al final del juego, las blancas pueden
  ganar al evitar que las negras enroquen por el lado largo. Y las negras
  pueden ganar jugando este enroque.

p Por ejemplo, después de 1.e4 e5 2.Bc4, Nc6?? pierde inmediatamente: 3.Bxf7+

figure.diagram-container
  .diagram
    | fen:r1bqkbnr/pppp1Bpp/2n5/4p3/4P3/8/PPPP1PPP/RNBQK1NR:
  figcaption Después de 1.e4 e5 2.Bc4 Nc6 3.Bxf7 + 1-0

h3 Fuente

p
  a(href="https://www.chessvariants.com/winning.dir/castle.html")
    | Castle Chess
  | & nbsp;en chessvariants.com. Ver también 
  a(href="http://cinquantesignes.blogspot.com/2020/09/castlechess.html")
    | esta publicación
  | &nbsp;dando algunas aclaraciones y consejos.

p Inventor: Éric Angelini (1996)
