p.boxed
  | Si les noirs effectuent le grand roque, ils gagnent.
  | Si le grand roque est impossible, les blancs gagnent.

p.
  En plus des conditions habituelles de fin de partie, les blancs peuvent
  gagner en empêchant les noirs de roquer du côté long. Et, les noirs
  peuvent gagner en jouant ce roque.

p Par exemple après 1.e4 e5 2.Bc4, Nc6?? perd immédiatement : 3.Bxf7+

figure.diagram-container
  .diagram
    | fen:r1bqkbnr/pppp1Bpp/2n5/4p3/4P3/8/PPPP1PPP/RNBQK1NR:
  figcaption Après 1.e4 e5 2.Bc4 Nc6 3.Bxf7+ 1-0

h3 Source

p
  a(href="https://www.chessvariants.com/winning.dir/castle.html")
    | Castle chess
  | &nbsp;sur chessvariants.com. Voir aussi 
  a(href="http://cinquantesignes.blogspot.com/2020/09/castlechess.html")
    | ce post
  | &nbsp;donnant quelques clarifications et conseils.

p Inventeur : Éric Angelini (1996)
