p.boxed
  | Las piezas siempre avanzan.
  | Una vez que se alcanza la última fila, son promovidos.

p.
  Los caballos y los alfiles deben avanzar estrictamente,
  como las damas.
  Las torres, la dama y el rey también pueden moverse lateralmente, en el
  misma fila.
  Los peones se mueven como de costumbre y son promovidos a peones
  bidireccional, capaz de moverse y capturar en ambas direcciones.

figure.diagram-container
  .diagram.diag12
    | fen:1qnrkrbb/pppppp1p/1n4p1/8/3B1P2/8/PPPPP1PP/RBKQNR1N c5,b6,e5,f6,g7,h8:
  .diagram.diag22
    | fen:1qnrkrbC/pppppp1p/1n4p1/8/5P2/8/PPPPP1PP/RBKQNR1N:
  figcaption Antes y después 1.Bxh8

p.
  Las piezas promocionadas aparecen en amarillo (para las blancas)
  y en rojo (para las negras).

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/diffmove.dir/checkers.html")
    | variante Checkers
  | &nbsp;en chessvariants.com.

p Inventor: Hans Multhopp (1974)
