p.boxed
  | Les pièces se déplacent toujours vers l'avant.
  | Une fois la dernière rangée atteinte, elles sont promues.

p.
  Les cavaliers et les fous doivent se déplacer strictement en avant,
  comme aux Dames.
  Les tours, la dame et le roi peuvent aussi évoluer latéralement, sur la
  même rangée.
  Les pions se déplacent comme d'habitude et sont promus en des pions
  bidirectionnels, pouvant se déplacer et capturer dans les deux sens.

figure.diagram-container
  .diagram.diag12
    | fen:1qnrkrbb/pppppp1p/1n4p1/8/3B1P2/8/PPPPP1PP/RBKQNR1N c5,b6,e5,f6,g7,h8:
  .diagram.diag22
    | fen:1qnrkrbC/pppppp1p/1n4p1/8/5P2/8/PPPPP1PP/RBKQNR1N:
  figcaption Before and after 1.Bxh8

p.
  Les pièces promues apparaissent en jaune (pour les blancs)
  et en rouge (pour les noirs)

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/diffmove.dir/checkers.html")
    | variante Checkers
  | &nbsp;sur chessvariants.com.

p Inventeur : Hans Multhopp (1974)
