p.boxed
  | El rey se mueve como un caballo, y los caballos como reyes.
  | El objetivo sigue siendo matar al rey.

p.
  Los "caballos que se mueven como reyes" son entonces lógicamente
  llamado "plebeyos", señaló 'C' para "commoner" en inglés.

p El enroque todavía es posible, bajo las mismas condiciones que el ajedrez ortodoxo

figure.diagram-container
  .diagram.diag12
    | fen:7k/8/8/8/8/1r6/8/3K1r2:
  .diagram.diag22
    | fen:rcbqk1cr/pppp1ppp/8/2b1p3/2B1P3/5Q2/PPPP1PPP/RCB1K1CR:
  figcaption.
    Izquierda: versión "caballo real" del mate de las dos torres.
    Derecha: después de 1.e4 e5 2.Bc4 Bc5 3.Qf3

p.
  En el diagrama de la derecha, la amenaza es 4.Bxf7+ Cxf7 5.Qxf7+
  con la ventaja material y un ataque ganador.

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/diffobjective.dir/knightmate.html")
    | variante Knightmate
  | &nbsp;en chessvariants.com.
  | También podemos jugarlo
  a(href="https://greenchess.net/rules.php?v=knightmate") en greenchess.net
  | &nbsp;(con una posición inicial determinista).
