p.boxed
  | Le roi se déplace comme un cavalier, et les cavaliers comme des rois.
  | l'objectif est encore de mater le roi.

p.
  Les "cavaliers se déplaçant comme des rois" sont alors assez logiquement
  appelés des "roturiers", notés 'C' pour "commoner" en anglais.

p Le roque est toujours possible, sous les mêmes conditions qu'aux échecs orthodoxes.

figure.diagram-container
  .diagram.diag12
    | fen:7k/8/8/8/8/1r6/8/3K1r2:
  .diagram.diag22
    | fen:rcbqk1cr/pppp1ppp/8/2b1p3/2B1P3/5Q2/PPPP1PPP/RCB1K1CR:
  figcaption.
    Gauche : Version "cavalier royal" du mat des deux tours.
    Droite : Après 1.e4 e5 2.Bc4 Bc5 3.Qf3

p.
  Sur le diagramme de droite, la menace est 4.Bxf7+ Cxf7 5.Qxf7+
  avec l'avantage matériel et une attaque gagnante.

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/diffobjective.dir/knightmate.html") 
    | variante Knightmate
  | &nbsp;sur chessvariants.com.
  | On peut y jouer également 
  a(href="https://greenchess.net/rules.php?v=knightmate") sur greenchess.net
  | &nbsp;(avec une position initiale déterministe).

p Inventeur : Bruce Zimov (1972)
