p.boxed TODO

p Some links - rules unwritten yet - variant slightly buggish for now.
p https://www.chessvariants.com/incinf.dir/bario.html
p https://le-cdn.website-editor.net/20ef5f800ea646c29f6852cfc5ceda07/dms3rep/multi/opt/BAR028-e15a849c-960w.jpg
p https://www.bario-chess-checkers-chessphotography-spaceart.de/
