p.boxed
	| Every captured piece can be re-used by the capturer, landing it anywhere instead of moving a piece.

h3 Specifications

ul
	li Chessboard: standard.
	li Material: standard.
	li Non-capturing moves: standard.
	li Special moves: standard + rebirth.
	li Captures: standard.
	li End of game: standard.

h3 Basics

p
	| Orthodox rules apply, with only one change:
	| every time you capture a piece, your "reserve" of waiting pieces is augmented
	| with this figure. At every move, you may choose to land one of your reserve
	| pieces anywhere on the board (except last rank for pawns),
	| instead of playing a regular move.

p.
	Note: when a promoted pawn is captured, capturing it put a pawn in the reserve,
	not the promoted piece. This is to allow to gain material on last rank without
	fear of giving a queen to the opponent.

h3 Credits

p
	| This variant is very popular, a possible starting point is 
	a(href="https://www.chessvariants.com/other.dir/crazyhouse.html") lichess.org
	| .
