p.boxed
	| Win by eliminating all opponent pieces of the same type.

h3 Specifications

ul
	li Chessboard: standard.
	li Material: standard.
	li Non-capturing moves: standard.
	li Special moves: standard.
	li Captures: standard.
	li End of game: pieces extinction.

h3 Basics

p
	| Standard rules apply, but the game ends when all pieces of a kind disappeared.
	| Kings are treated as normal pieces (no royal power), but may castle -
	| without any concern about checks.
	| Pawns may promote into king.
	| If all pieces of a kind disappear, the game is lost; except it's a pawns extinction
	| which results in a non-pawn extinction by capturing and promoting on the last rank.

h3 End of game

p.
	Win by eliminating all enemy pawns, or rooks, or knights, or bishops, or queen(s),
	or king(s) (there may be several if promotions happened).

figure.diagram-container
	.diagram
		| fen:n3brk1/5ppp/3q4/8/8/8/1Q3PPP/K1R1B1N1:
	figcaption White can win in 2 moves: 1.Qb7, 2.QxN

h3 Credits

p
	a(href="https://www.chessvariants.com/winning.dir/extinction.html") Extinction chess 
	| on chessvariants.com.
