p.boxed
	| 4x8 board with no pawns. Orthodox rules.

figure.diagram-container
	.diagram
		| fen:rn4NR/kb4BK/qb4BQ/rn4NR:
	figcaption Initial position (non-random)

h3 Specifications

ul
	li Chessboard: 4x8 (see diagram).
	li Material: no pawns.
	li Non-capturing moves: standard.
	li Special moves: none.
	li Captures: standard.
	li End of game: standard.

h3 Credits

p
	| This variant is shortly described on 
	a(href="https://www.chessvariants.com/small.dir/halfchess.html") chessvariants.com
	| .
