p.boxed
	| Each piece has a charge generating a magnetic field, attracting enemy pieces while repelling others.

h3 Specifications

ul
	li Chessboard: standard.
	li Material: standard.
	li Non-capturing moves: standard + magnetic.
	li Special moves: standard + magnetic.
	li Captures: standard + magnetic.
	li End of game: capture the king.

h3 Basics

p
	| TODO: use diagram from chessvariants.com

figure.diagram-container
	.diagram
		| fen:rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR:
	figcaption TODO

h3 End of the game

p Win by capturing opponent's king. Thee is no notion of check or stalemate here.

h3 Credits

p
	a(href="https://www.chessvariants.com/other.dir/magnetic.html") Magnetic chess 
	| on chessvariants.com.
