p.boxed
	| Each piece has a charge generating a magnetic field,
	| attracting enemy pieces while repelling others.

h3 Specifications

ul
	li Chessboard: standard.
	li Material: standard.
	li Non-capturing moves: standard + magnetic.
	li Special moves: no en-passant + magnetic.
	li Captures: standard + magnetic.
	li End of game: capture the king.

h3 Basics

p
	| Every piece has a charge generating a magnetic field, except the two kings
	| which have a neutral charge.
	| Pieces of the same color have let's say a positive charge,
	| while the others have a negative charge.
	| So, after each move some pieces are attracted while others are repelled.

figure.diagram-container
	.diagram2
		| fen:3b4/8/3K4/q1R2rP1/3Q4/8/3b4/8:
	.diagram2
		| fen:3b4/8/3K4/qR1Qr1P1/3b4/8/8/8:
	figcaption Left: before white move Qd5. Right: after this move.

p.
	Remember that since kings have a neutral charge, any of their movement does not
	change anything on the board. They also block magnetic actions which go in
	their direction.

h3 End of the game

p Win by capturing opponent's king. There is no notion of check or stalemate here.

p Note: In castling, the changes are made by the rook movement.

h3 Credits

p
	a(href="https://www.chessvariants.com/other.dir/magnetic.html") Magnetic chess 
	| on chessvariants.com.
