p.boxed
	| Pieces look the same but behave very differently.
	| They generally move like an orthodox queen,
	| but capturing rules are complex.

h3 Specifications

ul
	li Chessboard: standard.
	li Material: "standard".
	li Non-capturing moves: often like queen.
	li Special moves: none.
	li Captures: very special.
	li End of game: capture the king.

h3 Non-capturing moves

// TODO: short paragraph, only the king moves like an orthodox king

h3 Capturing moves

// TODO...
// TODO: dire comment suicider une pièce immobilisée (self-capture)

h3 End of the game

// TODO: show the situation from Wikipedia page
// tell that it's much simpler to go until king capture and not very different in this case

h3 Credits

p.
	A good starting point is the 
	#[a(href="https://en.wikipedia.org/wiki/Baroque_chess") Wikipedia page], 
	which also gives pointers to other interesting pages (including chessvariants.com,
	as usual).
