p.boxed
  | Captures are mandatory, with transformation into the captured piece.

p.
  Everything is the same as in orthodox rules, except that when possible,
  captures are forced.
  The goal is still to checkmate, and stalemate is a draw.

p.
  After each capture the capturer takes the nature of the captured piece.
  For example after 1.e4 a6 2.Bxa6 is forced and a6 is now a white pawn.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/1ppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR a6:
  figcaption After 1.e4 a6, 2.Bxa6 turns the bishop into a pawn.

p If the king captures, it transforms as well but stays royal.

h3 More information

p
  a(href="https://www.chessvariants.com/difftaking.dir/cannibal.html") Cannibal Chess
  | &nbsp;on chessvariants.com. I added the forced captures for more fun.
