p.boxed
  | Las capturas son obligatorias, con transformación en la pieza capturada.

p.
  Todo va como el ajedrez ortodoxo, pero cuando es posible
  las capturas son forzadas.
  El objetivo aún es de matar, y el empate es tablas.

p.
  Después de cada captura, el atacante toma la naturaleza de la pieza capturada.
  Por ejemplo, después de 1.e4 a6 2.Bxa6 es forzado y a6 ahora es un peón blanco.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/1ppppppp/p7/8/4P3/8/PPPP1PPP/RNBQKBNR a6:
  figcaption Después de 1.e4 a6, 2.Bxa6 transforma el alfil en un peón.

p Si el rey captura, también se transforma pero permanece real.

h3 Más información

p
  | La 
  a(href="https://www.chessvariants.com/difftaking.dir/cannibal.html")
    | variante Cannibal
  | &nbsp;en chessvariants.com.
  | Esta regla me parece más divertida con las capturas obligatorias.
