p.boxed
  | Les captures sont obligatoires, avec transformation en la pièce capturée.

p.
  Tout se déroule comme aux échecs orthodoxes, mais quand elles sont possibles
  les captures sont forcées.
  L'objectif est toujours de mater, et le pat fait nulle.

p.
  Après chaque capture, l'attaquant prend la nature de la pièce capturée.
  Par exemple après 1.e4 a6 2.Bxa6 est forcé et a6 est maintenant un pion blanc.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/1ppppppp/p7/8/4P3/8/PPPP1PPP/RNBQKBNR a6:
  figcaption Après 1.e4 a6, 2.Bxa6 transforme le fou en un pion.

p Si le roi capture, il se transforme aussi mais reste royal.

h3 Plus d'information

p
  | La 
  a(href="https://www.chessvariants.com/difftaking.dir/cannibal.html") variante Cannibal
  | &nbsp;sur chessvariants.com.
  | Cett règle me paraît plus amusante avec des captures obligatoires.
