p.boxed
  | An attacked piece is taken if the capture cannot
  | be prevented with non-capturing moves.

p.
  This is the Allmate1 variant, with a weaker mating condition:
  capturing moves to escape from checkmate are not considered.
  (Mate-)Capturing is thus easier: on the next diagram, 1.Qe6 captures
  the d7, e7 and f7 pawns.

figure.diagram-container
  .diagram.diag12
    | fen:4k3/pppppppp/8/8/4Q3/8/PPP2PPP/4K3:
  .diagram.diag22
    | fen:4k3/ppp3pp/4Q3/8/8/8/PPP2PPP/4K3:
  figcaption Before and after 1.Qe6X

p Since captures are much easier, they don't cascade as in Allmate1.

h3 Source

p See Allmate1 variant.
