p.boxed
  | Se captura una pieza atacada si no se puede evitar
  | la toma por movimientos sin captura.

p.
  Esta es exactamente la variante Allmate1, con una condición de mate más débil:
  no se consideran las capturas para escapar de un jaque mate.
  Por lo tanto, las (mate-)capturas son más fáciles: en el siguiente diagrama,
  1.Qe6 toma los peones d7, e7 y f7.

figure.diagram-container
  .diagram.diag12
    | fen:4K3/pppppppp/8/8/4Q3/8/PPP2PPP/4K3:
  .diagram.diag22
    | fen:4K3/ppp3pp/4Q3/8/8/8/PPP2PPP/4K3:
  figcaption Antes y después 1.Qe6X

h3 Fuente

p Ver la variante Allmate1.
