p.boxed
  | Une pièce attaquée est capturée si la prise ne peut être
  | empêchée par des coups non capturants.

p.
  C'est la variante Allmate1, avec une condition de mat plus
  faible : les coups capturants pour échapper à un mat ne sont pas considérés.
  Les (mat-)captures sont donc plus faciles : sur le diagramme suivant,
  1.Qe6 prend les pions d7, e7 et f7.

figure.diagram-container
  .diagram.diag12
    | fen:4k3/pppppppp/8/8/4Q3/8/PPP2PPP/4K3:
  .diagram.diag22
    | fen:4k3/ppp3pp/4Q3/8/8/8/PPP2PPP/4K3:
  figcaption Avant et après 1.Qe6X

p.
  Puisque les captures sont beaucoup plus faciles, elles ne s'effectuent pas
  en cascade comme dans Allmate1.

h3 Source

p Voir la variante Allmate1.
