p.boxed
  | Makruk, but first check wins.

p
  | Everything goes as in 
  a(href="/#/variants/Makruk") Makruk
  | , but the first player giving check wins.

p
  | The variant is mentioned on 
  a(href="https://www.chessvariants.com/link/kar-ouk") chessvariants.com
  | .
