p.boxed
  | Makruk, pero el primer jaque gana.

p
  | Todo se desarrolla como en 
  a(href="/#/variants/Makruk") Makruk
  | , pero el primer jugador dando jaque señala el juego.

p
  | La variante se menciona en 
  a(href="https://www.chessvariants.com/link/kar-ouk") chessvariants.com
  | .
