p.boxed
  | Makruk, mais le premier échec gagne.

p
  | Tout se déroule comme au 
  a(href="/#/variants/Makruk") Makruk
  | , mais le premier joueur donnant échec remporte la partie.

p
  | La variante est mentionnée sur 
  a(href="https://www.chessvariants.com/link/kar-ouk") chessvariants.com
  | .
