p.boxed
  | If a piece captures one of the same kind, both disappear.

p.
  The defensive power of pawns is thus increased, because they don't fear
  captures (by other pawns).

p.
  Endings are also affected quite a lot, and sometimes new threats occur:
  on the diagram, 3.Bxg7 wins a pawn because 3...Bxg7 would make both
  bishops disappear.

figure.diagram-container
  .diagram
    | fen:r1bqkbnr/pp1ppppp/2n5/2p5/8/1P6/PBPPPPPP/RN1QKBNR:
  figcaption After 1.b3 c5 2.Bb2 Nc6

h3 Source

p
  a(href="https://www.chessvariants.com/rules/antimatter-chess") Antimatter chess
  | &nbsp;on chessvariants.com.

p Inventor: Claudio Martins Jaguaribe (2010)
