p.boxed
  | Si une pièce en capture une autre du même type, les deux disparaissent.

p.
  Le pouvoir défensif des pions est ainsi augmenté, puisqu'ils ne craignent
  plus les captures (par d'autres pions).

p.
  Les finales sont aussi beaucoup affectées, et parfois de nouvelles menaces
  surviennent : sur le diagramme, 3.Bxg7 gagne un pion car 3...Bxg7 provoquerait
  la disparition des deux fous.

figure.diagram-container
  .diagram
    | fen:r1bqkbnr/pp1ppppp/2n5/2p5/8/1P6/PBPPPPPP/RN1QKBNR:
  figcaption After 1.b3 c5 2.Bb2 Nc6

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/rules/antimatter-chess")
    | variante Antimatière
  | &nbsp;sur chessvariants.com.

p Inventeur : Claudio Martins Jaguaribe (2010)
