p.boxed
  | Cuando una pieza se mueve, la casilla inicial desaparece. Esto crea un
  a(href="https://es.wikipedia.org/wiki/Agujero_de_gusano") "agujero de gusano"
  | .

p.
  Como todas la casillas iniciales desaparecen, el tablero de ajedrez tiene exactamente
  64 - T casillas después de T turnos. La partida no puede exceder los 32 movimientos.
  De hecho, puedes saltar sobre una casilla faltante, pero ya no se puede usar.
  Los agujeros se indican con la letra 'x' en la cadena FEN.

p.
  En la situación del diagrama, el caballo negro puede ir a las casillas marcadas:
  g5 y f6 son accesibles gracias a los agujeros en f4 y e5.
  De hecho, el caballo primero se mueve de una casilla horizontalmente o
  verticalmente, luego diagonalmente "en la misma dirección".
  Esta es la única descripción válida en esta variante (las otras
  conduciría a diferentes movimientos de caballos alrededor de los agujeros).
  El rey negro puede ir a c6: se mueve hacia la casilla no desaparecida
  más cercano (si lo hay).

figure.diagram de contenedores
  .diagram
    | fen: rbkxxxbn / ppxppppx / 2qxxB2 / 4x2p / 3P1x2 / 3n1x2 / PPPxPPPP / RBxxxNKR b2, f2, b4, c5, g5, f6:
  figcaption Posibles movimientos para el caballo en d3.

p.
  El enroque y la captura en passant no están permitidos.
  La promoción es posible pero solo mediante la captura.

h3 ¿Como las piezas se mueven?

ul
  li La torre se mueve de una o dos casillas verticalmente u horizontalmente.
  li El alfil se mueve de una o dos casillas en diagonal.
  li La dama puede moverse como una torre o un alfil.
  li.
    El peón se mueve como en el ajedrez ortodoxo, y también puede saltar
    por encima de una pieza durante su potencial doble movimiento inicial.

h3 Fin de la partida

p Gana por mate o empate: si ya no puedes jugar, pierdes.

h3 Fuente

  | La 
  a(href="https://www.chessvariants.com/32turn.dir/wormhole.html") variante Wormhole
  | &nbsp;en chessvariants.com.
  | Cambié los movimientos de las piezas porque las descritas aquí
  | Parece más adecuado. Esto podría evolucionar.
