h3 History

p.
  This website was born after Patrick Bernier told me about
  a variant he invented: l'Échiqueté ('Checkered' here), which involves
  pieces that both sides can play.
  Back then in 2012, I developed a small website allowing to play this variant
  by correspondance.
  A few years later I had a prototype to play in live, then other variants
  were added and the website was made more attractive.

h3 Philosophy

p Have fun and challenge your mind :-)
ul
  li ELO rating is purposely absent from this website.
  li Games start with a random assymetric position.

h3 Contribute

p
  a(href="https://github.com/yagu0/vchess") The source code
  | &nbsp;is freely available on Github.
  | It relies on Express, Vue and Webpack.
  | All contributions are welcome:
  ul
    li Translations: see client/src/translations/ folder
    li.
      Styling: see &lt;style&gt; parts of .vue files
      in client/src/{components,views}
    li The code in general: see section 'Issues' on Github

h3 Acknowledgments

p.
  Quite many people helped for this website,
  testing, giving ideas, motivating me to achieve this project.
  Thanks to you all! :-)

h3 Links

#links
  a(href="https://greenchess.net/") greenchess.net
  a(href="https://www.chessvariants.com/") chessvariants.com
  a(href="http://pychess-variants.herokuapp.com/") pychess-variants
  a(href="https://schemingmind.com/") schemingmind.com
  div
    a(href="https://echekk.fr/spip.php?page=rubrique&id_rubrique=1") echekk.fr
    span &nbsp;(in French)
  a(href="https://brainking.com/") brainking.com
