h3 History

p.
  This website was born after Patrick Bernier told me about
  a variant he invented: l'Échiqueté ('Checkered' here), which involves
  pieces that both sides can play.
  Back in 2012, I developed a small website allowing to play this variant
  by correspondance.
  A few years later I had a prototype to play in live, then other variants
  were added.

h3 Notes

p ELO rating is purposely absent from this website.

p.
  Games start by default with a random asymmetric position.
  Random symmetric or even deterministic positions are available too,
  if you prefer more fairness (but also less fun? :-P ).

h3 Contribute

p
  a(href="https://github.com/yagu0/vchess") The source code
  | &nbsp;is freely available on Github.
  | It relies on Express, Vue and Webpack.
  | All contributions are welcome:
  ul
    li Translations: see client/src/translations/ folder
    li.
      Styling: see &lt;style&gt; parts of .vue files
      in client/src/{components,views}
    li The code in general: see section 'Issues' on Github

h3 Acknowledgments

p.
  Quite many people helped for this website,
  testing, giving ideas, motivating me to achieve this project.
  Thanks to you all! :-)

h3 Related links

#links
  a(href="https://www.chessvariants.com/") chessvariants.com
  a(href="https://greenchess.net/") greenchess.net
  a(href="https://www.pychess.org/") pychess.org
  a(href="https://fishrandom.io/") fishrandom.io
  a(href="https://glukkazan.github.io/") Dagaz demo + server
  a(href="https://mindsports.nl/index.php") mindsports.nl
  a(href="https://www.jocly.com/#/games") jocly.com
  a(href="http://www.iggamecenter.com/") iggamecenter.com
  a(href="https://musketeerchess.net/home/index.html") musketeerchess.net
  a(href="https://schemingmind.com/") schemingmind.com
  a(href="https://echekk.fr/spip.php?page=rubrique&id_rubrique=1") echekk.fr
  a(href="http://www.strategems.net/sections/fairy_defs.html") strategems.net
  a(href="https://brainking.com/") brainking.com
  a(href="https://www.playok.com/") playok.com
  a(href="http://abrobecker.free.fr/chess.htm") (Chess) Puzzles and Games
  a(href="https://www.facebook.com/groups/592562551198628") A Facebook group
  a(href="http://www.zillions-of-games.com/") zillions-of-games.com
  a(href="https://en.wikipedia.org/wiki/Fairy_chess_piece") Fairy chess pieces
  a(href="http://gambiter.com/chess/variants/Fairy_chess_piece.html")
    | Another list
  a(href="http://www.pion.ch/echecs/liste_variantes.php") pion.ch
  a(href="https://www.jatektan.hu/_2018_vissza/2011_ig/uj2001/isakk1.html")
    | List of variants
  a(href="https://chessvariants.training/") chessvariants.training
