h3 Historia

p.
  Este sitio nació después de una discusión con Patrick Bernier, quien me contó
  habló sobre una variante de su invención : l'Échiqueté ('Checkered' aquí),
  involucrando piezas que pueden ser jugadas por ambos lados.
  En 2012, desarrollé un primer sitio pequeño permitiendo jugar esta
  variante por correspondencia. Unos años mas tarde tuve un prototipo
  para jugar en vivo, y luego otras variantes se agregaron
  y el sitio finalmente se hizo más atractivo.

h3 Contribuir

p
  a(href="https://github.com/yagu0/vchess") El código fuente
  | &nbsp;es de libre acceso en Github : los ingredientes principales son
  | Express, Node.js, Vue y Webpack. SQLite ha sido elegido como DBMS al
  | menos por el momento. Cualquier contribución es bienvenida :
  ul
    li Traducciones : carpeta client/src/translations/
    li Estilo : secciónes &lt;style&gt; de los archivos .vue en client/src/{components,views}
    li Código en general : sección 'Issues' en Github.

h3 Agradecimientos

p
  | Mucha gente ayudó en este sitio, probando, dando ideas, motivándome a
  | completar el proyecto. Para no escribir demasiado, solo mencionaré dos
  | grupos: gracias a
  ul
    li.
      Patrick Bernier [*], Frédéric Fradet, Olive Martin, Bevis Martin,
      Laurent Nouhaud y Christian Poisson (versión 2012 [*] y subsiguiente) ;
    li
      | Nathalie Merlin y los jugadores lichess O42, oceansideview, okei y
      | opperwezen que han probado
      a(href="https://lichess.org/forum/general-chess-discussion/vchessclub--play-chess-variants?page=10") la versión 2018/12
      | .
  | Finalmente, los sitios
  a(href="https://www.chessvariants.com/") chessvariants.com
  | &nbsp;y 
  a(href="https://schemingmind.com/") schemingmind.com
  | &nbsp;han sido de mucha ayuda.
