h3 Historia

p.
  Este sitio nació después de una discusión con Patrick Bernier
  sobre una variante de su invención: l'Échiqueté ('Checkered' aquí),
  involucrando piezas que pueden ser jugadas por ambos lados.
  En 2012, desarrollé un primer sitio pequeño permitiendo jugar esta
  variante por correspondencia. Unos años mas tarde tuve un prototipo
  para jugar en vivo, y luego otras variantes se agregaron.

h3 Notas

p El ranking ELO está ausente a propósito de este sitio.

p.
  Las partidas comienzan por defecto con una posición aleatoria no simétrica.
  Es posible una posición aleatoria simétrica o incluso determinista,
  si prefieres más justicia (¿pero también más aburrimiento? :-P).

h3 Contribuir

p
  a(href="https://github.com/yagu0/vchess") El código fuente
  | &nbsp;es de libre acceso en Github.
  | Se basa en Express, Vue y Webpack.
  | Cualquier contribución es bienvenida:
  ul
    li Traducciones: carpeta client/src/translations/
    li Estilo: secciónes &lt;style&gt; de los archivos .vue en client/src/{components,views}
    li Código en general: sección 'Issues' en Github.

h3 Agradecimientos

p
  | Mucha gente ayudó en este sitio, probando, dando ideas, motivándome a
  | completar el proyecto.
  | ¡Gracias a todos!

h3 Enlaces relacionados

#links
  a(href="https://www.chessvariants.com/") chessvariants.com
  a(href="https://greenchess.net/") greenchess.net
  a(href="http://pychess-variants.herokuapp.com/") pychess-variants.com
  a(href="https://musketeerchess.net/home/index.html") musketeerchess.net
  a(href="https://schemingmind.com/") schemingmind.com
  div
    a(href="https://echekk.fr/spip.php?page=rubrique&id_rubrique=1") echekk.fr
    span &nbsp;(en francés)
  a(href="http://www.strategems.net/sections/fairy_defs.html") strategems.net
  a(href="https://brainking.com/") brainking.com
  a(href="https://www.facebook.com/groups/592562551198628") Un grupo Facebook
