h3 Histoire

p.
  Ce site est né à la suite d'une discussion avec Patrick Bernier
  au sujet d'une variante de son invention : l'Échiqueté ('Checkered' ici),
  impliquant des pièces pouvant être jouées par les deux camps.
  À l'époque en 2012, j'ai développé un premier petit site
  permettant de jouer à cette variante par correspondance. Quelques années plus
  tard je disposais d'un prototype pour jouer en direct, puis d'autres
  variantes se sont ajoutées.

h3 Notes

p Le classement ELO est à dessein absent de ce site.

p.
  Les parties démarrent par défaut avec une position aléatoire non symétrique.
  Une position aléatoire symétrique ou même déterministe est possible,
  si vous préférez plus de justice (mais aussi plus d'ennui ? :-P ).

h3 Contribuer

p
  a(href="https://github.com/yagu0/vchess") Le code source
  | &nbsp;est librement accessible sur Github.
  | Il repose sur Express, Vue et Webpack.
  | Toute contribution est la bienvenue :
  ul
    li Traductions : dossier client/src/translations/
    li.
      Style : sections &lt;style&gt; des fichiers .vue dans
      client/src/{components,views}
    li Code en général : section 'Issues' sur Github.

h3 Remerciements

p.
  Pas mal de gens ont aidé sur ce site, en testant, donnant des idées, me
  motivant pour achever le projet.
  Merci à tou-te-s !

h3 Liens connexes

#links
  a(href="https://www.chessvariants.com/") chessvariants.com
  a(href="https://greenchess.net/") greenchess.net
  a(href="http://pychess-variants.herokuapp.com/") pychess-variants.com
  a(href="https://glukkazan.github.io/") Dagaz demo + serveur
  a(href="https://www.jocly.com/#/games") jocly.com
  a(href="http://www.iggamecenter.com/") iggamecenter.com
  a(href="https://musketeerchess.net/home/index.html") musketeerchess.net
  a(href="https://schemingmind.com/") schemingmind.com
  a(href="https://echekk.fr/spip.php?page=rubrique&id_rubrique=1") echekk.fr
  a(href="http://www.strategems.net/sections/fairy_defs.html") strategems.net
  a(href="https://brainking.com/") brainking.com
  a(href="https://www.playok.com/") playok.com
  a(href="http://abrobecker.free.fr/chess.htm") (Chess) Puzzles and Games
  a(href="https://www.facebook.com/groups/592562551198628") Un groupe Facebook
  a(href="http://www.zillions-of-games.com/") zillions-of-games.com
  a(href="https://en.wikipedia.org/wiki/Fairy_chess_piece")
    | Pièces d'échecs féériques
  a(href="http://gambiter.com/chess/variants/Fairy_chess_piece.html")
    | Une autre liste
  a(href="http://www.pion.ch/echecs/liste_variantes.php") pion.ch
  a(href="https://www.jatektan.hu/_2018_vissza/2011_ig/uj2001/isakk1.html")
    | Liste de variantes
  a(href="https://chessvariants.training/") chessvariants.training
