h3 Histoire

p.
  Ce site est né à la suite d'une discussion avec Patrick bernier, qui m'avait
  parlé d'une variante de son invention : l'Échiqueté ('Checkered' ici),
  impliquant des pièces pouvant être jouées par les deux camps.
  À l'époque en 2012, j'ai développé un premier petit site
  permettant de jouer à cette variante par correspondance. Quelques années plus
  tard je disposais d'un prototype pour jouer en direct, puis d'autres
  variantes se sont ajoutées et le site a finalement été rendu plus attractif.

h3 Contribuer

p
  a(href="https://github.com/yagu0/vchess") Le code source
  | &nbsp;est librement accessible sur Github : les principaux ingrédients sont
  | Express, Node.js, Vue et Webpack. SQLite a été choisi comme SGBD pour
  | le moment au moins. Toute contribution est la bienvenue :
  ul
    li Traductions : dossier client/src/translations/
    li Style : sections &lt;style&gt; des fichiers .vue dans client/src/{components,views}
    li Code en général : section 'Issues' sur Github.

h3 Remerciements

p
  | Pas mal de gens ont aidé sur ce site, en testant, donnant des idées, me
  | motivant pour achever le projet. Afin de ne pas en écrire des tartines je
  | ne mentionnerai que deux groupes : merci à
  ul
    li.
      Patrick Bernier [*], Frédéric Fradet, Olive Martin, Bevis Martin,
      Laurent Nouhaud et Christian Poisson (version 2012 [*] et ultérieures) ;
    li
      | Nathalie Merlin et les joueurs lichess O42, oceansideview, okei et
      | opperwezen qui ont essayé 
      a(href="https://lichess.org/forum/general-chess-discussion/vchessclub--play-chess-variants?page=10") la version 2018/12
      | .
  | Enfin, les sites 
  a(href="https://www.chessvariants.com/") chessvariants.com
  | &nbsp;et 
  a(href="https://schemingmind.com/") schemingmind.com
  | &nbsp;ont été très utiles.
