h3 Histoire

p.
  Ce site est né à la suite d'une discussion avec Patrick Bernier, qui m'avait
  parlé d'une variante de son invention : l'Échiqueté ('Checkered' ici),
  impliquant des pièces pouvant être jouées par les deux camps.
  À l'époque en 2012, j'ai développé un premier petit site
  permettant de jouer à cette variante par correspondance. Quelques années plus
  tard je disposais d'un prototype pour jouer en direct, puis d'autres
  variantes se sont ajoutées et le site a été rendu plus attractif.

h3 Philosophie

p Exercez vos neurones en vous amusant :-)
ul
  li Le classement ELO est à dessein absent de ce site.
  li Les parties démarrent avec une position aléatoire non symétrique.

h3 Contribuer

p
  a(href="https://github.com/yagu0/vchess") Le code source
  | &nbsp;est librement accessible sur Github.
  | Il repose sur Express, Vue et Webpack.
  | Toute contribution est la bienvenue :
  ul
    li Traductions : dossier client/src/translations/
    li Style : sections &lt;style&gt; des fichiers .vue dans client/src/{components,views}
    li Code en général : section 'Issues' sur Github.

h3 Remerciements

p.
  Pas mal de gens ont aidé sur ce site, en testant, donnant des idées, me
  motivant pour achever le projet.
  Merci à tou-te-s !

h3 Liens

#links
  a(href="https://greenchess.net/") greenchess.net
  a(href="https://www.chessvariants.com/") chessvariants.com
  a(href="http://pychess-variants.herokuapp.com/") pychess-variants
  a(href="https://schemingmind.com/") schemingmind.com
  a(href="https://echekk.fr/spip.php?page=rubrique&id_rubrique=1") echekk.fr
  a(href="https://brainking.com/") brainking.com
