p.boxed
  | Si une pièce est attaquée et ne peut se soustraire à l'attaque,
  | elle est capturée.

p.
  Si une pièce est attaquée et qu'aucun coup orthodoxe ne peut empêcher sa
  capture (au sens usuel), elle est considérée matée et est retirée du jeu.
  Si un tel coup orthodoxe existe, il n'a pas à être joué
  (il pourrait même être illégal car les captures normales sont interdites) :
  la pièce n'est pas capturée.
  Ainsi, les rois et autres pièces peuvent rester en échec.

p.
  Si après une mat-capture une autre est rendue possible grâce à la disparition
  de certaines pièces, alors cette nouvelle mat-capture est exécutée et le
  on continue de chercher des captures.

figure.diagram-container
  .diagram.diag12
    | fen:1rb1n1r1/1ppp1pkp/pn4p1/4p3/3qN2Q/4bP2/PPP1P1PP/R2BKR1N:
  .diagram.diag22
    | fen:1rb1n1r1/1ppp1pkp/pn6/4p1Q1/3qN3/5P2/PPP1P1PP/R2BKR1N:
  figcaption.
    Avant et après 1.Qg5X, qui prend d'abord le fou en e3,
    et ensuite le pion en g6.

p.
  Les pièces ne peuvent capturer au sens habituel, seulement via la
  "mat-capture" décrite ci-dessus.

p La partie s'achève quand un roi est "mat-capturé".

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/p1pppppp/8/8/1P6/2N5/P1PPPPPP/RNBQKBNR:
  figcaption Après 1.b4 b5 2.Nc3X le pion b5 est "mat-capturé"

p.
  Note sur la notation des coups: puisque les captures ne s'effectuent pas
  sur la case d'arrivée, une marque "X" est ajoutée au coup pour indiquer la
  capture. Afin d'éviter les notations à rallonge la liste des
  cases de capture n'est pas écrite.

h3 Note "suicide"

p.
  Dans l'implémentation actuelle, toutes les pièces à l'exception des rois
  peuvent "se suicider", c'est-à-dire aller ou rester sur une case où elles
  sont matées.

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/difftaking.dir/allmate.html")
    | variante Allmate
  | &nbsp;sur chessvariants.com.

p Inventeur : Dr. Chris Taylor (1979)
