p.boxed
  | White pieces start on the eigth rank, black pieces start on the first rank.

figure.diagram-container
  .diagram
    | fen:RNBQKBNR/pppppppp/8/8/8/8/PPPPPPPP/rnbqkbnr:
  figcaption Initial deterministic position

p.
  All orthodox rules apply, except for castling.
  Pawns are very vulnerable, their role seems mostly to limit pieces movements.

h3 Source

p
  | The variant is mentioned on 
  a(href="https://www.chessvariants.com/other.dir/modest-various.html")
    | this page
  | .

p Inventor: Jeff "Cavebear" Stroud (1998)
