p.boxed
  | Las piezas blancas comienzan en la octava fila,
  | las piezas negras comienzan en la primera fila.

figure.diagram-container
  .diagram
    | fen:RNBQKBNR/pppppppp/8/8/8/8/PPPPPPPP/rnbqkbnr:
  figcaption Posición inicial determinista

p.
  Se aplican todas las reglas ortodoxos, excepto el enroque.
  Los peones son muy vulnerables, su papel parece esencialmente
  limite el movimiento de las piezas.

h3 Fuente

p
  | La variante está mencionada en 
  a(href="https://www.chessvariants.com/other.dir/modest-various.html")
    | esta página
  | .

p Inventor: Jeff "Cavebear" Stroud (1998)
