p.boxed
  | Les pièces blanches démarrent sur la huitième rangée,
  | les pièces noires démarrent sur la première rangée.

figure.diagram-container
  .diagram
    | fen:RNBQKBNR/pppppppp/8/8/8/8/PPPPPPPP/rnbqkbnr:
  figcaption Position initiale déterministe

p.
  Toutes les règles orthodoxes s'appliquent, sauf le roque.
  Les pions sont très vulnérables, leur rôle semble essentiellement de
  limiter les mouvements des pièces.

h3 Source

p
  | La variante est mentionnée sur 
  a(href="https://www.chessvariants.com/other.dir/modest-various.html")
    | cette page
  | .

p Inventeur : Jeff "Cavebear" Stroud (1998)
