p.boxed
  | Bring the king to the middle to win. Checkmate still wins too.

p.
  Orthodox rules apply, with only one change: the game can also be won
  by playing the king on one of the central squares d4, e4, d5 or e5.
  "Koth" stands indeed for "King of the Hill".

figure.diagram-container
  .diagram
    | fen:k4r2/1p2p3/2P4p/5pp1/p2B4/5KP1/PPQ1P2P/R7:
  figcaption White can win in two moves: 1.Qxf5 and 2.Ke4#

h3 Source

p
  a(href="https://lichess.org/variant/kingOfTheHill") King of the Hill
  | &nbsp;on lichess.org.
