p.boxed
  | Bring the king to the middle to win. Giving check is forbidden.

p Orthodox rules apply, with two changes:
ul
  li.
    The goal is to bring the king on one of the central squares
    d4, e4, d5 or e5. "Koth" stands indeed for "King of the Hill".
  li Giving check is forbidden (thus no checkmate is possible).

figure.diagram-container
  .diagram
    | fen:k4r2/1p2p3/2P4p/5pp1/p2B4/5KP1/PPQ1P2P/R7:
  figcaption White can win in two moves: 1.Qxf5 and 2.Ke4#

h3 Source

p
  | Modified from Koth as playable 
  a(href="https://lichess.org/variant/kingOfTheHill") on lichess
  | . Experimental change: I'd like to see how it plays without checks :)
