p.boxed
  | Lleva el rey al centro para ganar. Prohibido de dar jaque.

p Se aplican las reglas ortodoxas, con dos cambios:
ul
  li.
    El objetivo es llevar el rey a uno de los espacios centrales d4, e4, d5
    o e5. "Koth" es de hecho la abreviatura inglesa para "Rey de la Colina".
  li Los jaques son prohibidos (por lo tanto, el jaque mate es imposible).

figure.diagram-container
  .diagram
    | fen:k4r2/1p2p3/2P4p/5pp1/p2B4/5KP1/PPQ1P2P/R7:
  figcaption Las blancas pueden ganar en dos movimientos: 1.Qxf5 y 2.Ke4#

h3 Fuente

p
  | Cambiado de la variante Koth jugable 
  a(href="https://lichess.org/variant/kingOfTheHill") en lichess
  | . Cambio experimental: me gustaría ver los efectos de la condición que
  | previene jaques :)
