p.boxed
  | Lleva el rey al centro para ganar. El jaque mate también gana.

p.
  Se aplican las reglas ortodoxas, con un solo cambio: puedes ganar
  jugando el rey en uno de los espacios centrales d4, e4, d5 o e5.
  "Koth" es de hecho la abreviatura inglesa para "Rey de la Colina".

figure.diagram-container
  .diagram
    | fen:k4r2/1p2p3/2P4p/5pp1/p2B4/5KP1/PPQ1P2P/R7:
  figcaption Las blancas pueden ganar en dos movimientos: 1.Qxf5 y 2.Ke4#

h3 Fuente

p
  | La 
  a(href="https://lichess.org/variant/kingOfTheHill") variante KotH
  | &nbsp;en lichess.org.
