p.boxed
  | Amenez le roi au centre pour gagner. Interdit de donner échec.

p Les règles orthodoxes s'appliquent, avec deux changements :
ul
  li.
    L'objectif est d'amener le roi sur l'une des cases centrales d4, e4, d5
    ou e5. "Koth" est en effet l'abbréviation anglaise de "Roi de la Colline".
  li Les échecs sont interdits (l'échec et mat est donc imppossible).

figure.diagram-container
  .diagram
    | fen:k4r2/1p2p3/2P4p/5pp1/p2B4/5KP1/PPQ1P2P/R7:
  figcaption Les blancs peuvent gagner en deux coups : 1.Qxf5 et 2.Ke4#

h3 Source

p
  | Modifié depuis la variante Koth jouable 
  a(href="https://lichess.org/variant/kingOfTheHill") sur lichess
  | . Changement expérimental : j'aimerais voir les effets de la condition
  | empêchant les échecs :)
