p.boxed
  | Amenez le roi au centre pour gagner. L'échec et mat gagne aussi.

p.
  Les règles orthodoxes s'appliquent, avec un seul changement : on peut
  gagner en jouant le roi sur l'une des cases centrales d4, e4, d5 ou e5.
  "Koth" est en effet l'abbréviation anglaise de "Roi de la Colline".

figure.diagram-container
  .diagram
    | fen:k4r2/1p2p3/2P4p/5pp1/p2B4/5KP1/PPQ1P2P/R7:
  figcaption Les blancs peuvent gagner en deux coups : 1.Qxf5 et 2.Ke4#

h3 Source

p
  | La 
  a(href="https://lichess.org/variant/kingOfTheHill") variante KotH
  | &nbsp;sur lichess.org.
