p.boxed
  | Makruk, with kings immobilized by checks.

p
  | Everything goes as in 
  a(href="/#/variants/Makruk") Makruk
  | , but the king isn't allowed to move when he's under check
  | except to capture the attacker.

figure.diagram-container
  .diagram
    | fen:rnbqkb1r/8/pppNpppp/3n4/8/PPPPPPPP/8/R1BKQBNR:
  figcaption Checkmate: the king cannot move.

p.
  This variant is designed to reduce draws.
  It is played in Makruk single elimination tournaments in Thailand to
  decide a winner after a certain number of games have been drawn.

p
  | I found the variant on 
  a(href="https://www.pychess.org/variant/makpong") pychess-variants
  | , where you can also play it.
