p.boxed
  | Makruk, con reyes inmovilizados por los jaques.

p
  | Todo va como en la variante 
  a(href="/#/variants/Makruk") Makruk
  | , pero el rey no puede moverse cuando está en jaque:
  | debemos capturar al agresor, o interponer una pieza si es posible.

figure.diagram-container
  .diagram
    | fen:rnbqkb1r/8/pppNpppp/3n4/8/PPPPPPPP/8/R1BKQBNR:
  figcaption Jaque mate: el rey no puede moverse.

p.
  Esta variante está diseñada para minimizar las tablas.
  Se juega en los torneos eliminatorios de Makruk en
  Tailandia, para decidir un ganador después
  una serie de partes no decisivas.

p
  | Encontré esta variante en 
  a(href="https://www.pychess.org/variant/makpong") pychess-variants
  | , donde también puedes jugarlo.
