p.boxed
  | Makruk, avec rois immobilisés par les échecs.

p
  | Tout se déroule comme dans la variante
  a(href="/#/variants/Makruk") Makruk
  | , mais le roi n'a pas le droit de bouger lorsqu'il est en échec :
  | il faut capturer l'assaillant, ou interposer une pièce si possible.

figure.diagram-container
  .diagram
    | fen:rnbqkb1r/8/pppNpppp/3n4/8/PPPPPPPP/8/R1BKQBNR:
  figcaption Échec et mat : le roi ne peut pas bouger.

p.
  Cette variante est conçue pour minimiser les nulles.
  Elle est jouée dans les tournois de Makruk à élimination direct en
  Thaïlande, pour décider d'un vainqueur après
  un certain nombre de parties non décisives.

p
  | J'ai trouvé cette variante sur 
  a(href="https://www.pychess.org/variant/makpong") pychess-variants
  | , où vous pouvez aussi y jouer.
