p.boxed
  | A horde of 36 pawns is fighting to checkmate the king.
  | Black goal is to eliminate all white pieces.

p.
  The initial configuration shows 36 white pawns, filling the four first ranks
  and half of the fifth:

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppppppp/8/1PP2PP1/PPPPPPPP/PPPPPPPP/PPPPPPPP/PPPPPPPP:
  figcaption Deterministic starting position.

p.
  From white perspective, the material is unusual but the goal is the same as
  in orthodox chess. Since there is no white king, black wins by capturing all
  white pieces.

p.
  There is no castling, but en-passant captures may be executed after each two
  squares pawn move, either from the first or second rank.

h3 Source

p
  | This variant is inspired by 
  a(href="https://www.chessvariants.com/unequal.dir/dunsany.html")
    | Dunsany's Chess
  | , invented by Lord Dunsany in 1942. The additional white pawns are here to
  | balance the game. See also 
  a(href="https://lichess.org/variant/horde") Horde on lichess.org
  | &nbsp; and 
  a(href="https://docs.google.com/document/d/136BCRPzm1QH_OBK3qjKwlmK3MIji7ZmLZPMYgDpmOCU/edit")
    | this document
  | &nbsp;about the strategy to adopt for both sides.
