p.boxed
  | Una horda de 36 peones lucha para dar jaque mate al rey contrario.
  | El objetivo de las negras es eliminar todas las piezas blancas.

p.
  36 peones blancos están presentes en la configuración inicial,
  llenando las primeras cuatro filas y la mitad de la quinta:

figure.diagram-container
  .diagrama
    | fen:rnbqkbnr/pppppppp/8/1PP2PP1/PPPPPPPP/PPPPPPPP/PPPPPPPP/PPPPPPPPP:
  figcaption Posición de inicio determinista.

p.
  Desde un punto de vista blanco, el material es inusual pero el objetivo sigue
  siendo lo mismo que el ajedrez ortodoxo. Como no hay un rey blanco, las
  negras gana capturando todas las piezas blancas.

p.
  El enroque no es posible, pero las capturas al pasar pueden ser
  ejecutado después de cualquier movimiento de peón por dos espacios, desde el
  primera o segunda fila.

h3 Fuente

p
  | Esta variante está inspirada por el 
  a(href="https://www.chessvariants.com/unequal.dir/dunsany.html")
    | Ajedrez de Dunsany
  | , inventado por Lord Dunsany en 1942. Peones blancos adicionales
  | sirven para equilibrar el juego. Ver también 
  a(href="https://lichess.org/variant/horde") Horda en lichess.org
  | &nbsp; y
  a(href="https://docs.google.com/document/d/136BCRPzm1QH_OBK3qjKwlmK3MIji7ZmLZPMYgDpmOCU/edit")
    | este documento
  | &nbsp; sobre la estrategia a adoptar para cada campamento.
