p.boxed
  | Une horde de 36 pions combat pour mater le roi adverse.
  | L'objectif des noirs est d'éliminer toutes les pièces blanches.

p.
  36 pions blancs sont présents dans la configuration initiale,
  remplissant les quatre premières rangées et la moitié de la cinquième :

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppppppp/8/1PP2PP1/PPPPPPPP/PPPPPPPP/PPPPPPPP/PPPPPPPP:
  figcaption Position de départ déterministe.

p.
  Du point de vue des blancs, le matériel est inhabituel mais l'objectif reste
  le même qu'aux échecs orthodoxes. Puisqu'il n'y a pas de roi blanc, les noirs
  gagnent en capturant toutes les pièces blanches.

p.
  Le roque n'est pas possible, mais les prises en passant peuvent être
  exécutées après n'importe quel déplacement de pion de deux cases, depuis la
  première ou seconde rangée.

h3 Source

p
  | Cette variante est inspirée par les 
  a(href="https://www.chessvariants.com/unequal.dir/dunsany.html")
    | Échecs de Dunsany
  | , inventés par Lord Dunsany en 1942. Les pions blancs supplémentaires
  | servent à équilibrer le jeu. Voir aussi la 
  a(href="https://lichess.org/variant/horde") Horde sur lichess.org
  | &nbsp; et 
  a(href="https://docs.google.com/document/d/136BCRPzm1QH_OBK3qjKwlmK3MIji7ZmLZPMYgDpmOCU/edit")
    | ce document
  | &nbsp;sur la stratégie à adopter pour chaque camp.
