const Parameters =
{
	// URL of your socket server
	socketUrl: "ws://localhost:3000",

	// URL of the server (leave blank for 1-server case)
	serverUrl: "http://localhost:3000",

  // true if the server is at a different address
  cors: true,
};

export default Parameters;
