p.boxed
  | A knight versus three pawns.

figure.diagram-container
  .diagram
    | fen:8/ppp5/8/8/8/8/8/6N2:
  figcaption Initial position

p.
  The pawns win if one reaches the other end
  without being immediately captured.
  The knight wins if it captures all the pawns.

h3 Source

p
  | Inspired by 
  a(href="https://chessplus.net/interactive-games/")
    | Bishop vs 3 Pawns
  | &nbsp;on chessplus.net.
