p.boxed
  | Un caballo contra tres peones.

figure.diagram-container
  .diagram
    | fen:8/ppp5/8/8/8/8/8/6N1:
  figcaption Posición inicial

p.
  Los peones ganan si uno de ellos llega al otro lado sin ser
  inmediatamente capturado.
  El caballo gana si se come todos los peones.

h3 Fuente

p
  | Inspirado por 
  a(href="https://chessplus.net/interactive-games/")
    | Bishop vs 3 Pawns
  | &nbsp;en chessplus.net.
