# Various files
/server/db/vchess.sqlite
/server/db/dbconnect.py
/server/db/__pycache__/
/server/config/parameters.js
/server/fallback/*
!/server/fallback/README
/client/dist/*
!/client/dist/favicon.ico
/client/src/parameters.js

# Dependency directories#
node_modules/

# Log files
npm-debug.log*

# Temp files
*.swp
*~

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache/

# dotenv environment variables file
.env
.env.local
.env.*.local
