p.boxed
  | Las piezas comienzan en la séptima fila. Mueve un caballo para promocionar uno.

p.
  ...Solo cambia la posición inicial, pero es una gran diferencia.
  En particular, el enroque no sería interesante y, por lo tanto, está deshabilitado aquí.
  Las capturas en passant también son imposibles porque todos los peones
  ya están en la 7ma fila.

h3 Acerca de la posición inicial

p.
  Una disposición de piezas completamente al azar puede permitir un mate en 3
  con un caballo: es por eso que el rey siempre está al lado de a menos
  un caballo al comienzo del juego. Esto le permite liberarse de jaques tan pronto
  primer movimiento.

p.
  Para ilustrar este fenómeno, los blancos pueden mate en 3 en la posición
  del siguiente diagrama: 1.Na6 seguido de Nc5 luego Nd3#.
  Si el caballo negro estuviera en g1, una defensa sería posible con Nf3-Ne5;
  pero con un caballo al lado del rey se ofrecen más opciones.

figure.diagram-container
  .diagram
    | fen:R1BQKBNR/PPPPPPP/N7/8/8/8/pppppppp/rnbqkbrn c5,d3:
  figcaption Posición inicial estándar después de 1.Na6

h3 Fuente

p
  | Ver por ejemplo la página 
  a(href="https://www.chessvariants.com/diffsetup.dir/upside.html") ajedrez al revés
  | &nbsp;en chessvariants.com.
