p.boxed.
  Capturing an enemy piece changes its color.
  The converted piece must be moved immediatly.

p.
  Each capture transforms the captured piece into a friendly one
  (changing color). Since it cannot remain on the capturing square,
  it has to be moved immediately. This newly converted piece can now
  capture (and thus "convert") another enemy piece, and so on.

p.
  Castling is impossible if any square traversed by the king is controlled
  (directly or through a chain). Checks are ignored otherwise.

figure.diagram-container
  .diagram
    | fen:r1bqk2r/3nn1b1/pppppppp/8/5PQ1/PPPPPNPP/1B6/RN2KB1R:
  figcaption Black cannot castle because f8 is attacked: Qxe6, Pxd7, Nxf8

p.
  Pawns start on the third rank in an attempt to balance the game.
  White has a large advantage otherwise, leading to a quick win.

p.
  The goal is to convert the enemy king. Note that capturing a king is
  possible only if a king move is then available. However, a piece gives
  check (concerning castle) even if it's impossible.

figure.diagram-container
  .diagram.diag12
    | fen:1nbr2nr/3q1kb1/ppppppp1/3P3p/P1P1N3/1P2PPPP/4K1BR/R1BQ2N1:
  .diagram.diag12
    | fen:1nbr2nr/3q1kb1/pppp1pp1/3p3p/P1P1p3/1P2PbnP/3kp1rp/R1BQ2N1:
  figcaption.
    Black wins for example with exd5 xe4 xg3 xh2 xg2 xf3 xe2 and finally Kd2.

p If in a chain a converted piece cannot move, then you must reset the move.
