p.boxed.
  La captura de una pieza enemiga cambia su color.
  La pieza convertida debe moverse inmediatamente.

p.
  Cada captura transforma la pieza capturada en una pieza amiga (cambiando
  de color). Como no puede permanecer en la casilla de captura,
  debe moverse de inmediato. La pieza recién convertida puede
  luego capturar (y así "convertir") una otra pieza opuesta, etc.

p.
  El enroque es imposible si se controla una casilla cruzada por el rey
  (directamente o mediante una cadena).
  Los jaques se ignoran el resto del tiempo.

figure.diagram-container
  .diagram
    | fen:r1bqk2r/3nn1b1/pppppppp/8/5PQ1/PPPPPNPP/1B6/RN2KB1R:
  figcaption.
    Las negras no pueden enroque porque f8 es atacado: Qxe6, Pxd7, Nxf8

p.
  Los peones comienzan en la tercera fila: es un intento de equilibrar el
  juego, porque las blancas tienen demasiada ventaja de lo contrario,
  conduciendo a una rápida victoria.

p.
  El objetivo es convertir al rey contrario. Tenga en cuenta que la captura
  de un rey solo es posible si puedes realizar un movimiento de rey después.
  Sin embargo, una pieza da jaque (en cuanto al enroque)
  incluso si es imposible.

figure.diagram-container
  .diagram.diag12
    | fen:1nbr2nr/3q1kb1/ppppppp1/3P3p/P1P1N3/1P2PPPP/4K1BR/R1BQ2N1:
  .diagram.diag12
    | fen:1nbr2nr/3q1kb1/pppp1pp1/3p3p/P1P1p3/1P2PbnP/3kp1rp/R1BQ2N1:
  figcaption.
    Las negras ganan, por ejemplo con
    exd5 xe4 xg3 xh2 xg2 xf3 xe2 y finalmente Kd2.

p.
  Si en una cadena una pieza convertida no se puede mover,
  entonces tienes que empezar de nuevo.
