p.boxed.
  Capturer une pièce ennemie change sa couleur.
  La pièce convertie doit être déplacée immédiatement.

p.
  Chaque capture transforme la pièce capturée en une pièce amie (changeant
  de couleur). Puisqu'elle ne peut pas rester sur la case de capture, elle
  doit tout de suite être déplacée. La pièce nouvellement convertie peut
  alors capturer (et ainsi "convertir") une autre pièce adverse, etc.

p.
  Le roque est impossible si une case traversée par le roi est contrôlée
  (directement ou via une chaîne). Les échecs sont ignorés le reste du temps.

figure.diagram-container
  .diagram
    | fen:r1bqk2r/3nn1b1/pppppppp/8/5PQ1/PPPPPNPP/1B6/RN2KB1R:
  figcaption.
    Les noirs ne peuvent pas roquer car f8 est attaqué : Qxe6, Pxd7, Nxf8

p.
  Les pions démarrent sur la troisième rangée : c'est une tentative
  d'équilibrage du jeu, car les blancs ont un trop grand avantage sinon,
  menant à une victoire rapide.

p.
  L'objectif est de convertir le roi adverse. Notez qu'une capture de roi
  n'est possible que si vous pouvez effectuer un coup de roi ensuite.
  Cependant, une pièce donne échec (concernant le roque)
  même si c'est impossible.

figure.diagram-container
  .diagram.diag12
    | fen:1nbr2nr/3q1kb1/ppppppp1/3P3p/P1P1N3/1P2PPPP/4K1BR/R1BQ2N1:
  .diagram.diag12
    | fen:1nbr2nr/3q1kb1/pppp1pp1/3p3p/P1P1p3/1P2PbnP/3kp1rp/R1BQ2N1:
  figcaption.
    Les noirs gagnent par exemple via
    exd5 xe4 xg3 xh2 xg2 xf3 xe2 et finalement Kd2.

p.
  Si dans une chaîne une pièce convertie ne peut pas bouger,
  alors vous devez recommencer le coup.
