p.boxed
  | Win by losing all your pieces except the king. Capture is mandatory.

p.
  The goal is to lose all pieces except the king, or get stalemated
  or checkmated like on the following diagram.
  All usual chess rules apply, but captures are mandatory.
  When several captures are possible you can choose: from the
  diagram position 1.Nf3?? and 1.g4?! allow respectively 1...Qxf3 and 1...Nxg4.

figure.diagram-container
  .diagram
    | fen:r1b1kb1r/p2ppp1p/2q2np1/8/7P/7R/PP1PPPP1/RNB1KBN1:
  figcaption 1.g3 forces 1...Qxc1# checkmate

h3 More information

p
  | This variant can be played 
  a(href="https://www.freechess.org/Help/HelpFiles/losers.html") on FICS
  | . We follow their naming choice.
