p.boxed
  | Gana perdiendo todas tus piezas. Capturas obligatorias.

p.
  El objetivo es perder todas sus piezas (peones incluidos), o ser empate
  como en el siguiente diagrama.
  El rey no tiene un estado especial: puede ser capturado.
  No hay noción de jaque, ni de enroque.

p La captura es obligatoria, pero si es posible, puede elegir.

figure.diagram-container
  .diagram
    | fen:6nB/6P1/8/4p3/2p1P3/2P5/8/8:
  figcaption Las blancas no puede moverse: 1-0.

h3 Movimientos especiales

p.
  El enroque no está permitido, pero las capturas al pasar son posibles.
  Un peón puede ser promovido a rey (por lo que potencialmente puede haber
  varios reyes en el tablero).

h3 Más información

p
  | Esta variante es muy popular y se juega en varios lugares en Internet.
  | la 
  a(href="https://en.wikipedia.org/wiki/Losing_Chess") página de Wikipedia
  | &nbsp;contiene varias referencias.
