p.boxed
  | Gana perdiendo todas tus piezas excepto el rey. Capturas obligatorias.

p.
  El objetivo es perder todas sus piezas excepto el rey, o ser empate
  o jaque mate como en el siguiente diagrama.
  Se aplican todas las reglas habituales, pero las capturas son obligatorias.
  Cuando son posibles varias capturas, puede elegir: desde
  posici칩n del diagrama 1.Nf3?? y 1.g4?! permiten 1...Qxf3 y 1...Nxg4
  respectivamente.

figure.diagram-container
  .diagrama
    | fen:r1b1kb1r/p2ppp1p/2q2np1/8/7P/7R/PP1PPPP1/RNB1KBN1:
  figcaption 1.g3 fuerza 1...Qxc1# jaque mate

h3 M치s informaci칩n

p
  | Podemos jugar esta variante 
  a(href="https://www.freechess.org/Help/HelpFiles/losers.html") en FICS
  | . Seguimos su elecci칩n de nombre.
