p.boxed
  | Gagnez en perdant toutes vos pièces sauf le roi. Captures obligatoires.

p.
  L'objectif est de perdre toutes ses pièces sauf le roi, ou d'être pat
  ou mat comme sur le diagramme suivant.
  Toutes les règles habituelles s'appliquent, mais les capturees sont
  obligatoires. Quand plusieurs captures sont possibles vous pouvez choisir :
  depuis la position du diagramme 1.Nf3?? et 1.g4?! permettent respectivement
  1...Qxf3 et 1...Nxg4.

figure.diagram-container
  .diagram
    | fen:r1b1kb1r/p2ppp1p/2q2np1/8/7P/7R/PP1PPPP1/RNB1KBN1:
  figcaption 1.g3 force 1...Qxc1# échec et mat

h3 Plus d'information

p
  | On peut jouer à cette variante 
  a(href="https://www.freechess.org/Help/HelpFiles/losers.html") sur FICS
  | . Nous suivons leur choix de nom.
