p.boxed
	| Pawns advance diagonally and capture by moving forward.

h3 Specifications

ul
	li Chessboard: standard.
	li Material: standard.
	li Non-capturing moves: different pawn moves.
	li Special moves: standard (different en-passant).
	li Captures: standard (except pawns).
	li End of game: standard.

h3 Basics

p.
	TODO: explain...

figure.diagram-container
	.diagram
		| fen:r3kbnr/pp3ppp/3p4/4p3/8/8/PPPPPPPP/R1BQKBNR:
	figcaption After the moves 1.Nc3 d6?? 2.Nd5 e5 3.Nxc7

h3 More information

p.
	Possible starting point Wikipedia page ?

