p.boxed
  | Pieces move generally like a knight, and capture differently.

figure.diagram-container
  .diagram
    | fen:lhafkahl/8/pppppppp/8/8/PPPPPPPP/8/LHAFKAHL:
  figcaption Deterministic initial position

p
  | Most pieces move and capture as described in 
  a(href="/#/variants/Orda") Orda
  | . They all belong to the Mongolian army: let's say a rebellion occured :)

p The new piece is a falcon, moving like a queen and capturing like a knight.

figure.diagram-container
  .diagram.diag12
    | fen:8/1P6/8/3F2p1/3Pp3/2p1p3/8/8 d6,d7,d8,a5,b5,c5,a2,b3,c4,e5,f5,c6,e6,f7,g8,c3,e3:
  img.diag22(src="/variants/Orda/Falcon.png")
  figcaption Movements of the falcon

p.
  Same as in Orda, win by checkmate or "campmate" when the king reaches
  the last rank.
