p.boxed
  | Las piezas generalmente se mueven como un caballo,
  | y capturan de manera diferente.

figure.diagram-container
  .diagram
    | fen:lhafkahl/8/pppppppp/8/8/PPPPPPPP/8/LHAFKAHL:
  figcaption Posición determinista inicial

p
  | Las piezas se mueven y capturan como se describe en 
  a(href="/#/variants/Orda") Orda
  | . Todas pertenecen al ejército mongol: digamos que una rebelión
  | tuvo lugar :)

p.
  La nueva pieza es un halcón que se mueve como una dama,
  y captura como un caballo.

figure.diagram-container
  .diagram
    | fen:8/1P6/8/3F2p1/3Pp3/2p1p3/8/8 d6,d7,d8,a5,b5,c5,a2,b3,c4,e5,f5,c6,e6,f7,g8,c3,e3:
  figcaption Movimientos de halcón

p.
  En cuanto a Orda, gana por jaque mate o "campmate" cuando el rey
  llega a la última fila.
