p.boxed
  | Place all your pieces freely on first turn. Then play normally.

p.
  Each side first chooses a setup freely, and independently:
  initial positions are revealed only after both are determined.

p Some constraints apply:
ul
  li Bishops on different colors.
  li One pawn per column, no pawn on first rank.

h3 More information

p
  | See the 
  a(href="https://brainking.com/en/GameRules?tp=47") Screen Chess
  | &nbsp;variant on brainkings.com.
