p.boxed
  | Coloca todas tus piezas libremente en el primer turno.
  | Entonces juega normalmente.

p.
  Cada lado elige primero una configuraci칩n de forma libre e independiente:
  las posiciones iniciales no se revelan hasta que se hayan determinado ambas.

p Se aplican algunas restricciones:
ul
  li Los alfiles en diferentes colores.
  li Un pe칩n por columna, no hay peones en la primera fila.

h3 M치s informaci칩n

p
  | Ver la variante 
  a(href="https://brainking.com/en/GameRules?tp=47") Screen Chess
  | &nbsp;en brainkings.com.
