p.boxed
  | Placez toutes vos pièces librement au premier tour.
  | Jouez ensuite normalement.

p.
  Chaque camp choisit d'abord une configuration librement, et indépendamment :
  les positions initiales ne sont révélées qu'une fois toutes deux déterminées.

p Quelques contraintes s'appliquent :
ul
  li Les fous sur des couleurs différentes.
  li Un pion par colonne, pas de pion sur la première rangée.

h3 Plus d'information

p
  | Voir la variante 
  a(href="https://brainking.com/en/GameRules?tp=47") Screen Chess
  | &nbsp;sur brainkings.com.
