p.boxed
  | Ranks 1 and 8 communicate. Pawns all go the same way and never promote.

p.
  In the initial position, it is often possible to win in a few moves by
  giving check first: that is why this is forbidden.

figure.diagram-container
  .diagram
    | fen:8/8/pppppppp/rkbrnnqb/8/8/PPPPPPPP/BBRNKQNR:
  figcaption 1.Nc3+ would win quickly.

p.
  Note that since ranks 1 and 8 communicate, a black pawn on the 8th rank
  threatens a piece on the first rank. For example pawn d6 to d8 would check
  the white king.

p.
  Due to the unusual pawns rules (they all go the same way: up the board),
  en passant captures do not exist. Castling is also disabled because
  the king is vulnerable in both directions.

h3 Source

p
  a(href="https://www.chessvariants.com/d.betza/chessvar/race.html")
    | 8x8 Race Chess
  | &nbsp;on chessvariants.com.

p Inventor: Ralph Betza (1997)
