p.boxed
  | Las filas 1 y 8 se comunican.
  | Todos los peones van en la misma dirección y nunca son promovidos.

p.
  En la posición inicial, a menudo es posible ganar en unos pocos
  movimientos que comienzan con jaque: por eso está prohibido.

figure.diagram-container
  .diagram
    | fen:8/8/pppppppp/rkbrnnqb/8/8/PPPPPPPP/BBRNKQNR:
  figcaption 1.Nc3+ ganaría rápidamente.

p.
  Tenga en cuenta que dado que las filas 1 y 8 se comunican, un peón negro
  en el octavo fila amenaza una pieza en el primero.
  Por ejemplo, el peón d6 a d8 pondría en jaque el rey blanco.

p.
  Debido a las reglas de peones inusuales (todos van en la misma
  dirección: arriba), no hay capturas en passant.
  El enroque tampoco es posible porque el rey es vulnerable
  en ambas direcciones.

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/d.betza/chessvar/race.html") variante 8x8 Race
  | &nbsp;en chessvariants.com.

p Inventor: Ralph Betza (1997)
