p.boxed
  | Les rangées 1 et 8 communiquent.
  | Les pions vont tous dans le même sens et ne sont jamais promus.

p.
  Dans la position initiale, il est souvent possible de gagner en quelques
  coups en commençant par donner échec : c'est pourquoi on l'interdit.

figure.diagram-container
  .diagram
    | fen:8/8/pppppppp/rkbrnnqb/8/8/PPPPPPPP/BBRNKQNR:
  figcaption 1.Nc3+ gagnerait rapidement.

p.
  Notez que puisque les rangées 1 et 8 communiquent, un pion noir sur la 8eme
  rangée menace une pièce sur la première. Par exemple pion d6 à d8 mettrait
  en échec le roi blanc.

p.
  À cause des règles inhabituelles sur les pions (ils vont tous dans la même
  direction : vers le haut), les captures en passant n'existent pas.
  Le roque n'est pas possible non plus car le roi est vulnérable
  dans les deux directions.

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/d.betza/chessvar/race.html") variante 8x8 Race
  | &nbsp;sur chessvariants.com.
