p.boxed TODO

p.
  Synochess is a chess variant designed in 2020 by Couch Tomato.
  The idea of the game was to create a variant where the western chess army
  can fight against the xiangqi or Chinese chess army in a fair manner.
  In this game, the white army represents the western chess side and is
  called the Kingdom, while the black army represents an amalgamation of
  xiangqi and janggi (Korean chess) and is called the Dynasty.

p.
  The name Synochess is based off an earlier name, Sinochess, but it was
  changed as the Dynasty became less "Sino" (as in Chinese) and more a
  mixture of Chinese and Korean. Instead, the prefix syn- means together,
  and the game represents two different historic branches of chess coming
  together into one.

ul
  li The Kingdom (white) always moves first.
  li The Dynasty (black) cannot castle.
  li.
    Kingdom pawns can only promote to their own pieces (queen, rook, knight,
    bishop). Dynasty soldiers do not promote.

h3 Special Rules

ul
  li.
    King Faceoff &mdash; As in Xiangqi, Kings may not face each other
    (on a file or rank) without intervening pieces.
  li.
    Reinforcement Soldiers &mdash; Black starts with two soldiers in hand.
    Instead of moving a piece on the board, the Dynasty player can drop a
    soldier onto an open square in rank 5 (Dynasty's 4th rank).
  li.
    Campmate &mdash; A king that reaches the final rank (without moving
    into check) wins the game.
  li.
    Stalemate &mdash; As in Xiangqi, stalemates
    and moves repetitions are a loss.

h3 Dynasty Pieces

p.
  There are four new units unique to the Dynasty: 6 Soldiers (2 start in
  hand), 2 Cannons, 2 Elephants, and 1 Advisor.
p.
  The Chariots are equal to the Rooks and use the same abbreviation (R)
  &mdash; the difference is purely cosmetic. Similarly, the Kings are the
  same, but just appear different.

p.
  Details and diagrams of each piece are below.  

p TODO: continue

p https://www.pychess.org/variant/synochess
