p.boxed
  | The player in second has a different set of pieces,
  | mostly coming from Chinese and Korean chess.

figure.diagram-container
  .diagram
    | fen:rneakenr/8/1c4c1/1ss2ss1/8/8/PPPPPPPP/RNBQKBNR:
  figcaption Initial deterministic setup.

p.
  Synochess is a variant designed in 2020 by Couch Tomato.
  The idea is to permit the western chess army (white) to fight
  against the xiangqi or Chinese chess army (black) in a fair manner.
  The white army is called the Kingdom, while the black army represents
  an amalgamation of xiangqi and janggi (Korean chess)
  and is called the Dynasty.

p.
  The name Synochess is based off an earlier name, Sinochess, but it was
  changed as the Dynasty became less "Sino" (as in Chinese) and more a
  mixture of Chinese and Korean. Instead, the prefix syn- means together.

ul
  li The Kingdom (white) always moves first.
  li The Dynasty (black) cannot castle.
  li Dynasty soldiers do not promote (on last rank).

h3 Special Rules

ul
  li.
    King Faceoff &ndash; As in Xiangqi, Kings may not face each other
    (on a file or rank).
  li.
    Reinforcement Soldiers &ndash; Black starts with two soldiers in hand.
    Instead of moving a piece on the board, the Dynasty player can drop a
    soldier onto an open square in rank 5.
  li Campmate &ndash; A king that reaches the final rank wins the game.
  li.
    Stalemate &ndash; As in Xiangqi, stalemate
    and moves repetition are a loss.

h3 Dynasty Pieces

p.
  Four new units on the Dynasty side: 6 Soldiers (2 start in
  hand), 2 Cannons, 2 Elephants, and 1 Advisor.
p.
  The Chariots are equal to the Rooks and use the same abbreviation (R)
  &ndash; the difference is purely cosmetic. Similarly, the Kings are the
  same, but just appear different.

ul
  li The Soldiers (S) can move one square orthogonally forward or lateraly.
  li The Advisor (A) moves and captures exactly like a king.
  li.
    The Cannon (C) moves like a rook, but needs an
    intervening piece in-between before it can land or capture something.
    It cannot hop over another cannon.
  li.
    The Elephant (E) is a leaping piece that moves
    diagonally one or two spaces.

figure.diagram-container
  .diagram.diag12
    | fen:8/6P1/5P2/4e3/3P1p2/8/8/8 c3,c7,d4,d6,g3,f6,g7:
  .diagram.diag22
    | fen:3B4/3P4/8/1P1cp2P/8/3c4/8/3N4 d8,a5,f5,g5,h5:
  figcaption Elephant & Cannon movements.

h3 Piece valuation

p The following simplified values are used by the basic bot:

table
  tr
    th Kingdom piece
    th Value
    th Dynasty piece
    th Value
  tr
    td Pawn
    td 1
    td Soldier
    td 2
  tr
    td Queen
    td 9
    td Elephant
    td 2.75
  tr
    td Bishop
    td 3
    td Advisor
    td 2.75
  tr
    td Knight
    td 3
    td Cannon
    td 3
  tr
    td Rook
    td 5
    td Knight
    td 3
  tr
    td -
    td -
    td Chariot
    td 5

h3 More information

p
  | See 
  a(href="https://www.pychess.org/variant/synochess") Synochess
  | &nbsp;on pychess-variants, where you can also play this variant.
