p.boxed
  | Le joueur en second a un jeu de pièces différent,
  | provenant essentiellement des échecs chinois et coréens.

figure.diagram-container
  .diagram
    | fen:rneakenr/8/1c4c1/1ss2ss1/8/8/PPPPPPPP/RNBQKBNR:
  figcaption Position initiale déterministe.

p.
  Synochess est une variante imaginée en 2020 par Couch Tomato.
  L'idée est de permettre un duel équilibré entre les armées occidentale
  (blancs) et orientales (chinoises et coréennes, noirs).
  L'armée blanche est appelée le Royaume, tandis que les pièces noires
  proviennent d'un amalgame des échecs chinois et coréen (jangqi), ce camp
  étant appelé la Dynastie.

p.
  Le nom Synochess est basé sur un ancien nom, Sinochess, faisant référence
  à la Chine (préfixe sino-). Le jeu ayant évolué vers un mélange des échecs
  chinois et coréen, le préfixe syn- signifiant "ensemble" est plus adapté.

ul
  li Le Royaume (blancs) commence toujours.
  li La Dynastie (noirs) ne peut pas roquer.
  li Les soldats de la Dynastie ne sont pas promus (sur la dernière rangée).

h3 Règles spéciales

ul
  li.
    Roi en vis-à-vis &mdash; Comme au Xiangqi, les Rois ne peuvent pas se
    faire face (sur une colonne ou rangée).
  li.
    Soldats en renfort &mdash; Les noirs démarrent avec deux soldats en main.
    Au lieu de jouer un coup, ils peuvent parachuter un soldat sur une case
    libre de la 5eme rangée.
  li.
    "Mat de camp" &mdash; Si le roi atteint la dernière rangée, alors
    la partie est gagnée.
  li Pat &mdash; Comme au Xiangqi, le pat et la répétition de coups perdent.

h3 Pièces de la Dynastie

p.
  Quatre nouvelles pièces du côté de la Dynastie : 6 Soldats (2 seront
  parachutés), 2 Canons, 2 Éléphants, et 1 Conseiller.
p.
  Les Chariots sont égaux aux tours, et utilisent la même abréviation &mdash;
  la différence est purement cosmétique. De même, les Rois sont les mêmes
  pièces dessinées différemment.

ul
  li Les Soldats (S) se déplacent d'une case vers l'avant, ou latéralement.
  li Le Conseiller (A) se déplace et capture exactement comme un roi.
  li.
    Le Canon (C) se déplace comme une tour, mais a besoin d'une pièce
    intermédiaire avant d'atterrir ou d'effectuer une capture.
    Il ne peut pas sauter par dessus un autre canon.
  li.
    L'Éléphant (E) avance en diagonale d'une case ou deux,
    éventuellement en sautant par dessus une pièce.

figure.diagram-container
  .diagram.diag12
    | fen:8/6P1/5P2/4e3/3P1p2/8/8/8 c3,c7,d4,d6,g3,f6,g7:
  .diagram.diag22
    | fen:3B4/3P4/8/1P1cp2P/8/3c4/8/3N4 d8,a5,f5,g5,h5:
  figcaption Déplacements de l'Éléphant et du Canon.

h3 Valeurs des pièces

p Les valeurs simplifiées suivantes sont utilisées par l'ordinateur :

table
  tr
    th Pièce du Royaume
    th Valeur
    th Pièce de la Dynastie
    th Valeur
  tr
    td Pion
    td 1
    td Soldat
    td 2
  tr
    td Dame
    td 9
    td Éléphant
    td 2.75
  tr
    td Fou
    td 3
    td Conseiller
    td 2.75
  tr
    td Cavalier
    td 3
    td Canon
    td 3
  tr
    td Tour
    td 5
    td Cavalier
    td 3
  tr
    td -
    td -
    td Chariot
    td 5

h3 Plus d'information

p
  | Voir 
  a(href="https://www.pychess.org/variant/synochess") Synochess
  | &nbsp;sur pychess-variants, où vous pouvez aussi y jouer.
