p.boxed
  | Knights capture as bishops, and bishops capture as knights.

figure.diagram-container
  .diagram.diag12
    | fen:r1bqkbnr/pppp1ppp/2n5/4p3/2B1P3/8/PPPP1PPP/RNBQK1NR:
  .diagram.diag22
    | fen:r1bqkbnr/pppp1ppp/8/4B3/4n3/8/PPPP1PPP/RNBQK1NR:
  figcaption Left: 1.e4 e5 2.Bc4 Nc6. Right: after 3.Bxe5 Nxe4

p The minor pieces are thus, in a way, more balanced.

h3 Source

p
  | The variant is reported by Jörg Knappen in 2002, but is probably anterior
  | according to the 
  a(href="https://www.chessvariants.com/diffmove.dir/hoppel-poppel.html")
    | chessvariants page
  | .
