p.boxed
  | Los caballos capturan como alfiles y los alfiles como caballos.

figure.diagram-container
  .diagram.diag12
    | fen:r1bqkbnr/pppp1ppp/2n5/4p3/2B1P3/8/PPPP1PPP/RNBQK1NR:
  .diagram.diag22
    | fen:r1bqkbnr/pppp1ppp/8/4B3/4n3/8/PPPP1PPP/RNBQK1NR:
  figcaption Izquierda: 1.e4 e5 2.Bc4 Nc6. Derecha: después de 3.Bxe5 Nxe4

p Por tanto, las piezas menores son, en cierto modo, más equilibradas.

h3 Fuente

p
  | La variante es descrita por Jörg Knappen en 2002, pero se podría decir que
  | arriba según la 
  a(href="https://www.chessvariants.com/diffmove.dir/hoppel-poppel.html")
    | página chessvariants
  | .
