p.boxed
  | Les cavaliers capturent comme des fous, et les fous comme des cavaliers.

figure.diagram-container
  .diagram.diag12
    | fen:r1bqkbnr/pppp1ppp/2n5/4p3/2B1P3/8/PPPP1PPP/RNBQK1NR:
  .diagram.diag22
    | fen:r1bqkbnr/pppp1ppp/8/4B3/4n3/8/PPPP1PPP/RNBQK1NR:
  figcaption Gauche : 1.e4 e5 2.Bc4 Nc6. Droite : après 3.Bxe5 Nxe4

p Les pièces mineures sont ainsi, d'une certaine manière, plus équilibrées.

h3 Source

p
  | La variante est décrite par Jörg Knappen en 2002, mais est sans doute
  | antérieure d'après la 
  a(href="https://www.chessvariants.com/diffmove.dir/hoppel-poppel.html")
    | page chessvariants
  | .
