p.boxed
  | The board is rotated by 45°, and then the game follow usual rules.

p.
  White (resp. Black) pawns move one square diagonally north-west: h1 to a8
  (resp. south-east: a8 to h1).
  White (resp. Black) pawns capture on the adjacent orthogonal squares either
  up or to the left (resp. down or to the right).
  This is natural after rotating the board by 45° clockwise,
  explaining the name "Diamond Chess".

p All other pieces move like in orthodox chess.

figure.diagram-container
  .diagram
    | fen:8/1p6/1B4P1/8/8/3n4/3pP3/8 b6,c6,d2,f7:
  figcaption Pawn moves.

h3 Source

p
  a(href="https://www.chessvariants.com/rules/diamond-chess") Diamond Chess
  | &nbsp;on chessvariants.com.

p Inventor: James Alexander Porterfield Rynd (1886)
