p.boxed
  | El tablero de ajedrez gira 45°, luego el juego sigue las reglas habituales.

p.
  Los peones blancos (resp. negros) avanzan un espacio en diagonal al noroeste:
  h1 a a8 (resp. sureste: a8 a h1).
  Los peones blancos (resp. Negro) capturan en un cuadrado ortogonalmente
  adyacente ya sea arriba o a la izquierda (resp. abajo o hacia la derecha).
  Es natural después de girar el tablero de ajedrez 45° en la dirección
  cada hora, explicando el nombre "Ajedrez diamante".

p Todas las otras piezas se mueven como en el ajedrez ortodoxo.

figure.diagram-container
  .diagram
    | fen:8/1p6/1B4P1/8/8/3n4/3pP3/8 b6,c6,d2,f7:
  figcaption Juagadas del peón.

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/rules/diamond-chess") variante Diamond
  | &nbsp;en chessvariants.com.

p Inventor: James Alexander Porterfield Rynd (1886)
