p.boxed
  | L'échiquier est tourné de 45°, puis la partie suit les règles habituelles.

p.
  Les pions blancs (resp. noirs) avancent d'une case en diagonale nord-ouest :
  h1 vers a8 (resp. sud-est : a8 vers h1).
  Les pions blancs (resp. noirs) capturent sur une case orthogonalement
  adjacente soit au dessus soit vers la gauche (resp. en dessous ou vers la
  droite). C'est naturel après avoir tourné l'échiquier de 45° dans le sens
  horaire, expliquant le nom "Échecs Diamant".

p Toutes les autres pièces se déplacent comme aux échecs orthodoxes.

figure.diagram-container
  .diagram
    | fen:8/1p6/1B4P1/8/8/3n4/3pP3/8 b6,c6,d2,f7:
  figcaption Coups de pion.

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/rules/diamond-chess") variante Diamond
  | &nbsp;sur chessvariants.com.

p Inventeur : James Alexander Porterfield Rynd (1886)
