p.boxed
  | Captures are mandatory. Win by checkmating.

p.
  Everything is the same as in orthodox rules, except that when possible,
  captures are forced.
  The goal is still to checkmate, and stalemate is a draw.

p.
  Some opening traps can be mentioned, like on the following diagram:
  Qxd7+ will be forced, losing the queen.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppp1pp1/7p/4P3/8/8/PPP1PPPP/RNBQKBNR:
  figcaption After 1.d4?? e5 2.dxe5 h6.

h3 More information

p.
  This idea was suggested recently (2020) by Vincent Rothuis.
  It's simple so probably not new, but I never saw it before.
