p.boxed
  | Las capturas son obligatorias. Gana por jaque mate.

p.
  Todo va como el ajedrez ortodoxo, pero cuando es posible
  las capturas son forzadas.
  El objetivo aún es de matar, y el empate es tablas.

p.
  Se pueden mencionar algunas trampas de apertura,
  como en el siguiente diagrama: Qxd7 será forzado, perdiendo a la dama.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppp1pp1/7p/4P3/8/8/PPP1PPPP/RNBQKBNR:
  figcaption Después de 1.d4?? e5 2.dxe5 h6.

h3 Más información

p
  | Esta variante es mencionada en 
  a(href="https://www.chessvariants.com/other.dir/modest-various.html")
    | esta página
  | .

p Inventor: Roger Cooper (2000)
