p.boxed
  | Les captures sont obligatoires. Gagnez par échec et mat.

p.
  Tout se déroule comme aux échecs orthodoxes, mais quand elles sont possibles
  les captures sont forcées.
  L'objectif est toujours de mater, et le pat fait nulle.

p.
  Quelques pièges d'ouvertures peuvent être mentionnés,
  comme sur le diagramme suivant : Qxd7 sera forcé, perdant la dame.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppp1pp1/7p/4P3/8/8/PPP1PPPP/RNBQKBNR:
  figcaption Après 1.d4?? e5 2.dxe5 h6.

h3 Plus d'information

p
  | Cette idée a été suggérée récemment (2020) par Vincent Rothuis.
  | La variante est mentionnée sur 
  a(href="https://www.chessvariants.com/other.dir/modest-various.html")
    | cette page
  | .

p Inventeur : Roger Cooper (2000)
