p.boxed
  | Dos piezas nuevas: el mariscal y el cardenal.
  | Tablero más grande. Reglas habituales con algunas adaptaciones.

p.
  La variante Grand se juega en un tablero de tamaño 10x10.
  Se utilizan dos piezas nuevas: el mariscal y el cardenal,
  señaló respectivamente M y C.
  Un mariscal combina los movimientos del caballo y de la torre, mientras que
  el cardenal se mueve como un caballo + un alfil.

figure.diagram-container
  .diagram
    | fen:10/10/10/10/10/2R2Q4/10/4c5/10/10:
  figcaption El cardenal negro puede tomar en c5 y f5.

h3 Movimientos especiales

p.
  El enroque es posible como en un juego con un tablero 8x8.
  El rey blanco va a c1 o i1 (un cuadro a la izquierda de la esquina
  inferior derecha) para un enroque grande (resp. pequeño).
  Lo mismo para las negras del otro lado.

p.
  La promoción es obligatoria para los peones que llegan a la última fila,
  pero solo se puede hacer en una pieza amiga capturada (volviendo a
  el tablero). Si no hay ninguno disponible, la promoción es imposible
  (pero el peón todavía da jaque).

p.
  La promoción es posible (pero no obligatoria) en las octava y novena
  filas, siempre en una pieza amiga capturada.

p.
  Nota: cambié la posición inicial planificada por el autor, a
  aumentar el alea de la situación inicial (y estandarizar con los demás
  variantes). De repente, la regla de enroque se agregó en comparación con las reglas
  inicialmente descrito.

h3 Fuente

p
  | La página dedicada a la variante Grand en 
  a(href="https://www.chessvariants.com/large.dir/freeling.html") chessvariants.com
  | .

p Inventor: Christian Freeling (1984)
