p.boxed
  | "Capturing" a piece creates an union,
  | which your opponent can still use on his turn.
  | Enter an union to release your piece.

p.
  The variant's name means "Chess of Peace" in Esperanto.
  Paco-Sako was invented by Felix Albers in 2017, and further developped
  also by Rolf Kreibaum and Raimond Fluijt.

p
  | You can learn more about the variant's history and buy nice dedicated
  | pieces (and boards) on the official website 
  a(href="http://pacosako.com/") pacosako.com
  | . The variant is playable online at 
  a(href="http://pacoplay.com/") pacoplay.com
  | . You're invited to play over there instead :-)
  | Besides, they have cuter unions' drawings.

h3 Basic rules

p.
  There are no captures in this game: only unions of pieces,
  which are released when replaced by another friendly piece.
  The goal is to create an union with the enemy king.
  I like to think of unions as "pieces dancing together", so both
  terms will be used on this page.

figure.showPieces.text-center
  img(src="/images/pieces/Pacosako/wc.png")
  img(src="/images/pieces/Pacosako/bc.png")
  img(src="/images/pieces/Pacosako/bt.png")
  img(src="/images/pieces/Pacosako/wv.png")
  figcaption Some union pieces.

p.
  At each turn, a player chooses either one of his pieces or an union piece;
  let's write this piece A.
ul
  li.
    Case 1: A is a dancing piece. Then, it's only allowed to move
    to a vacant square according to our piece's type.
  li.
    Case 2: A is a standard piece.
    It can then be moved anywhere but on our own (normal) pieces.
    "Capturing" an enemy piece creates an union composed of both pieces.
    "Capturing" an union releases our piece formerly in union,
    which has to be moved immediately by the same player. It can in turn
    release another piece, thus following a chain of unions.

p
  | This may appear confusing at first reading, but is simpler than it seems.
  | See for example this 
  a(href="https://www.youtube.com/watch?v=tQ2JLsFvfxI") gameplay video
  | , or another one from the same YouTube channel.

figure.diagram-container
  .diagram.diag12
    | fen:4k3/8/2q5/8/4O3/2w2B2/8/5K2:
  .diagram.diag22
    | fen:4k3/8/2Y5/8/4s3/2S5/8/5K2:
  figcaption Before and after the chaining move Bxe4, Ne4xc3, Qc3xc6.

h3 Special moves, additional notes

p.
  "Capturing" an union en passant releases our dancing piece from the
  intermediate square.

p Promotion occur when any pawn (in union or not) reaches its final rank.

p.
  Castling is forbidden if a direct or "chained" attack exists on any square
  in the king's path. However, direct or chained attacks on the king are
  otherwise ignored: you can run or remain into "check".

figure.diagram-container
  .diagram
    | fen:r1q1k2r/p1Pb1ppp/5n2/1f1p4/AV5P/2dDP3/P2B1PP1/R3K1NR:
  figcaption.
    Black cannot castle because of the chain Bxc3, c3xb5, b5xb4, b4xf8

h3 Non-official rules

p.
  I added some small changes, globally to complicate defense.
  These are not in the official rules.

ul
  li.
    Canceling an union move is forbidden. For example if a bishop is
    dancing with a queen, and makes the move e5 to g3, the other player
    cannot move it back to e5 just after.
  li.
    Pawns can advance two squares only if they never moved (by themselves
    or as part of an union).
  li.
    If you form an union with your king but end dancing with the
    other king on the other end of the chain, the game is a draw.

figure.diagram-container
  .diagram.diag12
    | fen:r2qk2r/pbpe1pp1/np5p/2b1p3/4P1t1/2N3K1/PPPP1PPP/R1B3NR:
  .diagram.diag22
    | fen:r2qX2r/pbpf1pp1/np5p/2b1p3/4P1u1/2N5/PPPP1PPP/R1B3NR:
  figcaption Before and after Kxg4, g4xd7, d7xe8 1/2

h3 More information

p
  | The authors wrote 
  a(href="/variants/Pacosako/manual.pdf") a manual
  | &nbsp;with many more diagrams and explanations.
  | See also the rules 
  a(href="https://www.chessvariants.com/rules/paco-shako")
    | on chessvariants.com
  | .
