p.boxed TODO

p WARNING 1: totally buggish right now.

p WARNING 2: this variant may in the end not be playable here at all - will depend on the author decision.

p
  a(href="https://www.youtube.com/watch?v=tQ2JLsFvfxI") Video
  | &nbsp;showing gameplay. See also 
  a(href="http://pacosako.com/") the main website
  | , and the associated 
  a(href="http://pacoplay.com/") playing area
  | .
