p.boxed
  | "Capturar" una pieza crea una unión, que tu oponente aún puede
  | utilizar en turno. Entra en una unión para entregar tu pieza.

p.
  El nombre de la variante significa "El Ajedrez de la Paz" en Esperanto.
  Paco-Sako fue inventado por Felix Albers en 2017, y luego desarrollado
  también por Rolf Kreibaum y Raimond Fluijt.

p
  | Puede obtener más información sobre el historial de la variante y comprar
  | piezas bastante dedicadas (y tableros) en el sitio web oficial 
  a(href="http://pacosako.com/") pacosako.com
  | . La variante se puede jugar en línea en 
  a(href="http://pacoplay.com/") pacoplay.com
  | . Puedes ir a jugar allí en su lugar :-)
  | Además, los diseños de las uniones son más lindos.

h3 Reglas básicas

p.
  No hay capturas en este juego: solo uniones de piezas,
  que se emiten cuando otras piezas amigas los reemplazan.
  El objetivo es crear una unión con el rey contrario.
  Me gusta pensar en las uniones en términos de "piezas bailando juntas",
  por lo tanto, ambos términos se utilizarán en esta página.

figure.showPieces.text-center
  img(src="/images/pieces/Pacosako/wc.png")
  img(src="/images/pieces/Pacosako/bc.png")
  img(src="/images/pieces/Pacosako/bt.png")
  img(src="/images/pieces/Pacosako/wv.png")
  figcaption Algunas uniones de piezas.

p.
  Cada turno, un jugador selecciona una de sus piezas o
  una pieza-unión; denotar por A.
ul
  li.
    Caso 1: A es una pieza bailando. Entonces ella solo puede moverse
    a una casilla vacía dependiendo del tipo de nuestra pieza.
  li.
    Caso 2: A es una pieza estándar.
    Luego se puede mover a cualquier lugar excepto en nuestras propias piezas
    (normales). "Capturar" una pieza enemiga crea una unión formada por
    dos piezas. "Capturar" una unión libera nuestra pieza en ella, y
    debe ser movido inmediatamente por el mismo jugador. Ella puede
    a su vez entregan otras piezas, siguiendo así una cadena de uniones.

p
  | Esto puede parecer indigerible en la primera lectura, pero es más fácil
  | de lo que parece. Ver por ejemplo esto 
  a(href="https://www.youtube.com/watch?v=tQ2JLsFvfxI") video de gameplay
  | , u otro del mismo canal de YouTube.

figure.diagram-container
  .diagram.diag12
    | fen:4k3/8/2q5/8/4O3/2w2B2/8/5K2:
  .diagram.diag22
    | fen:4k3/8/2Y5/8/4s3/2S5/8/5K2:
  figcaption.
    Antes y después del movimiento de "encadenamiento" Bxe4, Ne4xc3, Qc3xc6.

h3 Movimientos especiales, notas adicionales

p.
  "Capturar" una unión en passant libera nuestra pieza bailando despues la
  casilla intermedia.

p.
  Una promoción tiene lugar cuando cualquier peón (posiblemente en unión)
  llegó a su última fila.

p.
  Los ataques al rey se ignoran en esta implementación:
  puede ir o permanecer en "jaque". Por lo tanto, las condiciones de enroque
  son encontrar relajado.

figure.diagram-container
  .diagram
    | fen:r1q1k2r/p1Pb1ppp/5n2/1f1p4/AV5P/2dDP3/P2B1PP1/R3K1NR:
  figcaption.
    Las negras no pueden enroquar a causa de la cadena
    Bxc3, c3xb5, b5xb4, b4xf8

h3 Reglas no oficiales

p.
    Hice algunas adiciones, en general para complicar la defensa.
    No forman parte de las reglas oficiales.

ul
  li.
    Está prohibido cancelar una jugada de unión. Por ejemplo, si un alfil
    baila con una reina y hace un movimiento de e5 a g3, el otro jugador no
    puede lo reemplace en e5 inmediatamente después.
  li.
    Los peones (o peones en unión) pueden avanzar dos espacios desde su
    posición inicial, pero solo puede hacerlo una vez por columna.
  li.
    Si formas una unión con tu rey pero terminas bailando con
    el rey oponente en el otro extremo de la cadena, el juego se empata.

figure.diagram-container
  .diagram.diag12
    | fen:r2qk2r/pbpe1pp1/np5p/2b1p3/4P1t1/2N3K1/PPPP1PPP/R1B3NR:
  .diagram.diag22
    | fen:r2qX2r/pbpf1pp1/np5p/2b1p3/4P1u1/2N5/PPPP1PPP/R1B3NR:
  figcaption Antes y despues Kxg4, g4xd7, d7xe8 1/2

h3 Más información

p
  | Los autores escribieron 
  a(href="/variants/Pacosako/manual.pdf") un manual
  | &nbsp;con muchos más diagramas y explicaciones.
  | Ver también las reglas 
  a(href="https://www.chessvariants.com/rules/paco-shako")
    | en chessvariants.com
  | .
