p.boxed
  | Bring your king to the other side of the board.
  | Giving check is not allowed.

p.
  To win your king must arrive on the 8th rank.
  He can never be in check (thus there is no checkmate).
  Stalemate would be a draw, but it seldom occur in this variant.

p.
  The basic strategy is to erect barriers on the way of the opponent king,
  with rooks and queen for example, while your king advance next to it.

figure.diagram-container
  .diagram
    | fen:8/8/8/8/8/8/krbnNBRK/qrbnNBRQ:
  figcaption Initial position.

p.
  Note: the initial position is always the same.
  See the "Royalrace" variant for a randomized version.

h3 More information

p
  a(href="https://www.chessvariants.com/diffobjective.dir/racing.html")
    | Racing Kings variant
  | &nbsp;on chessvariants.com.

p Inventor: Vernon R. Parton (1961)
