p.boxed
  | Lleva a tu rey al otro lado del tablero.
  | Las jaques no están permitidas.

p.
  Para ganar tu rey debes alcanzar en la 8ma fila.
  Él nunca puede estar en jaque (por lo que no hay jaque mate).
  El empate significaría tablas, pero rara vez ocurre en esta variante.

p.
  La estrategia básica es erigir barreras en el camino del rey contrario,
  con torres y la dama, por ejemplo, mientras tu rey avanza al lado.

figure.diagram-container
  .diagram
    | fen:8/8/8/8/8/8/krbnNBRK/qrbnNBRQ:
  figcaption Position initiale.

p.
  Nota: la posición inicial es siempre la misma.
  Para una versión aleatoria, vea la variante "Royalrace".

h3 Más información

p
  | La 
  a(href="https://www.chessvariants.com/diffobjective.dir/racing.html")
    | variante Racing Kings
  | &nbsp;en chessvariants.com.

p Inventor: Vernon R. Parton (1961)
