p.boxed
  | Amenez votre roi de l'autre côté de l'échiquier.
  | Les échecs ne sont pas autorisés.

p.
  Pour gagner votre roi doit parvenir sur la 8eme rangée.
  Il ne peut jamais être en échec (il n'y a donc pas de mat).
  Le pat signifierait match nul, mais il arrive très rarement dans cette variante.

p.
  La stratégie de base consiste à ériger des barrières sur le chemin du roi adverse,
  avec des tours et la dame par exemple, tandis que votre roi avance à côté.

figure.diagram-container
  .diagram
    | fen:8/8/8/8/8/8/krbnNBRK/qrbnNBRQ:
  figcaption Position initiale.

p.
  Note : la position de départ est toujours la même.
  Pour une version aléatoire, voir la variante "Royalrace".

h3 Plus d'information

p
  | La 
  a(href="https://www.chessvariants.com/diffobjective.dir/racing.html")
    | variante Racing Kings
  | &nbsp;sur chessvariants.com.

p Inventeur : Vernon R. Parton (1961)
