p.boxed
	| You have a king and an antiking. King cannot be let in check, but antiking
	| must always stay under check. Antiking captures his own kind.

h3 Specifications

ul
	li Chessboard: standard.
	li Material: additional antiking.
	li Non-capturing moves: standard.
	li Special moves: standard.
	li Captures: special case of antiking (see below).
	li End of game: Checkmate or anti-checkmate.

h3 Basics

p.
	The additional piece is a royal figure, thus cannot be captured.
	It captures the pieces of his color (to help checkmate opponent antiking,
	but by doing so it also make standard checkmate more difficult...).
	It should always remains under check (if it cannot, game is over).

figure.diagram-container
	.diagram
		| fen:rnbqkbnr/pppppppp/3A4/8/8/3a4/PPPPPPPP/RNBQKBNR c5,d5,e5:
	figcaption Marked squares are not allowed antiking moves.

h3 End of the game

p There are two ways to win:
ol
	li Checkmate opponent king
	li Anti-checkmate opponent antiking
p ...Or maybe do both at the same time?

p.
	Note 1: athough antiking captures his color, it doesn't check his king -
	it doesn't check the opponent's king either.

p.
	Note 2: since it would allow a basic tactic (keep antiking touching opponent's
	king), kings do not attack antikings.

h3 Source

p
	a(href="https://www.chessvariants.com/diffobjective.dir/anti-king-chess.html")
		| Antiking chess
	| &nbsp;on chessvariants.com.
