extends layout

block css
	link(rel="stylesheet", href="/stylesheets/index.css")

block content
	.container#indexPage
		.row
			#header.col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
				#mainTitle
					img(src="/images/index/unicorn.svg")
					.info-container
						p vchess.club
					img(src="/images/index/wildebeest.svg")
				// TODO: flags, translations
				#flagMenu(onClick="document.getElementById('modalLang').checked=true")
					img(src="/images/flags/" + lang + ".svg")
				#helpMenu(onClick="document.getElementById('modalHelp').checked=true")
					.info-container
						p Help
		.row
			my-variant-summary(v-for="(v,idx) in sortedCounts"
				v-bind:vobj="v" v-bind:index="idx" v-bind:key="v.name")
		// Modals:
		input#modalHelp.modal(type="checkbox")
		div(role="dialog")
			#help.card
				label.modal-close(for="modalHelp")
				.section
					p.emphasis.bigfont First: watch #[a(href="/demo.webm") demo video] !
					p Then click on a variant... Reminder:
					ul
						li All games start with a random assymetric position.
						li Games are untimed, and played anonymously.
						li No chat while playing, to focus on the moves.
				.section
					h3.red Bug report
					p
						| Please send an email to 
						a(href="mailto:contact@vchess.club?subject=[vchess.club] bug report")
							| contact@vchess.club 
						| .
		input#modalLang.modal(type="checkbox")
		div(role="dialog")
			#language.card
				label.modal-close(for="modalLang")
				.section
					fieldset
						-
							var langName = {
								"fr": "French",
								"en": "English",
							}
						label(for="langSelect") Preferred language?
						select#langSelect(@change="setLanguage")
							each langCode in languages
								option(value=langCode selected=(lang==langCode))
									=langName[langCode]
				.section
					h3.blue Contribute
					p
						| Browse the 
						a(href="https://github.com/yagu0/vchess/tree/master/views")
							| github repository
						| : welcome/en.pug and all files rules/*/en.pug
						| should be translated. When it's done, send me the files: 
						a(href="mailto:contact@vchess.club?subject=[vchess.club] translation")
							| contact@vchess.club
						| . Thanks!
		input#modalB4welcome.modal(type="checkbox")
		div(role="dialog")
			#b4welcome.card.text-center
				h3.blue First visit?
				p#readThis(@click="showWelcomeMsg") >>> Please read this <<<
		case lang
			when "en"
				include welcome/en.pug
			when "fr"
				include welcome/fr.pug

block javascripts
	script.
		const variantArray = !{JSON.stringify(variantArray)};
	script(src="/javascripts/utils/misc.js")
	script(src="/javascripts/utils/socket_url.js")
	script(src="/javascripts/components/variantSummary.js")
	script(src="/javascripts/index.js")
