extends layout

block css
	link(rel="stylesheet", href="/stylesheets/index.css")

block content
	.container
		case lang
			when "en"
				include welcome/en
			when "es"
				include welcome/es
			when "fr"
				include welcome/fr
		.row
			#header.col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
				#mainTitle.clickable(onClick="doClick('modalWelcome')")
					img(src="/images/index/unicorn.svg")
					.info-container
						p vchess.club
					img(src="/images/index/wildebeest.svg")
				#flagMenu.clickable(onClick="doClick('modalLang')")
					img(src="/images/flags/" + lang + ".svg")
				include userMenu
				a.right-menu(v-show="display=='variants'" href="#games")
					.info-container
						p Correspondance
				a.right-menu(v-show="display=='games'" href="#variants")
					.info-container
						p Variants
		.row(v-show="display=='variants'")
			.col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
				label(for="prefixFilter") Type first letters...
				input#prefixFilter(v-model="curPrefix")
			my-variant-summary(v-for="(v,idx) in sortedCounts"
				v-bind:vobj="v" v-bind:index="idx" v-bind:key="v.name")
		.row(v-show="display=='correspondance'")
			my-correspondance

block javascripts
	script.
		const variantArray = !{JSON.stringify(variantArray)};
	script(src="/javascripts/socket_url.js")
	script(src="/javascripts/components/variantSummary.js")
	script(src="/javascripts/components/gameList.js")
	script(src="/javascripts/components/correspondance.js")
	script(src="/javascripts/index.js")
