extends layout

block css
	link(rel="stylesheet", href="/stylesheets/index.css")

block content
	.container#indexPage
		.row
			.col-sm-12
				h1.text-center Welcome to v[ariant] chess club !
				h2.help.text-center(onClick="document.getElementById('modal-control').checked=true") Help ?
				input#modal-control.modal(type="checkbox")
				div(role="dialog")
					.card
						label.modal-close(for="modal-control")
						h3.blue.section Modes
						p.section.
							Each variant page offers two modes: against a human or computer opponent.
							The latter is not designed to play well: it is here to help learning the rules.
							When you beat the bot easily consider playing human opponents!
						h3.blue.section Initial position
						p.section.
							Whenever possible, all games start with a random assymetric position.
							This might be unapplicable for some variants: Moscow Chess at least (coming soon),
							Racing Kings probably too.
						h3.blue.section Comments
						p.section.
							Games are untimed, and played anonymously. This website lacks a user/challenge/chat/... system,
							both for technical reasons (difficult to maintain all that alone) and also a bit for
							focusing on the essential: the moves! :)
		.row
			my-variant-summary(
				v-for="(v,idx) in sortedCounts",
				v-show="v.name.startsWith(curPrefix)",
				v-bind:vobj="v",
				v-bind:key="v.name")

block javascripts
	script.
		const variantArray = !{JSON.stringify(variantArray)};
		//JSON.parse("!{variantArray}".replace(/\&quot;/g,'"'));
	script(src="/javascripts/utils/socket_url.js")
	script(src="/javascripts/components/variantSummary.js")
	script(src="/javascripts/index.js")
