extends layout

block css
	link(rel="stylesheet", href="/stylesheets/index.css")

block content
	.container#indexPage
		case lang
			when "en"
				include welcome/en
			when "es"
				include welcome/es
			when "fr"
				include welcome/fr
		.row
			#header.col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
				#mainTitle.clickable(
						onClick="document.getElementById('modalWelcome').checked=true")
					img(src="/images/index/unicorn.svg")
					.info-container
						p vchess.club
					img(src="/images/index/wildebeest.svg")
				#settings.clickable(
						onClick="document.getElementById('modalSettings').checked=true")
					i.material-icons settings
		.row
			my-variant-summary(v-for="(v,idx) in sortedCounts"
				v-bind:vobj="v" v-bind:index="idx" v-bind:key="v.name")

					redesign index page :: lien github, lien contact mail, settings

block javascripts
	script.
		const variantArray = !{JSON.stringify(variantArray)};
	script(src="/javascripts/utils/misc.js")
	script(src="/javascripts/socket_url.js")
	script(src="/javascripts/components/variantSummary.js")
	script(src="/javascripts/index.js")
