extends layout

block css
	link(rel="stylesheet", href="/stylesheets/index.css")

block content
	.container
		case lang
			when "en"
				include welcome/en
			when "es"
				include welcome/es
			when "fr"
				include welcome/fr
		.row
			#header.col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
				#mainTitle
					img(src="/images/index/unicorn.svg")
					.info-container
						p vchess.club
					img(src="/images/index/wildebeest.svg")
				#flagMenu.clickable(onClick="doClick('modalLang')")
					img(src="/images/flags/" + lang + ".svg")
				#userMenu.clickable(onClick="doClick('modalUser')")
					.info-container
						if !user.email
							p
								span Login
								i.material-icons person
						else
							p
								span Update
								i.material-icons person
				#introductionMenu.clickable(onClick="doClick('modalWelcome')")
					.info-container
						p Introduction
		.row
			my-variant-summary(v-for="(v,idx) in sortedCounts"
				v-bind:vobj="v" v-bind:index="idx" v-bind:key="v.name")

block javascripts
	script.
		const variantArray = !{JSON.stringify(variantArray)};
	script(src="/javascripts/utils/misc.js")
	script(src="/javascripts/socket_url.js")
	script(src="/javascripts/components/variantSummary.js")
	script(src="/javascripts/index.js")
