extends layout

block css
	link(rel="stylesheet", href="/stylesheets/index.css")

block content
	.container#indexPage
		.row
			#header.col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
				#mainTitle
					img(src="/images/index/unicorn.svg")
					.info-container
						p vchess.club
					img(src="/images/index/wildebeest.svg")
				#flagMenu(onClick="document.getElementById('modalLang').checked=true")
					img(src="/images/flags/" + lang + ".svg")
				#helpMenu(onClick="document.getElementById('modalHelp').checked=true")
					.info-container
						p Help
		.row
			my-variant-summary(v-for="(v,idx) in sortedCounts"
				v-bind:vobj="v" v-bind:index="idx" v-bind:key="v.name")
		// Modals:
		include modal-lang.pug
		include modal-help.pug
		input#modalB4welcome.modal(type="checkbox")
		div(role="dialog")
			#b4welcome.card.text-center.small-modal
				h3.blue First visit?
				p#readThis(@click="showWelcomeMsg") >>> Please read this <<<
		case lang
			when "en"
				include welcome/en.pug
			when "fr"
				include welcome/fr.pug

block javascripts
	script.
		const variantArray = !{JSON.stringify(variantArray)};
	script(src="/javascripts/utils/misc.js")
	script(src="/javascripts/utils/socket_url.js")
	script(src="/javascripts/components/variantSummary.js")
	script(src="/javascripts/index.js")
