extends layout

block css
	link(rel="stylesheet", href="/stylesheets/index.css")

block content
	.container#indexPage
		.row
			.col-sm-12
				h1.text-center Welcome to v[ariant] chess club !
				h2.help.text-center(onClick="document.getElementById('modal-control').checked=true") Help ?
				input#modal-control.modal(type="checkbox")
				div(role="dialog")
					.card
						label.modal-close(for="modal-control")
						h3.blue.section Modes
						p.section.
							Each variant page offers two modes: against a human or computer opponent,
							which is here to help learning the rules.
						h3.blue.section Comments
						p.section.
							All games start with a random assymetric position. #[br]
							Games are untimed, and played anonymously. #[br]
							No chat, to rather focus on the moves :)
						h3.purple.section Bug report
						p.section.
							If you find a bug in a game, please follow this procedure: #[br]
							1. stop playing (click on the resign button); #[br]
							2. click on the PGN to download it; #[br]
							3. send an email to #[a(href="mailto:contact@vchess.club?subject=Bug report") this address],
							describing the situation (what is expected vs. what is observed),
							with the PGN attached :)#[br]
							Thank you!
		.row
			my-variant-summary(
				v-for="(v,idx) in sortedCounts",
				v-show="v.name.startsWith(curPrefix)",
				v-bind:vobj="v",
				v-bind:key="v.name")

block javascripts
	script.
		const variantArray = !{JSON.stringify(variantArray)};
		//JSON.parse("!{variantArray}".replace(/\&quot;/g,'"'));
	script(src="/javascripts/utils/socket_url.js")
	script(src="/javascripts/components/variantSummary.js")
	script(src="/javascripts/index.js")
