#userMenu.clickable.right-menu(onClick="doClick('modalUser')")
	.info-container
		if !user.email
			p
				span Login
				i.material-icons person
		else
			p
				span Update
				i.material-icons person
