extends layout

block css
	link(rel="stylesheet" href="/stylesheets/variant.css")

block content
	include settings
	.container
		.row
			.col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
				label.drawer-toggle(for="drawer-control")
				input#drawer-control.drawer(type="checkbox")
				#menuBar
					label.drawer-close(for="drawer-control")
					a.icon-link(href="/")
						i.material-icons home
					a(href="#room")
						=translations["Hall"]
					a(href="#gameList")
						=translations["My games"]
					a(href="#rules")
						=translations["Rules"]
					a(href="#problems")
						=translations["Problems"]
					#flagMenu.clickable(onClick="doClick('modalLang')")
						img(src="/images/flags/" + lang + ".svg")
					#settings.clickable(onClick="doClick('modalSettings')")
						i.material-icons settings
					include userMenu
		.row
			//my-room(v-show="display=='room'")
			//my-game-list(v-show="display=='gameList'")
			my-rules(v-show="display=='rules'")
			//my-problems(v-show="display=='problems'")
			my-game(v-show="display=='game'" :game-id="gameid" :conn="conn"
				:allow-chat="allowChat" :allow-movelist="allowMovelist"
				:mode="mode" :fen="fen")
			//my-board(:vr="vr" :mode="mode" :orientation="orientation"
				:user-color="userColor" v-on:play-move="play")

block javascripts
	script(src="/javascripts/utils/array.js")
	script(src="/javascripts/utils/printDiagram.js")
	script(src="/javascripts/utils/datetime.js")
	script(src="/javascripts/socket_url.js")
	script(src="/javascripts/base_rules.js")
	script(src="/javascripts/variants/" + variant.name + ".js")
	script.
		const V = VariantRules; //because this variable is often used
		const variant = !{JSON.stringify(variant)};
	//script(src="/javascripts/components/room.js")
	//script(src="/javascripts/components/gameList.js")
	script(src="/javascripts/components/rules.js")
	script(src="/javascripts/components/board.js")
	//script(src="/javascripts/components/problemPreview.js")
	//script(src="/javascripts/components/problems.js")
	script(src="/javascripts/components/game.js")
	script(src="/javascripts/variant.js")
