p.boxed
  | Las caturas transforman la pieza que captura en la pieza capturada.

p.
  Todo va como el ajedrez ortodoxo, con una excepcion: después de
  cada captura, el atacante toma la naturaleza de la pieza capturada.
  El objetivo aún es de matar, y el empate es tablas.

p.
  Por ejemplo, después de 1.e4 e5 2.Nf3 b6 3.Nxe5, e5 es ahora un peón blanco.
  Esta captura se ve mal, pero cualquier pieza que tome e5 más tarde
  se convertirá en un peón...

figure.diagram-container
  .diagram.diag12
    | fen:rnbqkbnr/p1pp1ppp/1p6/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R:
  .diagram.diag22
    | fen:rnbqkbnr/p1pp1ppp/1p6/4P3/4P3/8/PPPP1PPP/RNBQKB1R:
  figcaption Después de 1.e4 e5 2.Nf3 b6 (izquierda) con 3.Cxe5 (derecha)

p Si el rey captura, también se transforma pero permanece real.

h3 Más información

p
  | La 
  a(href="https://www.chessvariants.com/difftaking.dir/cannibal.html")
    | variante Cannibal
  | &nbsp;en chessvariants.com.
