p.boxed
  | Les captures transforment la pièce capturante en la pièce capturée.

p.
  Tout se déroule comme aux échecs orthodoxes, à une exception près :
  après chaque capture, l'attaquant prend la nature de la pièce capturée.
  L'objectif est toujours de mater, et le pat fait nulle.

p.
  Par exemple après 1.e4 e5 2.Nf3 b6 3.Nxe5, e5 est à présent un pion blanc.
  Cette capture semble mauvaise, mais toute pièce prenant en e5 plus tard
  se transformera en pion...

figure.diagram-container
  .diagram.diag12
    | fen:rnbqkbnr/p1pp1ppp/1p6/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R:
  .diagram.diag22
    | fen:rnbqkbnr/p1pp1ppp/1p6/4P3/4P3/8/PPPP1PPP/RNBQKB1R:
  figcaption Après 1.e4 e5 2.Nf3 b6 (gauche) avec 3.Nxe5 (droite)

p Si le roi capture, il se transforme aussi mais reste royal.

h3 Plus d'information

p
  | La 
  a(href="https://www.chessvariants.com/difftaking.dir/cannibal.html")
    | variante Cannibal
  | &nbsp;sur chessvariants.com.
