p.boxed.
  Different armies.
  Most white pieces start "in hand", and promote when reaching 6th rank.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/3CK3:
  figcaption Deterministic initial position.

p.
  Shinobi Chess is a chess variant designed in 2021 by Couch Tomato.
  The chess army (the "Kingdom", black) has invaded the land of the Sakura
  Clan ("pink"). While initially unprepared and having very few pieces
  available, the Clan is very resourceful and can instantly recruit and
  summon allies to defend at a minute's notice!

p.
  The Clan starts with almost all of its pieces in hand, and can drop them
  on its side of the board (first 4 ranks) in lieu of moving a piece.

p
  | In addition to checkmate,
  | one can win by bringing the king into the final rank ("campmate").
  br
  | Stalemate and repetition are both losses.

h3 New pieces

p.
  There are five new units unique to the Clan: Ninja, Samurai, Lances,
  (Wooden) Horses, and Monks. Captains are a new piece available to both
  sides, but only the Clan starts with one on the board.
  Ninja, Samurai, and Captains do not promote (see below).

p.
  The Clan's king is called a Kage (K) and has a different symbol, but the
  change is purely aesthetic and thematic: it behaves like an orthodox King.

ul
  li Captain (C) &ndash; Moves like a King. Pawns promote to a Captain.
  li Ninja (J) = Knight + Bishop.
  li Samurai (S) = Knight + Rook.
  li Monk (M) &ndash; One-step bishop.
  li.
    Horse (H) &ndash; Moves only forward two squares,
    and then one square to the side.
  li Lance (L) &ndash; Moves only forward, like a unidirectional rook.

p.
  Clan minor pieces are considerably weak. However, with a little
  resourcefulness, they can trap the stronger Kingdom pieces
  and even win the battle.

h3 Promotion

p.
  Pawns promote into Captains when reaching the 6th rank.
  All minor Clan pieces also promote upon reaching the 6th rank (or beyond):
ul
  li Monk into Bishop.
  li Horse into Knight.
  li Lance into Rook.

p
  | Clan Rooks and Bishops look different, but the changes are purely
  | aesthetic. Note that the symbol on the Bishop is a 
  a(href="https://handwiki.org/wiki/Sauwastika") sauwastika
  | , not a swastika.
