p.boxed.
  Diferentes ejércitos. La mayoría de las piezas blancas comienzan
  "en la mano", y son promovidas cuando llegan a la 7ta fila.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/LH1CK1HL:
  figcaption Posición inicial determinista.

p.
  Ajedrez Shinobi es una variación desarrollada por Couch Tomato en 2021.
  El ejército ortodoxo (el "Reino", negras) invadió las tierras del Clan
  Sakura ("rosa"). Aunque inicialmente no estaba preparado y con pocas
  piezas, el Clan no debe ser subestimado porque puede reclutar
  nuevos aliados sin demora!

p.
  El Clan comienza con muchas de sus piezas en la mano y puede las
  paracaídas en su lado del tablero (primeras 4 filas) en lugar de
  mover una pieza.

p
  | Además del jaque mate,
  | puedes ganar llevando al rey a la última fila ("mate de campamento").
  br
  | Tanto el empate como la repetición pierden.

h3 Piezas nuevas

p.
  Cinco nuevas unidades son exclusivas del Clan: Ninja, Dragón, Lanza,
  Jamelgos y Monjes. Los Capitanes son una nueva pieza disponible en ambos
  lados, pero solo el Clan comienza con uno en el tablero.
  Los Ninja, Dragón y Capitanes no son promovidos (ver más abajo).

p.
  El rey del Clan se llama Kage (K) y tiene un símbolo diferente, pero el
  cambio es puramente estético y temático: se comporta como un rey ortodoxo.

ul
  li Capitán (C) &ndash; Muévese como un rey. Los peones ascienden a Capitán.
  li Ninja (J) = Caballo + Alfil.
  li Monje (M) &ndash; Alfil limitado a una casilla.
  li Dragón (D) = Torre + Monje.
  li Jamelgo (H) &ndash; Avanza dos espacios, luego una casilla al costado.
  li.
    Lanza (L) &ndash; Se mueve hacia adelante,
    como una torre de un solo sentido.

p.
  Las piezas menores del Clan son considerablemente débiles. Sin embargo, con
  un poco astutos, pueden atrapar piezas (más fuerte) del Reino,
  e incluso ganar la victoria.

h3 Promoción

p.
  Los peones son promovidos a Capitanes cuando alcanzan la séptima fila.
  Todas las piezas menores del Clan también se promocionan una vez en
  las dos ultimas filas:
ul
  li Monje &rarr; Alfil.
  li Jamelgo &rarr; Caballo.
  li Lanza &rarr; Torre.

p
  | Las Torres y Alfiles del Clan son inusuales en apariencia, pero los
  | cambios son puramente estéticos.
  | Tenga en cuenta que el símbolo del alfil es un 
  a(href="https://handwiki.org/wiki/Sauwastika") sauwastika
  | , no una swastika..
