p.boxed.
  Armées différentes. La plupart des pièces blanches démarrent "en main",
  et sont promues quand elles atteignent la 7eme rangée.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/LH1CK1HL:
  figcaption Position initiale déterministe.

p.
  Les Échecs Shinobi sont une variante élaborée par Couch Tomato en 2021.
  L'armée orthodoxe (le "Royaume", noirs) a envahi les terres du Clan Sakura
  ("rose"). Bien qu'initialement non préparé et ne disposant que de peu de
  ressources, le Clan ne doit pas être sous-estimé car il peut recruter de
  nouveaux alliés sans délais !

p.
  Le Clan démarre avec beaucoup de ses pièces en main, et peut les
  parachuter de son côté de l'échiquier (4 premières rangées) au lieu de
  déplacer une pièce.

p
  | En plus du mat,
  | on peut gagner en amenant le roi sur la dernière rangée ("mat de camp").
  br
  | Le pat et la répétition de coups perdent tous les deux.

h3 Nouvelles pièces

p.
  Cinq nouvelles unités sont uniques au Clan : les Ninja, Dragon, Lance,
  Chevaux (de Bois), et Moines. Les Capitaines sont une nouvelle pièce
  disponible des deux côtés, mais seul le Clan démarre avec un sur l'échiquier.
  Les Ninja, Dragon et Capitaines ne sont pas promus (voir ci-dessous).

p.
  Le roi du Clan est appelé Kage (K), et a un symbole différent, mais le
  changement est purement esthétique et thématique : il se comporte comme
  un roi orthodoxe.

ul
  li.
    Capitaine (C) &ndash; Se déplace comme un Roi.
    Les pions se promeuvent en Capitaine.
  li Ninja (J) = Cavalier + Fou.
  li Moine (M) &ndash; Fou limité à une case.
  li Dragon (D) = Tour + Moine.
  li.
    Cheval (H) &ndash; Se déplace vers l'avant de deux cases,
    puis d'une case sur le coté.
  li.
    Lance (L) &ndash; Se déplace vers l'avant,
    comme une tour unidirectionnelle.

p.
  Les pièces mineures du Clan sont considérablement faibles. Cependant, avec
  un peu de ruse, elles peuvent piéger les pièces du Royaume &ndash; pourtant
  plus fortes &ndash;et même remporter la victoire.

h3 Promotion

p.
  Les pions sont promus en Capitaines quand ils atteignent la 7eme rangée.
  Toutes les pièces mineures du Clan se promeuvent également une fois sur
  les deux dernières rangées :
ul
  li Moine &rarr; Fou.
  li Cheval &rarr; Cavalier.
  li Lance &rarr; Tour.

p
  | Les Tours et Fous du Clan sont d'allures inhabituelles, mais les
  changements sont purement esthétique. Notez que le symbole sur le Fou est un 
  a(href="https://handwiki.org/wiki/Sauwastika") sauwastika
  | , pas un swastika.
