p.boxed
  | Captures are mandatory, with transformation into the captured piece.

p
  a(href="/#/variants/Cannibal1") Cannibal1
  | , with forced captures.
  | I initially believed it was better like that. Not sure anymore :-)

p For example after 1.e4 a6, 2.Bxa6 is forced and a6 is now a white pawn.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/1ppppppp/p7/8/4P3/8/PPPP1PPP/RNBQKBNR a6:
  figcaption After 1.e4 a6, 2.Bxa6 turns the bishop into a pawn.
