p.boxed
  | Las capturas son obligatorias, con transformación en la pieza capturada.

p
  a(href="/#/variants/Cannibal1") Cannibal1
  | , con capturas obligatorias.
  | Pensé que era mejor así, pero ya no estoy seguro :-)

p.
  Por ejemplo después de 1.e4 a6, 2.Bxa6 es forzado
  y a6 ahora es un peón blanco.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/1ppppppp/p7/8/4P3/8/PPPP1PPP/RNBQKBNR a6:
  figcaption Después de 1.e4 a6, 2.Bxa6 transforma el alfil en un peón.
