p.boxed
  | Les captures sont obligatoires, avec transformation en la pièce capturée.

p
  a(href="/#/variants/Cannibal1") Cannibal1
  | , avec captures obligatoires.
  | Je pensais que c'était mieux ainsi, mais n'en suis plus très sûr :-)

p Par exemple après 1.e4 a6, 2.Bxa6 est forcé et a6 est alors un pion blanc.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/1ppppppp/p7/8/4P3/8/PPPP1PPP/RNBQKBNR a6:
  figcaption Après 1.e4 a6, 2.Bxa6 transforme le fou en un pion.
