p.boxed
  | Les pièces se déplacent en général comme un cavalier,
  | et capturent différemment.

figure.diagram-container
  .diagram
    | fen:lhaykahl/8/pppppppp/8/8/PPPPPPPP/8/LHAYKAHL:
  figcaption Position initiale déterministe

p
  | Les pièces se déplacent et capturent comme décrit dans 
  a(href="/#/variants/Orda") Orda
  | . Elles appartiennent toutes à l'armée mongole : disons qu'une rébellion
  | a eu lieu :)

p.
  La nouvelle pièce est un faucon, se déplaçant comme une dame
  et capturant comme un cavalier.

figure.diagram-container
  .diagram
    | fen:8/1P6/8/3F2p1/3Pp3/2p1p3/8/8 d6,d7,d8,a5,b5,c5,a2,b3,c4,e5,f5,c6,e6,f7,g8,c3,e3:
  figcaption Déplacements du faucon

p.
  De même que pour Orda, gagnez par échec et mat ou "campmate" quand le roi
  atteint la dernière rangée.
