p.boxed
  | Juego ortodoxo (con una posición inicial aleatoria).

p.
  El ajedrez es un juego entre dos jugadores, uno que mueve las piezas blancas
  y el otro las piezas negras. Una "jugada" consiste en tal movimiento en
  el tablero (de ajedrez). Las piezas blancas y negras se mueven alternativamente,
  hasta la aparición de una situación específica (jaque mate, empate u otro criterio
  de nulidad ; esto se detalla a continuación). El jugador de las piezas blancas
  siempre comienza.

p.
  Cada pieza tiene un modo de movimiento específico, pero generalmente captura
  al llegar a un espacio ocupado (con una excepción, detallada a continuación).

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR:
  figcaption Posición inicial habitual.

p.
  Coordenadas en el tablero: las casillas son identificadas por una pareja
  (letra, número). La letra comienza en 'a' e indica la columna, mientras que
  el número comienza en 1 e indica la fila.
  Dado que el tablero tiene 64 cuadrados, 8x8, este sistema de coordenadas
  comienza en a1 y termina en h8. 'a1' designa la esquina inferior izquierda, y
  'h8' la esquina superior derecha desde el punto de vista del jugador
  de las piezas blancas.

h3 Jugadas sin captura

h4 Peones

p.
  Son la unidad la más débil del juego, pero también la unidad de desplazamiento
  el más complejo. Desde su fila inicial, los peones pueden avanzar
  dos casillas (verticalmente), o una casilla solo en esta misma dirección.
  Después de este primer movimiento, solo pueden avanzar un espacio a la vez,
  siempre hacia adelante.

p.
  Los peones capturan moviendo un casilla hacia adelante en diagonal,
  cuando la pieza de un oponente está ahí.

p.
  Cuando llegan a la última fila, los peones deben convertirse en
  cualquier pieza no real (del mismo color): dama, torre, caballo
  o alfil. Es una "promoción".

p.
  Notación del movimientos: "peón" está implícito, por lo que para un
  simple desplazamiento de peón solo notamos la caja de llegada (ya que no hay
  ambigüedad). Por lo tanto, 1.e5 significa "peón de e4 a e5". Sin embargo,
  en el caso de una captura puede haber una ambigüedad (dos peones en la misma
  fila), entonces la columna también se indica: "fxe6" (por ejemplo).
  Como puede ver, una captura se escribe con una cruz: "x".

figure.diagram-container
  .diagram
    | fen:k7/8/8/1prp4/1P1P4/8/6P1/7K:
  figcaption Posibles movimientos de peones: g3, g4, dxc5, bxc5

p
  | Para un movimiento de figura, se aplica el mismo principio pero con el
  | prefijo la inicial de la pieza (en inglés).
  | Una torre que toma algo en f3 se escribe: Rxf3.
  | Existen reglas para resolver ambigüedades potenciales, pero
  | van demasiado lejos para esta breve presentación.
  | Puede consultar sobre este tema, por ejemplo, la 
  a(href="https://en.wikipedia.org/wiki/Algebraic_notation_(chess)")
    | página Wikipedia
  | .

h4 Torres

p.
  Se mueven horizontal o verticalmente, tantas casillas como
  deseen siempre y cuando el camino esté despejado.
  Si su camino termina en la pieza de un oponente, puede ser capturado
  a priori. (A priori porque el rey no debe estar bajo control después de este
  movimiento).

h4 Caballos

p.
  Es la única pieza capaz de saltar sobre otros (sin capturarlos).
  Realizan desplazamientos en "L": dos casillas en una dirección
  (horizontal o vertical), luego uno en una dirección ortogonal.

figure.diagram-container
  .diagram
    | fen:k7/2p5/5q2/2b5/4N3/2R3r1/3P4/7K f6,d6,c5,f2,g3,g5:
  figcaption Posibles movimientos de caballo desde e4.

h4 Alfiles

p.
  Se mueven en diagonal, tan lejos como quieran mientras la pista
  es libre. Si su camino termina en una pieza enemiga, esta puede
  a priori ser capturado.

h4 Dama

p.
  Esta pieza combina los modos de movimiento del alfil y de la torre,
  con las mismas condiciones.

h4 Rey

p.
  El rey se mueve como una dama, pero solo un espacio a la vez.
  La casilla de llegada debe estar vacía u ocupada por una pieza opuesta.
  (quien se encuentra capturado).

p.
  El rey no puede ser capturado, pero una jugada puede terminar amenazando al rey
  oponerse. Este último está entonces "en jaque" y el oponente debe:
ul
  li mover a su rey a un lugar seguro, o
  li capturar al atacante, o
  li intercepto la línea de ataque.
p Dependiendo de la situación, una o más de estas contramedidas pueden no ser aplicables.

p Está prohibido dejar a tu rey en jaque al final de un movimiento.

figure.diagram-container
  .diagram
    | fen:r6k/4q3/8/8/8/B7/8/K7:
  figcaption Bxe7 es ilegal (esto permite Rxa1).

h3 Jugadas especiales

p.
  Además de la promoción de peones introducida previamente, dos movimientos especiales
  son para informar:
ul
  li.
    el enroque: si el rey y la torre más a la derecha desde el punto de vista
    de los blancos aún no se ha movido, y si nada se interpone en el camino
    del rey a la torre, y si finalmente las casillas f1 y g1 no están ocupadas
    (o posiblemente por las partes involucradas en el enroque), entonces el rey
    puede ir a g1 y la torre en f1.
    Nota: dado que las piezas se ordenan al azar, el rey o la torre
    puede parecer quedarse quieto durante esta jugada.
    Lo mismo se puede hacer en el lado negro, y en el "lado izquierdo" del
    tablero con la otra torre ; las piezas llegan a las casillas c1 (rey) y d1
    (Torre). Este último movimiento se llama "enroque grande" y el otro
    "enroque pequeño".
    Nota: el enroque pequeño (resp. Enroque grande) se escribe 0-0 (resp. 0-0-0).
  li.
    en passant: después de que un peón ha avanzado dos espacios, si un peón
    contrario es justo al lado (horizontalmente) se puede capturar
    "en passant", como si solo hubiera avanzado un espacio.
    Este movimiento se escribe como las otras capturas, pero con "e.p." al
    final para indicar esta jugada especial.
    La captura solo es posible inmediatamente después del salto de dos casillas:
    no se puede hacer más adelante en el juego.

figure.diagram-container
  .diagram.diag12
    | fen:nr1kb1r1/ppp3pp/8/2Pp4/8/7P/PP3PP1/1R3KBR:
  .diagram.diag22
    | fen:nr1kb1r1/ppp3pp/3P4/8/8/7P/PP3PP1/2KR2BR:
  figcaption.
    Izquierda: las negras acaban de jugar d5 (saltar desde d7).
    Derecha: después de cxd6 e.p. y 0-0-0.

h3 Fin de la partida

p.
  La forma más famosa de terminar el juego es "jaque mate" (o
  simplemente "mate"). Significa terminar su movimiento atacando al rey
  oponente, que no tiene forma de evitar su captura en el siguiente movimiento.
  El jugador que da mate tiene un punto y el otro cero, por lo que se escribe
  el puntaje "1-0" (resp. "0-1") en caso de victoria blanca (resp. victoria negra).

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/ppp2Qpp/2np4/4p3/2B1P3/8/PPPP1PPP/RNB1K1NR:
  figcaption Patrón de mate famoso: 1-0

p.
  Todas las otras formas de finalizar un juego conducen a las tablas (1/2-1/2) ;
  nadie gana:
ul
  li cuando un jugador no tiene movimiento legal disponible sin estar en jaque (empate),
  li.
    cuando una posición se repite tres veces con los mismos derechos de enroque,
    y el mismo jugador al turno,
  li cuando se realizan 50 jugadas sin movimiento de peón o captura.
p.
  Nota: esta última forma de finalizar un juego no está implementada,
  porque no se generaliza fácilmente a variantes (no a todas),
  pero sobre todo porque las partidas que se juegan aquí son sobre todo por diversión.
  Si te embarcas en maniobras de 200 movimientos y tu oponente
  no está harto de eso, ¿por qué debería arrestarte?:)
