p.boxed.
  One piece of each side hides a bomb,
  which can be triggered instead of playing a move.

p.
  Each player secretly decides of a piece which will carry a bomb.
  (Click on any piece at move 1).

p.
  At any time, instead of playing a move you may detonate the bomb:
  bring the loaded piece onto your king.
  On the diagrams below, bombs are placed at c2 and e4.

figure.diagram-container
  .diagram.diag12
    | fen:r1bqk1nr/pppp1Qpp/8/2b1p3/2B1S3/2N5/PPoP1PPP/R1BK2NR:
  .diagram.diag22
    | fen:r1bqk1nr/pppp1Qpp/8/2b1p3/2B1S3/8/P4PPP/R5NR:
  figcaption Not checkmate: explosion on c2 follows.

p.
  An explosion destroys everything a king step away from the bomb,
  including the loaded piece. Explosion has priority over checkmate.

h3 Source

p
  a(href="https://en.wikipedia.org/wiki/Beirut_chess") Beirut Chess
  | . This variant is Stealthbomber on 
  a(href="fishrandom.io") fishrandom.io
  | , and "Stealthbomb" here... why not :-)

p Inventor: Jim Winslow (1992)
