p.boxed.
  Una pieza de cada campamento esconde una bomba,
  que se puede activar en lugar de ejecutar un movimiento.

p.
  Cada jugador decide en secreto qué pieza llevará una bomba.
  (Haga clic en una pieza en el primer movimiento).

p.
  En cualquier momento, puede detonar la bomba en lugar de hacer una jugada:
  lleva la pieza cargada a tu rey.
  En los siguientes diagramas, las bombas se colocan en c2 y e4.

figure.diagram-container
  .diagram.diag12
    | fen:r1bqk1nr/pppp1Qpp/8/2b1p3/2B1S3/2N5/PPoP1PPP/R1BK2NR:
  .diagram.diag22
    | fen:r1bqk1nr/pppp1Qpp/8/2b1p3/2B1S3/8/P4PPP/R5NR:
  figcaption No jaque mate: sigue la explosión en c2.

p.
  Una explosión destruye todo a un paso de la bomba, incluyendo
  la pieza cargada. La explosión tiene prioridad sobre el jaque mate.

h3 Fuente

p
  a(href="https://en.wikipedia.org/wiki/Beirut_chess") Beirut Chess
  | . Esta variante es Stealthbomber en 
  a(href="fishrandom.io") fishrandom.io
  | , y "Stealthbomb" aquí... ¿Por qué no? :-)

p Inventor: Jim Winslow (1992)
