p.boxed
  | Cualquier parte protegida por un caballo también puede moverse como un caballo.

p.
  Además de sus capacidades normales, una pieza defendida por un caballo puede
  muévete como él.
  En el siguiente diagrama, 1.Nf4 sería jaque mate porque protege a la dama en g6.
  Si son las negras para jugar, entonces 1...Rxe2 es posible gracias al caballo c8.

figure.diagram-container
  .diagram
    | fen:7k/8/6Q1/1n6/8/2r5/4N3/K7:

p.
  Un peón en la sexta fila protegido por un caballo podría realizar
  un salto de caballo para llegar a la última fila y promocionarse.

p Salvo estas rarezas, se aplican las reglas ortodoxas.

h3 Fuente

p
  | Las reglas de origen inventado por Mannis Charosh (1972) se describen
  | por ejemplo 
  a(href="https://www.chessvariants.com/diffmove.dir/nrelay.html") en esta página
  | . Sin embargo, no me gusta mucho la condición de invulnerabilidad y las
  | restricciones impuestas por estas reglas, por lo que implementé esta versión simplificada.
