p.boxed.
  Une pièce de chaque camp cache une bombe,
  qui peut être déclenchée au lieu de jouer un coup.

p.
  Chaque joueur décide secrètement d'une pièce qui portera une bombe.
  (Cliquez sur une pièce au premier coup).

p.
  À tout moment, vous pouvez faire exploser la bombe au lieu de jouer un coup :
  amenez la pièce chargée sur votre roi.
  Dans les diagrammes ci-dessous, les bombes sont placées en c2 et e4.

figure.diagram-container
  .diagram.diag12
    | fen:r1bqk1nr/pppp1Qpp/8/2b1p3/2B1S3/2N5/PPoP1PPP/R1BK2NR:
  .diagram.diag22
    | fen:r1bqk1nr/pppp1Qpp/8/2b1p3/2B1S3/8/P4PPP/R5NR:
  figcaption Pas mat : l'explosion en c2 suit.

p.
  Une explosion détruit tout à un pas de roi depuis la bombe, incluant
  la pièce chargée. L'explosion a priorité sur le mat.

h3 Source

p
  a(href="https://en.wikipedia.org/wiki/Beirut_chess") Beirut Chess
  | . Cette variante est Stealthbomber sur 
  a(href="fishrandom.io") fishrandom.io
  | , et "Stealthbomb" ici... pourquoi pas :-)
