p.boxed
	| Jouez deux coups à chaque tour.

h3 Divergences

p.
	La seule différence avec le jeu orthodoxe est la règle du double-coup, mais cela
	affecte beaucoup le jeu.

h3 Bases

p.
	Au tout début de la partie les blancs ne jouent qu'un seul coup, comme
	d'habitude. Cependant, après cela et ce pour tout le reste de la partie
	chaque camp doit jouer deux coups à chaque tour. Avec deux exceptions :

ul
	li.
		Si le premier coup donne échec (peut-être mat),
		alors un second coup n'est pas joué.
	li.
		Si aucun coup n'est autorisé après le premier, alors c'est pat et
		une fois encore il n'y a pas de deuxième coup.

p.
	Au sujet du format PGN de la partie : quand un camp joue deux coups d'affilée,
	ils sont séparés (dans l'ordre) par une virgule. Exemple : 3.Na5,Bd3 e6,f4
	(les deux premiers sont des coups blancs, les deux suivants
	sont des coups noirs).

figure.diagram-container
	.diagram
		| fen:r1bqkbnr/pppp1p1p/2n5/4p2p/4P3/5N2/PPPP1PPP/RNB1KB1R:
	figcaption Après les coups 1.e4 e5,Nc6 2.Qh5,Nf3 g6,gxh5

h3 Prise en passant

p.
	Capturer en passant est autorisé sous certaines conditions.
	Si l'adversaire a déplacé un pion permettant une telle capture
	(une fois ou deux fois), alors pour en profiter il faut prendre en passant
	dès le premier coup de votre tour. Ensuite, si (et seulement si) il y a
	une autre prise en passant disponible, vous pouvez l'exécuter au second coup.

p.
	Note : si un pion se déplace de deux cases puis qu'une pièce occupe la case de
	prise en passant au second coup d'un tour, une capture sur cette case ne
	prendra que la pièce.
	Et, si un pion a avancé deux fois la prise en passant sur son premier
	déplacement est impossible (le pion est "trop loin" désormais).

h3 Plus d'information

p
	| Voir par exemple la page 
	a(href="https://www.chessvariants.com/multimove.dir/marseill.html")
		|	Échecs Marseillais
	| &nbsp;sur chessvariants.com.
