p.boxed
  | Piece placement is hidden: players know where opposing units are, but don't
  | know exactly which piece is which.

p.
  Pieces remain hidden until they capture an opposing piece,
  at which point they are revealed.

p.
  There is no castling, and no en passant capture.
  Pawns may, however, move two spaces if they start on the first or second row.

p The game is won by capturing the opposing King.

figure.diagram-container
  .diagram
    | fen:qbppnprp/prpbpkpn/8/8/8/8/QBPPNPRP/PRPPKBPN:
  figcaption Possible starting position.

p Notes
ul
  li.
    The computer uses a basic strategy, way inferior to what a human could do
    but still better than random play.
  li.
    Pieces are randomly set on the two first ranks.
    The king may be on second rank, and attacked by an enemy rook or queen.
    However, since you don't have this information this is a risky bet :)

h3 Source

p
  a(href="https://www.chessvariants.com/rules/strate-go-chess") Strate-Go chess
  | &nbsp;on chessvariants.com.
