p.boxed
  | La colocación de las piezas está oculto: los jugadores conocen la ubicación
  | de las piezas opuestas pero no su naturaleza.

p.
  Las piezas permanecen ocultas hasta que capturan,
  momento desde el cual se revelan.

p.
  No hay enroque ni captura en passant.
  Sin embargo, los peones pueden avanzar dos espacios si comienzan en el
  primera o segunda fila.

p La victoria se obtiene capturando al rey contrario.

figure.diagram-container
  .diagram
    | fen:qbppnprp/prpbpkpn/8/8/8/8/QBPPNPRP/PRPPKBPN:
  figcaption Posible posición inicial.

p Notas
ul
  li.
    La computadora usa una estrategia básica, mucho más baja de lo que
    humano podría hacer pero mejor que un juego aleatorio.
  li.
    Las piezas se distribuyen al azar en las dos primeras filas.
    El rey podría estar en la segunda fila, atacado por una torre o dama
    enemiga. Dicho eso, ya que no tienes de esta información es una apuesta
    arriesgada :)

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/rules/strate-go-chess")
    | variante Strate-Go
  | &nbsp;en chessvariants.com.

p Inventor: John Kipling Lewis (2005)
