p.boxed
  | Si una pieza captura otra del mismo tipo, las dos desaparecen.

p.
  El poder defensivo de los peones aumenta así, ya que no temen
  más capturas (por otros peones).

p.
  Las finales también se ven muy afectadas y, a veces, nuevas amenazas
  ocurren: en el diagrama, 3.Bxg7 gana un peón porque 3...Bxg7 causaría
  la desaparición de los dos alfiles.

figure.diagram-container
  .diagram
    | fen:r1bqkbnr/pp1ppppp/2n5/2p5/8/1P6/PBPPPPPP/RN1QKBNR:
  figcaption Después de 1.b3 c5 2.Bb2 Nc6

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/rules/antimatter-chess") variante Antimateria
  | &nbsp;en chessvariants.com.
