p.boxed
  | La colocación de las piezas está oculto: los jugadores conocen la ubicación
  | de las piezas opuestas pero no su naturaleza.

p.
  Las piezas permanecen ocultas hasta que capturan,
  momento desde el cual se revelan.

p.
  No hay enroque ni captura en passant.
  Sin embargo, los peones pueden avanzar dos espacios si comienzan en el
  primera o segunda fila.

p La victoria se obtiene capturando al rey contrario.

figure.diagram-container
  .diagram
    | fen:qbppnprp/prppbkpn/8/8/8/8/QBPPNPRP/PRPPBKPN:
  figcaption Posible posición inicial.

p.
  Nota sobre la posición inicial: las piezas se distribuyen al azar
  en las dos primeras filas. El rey podría estar en la segunda fila,
  atacado por una torre o dama enemiga. Dicho eso, ya que no tienes
  de esta información es una apuesta arriesgada :)

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/rules/strate-go-chess") variante Strate-Go
  | &nbsp;en chessvariants.com.
