p.boxed
  | La disposition des pièces est cachée : les joueurs connaissent l'emplacement
  | des pièces adverses mais pas leur nature.

p.
  Les pièces restent cachées jusqu'à ce qu'elles effectuent une capture,
  moment à partir duquel elles sont révélées.

p.
  Il n'y a ni roque ni prise en passant.
  Les pions peuvent cependant avancer de deux cases s'ils démarrent sur la
  première ou seconde rangée.

p La victoire s'obtient en capturant le roi adverse.

figure.diagram-container
  .diagram
    | fen:qbppnprp/prppbkpn/8/8/8/8/QBPPNPRP/PRPPBKPN:
  figcaption Possible position initiale.

p Notes
ul
  li L'ordinateur joue pour l'instant totalement au hasard.
  li.
    Les pièces sont réparties au hasard sur les deux premières rangées.
    Le roi pourrait être sur la seconde rangée, attaqué par une tour ou dame ennemie.
    Ceci dit, puisque vous ne disposez pas de cette information c'est un pari risqué :)

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/rules/strate-go-chess") variante Strate-Go
  | &nbsp;sur chessvariants.com.
