p.boxed.
  Capturing pieces absorb the movement abilities of the captured pieces,
  except for pawns and kings.

p.
  When one non-royal piece (not a king or a pawn) captures another piece
  (not a pawn), it acquires the movement abilities of the captured piece.
  A pawn capturing a piece becomes a piece of that kind.

p.
  Three new pieces are likely to appear during the game: from left to right
  the Princess, Empress and Amazon, adding the knight movement abilities
  to the bishop, rook and queen.

figure.showPieces.text-center
  img(src="/images/pieces/Absorption/ws.svg")
  img(src="/images/pieces/Absorption/we.svg")
  img(src="/images/pieces/Absorption/wa.svg")

h3 Source

p
  a(href="https://www.chessvariants.com/play/erf/Absorber.html")
    | Absorption Chess
  | &nbsp;on chessvariants.com.
