p.boxed.
  Las piezas que capturan absorben las capacidades de movimiento de las piezas
  capturadas, a excepción de los peones y reyes.

p.
  Cuando una pieza no real (no un rey o un peón) captura une otra pieza
  (no un peón), adquiere la capacidad de mover como la pieza capturada.
  Un peón que captura una pieza se convierte en una pieza de este tipo.

p.
  Es probable que aparezcan tres piezas nuevas durante el juego:
  de izquierda a derecha la Princesa, la Emperatriz y la Amazona agregando
  la capacidades de movimiento del caballo al alfil, torre y dama.

figure.showPieces.text-center
  img(src="/images/pieces/Absorption/ws.svg")
  img(src="/images/pieces/Absorption/we.svg")
  img(src="/images/pieces/Absorption/wa.svg")

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/play/erf/Absorber.html")
    | variante Absorción
  | &nbsp;en chessvariants.com.
