p.boxed.
  Les pièces capturantes absorbent les capacités de mouvement des pièces
  capturées, sauf concernant les pions et les rois.

p.
  Quand une pièce non royale (pas un roi ou un pion) capture une autre pièce
  (pas un pion), elle acquière les capacités de déplacement de la pièce
  capturée. Un pion capturant une pièce devient une pièce de ce type.

p.
  Trois nouvelles pièces sont susceptibles d'apparaître au cours du jeu : de
  gauche à droite la Princesse, l'Impératrice et l'Amazone, ajoutant les
  capacités de déplacement du cavalier au fou, à la tour et à la dame.

figure.showPieces.text-center
  img(src="/images/pieces/Absorption/ws.svg")
  img(src="/images/pieces/Absorption/we.svg")
  img(src="/images/pieces/Absorption/wa.svg")

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/play/erf/Absorber.html")
    | variante Absorption
  | &nbsp;sur chessvariants.com.
