p.boxed
  | The four middle ranks contain a replica of the initial pièces.
  | The central "king" has no royal status.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppppppp/rnbqcbnr/pppppppp/PPPPPPPP/RNBQCBNR/PPPPPPPP/RNBQKBNR:
  figcaption Deterministic initial position.

p.
  The Commoner (C) at e3 and e6 on the diagram moves like a king,
  but it can be captured as any other piece.

p.
  This variant was suggested by Vincent Rothuis (2020), initially with
  additional kings on e3 and e6 - thus two kings per side.
  I may implement this version as well, but for now I like this one :)
