p.boxed
  | Las cuatro filas centrales contienen una réplica de las piezas originales.
  | El "rey" en el medio no tiene estatus real.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppppppp/rnbqcbnr/pppppppp/PPPPPPPP/RNBQCBNR/PPPPPPPP/RNBQKBNR:
  figcaption Posición inicial determinista.

p.
  El Plebeyo (C) en e3 y e6 en el diagrama se mueve como un rey,
  pero se puede capturar como cualquier otra pieza.

p.
  Esta variante fue sugerida por Vincent Rothuis (2020), recientemente
  con reyes adicionales en e3 y e6, y por lo tanto dos reyes por campamento.
  Puede que también esté implementando esta versión, pero por ahora
  me gusta bastante este :)
