p.boxed
  | Les quatre rangées centrales contiennent une réplique des pièces initiales.
  | Le "roi" au milieu n'a pas de statut royal.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppppppp/rnbqcbnr/pppppppp/PPPPPPPP/RNBQCBNR/PPPPPPPP/RNBQKBNR:
  figcaption Position initiale déterministe.

p.
  Le Roturier (C) en e3 et e6 sur le diagramme se déplace comme un roi,
  mais il peut être capturé comme n'importe quelle autre pièce.

p.
  Cette variante a été suggérée par Vincent Rothuis (2020), initialement
  avec des rois supplémentaires en e3 et e6 - et donc deux rois par camp.
  Il se peut que j'implémente cette version aussi, mais pour l'instant
  j'aime assez celle-ci :)
