p.boxed
  | Kings move like knights, and knights move like kings.

p
  a(href="/#/variants/Knightmate1") Knightmate1
  | , with two kings (moving like knights) and without castling.

p.
  As long as a side has two kings, they are considered like non-royal pieces
  and one can be captured. Then, the remaining king is royal.

figure.diagram-container
  .diagram
    | fen:r6r/1pp1qpp1/p1pcbk1p/2b1p1K1/4P3/2KPBP2/PPPQC1PP/R6R:
  figcaption g5 king is mated, but the game is not over.

p.
  Checkmating both kings at the same time also counts as a win:
  if both are under attacks, you must remove at least one attack.
