p.boxed
  | Los reyes se mueven como caballos y los caballos como reyes.

p
  a(href="/#/variants/Knightmate1") Knightmate1
  | , con dos reyes (muevense como caballos) y sin enroque.

p.
  Siempre que un lado tenga sus dos reyes, se consideran piezas normales:
  se puede capturar uno de los dos. Entonces el rey restante
  tiene estatus real.

figure.diagram-container
  .diagram
    | fen:r6r/1pp1qpp1/p1pcbk1p/2b1p1K1/4P3/2KPBP2/PPPQC1PP/R6R:
  figcaption El rey g5 está atrapado, pero el juego continúa.

p.
  Matar a ambos reyes al mismo tiempo también gana:
  si ambos son atacados, debes reprimir al menos un ataque.
