p.boxed
  | Les rois se déplacent comme des cavaliers, et les cavaliers comme des rois.

p
  a(href="/#/variants/Knightmate1") Knightmate1
  | , avec deux rois (aux déplacements cavaliers) et sans roque.

p.
  Tant qu'un camp a ses deux rois, ils sont considérés comme des pièces
  normales : l'un des deux peut être capturé. Ensuite, le roi restant
  a un statut royal.

figure.diagram-container
  .diagram
    | fen:r6r/1pp1qpp1/p1pcbk1p/2b1p1K1/4P3/2KPBP2/PPPQC1PP/R6R:
  figcaption Le roi g5 est maté, mais la partie continue.

p.
  Mater les deux rois en même temps gagne également :
  si les deux sont attaqués, vous devez supprimez au moins une attaque.
