p.boxed.
  10x10 board with four extra corners and two new piece.
  Orthodox rules with a few exceptions.

figure.diagram-container
  .diagram
    | fen:wxxxxxxxxxxw/xcrnbqkbnrcx/xppppppppppx/x91x/x91x/x91x/x91x/x91x/x91x/xPPPPPPPPPPx/xCRNBQKBNRCx/WxxxxxxxxxxW:
  figcaption Initial deterministic position

p.
  The board is unusually shaped: it's a 10x10 square with four extra corners
  added. This open new tactical possibilites: a king can hide there for
  example.

p There are two new pieces in the corner and on the first rank:
ul
  li Champion (C) = dabbabah + alfil + wazir,
  li Wizard (W) = camel + ferz.
p.
  Since the pieces mentioned to describe champion and wizard's movements might
  be unknown, here is how they move:

figure.diagram-container
  .diagram.diag12
    | fen:1xxxxxxxxxx1/x91x/x91x/x91x/x91x/x91x/x4C5x/x91x/x91x/x91x/x91x/1xxxxxxxxxx1 d8,f8,h8,f7,d6,e6,g6,h6,f5,d4,f4,h4:
  .diagram.diag22
    | fen:1xxxxxxxxxx1/x91x/x91x/x91x/x91x/x4W5x/x91x/x91x/x91x/x91x/x91x/1xxxxxxxxxx1 e10,g10,c8,i8,c6,i6,e4,g4,e8,g8,e6,g6:
  figcaption Left: movements of the champion. Right: movements of the wizard.

p.
  The pawns behave as in orthodox chess, with a possible initial two or three
  squares jump. They promote in any piece.
  Castling is permitted: the king moves two squares to the right for a small
  castle or to the left for a large castle.

h3 Source

p
  | The 
  a(href="https://omegachess.com/") official website
  | , which has a 
  a(href="http://www.omegachess.ru/omega/") playing area
  | , although the Omega chess team purpose is seemingly to develop the game
  | with real board and pieces - which they sell on the website. See also the 
  a(href="https://en.wikipedia.org/wiki/Omega_Chess") Wikipedia page
  | .

p Inventor: Daniel MacDonald (1995)
