p.boxed
  | Pas de captures.
  | Les pièces attaquées insuffisamment défendues changent de couleur.

p.
  Une conversion a lieu quand la persuasion totale est plus forte que le
  soutien. Les pièces persuadent les autres selon leur déplacements d'attaque.
  Les pièces adverses persuadent, les amies soutiennent.

p.
  Sur le diagramme suivant par exemple, 1.Nf5 attaque g7.
  Puisque le fou n'est pas défendu, il devient blanc. De même pour le pion e7.
  Ensuite, la tour f8 est convertie. Cela permet de convertir à la fois le
  cavalier en d8 et le fou en g8. Finalement les pions f7 et h7 sont attaqués
  et donc changent de couleur.

figure.diagram-container
  .diagram.diag12
    | fen:rkqn1rb1/ppppppbp/P7/1n4p1/8/4N3/1PPPPPPP/RNK1BBQR:
  .diagram.diag22
    | fen:rkqN1RB1/ppppPPBP/P7/1n3Np1/8/8/1PPPPPPP/RNK1BBQR:
  figcaption Avant et après 1.Nf5

p.
  La partie se termine quand un roi est converti, et aucun roi ne peut être
  converti au tour suivant. Notez que les rois peuvent être échangés, comme sur
  le diagramme suivant : 1...g6 ramènerait le roi noir à sa couleur initiale
  en e7, mais 1...Nb6 est possible également, convertissant le roi blanc en
  a4 en noir.

figure.diagram-container
  .diagram.diag12
    | fen:nbr1b1qr/ppppKppp/7n/4pN2/K3P3/P7/QPPP1PPP/B1R1RBN1:
  .diagram.diag22
    | fen:1br1b1qr/ppppKppp/1n5n/4pN2/k3P3/P7/QPPP1PPP/B1R1RBN1:
  figcaption Avant et après 1...Nb6

p.
  Sur cette dernière illustration, aucun roi ne peut être converti au tour
  suivant : les blancs gagnent.

figure.diagram-container
  .diagram.diag12
    | fen:1rknn1br/p1pp1p1p/3bp1p1/1p1q2n1/5p2/2P4B/pP1PP1PP/B1RKR1QN:
  .diagram.diag22
    | fen:1RKNN1br/P1PP1p1p/1Q1Bp1p1/1P1q2n1/5P2/2P4B/pP1PP1PP/B1RKR2N:
  figcaption Avant et après 1.Qb6#

p Notes :
ul
  li.
    Les pièces peuvent persuader ou soutenir à travers d'autres pièces amies.
    Par exemple, tours et dames sur une même orthogonale ou fous et dames
    sur une même diagonale.
  li.
    Le pion n'a pas le droit de passer par une case sur-persuadée lors de sa
    double avancée initiale.
  li.
    Un roi peut aller sur des cases persuadées, tant que le niveau de
    persuasion n'excède pas le nombre de soutiens.

h3 Source

p
  | Adapté depuis 
  a(href="https://www.chessvariants.com/rules/pacifist-chess") Pacifist Chess
  | &nbsp;sur chessvariants.com.

p Inventeur : Larry L. Smith (2007)
