p.boxed
  | Capture your own pieces to fusion their power.

p
  | Capturing a rook, knight, bishop or queen of your color with a piece
  | from this list but of a different nature is allowed.
  | The result adds up the pieces' abilities, as in 
  a(href="/#/variants/Absorption") Absorption
  | &nbsp;variant.

p This was suggested by Vincent Rothuis in 2020.
