p.boxed
  | Capturez vos propres pièces pour fusionner leurs pouvoirs.

p
  | Vous pouvez capturer une tour, un cavalier, un fou ou une dame de votre
  | couleur avec une pièce de cette liste mais de nature différente.
  | Le résultat somme les déplacements des pièces, comme dans la variante 
  a(href="/#/variants/Absorption") Absorption
  | .

p Ceci a été suggéré par Vincent Rothuis en 2020.
