p.boxed
  | Una pieza 'A' captura una pieza opuesta 'B' si y solo si
  | B puede tomar A en el sentido habitual.

figure.diagram-container
  .diagram
    | fen:r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R:
  figcaption.
    Después de 3.Bb5?? las negras pueden jugar 3...Nxb5 o 3...e5xf3 por ejemplo

h3 Fin de la partida

p De acuerdo con las reglas, el rey captura las piezas que lo atacan.

figure.diagram-container
  .diagram
    | fen:8/8/8/3r1k2/8/8/3K4/8:
  figcaption El rey blanco puede tomar la torre

p.
  Sin embargo, y esta es la única excepción: el rey es atacado en el sentido
  del ajedrez ortodoxo.

figure.diagram-container
  .diagram
    | fen:r7/2n5/1q6/5k2/8/8/K7/8:
  figcaption.
    El rey no puede tomar a8, casilla custodiada por el caballo: es jaque mate

h3 Fuente

p
  | Muy poca información en la web sobre esta variante: he encontrado 
  a(href="http://play.chessvariants.org/erf/ZenChess.html") esta página
  | &nbsp;y 
  a(href="http://www.pathguy.com/chess/ZenChess.htm") este
  | .
