p.boxed
  | Une pièce 'A' capture une pièce adverse 'B' si et seulement si
  | B peut prendre A au sens habituel.

figure.diagram-container
  .diagram
    | fen:r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R:
  figcaption.
    Après 3.Bb5?? les noirs peuvent jouer 3...Nxb5 ou 3...e5xf3 par exemple

h3 Fin de la partie

p Conformément aux règles, le roi capture les pièces qui l'attaquent.

figure.diagram-container
  .diagram
    | fen:8/8/8/3r1k2/8/8/3K4/8:
  figcaption Le roi blanc peut prendre la tour

p.
  Cependant, et c'est la seule exception : le roi est attaqué au sens des
  échecs orthodoxes.

figure.diagram-container
  .diagram
    | fen:r7/2n5/1q6/5k2/8/8/K7/8:
  figcaption.
    Le roi ne peut prendre en a8, case gardée par le cavalier : c'est mat

h3 Source

p
  | Très peu d'informations sur le web à propos de cette variante :
  | j'ai trouvé 
  a(href="http://play.chessvariants.org/erf/ZenChess.html") cette page
  | &nbsp;et 
  a(href="http://www.pathguy.com/chess/ZenChess.htm") celle-ci
  | .
