p.boxed
  | Gana dando tres jaques (o un solo jaque mate).

p.
  Se aplican las reglas ortodoxas, pero dar tres jaques gana
  la partida. Es más fácil que de matar, entonces la mayoría de las
  partidas deberían terminar así.

p.
  En la posición del diagrama, 2.Bb5+ c6 3.Bxc6+ es un excelente sacrificio,
  porque ahora un solo jaque garantizará la victoria de las blancas.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/ppp1pppp/3p4/8/4P3/8/PPPP1PPP/RNBQKBNR:
  figcaption.
    Despues de las jugadas 1.e4 d6??

h3 Fuente

p
  | Es una variante antigua, jugable en varios lugares, incluyendo
  a(href="https://lichess.org/variant/threeCheck") lichess
  | .
