p.boxed
  | Gagnez en donnant trois échecs (ou un seul échec et mat).

p.
  Les règles orthodoxes s'appliquent, mais donner trois échecs fait gagner
  la partie. C'est plus facile que de mater,
  donc la plupart des parties devraient s'achever ainsi.

p.
  Dans la position du diagramme, 2.Bb5+ c6 3.Bxc6+ est un excellent sacrifice
  car maintenant un unique échec assurera la victoire aux blancs.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/ppp1pppp/3p4/8/4P3/8/PPPP1PPP/RNBQKBNR:
  figcaption.
    Après les coups 1.e4 d6??

h3 Source

p
  | C'est une vieille variante, jouable à plusieurs endroits dont 
  a(href="https://lichess.org/variant/threeCheck") lichess
  | .
