p.boxed
  | Pieces don't capture but can kick a ball.
  | The object of the game is to send the ball into the enemy goal.

p.
  At each turn, a player can first make a normal (non capturing) move.
  If none of his pieces are adjacent to the ball, such move is mandatory.
  But, if any of his pieces stand next to the ball he may then or right
  away kick it, if the line piece <--> ball is compatible
  with the piece's movement.

p.
  To play a kick, click on the ball and then on the desired square.
  The knight send the ball at any knight-step away from its initial position,
  except on squares adjacent to the knight.
  However, when the ball is in a corner an exception to this rule is allowed:
  on the following diagram "kick from g1 to h3" is allowed".

figure.diagram-container
  .diagram.diag12
    | fen:3q1k1br/r7R/2n2n3/3Q5/6b2/9/9/7N1/RNB2K1Ba:
  .diagram.diag22
    | fen:3q1k1br/r7R/2n2n3/3Q5/6b2/9/7a1/7N1/RNB2K1B1:
  figcaption Before and after (kick) g1-h3

h4 Some restrictions.

p.
  To avoid infinite cycles, each piece can kick the ball at most
  once during a turn.

p Pieces cannot stand in any goal square.

p The ball may never reach or cross the goal horizontally.

p No score at first move (possible in some 960 configurations).

h4 Complete a move on the interface.

p.
  If at the end of an initial or intermediate move one of your pieces is
  adjacent to the ball, you'll need to "capture" any of your pieces
  with the ball to indicate that the move is over.

p.
  Note: bishops stuck in the corner have the extra option
  to jump over the obstacle. Useful in some randomized setups.

h3 More information

p
  | See the 
  a(href="https://www.chessvariants.com/crossover.dir/football.html")
    | chessvariants page
  | , for example, and also the 
  a(href="https://www.jsbeasley.co.uk/encyc.htm")
    | Classified Encyclopedia of Chess Variants
  | .

p Inventor: Joseph Boyer (1951)
