p.boxed
  | Las piezas no capturan pero pueden golpear una bola.
  | El objetivo del juego es enviar el balón a la portería contraria.

p.
  En cada ronda, un jugador puede realizar primero un movimiento normal
  (sin captura). Si ninguna de sus piezas está al lado de la bola, tal
  movimiento es obligatorio.
  Pero, si una de sus piezas toque la pelota, entonces puede golpearla
  después de un desplazamiento inicial o inmediatamente, siempre que la línea
  pieza <--> globo sea compatible con los movimientos de la pieza.

p.
  Para mover la bola, haga clic en ella y luego en la casilla de llegada.
  El caballo puede enviar la pelota a cualquier casilla dentro
  distancia del saltador desde la posición inicial del balón, excepto en las
  casillas adyacentes al caballo.
  Sin embargo, cuando la pelota está en una esquina permitimos una excepción
  a esto regla: en el siguiente diagrama, el caballo puede enviar la pelota
  de g1 a h3 por ejemplo.

figure.diagram-container
  .diagram.diag12
    | fen:3q1k1br/r7R/2n2n3/3Q5/6b2/9/9/7N1/RNB2K1Ba:
  .diagram.diag22
    | fen:3q1k1br/r7R/2n2n3/3Q5/6b2/9/7a1/7N1/RNB2K1B1:
  figcaption Antes y después del golpe g1-h3

h4 Algunas restricciones

p.
  Para evitar ciclos interminables, cada pieza puede golpear la pelota
  como máximo una vez durante un turno.

p Ninguna pieza puede estar en una casilla portería.

p El balón nunca puede alcanzar o cruzar la portería horizontalmente.

p Ningún gol en la primera jugada (posible en algunas configuraciones 960).

h4 Completa una jugada en la interfaz.

p.
  Si al final de un movimiento inicial o intermedio una de tus piezas es al
  lado de la bola, entonces tienes que "capturar" una de tus piezas con la
  bola para indicar el final de la ronda.

p.
  Nota: un alfil atrapado en una esquina tiene una opción adicional,
  para saltar el obstáculo. Requerido para algunas posiciones iniciales
  aleatorias.

h3 Más información

p
  | Ver la 
  a(href="https://www.chessvariants.com/crossover.dir/football.html")
    | página chessvariants.com
  | , por ejemplo, y también la 
  a(href="https://www.jsbeasley.co.uk/encyc.htm")
    | Classified Encyclopedia of Chess Variants
  | .

p Inventor: Joseph Boyer (1951)
