p.boxed
  | After a synchronous turn, each player may capture the moving
  | opponent's piece if it is on a square previously attacked.

p
  | Everything goes as in 
  a(href="/#/variants/Synchrone1") Synchrone1
  | &nbsp;variant, but after each pair of synchronous moves (resolving as
  | usual), both players may decide to capture the enemy unit just moved.
  | The capturing move must be legal according to the previous board situation.
  | If you would rather (or cannot) achieve such a capture, pass by playing
  | any of your piece onto your king, or your king on the enemy king.

p.
  Because of the added capturing turn, there are no anticipated recaptures.
  In this version, there are also no en-passant captures.

h3 More information

p
  | This variant is described on 
  a(href="http://www.hexenspiel.de/engl/synchronous-chess/") this page
  | .

p Inventors: Ralf Hansmann, Arnold J. Krasowsky, Andrey Krasowsky.
