p.boxed
  | Después de un turno sincrónico, cada jugador puede capturar opcionalmente
  | la pieza del oponente se ha movido, si está en
  | una casilla previamente atacada

p
  | Todo va como en la variante 
  a(href="/#/variants/Synchrone1") Synchrone1
  | , pero después de cada par de movimientos sincrónicos (resueltos como de
  | costumbre), ambos jugadores pueden decidir capturar la pieza enemiga
  | acaba de moverse. La jugada de captura debe ser legal dependiendo de la
  | situación anterior en el tablero. Si prefiere (o no puede) realizar
  | tal captura, pasa tocando cualquiera de tus piezas
  | a tu rey, o del rey al rey contrario.

p.
  No hay capturas tempranas, ya que la ronda intermedia se llena
  este papel. En esta versión tampoco existen capturas en passant.

h3 Más información

p
  | Esta variante se describe en 
  a(href="http://www.hexenspiel.de/engl/synchronous-chess/") esta página
  | .

p Inventores: Ralf Hansmann, Arnold J. Krasowsky, Andrey Krasowsky.
