p.boxed
  | Après un tour synchrone, chaque joueur peut éventuellement capturer la
  | pièce adverse s'étant déplacée, si elle se trouve sur
  | une case attaquée précédemment

p
  | Tout se déroule comme dans la variante 
  a(href="/#/variants/Synchrone1") Synchrone1
  | , mais après chaque paire de coups synchrones (résolus comme d'habitude),
  | les deux joueurs peuvent décider de capturer la pièce ennemie juste
  | déplacée. Le coup capturant doit être légal selon la situation
  | précédente sur l'échiquier. Si vous préférez (ou ne pouvez pas) effectuer
  | une telle capture, passez en jouant n'importe laquelle de votre pièce
  | vers votre roi, ou le roi vers le roi adverse.

p.
  Il n'y a pas de re-captures anticipée, puisque le tour intermédiaire remplit
  ce rôle. Dans cette version, les prises en passant n'existent pas non plus.

h3 Plus d'information

p
  | Cette variante est décrite sur 
  a(href="http://www.hexenspiel.de/engl/synchronous-chess/") cette page
  | .

p Inventeurs : Ralf Hansmann, Arnold J. Krasowsky, Andrey Krasowsky.
