p.boxed
  | Cross the board with as many pawns as possible.

figure.diagram-container
  .diagram
    | fen:1n4n1/8/8/8/8/8/PPPPPPPP/8:
  figcaption Initial position

p.
  The story is that 8 teenagers (pawns) want to go to a disco but they have to
  pass 2 security guards (knights). The objective is to get as many pawns to
  the other side as possible.
  Once a pawn has reached the end it cannot be captured.

p No winning condition: play two games and sum pawns on eighth rank.

h3 Source

p
  a(href="https://chessplus.net/interactive-games/")
    | Disco Duel
  | &nbsp;on chessplus.net.
