p.boxed
  | Cruza el tablero con tantos peones como sea posible.

figure.diagram-container
  .diagram
    | fen:1n4n1/8/8/8/8/8/PPPPPPPP/8:
  figcaption Posición inicial

p.
  Según la historia, 8 adolescentes (peones) quieren ir al fiesta, pero ellos
  debe evitar a los dos guardias (caballos). El objetivo es traer un
  número máximo de peones en la última fila.

p.
  Sin condiciones de victoria:
  juega dos partidas y agrega los peones en la octava fila.

h3 Fuente

p
  a(href="https://chessplus.net/interactive-games/")
    | Disco Duel
  | &nbsp;en chessplus.net.
