p.boxed
  | Traversez l'échiquier avec autant de pions que possible.

figure.diagram-container
  .diagram
    | fen:1n4n1/8/8/8/8/8/PPPPPPPP/8:
  figcaption Position initiale

p.
  Selon l'histoire, 8 adolescents (les pions) veulent aller en boîte, mais ils
  doivent éviter les deux vigiles (cavaliers). L'objectif est d'amener un
  maximum de pions sur la dernière rangée.

p.
  Pas de conditions de victoire :
  jouez deux parties et sommez les pions sur la huitième rangée.

h3 Source

p
  a(href="https://chessplus.net/interactive-games/")
    | Disco Duel
  | &nbsp;sur chessplus.net.
