#main-title
  font-style: italic
  background: linear-gradient(#e66465, #9198e5)
  margin-top: 0
  margin-left: 0
  margin-right: 0
  img
    height: 30px
  span
    padding-left: 10px
    padding-right: 15px

// TODO: box-shadow or box-sizeing ?
//https://stackoverflow.com/questions/9601357/placing-border-inside-of-div-and-not-on-its-edge
.variant
  box-sizing: border-box
  border: 1px solid brown
  background-color: lightyellow
  a
    color: #663300
  .boxtitle
    font-weight: bold

#needHelp
  cursor: pointer

#readThis
  color: blue
  text-decoration: underline
  cursor: pointer

#b4welcome
  max-width: 320px

#welcome
  max-width: 90vw
  @media screen and (max-width: 767px)
    max-width: 100vw
  ul
    list-style-type: none
  // TODO: bad practice, use table to align things...
  table.list-table
    width: 300px
    margin: 0 auto
    border: 0
    tbody
      border: 0
      tr
        border: 0
        margin: 0
        padding: 0
        td
          padding: 0
          text-align: left
          border: 0
  #disableMsg
    cursor: pointer
    color: darkred
