.boxtitle
  font-weight: bold

.variant
  color: black
  margin-top: 20px
  a
    color: #663300

.help
  cursor: pointer

.card > h3.section.blue
  color: #0033cc

.card > h3.section.red
  color: #cc3300

#welcome, #help
  max-height: 100vh
  max-width: 90vw

.conditional-jump
  display: block

@media screen and (max-width: 710px)
  .conditional-jump
    display: inline

@media screen and (max-width: 400px)
  #welcome, #help
    max-width: 100vw

#welcome ul
  list-style-type: none

#welcome ul > li
  font-family: monospace

table.list-table
  width: 300px
  margin: 0 auto
  border: 0
  tbody
    border: 0
    tr
      border: 0
      margin: 0
      padding: 0
      td
        padding: 0
        text-align: left
        border: 0
