.container#variantPage
  padding: 0

@media screen and (max-width: 767px)
  .col-sm-12
    padding: 0
  h4
    margin: 0 0 10px 0
  p
    margin-left: 0
    margin-right: 0
    padding: 0 3px

//TODO: taille modal au cas par cas. standard == 767. Can be larger (welcome, fen...)

.warn
  padding: 3px
  color: red
  background-color: lightgrey
  font-weight: bold

button.playing
  background-color: #ffcc99
  :hover
    background-color: #ffcc99

button.seek
  background-color: #cc99ff
  :hover
    background-color: #cc99ff

figure.diagram-container
  margin: 15px 0 15px 0
  text-align: center
  width: 100%
  display: block
  .diagram
    display: block
    width: 40%
    //min-width: 300px
    max-width: 800px
    margin-left: auto
    margin-right: auto
  .diag12
    float: left
    margin-left: calc(10% - 20px)
    margin-right: 40px
    @media screen and (max-width: 500px)
      float: none
      margin: 0 auto 10px auto
  .diag22
    float: left
    margin-right: calc(10% - 20px)
    @media screen and (max-width: 500px)
      float: none
      margin: 0 auto
  figcaption
    display: block
    clear: both
    padding-top: 5px

.topindicator
  position: relative
  border: 1px solid brown

.indic-left
  float: left
  margin: 0 0 10px 20px

.indic-right
  float: right
  margin: 0 20px 10px 0

.spaceleft
  margin-left: 30px

.reserve-count
  padding-left: 40%

.reserve-div
  margin-bottom: 20px

.reserve-row-1
  margin-bottom: 15px

.connected
  background-color: green

.disconnected
  background-color: red

.settings-btn
  padding: 6px 7px 0 7px

.settings-btn-small
  padding: 0 3px

.white-turn
  background-color: white

.black-turn
  background-color: black

div.board
  float: left
  height: 0
  display: inline-block
  position: relative

div.board8
  width: 12.5%
  padding-bottom: 12.5%

div.board10
  width: 10%
  padding-bottom: 10%

div.board11
  width: 9.09%
  padding-bottom: 9.1%

.game
  clear: both
  .board
    cursor: pointer

#choices
  margin: 0 auto 0 auto
  position: relative
  z-index: 300
  overflow-y: inherit
  background-color: rgba(0,0,0,0) //transparent
  img
    cursor: pointer
    background-color: #e6ee9c
    :hover
      background-color: skyblue
    .choice-piece
      width: 90%
      max-width: 100%
      height: auto
      display: block

img.piece, img.mark-square
  max-width: 100%
  height: auto
  display: block

img.mark-square
  opacity: 0.6

img.ghost
  position: absolute
  opacity: 0.4
  top: 0

img.piece
  width: 100%

img.mark-square
  width: 76%
  position: absolute
  top: 12%
  left: 12%
  opacity: .7

.highlight
  background-color: #00cc66 !important

.incheck
  background-color: #cc3300 !important

.light-square.lichess
  background-color: #f0d9b5;
.dark-square.lichess
  background-color: #b58863;
.light-square.chesscom
  background-color: #e5e5ca;
.dark-square.chesscom
  background-color: #6f8f57;
.light-square.chesstempo
  background-color: #fdfdfd;
.dark-square.chesstempo
  background-color: #88a0a8;

.light-square-diag
  background-color: #e5e5ca
.dark-square-diag
  background-color: #6f8f57

p.boxed
  background-color: #FFCC66
  padding: 5px

.stageDelimiter
  color: purple

// To show (new) pieces, and/or there values...
figure.showPieces > img
  width: 50px

figure.showPieces > figcaption
  color: #6C6C6C

.section-title
  padding: 0

.section-title > h4
  padding: 5px

.section-content
  padding: 0 5px

ol, ul:not(.browser-default)
  padding-left: 20px

ul:not(.browser-default)
  margin-top: 5px

ul:not(.browser-default) > li
  list-style-type: disc

.variantpage-title
  font-weight: bold
  cursor: pointer
  padding: 3px
  margin-left: 0
  margin-right: 0
  background-color: lightgrey

#fen-string
  margin-top: 0

#pgn-game
  margin-top: 0
  margin-bottom: 0

#downloadBtn
  display: block
  margin-left: auto
  margin-right: auto

#pgn-div > a
  display: none

#fen-div > p
  margin-left: 0
  margin-right: 0

.newproblem-form input, .newproblem-form textarea
  width: 100%

.emphasis
  font-style: italic

#newpbInstructions
  margin-bottom: var(--universal-margin);

.center-btn
  margin-left: 40%

//TODO?
.center-inline
  text-align: center
.center-block
  margin-left: auto
  margin-right: auto

.mistake-newproblem
  color: #663300

#problem-solution
  display: none

.topspace
  margin-top: 15px

.problem
  cursor: pointer
  margin-bottom: 15px

#solution-div h3
  cursor: pointer

.newproblem-form, .newproblem-preview
  max-width: 90%

.clickable
  cursor: pointer

.name-connected
  color: green

.name-disconnected
  color: red

.clearer
  clear: both

.my-chatmsg
  color: black

.opp-chatmsg
  color: blue
