p.boxed
  | Any piece guarded by a friendly knight can also move like a knight.

p.
  In addition to its normal abilities, a piece guarded by a knight can move
  like him. On the following diagram, 1.Nf4 would checkmate because it guard
  the g6 queen. If it is black to play, then 1...Rxe2 is forbidden because of
  the knight immunity exception. Exceptions to the orthodox rules are the
  following:

ul
  li Knights cannot capture or be captured.
  li Kings cannot be knight-relayed.
  li Pawns cannot give check on last rank or promote with knight-relay.

p These oddities excepted, orthodox rules apply.

figure.diagram-container
  .diagram
    | fen:7k/8/6Q1/1n6/8/2r5/4N3/K7:

h3 Source

p
  | These are the original N-relay or Knight-relay rules, described for
  | example 
  a(href="https://www.chessvariants.com/diffmove.dir/nrelay.html") on this page
  | . See also Knightrelay2.

p Inventor: Mannis Charosh (1972)
