p.boxed
  | Cualquier parte protegida por un caballo también puede moverse como un caballo.

p.
  Además de sus capacidades normales, una pieza defendida por un caballo puede
  muévete como él.
  En el siguiente diagrama, 1.Nf4 sería jaque mate porque protege a la dama en g6.
  Si son las negras para jugar, entonces 1...Rxe2 es posible gracias al caballo c8.

  Si son las negras para jugar, entonces 1...Txe2 está prohibido debido a
  excepción de la inmunidad del caballo. Las excepciones a las reglas
  ortodoxas son las siguientes:

ul
  li Los caballos no pueden capturar ni ser capturados.
  li Los reyes no pueden ser retransmitidos por un caballo.
  li.
    Los peones no dan jaque en la última fila ni se promocionan
    por relevo de caballo.

figure.diagram-container
  .diagram
    | fen:7k/8/6Q1/1n6/8/2r5/4N3/K7:

p Salvo estas rarezas, se aplican las reglas ortodoxas.

h3 Fuente

p
  | Esta es la regla de origen de N-relay o Knight-relay, descrita por ejemplo
  a(href="https://www.chessvariants.com/diffmove.dir/nrelay.html") en esta página
  | . Ver también Knightrelay2.

p Inventor: Mannis Charosh (1972)
