p.boxed
  | Toute pièce protégée par un cavalier peut aussi se déplacer comme un
  | cavalier.

p.
  En plus de ses capacités normales, une pièce défendue par un cavalier peut se
  déplacer comme lui.
  Sur le diagramme suivant, 1.Nf4 ferait mat car il protège la dame en g6.
  Si c'est aux noirs de jouer, alors 1...Txe2 est interdit à cause de
  l'exception d'immunité du cavalier.
  Les exceptions aux règles orthodoxes sont les suivantes :

ul
  li Les cavaliers ne peuvent capturer ou être capturés.
  li Les rois ne peuvent pas être relayés par un cavalier.
  li.
    Les pions ne donnent pas échec sur la dernière rangée ni se promeuvent
    par relais de cavalier.

figure.diagram-container
  .diagram
    | fen:7k/8/6Q1/1n6/8/2r5/4N3/K7:

p Ces bizarreries exceptées, les règles orthodoxes s'appliquent.

h3 Source

p
  | Il s'agit de la règle d'origine du N-relay ou Knight-relay, décrite par
  | exemple 
  a(href="https://www.chessvariants.com/diffmove.dir/nrelay.html")
    | sur cette page
  | . Voir aussi Knightrelay2.

p Inventeur : Mannis Charosh (1972)
