p.boxed
  | Two new pieces on a bigger board (10x10).

p.
  The rules are essentially the same as orthodox chess, but with two new
  pieces, the elephant and cannon. Because of the 10x10 board, pawns promote
  at the 10th rank, into any piece.

figure.diagram-container
  .diagram.diag12
    | fen:91/91/91/3b6/4E5/3N6/2p3P3/91/91/91 c4,c8,d7,f5,f7,g8:
  .diagram.diag22
    | fen:91/91/91/91/1P2CB2p1/91/4p5/91/91/4n5 c6,d6,e7,e8,e9,e10,e5,e1,i6:
  figcaption Left: moves of the elephant. Right: moves of the cannon.

p.
  The elephant moves by one or two squares diagonally, potentially jumping
  over a piece. The cannon moves like a rook but captures by jumping first
  over an obstacle, as the diagram illustrates. After such a jump the cannon
  can only capture (no normal moves).

h3 Source

p
  a(href="https://www.chessvariants.com/large.dir/shako.html") Shako
  | &nbsp;on chessvariants.com.
  | This variant is also playable 
  a(href="https://www.pychess.org/variant/shako") on pychess-variants
  | .

p Inventor: Jean-Louis Cazaux (1990)
