p.boxed
  | Dos piezas nuevas en un tablero más grande (10x10).

p.
  Las reglas son esencialmente las mismas que para el ajedrez ortodoxo, pero
  con dos piezas nuevas, el elefante y el cañón. El tablero de ajedrez tiene
  10 filas: los peones se promocionan en el décimo, en cualquier pieza.

figure.diagram-container
  .diagram.diag12
    | fen:91/91/91/3b6/4E5/3N6/2p3P3/91/91/91 c4,c8,d7,f5,f7,g8:
  .diagram.diag22
    | fen:91/91/91/91/1P2CB2p1/91/4p5/91/91/4n5 c6,d6,e7,e8,e9,e10,e5,e1,i6:
  figcaption.
    Izquierda: movimientos del elefante. Derecha: movimientos del cañón.

p.
  El elefante mueve una o dos casillas en diagonal, saltando
  posiblemente sobre una pieza. El cañón se mueve como una torre pero
  capturar saltando primero sobre un obstáculo, como se ilustra en el
  diagrama. Después de tal salto, el cañón solo puede capturar
  (no jugadas normales).

h3 Fuente

p
  a(href="https://www.chessvariants.com/large.dir/shako.html") Shako
  | &nbsp;en chessvariants.com.
  | Esta variante también es jugable 
  a(href="https://www.pychess.org/variant/shako") en pychess-variants
  | .

p Inventor: Jean-Louis Cazaux (1990)
