p.boxed
  | Deux nouvelles pièces sur un plus grand échiquier (10x10).

p.
  Les règles sont essentiellement les mêmes qu'aux échecs orthodoxes, mais
  avec deux nouvelles pièces, l'éléphant et le canon. L'échiquier ayant 10
  rangées, les pions sont promus sur la 10eme, en n'importe quelle pièce.

figure.diagram-container
  .diagram.diag12
    | fen:91/91/91/3b6/4E5/3N6/2p3P3/91/91/91 c4,c8,d7,f5,f7,g8:
  .diagram.diag22
    | fen:91/91/91/91/1P2CB2p1/91/4p5/91/91/4n5 c6,d6,e7,e8,e9,e10,e5,e1,i6:
  figcaption Gauche : coups de l'éléphant. Droite : coups du canon.

p.
  L'éléphant se déplace d'une ou deux cases en diagonale, sautant
  éventuellement par dessus une pièce. Le canon se déplace comme une tour mais
  capture en sautant d'abord par dessus un obstacle, comme illustré sur le
  diagramme. Après un tel saut le canon ne peut que capturer
  (pas de coups normaux).

h3 Source

p
  a(href="https://www.chessvariants.com/large.dir/shako.html") Shako
  | &nbsp;sur chessvariants.com.
  | Cette variante est également jouable 
  a(href="https://www.pychess.org/variant/shako") sur pychess-variants
  | .

p Inventeur : Jean-Louis Cazaux (1990)
