p.boxed
  | All pieces can promote. Captured units can be dropped later.
  | 10x8 board. Some new pieces.

figure.diagram-container
  .diagram
    | fen:rnbqkmcbnr/pppppppppp/91/91/91/91/PPPPPPPPPP/RNBQKMCBNR:
  figcaption Initial deterministic position.

p
  a(href="/#/variants/Pandemonium1") Pandemonium1
  | &nbsp;on a 10x8 board.
  | Pawns move as in orthodox chess, and promotions
  | occur only on the final rank.
