p.boxed
  | Todas las piezas pueden promocionarse. Las unidades capturadas son
  | en paracaídas más tarde. Tablero de ajedrez 10x8. Algunas piezas nuevas.

figure.diagram-container
  .diagram
    | fen:rnbqkmcbnr/pppppppppp/91/91/91/91/PPPPPPPPPP/RNBQKMCBNR:
  figcaption Posición inicial determinista.

p
  a(href="/#/variants/Pandemonium1") Pandemonium1
  | &nbsp;en un tablero 10x8.
  | Los peones se mueven como en el ajedrez ortodoxo,
  | y las promociones solo ocurren en la última fila.
