p.boxed
  | Toutes les pièces peuvent être promues. Les unités capturées sont
  | parachutées plus tard. Échiquier 10x8. Quelques nouvelles pièces.

figure.diagram-container
  .diagram
    | fen:rnbqkmcbnr/pppppppppp/91/91/91/91/PPPPPPPPPP/RNBQKMCBNR:
  figcaption Position initiale déterministe.

p
  a(href="/#/variants/Pandemonium1") Pandemonium1
  | &nbsp;sur un échiquier 10x8.
  | Les pions se déplacent comme aux échecs orthodoxes,
  | et les promotions ne surviennent que sur la dernière rangée.
