p.boxed
	Chaque capture engendre une "explosion" faisant disparaître toutes les
	pièces avoisinantes - sauf les pions.

p.
	Quand une pièce P capture un ennemi sur la case C, toutes les pièces situées
	sur des cases atteignables en un coup de roi depuis C disparaissent, y
	compris P elle-même.
	Les pions subsistent toutefois : ils doivent être capturés directement.

p.
	Le suicide est interdit. Ainsi, le roi peut toucher le roi adverse et
	devenir invulnérable aux échecs, comme sur le diagramme suivant : 1.Rxf5
	est impossible.

figure.diagram-container
	.diagram.diag12
		| fen:rnb5/pp4pp/2p5/N4pK1/3P2k1/8/PP4PP/5R2 a5,b7:
	.diagram.diag22
		| fen:8/p5pp/2p5/5pK1/3P2k1/8/PP4PP/5R2:
	figcaption Gauche : avant 1.Nxb7. Droite : après capture.

h3 Fin de partie

p Il y a deux façons de gagner, par ordre décroissant de priorité :
ol
	li Faire exploser le roi adverse
	li Mater le roi adverse

p Les explosions ont la priorité : un mat suivi d'une explosion perd.

figure.diagram-container
	.diagram
		| fen:r3kbnr/pp3ppp/3p4/4p3/8/8/PPPPPPPP/R1BQKBNR:
	figcaption.
		Après les coups 1.Nc3 d6?? 2.Nd5 e5 (forcé pour éviter l'explosion du roi)
		3.Nxc7

h3 Plus d'information

p.
	On trouve beaucoup de pages internet au sujet de cette variante (elle est
	jouée sur lichess et sur FICS, entre autres).
	Celle-ci est née en 1995 sur le German Internet Chess Server (GICS)
	à en croire Wikipedia.
