p.boxed
  | Captured pieces can be dropped later in the game,
  | with or without capturing abilities.

p Orthodox rules apply, with the following exceptions:
ul
  li.
    When a regular (resp. non-capturing) Chess piece is captured, it is
    replaced with a non-capturing (resp. regular) counterpart of the same
    color and given back to the player of that color,
    who holds it in hand until he drops it on the board.
  li.
    A player who has a piece in hand may use his turn to place it on any
    empty square on the board. Pawns cannot be dropped on the last rank.

p Non-capturing units appear in yellow for white, and red for black.

figure.diagram-container
  .diagram
    | fen:3nkr2/1pNSpp1b/1p1sq3/7p/rT1N1cPp/8/PPPPPP2/R1BB1KR1:
  figcaption The black king must capture the non-capturing white pawn.

h3 Source

p
  | Slightly simplified from 
  a(href="https://www.chessvariants.com/other.dir/clockworkorange.html")
    | Clockwork Orange Chess
  | &nbsp;on chessvariants.com.

p Inventor: Fergus Duniho (1999)
