p.boxed
  | Las piezas capturadas se reemplazan inmediatamente en el tablero.

p.
  Se aplican reglas ortodoxas, con la siguiente excepción.
  Cada pieza tomada del oponente se vuelve a poner inmediatamente en el
  tablero, en casi cualquier espacio libre:
ul
  li Los alfiles se quedan en las casillas del mismo color.
  li Los peones no se colocan en la primera o última fila.

figure.diagram-container
  .diagram.diag12
    | fen:r1bqkb1r/pppp1ppp/2n2n2/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R:
  .diagram.diag22
    | fen:r1bqkbnr/pppp1ppp/2B2n2/4p3/4P3/5N2/PPPP1PPP/RNBQK2R:
  figcaption Alfil toma el caballo, que se reemplaza en g8.

p Para colocar una pieza, simplemente haga clic en una casilla vacía.

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/difftaking.dir/replacement.html")
    | variante Reemplazo
  | &nbsp;en chessvariants.com.
