p.boxed
  | Les pièces capturées sont immédiatement replacées sur l'échiquier.

p.
  Les règles orthodoxes s'appliquent, avec l'exception suivante.
  Chaque pièce prise à l'adversaire est immédiatement remise sur l'échiquier,
  sur presque n'importe quelle case libre :
ul
  li Les fous restent sur les cases de la même couleur.
  li Les pions ne sont pas posés sur la première ou dernière rangée.

figure.diagram-container
  .diagram.diag12
    | fen:r1bqkb1r/pppp1ppp/2n2n2/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R:
  .diagram.diag22
    | fen:r1bqkbnr/pppp1ppp/2B2n2/4p3/4P3/5N2/PPPP1PPP/RNBQK2R:
  figcaption Fou prend cavalier, qui est replacé en g8.

p Pour poser une pièce, cliquez simplement sur une case vide.

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/difftaking.dir/replacement.html")
    | variante Remplacement
  | &nbsp;sur chessvariants.com.
