p.boxed
  | Un alfil contra tres peones.

figure.diagram-container
  .diagram
    | fen:8/ppp5/8/8/8/8/8/5B2:
  figcaption Posición inicial

p.
  Los peones ganan si uno de ellos llega al otro lado sin ser
  inmediatamente capturado.
  El alfil gana si se come todos los peones.

h3 Fuente

p
  a(href="https://chessplus.net/interactive-games/")
    | Bishop vs 3 Pawns
  | &nbsp;en chessplus.net.
