p.boxed
  | Un fou contre trois pions.

figure.diagram-container
  .diagram
    | fen:8/ppp5/8/8/8/8/8/5B2:
  figcaption Position initiale

p.
  Les pions gagnent si l'un d'eux arrive de l'autre côté sans être
  immédiatement capturé.
  Le fou gagne s'il mange tous les pions.

h3 Source

p
  a(href="https://chessplus.net/interactive-games/")
    | Bishop vs 3 Pawns
  | &nbsp;sur chessplus.net.
