p.boxed
  | Only pawns. The first who crosses the board wins.

p.
  Pawns are given extra abilities: they can also move (but not capture)
  like a king. The goal is to bring a pawn on the last rank.

figure.diagram-container
  .diagram
    | fen:pppppppp/8/8/8/8/8/8/PPPPPPPP:
  figcaption Initial position.

h3 Source

p
  | I've read about this rule on 
  a(href="http://www.echecspourtous.com/?page_id=7945") this page
  | &nbsp;on (in French). It seems interesting :)
