p.boxed
  | Solo peones. El primer jugador que cruza el tablero gana.

p.
  Los peones ven aumentar sus poderes: también pueden moverse
  (pero no capturar) como el rey. El objetivo es traer un peón al última fila.

figure.diagram-container
  .diagram
    | fen:pppppppp/8/8/8/8/8/8/PPPPPPPPP:
  figcaption Posición inicial.

h3 Fuente

p
  | Descubrí esta regla en
  a(href="http://www.echecspourtous.com/?page_id=7945") esta página
  | &nbsp;(en francés). Se ve interesante :)
