p.boxed
  | Seulement des pions. Le premier qui traverse l'échiquier gagne.

p.
  Les pions voient leurs pouvoirs augmenter : ils peuvent aussi se déplacer
  (mais pas capturer) comme des rois. L'objectif est d'amener un pion sur la
  dernière rangée.

figure.diagram-container
  .diagram
    | fen:pppppppp/8/8/8/8/8/8/PPPPPPPP:
  figcaption Position initiale.

h3 Source

p
  | J'ai découvert cette règle sur 
  a(href="http://www.echecspourtous.com/?page_id=7945") cette page
  | . Elle semble intéressante :)
