p.boxed
  | The capture of an enemy piece produces a new "checkered" piece belonging
  | to both players.

p
  | This is the 
  a(href="/#/variants/Checkered1") Checkered1 variant
  | , without the stage 2.
  | Probably more drawish, but also quite different.
  | I think both are interesting.
