p.boxed
  | La captura de una pieza enemiga da lugar al nacimiento de una pieza
  | "a cuadros", que pertenece a ambos campos.

p
  | Esta la 
  a(href="/variants/Checkered1") variante Checkered1
  | , sin fase 2.
  | Probablemente más canceladoras, pero también bastante diferente.
  | Creo que ambos tienen interés.
