p.boxed
  | Las piezas atacadas por el Hipnotizador pueden controlarse.

p.
  Una nueva pieza &mdash; el Hipnotizador &mdash; puede elegir mudarse
  una pieza enemiga que observa, porque luego controla su mente.
  El Hipnotizador se mueve como una dama ortodoxa, pero no puede capturar
  (excepto por telepatía). Se dice que su víctima está hipnotizada.

p El Hipnotizador está representado por una dama al revés por ahora.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppppppp/3m4/8/8/3M4/PPPPPPPP/RNBQKBNR:
  figcaption Posición inicial determinista.

p.
  La pieza hipnotizada está temporalmente inmovilizada y, por lo tanto,
  no puede ser movido por su dueño en el siguiente turno.

p El juego se gana capturando al Rey o al Hipnotizador oponente.

h3 Fuente

p
  | Mesmer Chess en 
  a(href="https://www.chessvariants.com/mvopponent.dir/mesmer-chess.html")
    | chessvariants.com
  | .

p Inventor: W. D. Troyka (2003)
