p.boxed
  | Les pièces attaquées par l'Hypnotiseur peuvent être contrôlées.

p.
  Une nouvelle pièce &mdash; l'Hypnotiseur &mdash; peut choisir de déplacer
  une pièce ennemie qu'il observe, car il contrôle alors son esprit.
  L'Hypnotiseur se déplace comme une dame orthodoxe, mais ne peut pas capturer
  (sauf par télépathie). Sa victime est dite hypnotisée.

p L'Hypnotiseur est représenté par une dame inversé pour l'instant.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppppppp/3m4/8/8/3M4/PPPPPPPP/RNBQKBNR:
  figcaption Position initiale déterministe.

p.
  La pièce hypnotisée est temporairement immobilisée, et ne peut donc pas
  être déplacée par son propriétaire au tour suivant.

p La partie est gagnée en capturant le Roi ou l'Hypnotiseur adverse.

h3 Source

p
  | Mesmer Chess sur 
  a(href="https://www.chessvariants.com/mvopponent.dir/mesmer-chess.html")
    | chessvariants.com
  | .

p Inventeur : W. D. Troyka (2003)
