p.boxed
  | A piece "A" captured by another piece "B" remain on the board,
  | following "B". It can be freed by capturing "B" at any moment.

p
  | This variant is inspired by 
  a(href="/#/variants/Pacosako") Paco-Sako
  | , where union pieces are controlled by both players.
  | Here, an "union" can be moved only by the last player capturing it.

p.
  The king can thus capture without losing the game.
  Everything else is exactly the same as in Paco-Sako.
