p.boxed
  | Una pieza "A" capturada por otra pieza "B" permanece en el tablero,
  | siguiendo "B". Puede ser liberada capturando "B" en cualquier momento.

p
  | Esta variante está inspirada de 
  a(href="/#/variants/Pacosako") Paco-Sako
  | , donde las piezas-unión son controladas por ambos jugadores.
  | Aquí, una "unión" solo puede moverse por el último jugador que lo capturó.

p.
  El rey puede capturar sin perder el juego.
  Todo lo demás ocurre exactamente como en Paco-Sako.
