p.boxed
  | Una pieza "A" capturada por otra pieza "B" permanece en el tablero,
  | siguiendo "B". Puede ser liberada capturando "B" en cualquier momento.

p
  | Esta variante ha sido sugerido por David Antonini (2020), inspirada de 
  a(href="/#/variants/Pacosako") Paco-Sako
  | , donde las piezas-unión son controladas por ambos jugadores.
  | Aquí, una "unión" solo puede moverse por el último jugador que lo capturó.

p.
  El rey puede capturar sin perder el juego.
  Todo lo demás ocurre exactamente como en Paco-Sako.

p.
  Nota: "otage" es la palabra francesa para "rehén", en lugar del término
  inglés "hostage", que se utiliza para otra variante.
