p.boxed
  | Une pièce "A" capturée par une autre pièce "B" reste sur l'échiquier,
  | suivant "B". Elle peut être libérée en capturant "B" à tout moment.

p
  | Cette variante a été suggérée par David Antonini (2020), inspiré de 
  a(href="/#/variants/Pacosako") Paco-Sako
  | , où les pièces-union sont contrôlées par les deux joueurs.
  | Ici, une "union" ne peut être déplacée que par
  | le dernier joueur l'ayant capturée.

p.
  Le roi peut alors capturer sans perdre la partie.
  Tout le reste se déroule exactement comme à Paco-Sako.
