h3 Welcome to v[ariant]chess.club!
p A place to play chess variants.
img(src="/images/Hexagonal_chess.svg")
p A variant is a change in the usual rules :
ul
  li different pieces movements, or
  li different chessboards (as on the image), or
  li new pieces, or
  li moves side effects, or
  li ...and so on
a(href="https://www.chessvariants.com/why.html") Why should I play them ?!
h3 Notes (non-negotiable ;) )
p No ELO rating on this website.
p Games start with an assymetric random setup.
p#disableMsg.clickable(onClick="localStorage.setItem('welcomed',true)")
  | Close and show no more
-
  var wikipediaUrl = "https://en.wikipedia.org/wiki/" +
    "List_of_chess_variants#/media/File:Hexagonal_chess.svg";
p.smallfont Image credit: #[a(href=wikipediaUrl) Wikipedia]
