h3 ¡ Bienvenido a v[ariant]chess.club !
p Un sitio donde jugar variantes del juego de ajedrez.
img(src="/images/Hexagonal_chess.svg")
-
  var wikipediaUrl = "https://en.wikipedia.org/wiki/" +
    "List_of_chess_variants#/media/File:Hexagonal_chess.svg";
p#credits Credito de imagen : #[a(href=wikipediaUrl) Wikipedia]
p Una variante es un cambio de las reglas habituales :
ul
  li diferentes desplazamientos de piezas, o
  li differentes tableros (como en la imagen), o
  li nuevas piezas, o
  li efectos de borde en los movimientos, o
  li ...etc
a(href="https://www.chessvariants.com/why.html") Pero por qué jugar esto ?!
h3 Notas (no negociables ;) )
p No hay clasificación ELO en el sitio.
p Las partidas comienzan con una posición aleatoria asimétrica.
