h3 Bienvenue sur v[ariant]chess.club !
p Un site où jouer à des variantes du jeu d'échecs.
img(src="/images/Hexagonal_chess.svg")
p Une variante est une modification des règles usuelles :
ul
  li différents déplacements de pièces, ou
  li différents échiquiers (comme sur l'image), ou
  li de nouvelles pièces, ou
  li des effets de bord sur les coups, ou
  li ...etc
a(href="https://www.chessvariants.com/why.html") Mais pourquoi jouer à ça ?!
h3 Notes (non négociables ;) )
p Aucun classement ELO sur le site.
p Les parties démarrent avec une position aléatoire asymétrique.
p#disableMsg.clickable(@click="closeAndDisable")
  | Fermer et ne plus montrer
-
  var wikipediaUrl = "https://en.wikipedia.org/wiki/" +
    "List_of_chess_variants#/media/File:Hexagonal_chess.svg";
p.smallfont Crédit image : #[a(href=wikipediaUrl) Wikipedia]
