p.boxed
  | The player in first has a different set of pieces,
  | moving generally like a queen but capturing (almost) as usual.

figure
  img.img-center(src="/variants/Empire/Board.png")
  figcaption.text-center Initial deterministic setup.

p.
  Empire Chess is a chess variant designed in 2020 by Couch Tomato, the third
  asymmetric game. This game pits the army of the "Empire" (gold) against the
  original chess army (the "Kingdom", black). The Empire's unique feature is
  that its pieces move like queens but attack differently.

h3 General Rules

ol
  li The Empire (gold) always moves first.
  li The Empire cannot castle.
  li.
    As the Empire's pawns start on the third rank, they do not have the
    option to move two spaces or be captured by en passant.
  li Pawns on either side can only promote to a queen.
  li.
    One can win by bringing the king into the final rank without being check.
    This situation is called "campmate".
  li Stalemate and repetition are both losses.
  li.
    Facing kings &mdash; The King and Kaiser (Imperial King) may not face
    each other on a file or rank.

h3 Imperial Pieces

p.
  There are five new units unique to the Empire: Siege Towers, Eagles,
  Cardinals, Duke, and Soldiers. The bottom rank pieces are all stronger than
  their Kingdom counterparts with the exception of the Duke.

ul
  li.
    Kaiser (K) &mdash; The Imperial king is called the Kaiser and has a
    different symbol, but the change is purely aesthetic and thematic:
    it behave like an orthodox king.
  li.
    Soldier (S) &mdash; The Soldiers are the two pawn-like pieces replacing
    the two middle pawns. They can move one square orthogonally forward,
    or lateraly.

p.
  The remaining pieces are "divergent" pieces: they move differently
  than they attack (such as pawns). Imperial pieces all move as queens,
  but attack like their Kingdom counterpart except for the Duke.

ul
  li.
    Siege Tower (T) &mdash; The Siege Tower, or Tower for short,
    attacks like a Rook.
  li Eagle (E) &mdash; The Eagle attacks like a Knight.
  li Cardinal (C) &mdash; The Cardinal attacks like a Bishop.
  li Duke (D) &mdash; The Duke attacks like a King.

figure
  img.img-center(src="/variants/Empire/EagleMoves.png")
  figcaption.text-center Eagle's moves (green) & captures (red).

h3 Pieces valuation

p The following simplified values are used by the bot:

table
  tr
    th Kingdom piece
    th Value
    th Imperial piece
    th Value
  tr
    td Pawn
    td 1
    td Pawn
    td 1
  tr
    td Queen
    td 9
    td Duke
    td 4
  tr
    td Bishop
    td 3
    td Cardinal
    td 4
  tr
    td Knight
    td 3
    td Eagle
    td 7
  tr
    td Rook
    td 5
    td Siege Tower
    td 7
  tr
    td Soldier
    td 2
    td -
    td -

//h3 More information

//p
  | See 
  a(href="https://www.pychess.org/variant/empirechess") Empire Chess
  | &nbsp;on pychess-variants, where you can also play this variant.
