p.boxed
  | Two new pieces: camel and wildebeest. Bigger board.
  | Orthodox rules with a few adaptations.

p.
  Two new pieces appear on the board, which is extended to 10x11 squares:
  a camel and a wildebeest, respectively written C and W.
  A camel moves as a knight but with a
  longer jump: 3 squares in one direction, and 1 left or right after that.
  The wildebeest combines the moving abilities of a camel and a knight.

p You can win by checkmating or stalemating the enemy king.

figure.diagram-container
  .diagram
    | fen:11/11/11/11/11/4C6/11/11/11/11 f2,h4,h6,f8,d8,b6,b4,d2:
  figcaption Squares reachable by the white camel on e5.

h3 Special moves

p.
  Castling is possible, and more flexible than in orthodox game:
  the king can slide any number of (free) squares toward the rook,
  which will end next to him on the other side.

p.
  When a pawn reaches last rank, it can promote
  into a queen or a wildebeest (only).

h3 Source

p
  | The 
  a(href="https://www.chessvariants.com/large.dir/wildebeest.html")
    | Wildebeest page
  | &nbsp;on chessvariants.com.

p Inventor: R. Wayne Schmittberger (1992)
