p.boxed
  | Dos piezas nuevas: el camello y el ñu.
  | Tablero más grande.
  | Reglas habituales con algunas adaptaciones.

p.
  Aparecen dos nuevas piezas en un tablero de 10x11:
  el camello y el ñu, respectivamente señalaron C y W (según el término en inglés).
  El camello se mueve como un caballo pero con un salto inicial más largo:
  3 casillas en lugar de 2 (luego una casilla en una dirección ortogonal).
  El ñu combina los movimientos del caballo y el camello.

p Ganas dando jaque mate o pateando al rey contrario.

figure.diagram-container
  .diagram
    | fen:11/11/11/11/11/4C6/11/11/11/11 f2,h4,h6,f8,d8,b6,b4,d2:
  Figcaption Casillas accesibles por el camello blanco en e5.

h3 Movimientos especiales

p.
  El enroque es posible como en un juego de ajedrez ortodoxo 8x8.
  El rey blanco va a c1 o j1 (un cuadro a la izquierda de la esquina inferior derecha).
  para un enroque grande (resp. pequeño). Lo mismo para las negras del otro lado.

p Un peón en la última fila es promovido a dama o ñu solamente.

p.
  Nota: la regla de enroque es más restrictiva que la descrita por las reglas
  originales. El juego se ve bien así, pero puede cambiar algún día.

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/large.dir/wildebeest.html") Variante Wildebeest
  | &nbsp;en chessvariants.com.

p Inventor: R. Wayne Schmittberger (1992)
