p.boxed
  | Dos piezas nuevas: el camello y el ñu.
  | Tablero más grande.
  | Reglas habituales con algunas adaptaciones.

p.
  Aparecen dos nuevas piezas en un tablero de 10x11:
  el camello y el ñu, respectivamente señalaron C y W (según el término en
  inglés). El camello se mueve como un caballo pero con un salto inicial más
  largo: 3 casillas en lugar de 2 (luego una casilla en una dirección
  ortogonal). El ñu combina los movimientos del caballo y el camello.

p Ganas dando jaque mate o pateando al rey contrario.

figure.diagram-container
  .diagram
    | fen:11/11/11/11/11/4C6/11/11/11/11 f2,h4,h6,f8,d8,b6,b4,d2:
  Figcaption Casillas accesibles por el camello blanco en e5.

h3 Movimientos especiales

p.
  El enroque es posible y más flexible que en el juego ortodoxo:
  el rey puede saltar cualquier número de casillas (libres) a la torre,
  que terminará junto a él en el otro lado.

p.
  Un peón que llega a la última fila es promovido a dama o ñu solamente.
  La promoción también es posible (opcionalmente) en la novena fila.
  Es una adición experimental a las reglas oficiales.

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/large.dir/wildebeest.html")
    | Variante Wildebeest
  | &nbsp;en chessvariants.com.

p Inventor: R. Wayne Schmittberger (1987)
