p.boxed
  | Deux nouvelles pièces : le chameau et le gnou.
  | Plus grand échiquier.
  | Règles usuelles avec quelques adaptations.

p.
  Deux nouvelles pièces font leur apparition sur un échiquier de taille 10x11 :
  Le chameau et le gnou, respectivement notés C et W (d'après le terme anglais).
  Le chameau se déplace comme un cavalier mais avec un saut initial plus long :
  3 cases au lieu de 2 (puis une case dans une direction orthogonale).
  Le gnou cumule les déplacements du cavalier et du chameau.

p On gagne en matant ou en patant le roi adverse.

figure.diagram-container
  .diagram
    | fen:11/11/11/11/11/4C6/11/11/11/11 f2,h4,h6,f8,d8,b6,b4,d2:
  figcaption Cases atteignables par le chameau blanc en e5.

h3 Coups spéciaux

p.
  Le roque est possible comme dans une partie d'échecs orthodoxe 8x8.
  Le roi blanc va en c1 ou j1 (une case à gauche du coin inférieur droit).
  pour un grand (resp. petit) roque. Pareil pour les noirs de l'autre côté.

p Un pion arrivé sur la dernière rangée se promeut en une dame ou un gnou seulement.

p.
  Note : la règle du roque est plus restrictive que celle décrite par les règles
  originelles. Le jeu semble OK comme ça, mais cela pourrait changer un jour.

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/large.dir/wildebeest.html") variante Wildebeest
  | &nbsp;sur chessvariants.com.

p Inventeur : R. Wayne Schmittberger (1992)
