p.boxed
  | Deux nouvelles pièces : le chameau et le gnou.
  | Plus grand échiquier.
  | Règles usuelles avec quelques adaptations.

p.
  Deux nouvelles pièces font leur apparition sur un échiquier de taille 10x11 :
  Le chameau et le gnou, respectivement notés C et W (d'après le terme
  anglais). Le chameau se déplace comme un cavalier mais avec un saut initial
  plus long : 3 cases au lieu de 2 (puis une case dans une direction
  orthogonale). Le gnou cumule les déplacements du cavalier et du chameau.

p On gagne en matant ou en patant le roi adverse.

figure.diagram-container
  .diagram
    | fen:11/11/11/11/11/4C6/11/11/11/11 f2,h4,h6,f8,d8,b6,b4,d2:
  figcaption Cases atteignables par le chameau blanc en e5.

h3 Coups spéciaux

p.
  Le roque est possible, et plus souple que dans le jeu orthodoxe :
  le roi peut sauter d'un nombre quelconque de cases (libres) vers la tour,
  qui se retrouvera à côté de lui de l'autre côté.

p.
  Un pion arrivé sur la dernière rangée se promeut en une dame ou un gnou
  seulement. La promotion est également possible (optionnellement)
  sur la 9eme rangée. C'est un ajout expérimental aux règles officielles.

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/large.dir/wildebeest.html")
    | variante Wildebeest
  | &nbsp;sur chessvariants.com.

p Inventeur : R. Wayne Schmittberger (1987)
