p.boxed
  | Deux nouvelles pièces : le chameau et le gnou.
  | Plus grand échiquier.
  | Règles usuelles avec quelques adaptations.

h3 Caractéristiques

ul
  li Échiquier : 11x10.
  li Matériel : standard + chameau + gnou.
  li Coups non capturants : standards (+ nouvelles pièces).
  li Coups spéciaux : standards (voir ci-dessous).
  li Captures : standards.
  li Fin de partie : matez ou patez le roi adverse.

h3 Bases

p.
  Un chameau est noté C et un gnou W (d'après le terme anglais).
  Un chameau se déplace comme un cavalier mais avec un saut initial plus long :
  3 cases au lieu de 2 (puis une case dans une direction orthogonale).
  Le gnou cumule les déplacements du cavalier et du chameau.

figure.diagram-container
  .diagram
    | fen:11/11/11/11/11/4C6/11/11/11/11 f2,h4,h6,f8,d8,b6,b4,d2:
  figcaption Cases atteignables par le chameau blanc en e5.

h3 Coups spéciaux

p.
  Le roque est possible comme dans une partie d'échecs orthodoxe 8x8.
  Le roi blanc va en c1 ou j1 (une case à gauche du coin inférieur droit).
  pour un grand (resp. petit) roque. Pareil pour les noirs de l'autre côté.

p Un pion arrivé sur la dernière rangée se promeut en une dame ou un gnou seulement.

h3 Fin de partie

p On gagne en matant ou en patant le roi adverse.

p.
  Note : la règle du roque est plus restrictive que celle décrite par les règles
  originelles. Le jeu semble OK comme ça, mais cela pourrait changer assez vite.

h3 Source

p
  | La
  a(href="https://www.chessvariants.com/large.dir/wildebeest.html") variante Wildebeest
  | &nbsp;sur chessvariants.com.
