p.boxed.
  Kings are subject to check and checkmate by own as well as opponent's pieces.

p
  Kings are attacked by all pieces, and can capture any piece.
  For example, on the following diagram the king can escape check by
  capturing a rook.

figure.diagram-container
  .diagram
    | fen:8/8/8/8/8/4q4/8/3RKR2:
  figcaption Not a checkmate: Kxf1 or Kxd1.

p.
  Here however, each capture of the queen would lead to a self-check: although
  the queen appears vulnerable this is a checkmate.

figure.diagram-container
  .diagram
    | fen:1r1nkbr1/1p2Qnp1/p2p1p1p/2p4P/P1P1P3/1P6/R2P1KP1/2B2BNR:
  figcaption Checkmate.

h3 Source

p
  a(href="https://www.jsbeasley.co.uk/encyc.htm")
    | The Classified Encyclopedia of Chess Variants.
  | &nbsp;by David B. Pritchard (2007).

p Inventors: Gabriel Authier and Roméo Bédoni (1958)
