p.boxed.
  Los reyes pueden estar en jaque y jaque mate por tus piezas o las de
  el oponente.

p.
  Los reyes son atacados por todas las piezas y pueden capturar cualquier
  pieza. Por ejemplo, en el siguiente diagrama, el rey puede evadirse
  del jaque capturando una torre.

figure.diagram-container
  .diagram
    | fen:8/8/8/8/8/4q4/8/3RKR2:
  figcaption No es un jaque mate: Kxf1 o Kxd1.

p.
  Aquí, sin embargo, cada captura de la dama llevaría a un auto-jaque: aunque
  la dama parece vulnerable, es un jaque mate.

figure.diagram-container
  .diagram
    | fen:1r1nkbr1/1p2Qnp1/p2p1p1p/2p4P/P1P1P3/1P6/R2P1KP1/2B2BNR:
  figcaption jaque mate.

h3 Fuente

p
  a(href="https://www.jsbeasley.co.uk/encyc.htm")
    | The Classified Encyclopedia of Chess Variants.
  | &nbsp;por David B. Pritchard (2007).

p Inventores: Gabriel Authier y Roméo Bédoni (1958)
