p.boxed.
  Les rois peuvent être en échec et matés par vos pièces ou celles de
  l'adversaire.

p.
  Les rois sont attaqués par toutes les pièces, et peuvent capturer n'importe
  quelle pièce. Par exemple, sur le diagramme ci-dessous le roi peut se
  soustraire à l'échec en capturant une tour.

figure.diagram-container
  .diagram
    | fen:8/8/8/8/8/4q4/8/3RKR2:
  figcaption Pas un mat : Kxf1 ou Kxd1.

p.
  Ici cependant, chaque capture de la dame mènerait à un auto-échec : bien que
  la dame paraisse vulnérable, c'est un échec et mat.

figure.diagram-container
  .diagram
    | fen:1r1nkbr1/1p2Qnp1/p2p1p1p/2p4P/P1P1P3/1P6/R2P1KP1/2B2BNR:
  figcaption Échec et mat.

h3 Source

p
  a(href="https://www.jsbeasley.co.uk/encyc.htm")
    | The Classified Encyclopedia of Chess Variants.
  | &nbsp;par David B. Pritchard (2007).

p Inventeurs : Gabriel Authier et Roméo Bédoni (1958)
