p.boxed
	| Move twice at every turn.

h3 Specifications

ul
	li Chessboard: standard.
	li Material: standard.
	li Non-capturing moves: standard.
	li Special moves: standard.
	li Captures: standard.
	li End of game: standard.

p.
	The only difference with orthodox chess is the double-move rule,
	but this affects the game a lot.

h3 Basics

p.
	TODO: explain, every turn twice except if check on 1st turn, or
	very first move in game.
	En-passant: possible in any order if 2 ep squares,
	otherwise has to be the first move.
	OK even if opponent moved his pawn at subturn 1.

p.
	PGN game notation: since there are two moves at each turn except on move 1,
	a double move in the game is indicated as two comma-separated (ordered) moves,
	as in 3.Na5,Bd3 e6,f4 (the two first are white moves,
	the two others are black moves).

figure.diagram-container
	.diagram
		| fen:r1bqkbnr/pppp1p1p/2n5/4p2p/4P3/5N2/PPPP1PPP/RNB1KB1R:
	figcaption After the moves 1.e4 e5,Nc6 2.Qh5,Nf3 g6,gxh5

h3 More information

p
	| See for example the 
	a(href="https://www.chessvariants.com/multimove.dir/marseill.html")
		|	Marseillais Chess
	| &nbsp;page on chessvariants.com.
