p.boxed
	| Move twice at every turn.

h3 Specifications

ul
	li Chessboard: standard.
	li Material: standard.
	li Non-capturing moves: standard.
	li Special moves: standard.
	li Captures: standard.
	li End of game: standard.

p.
	The only difference with orthodox chess is the double-move rule,
	but this affects the game a lot.

h3 Basics

p.
	TODO: explain, every turn twice except if check on 1st turn, or
	very first move in game.
	En-passant: possible in any order if 2 ep squares,
	otherwise has to be the first move.
	OK even if opponent moved his pawn at subturn 1.

figure.diagram-container
	.diagram
		| fen:r3kbnr/pp3ppp/3p4/4p3/8/8/PPPPPPPP/R1BQKBNR:
	figcaption After the moves 1.Nc3 d6?? 2.Nd5 e5 3.Nxc7

h3 More information

p.
	Possible starting point Wikipedia page ?
