p.boxed
  | When a piece moves, the initial square disappears. It creates a 
  a(href="https://en.wikipedia.org/wiki/Wormhole") "wormhole"
  | .

p
  a(href="/#/variants/Wormhole1") Wormhole1
  | &nbsp;variant, with more standard pieces' movements:
ul
  li The rook moves one or two squares vertically or horizontally.
  li The bishop moves one or two squares diagonally.
  li The queen moves either like a rook or like a bishop.
  li The other pieces move like in orthodox chess.
p All pieces can jump over others when moving by two squares.
