p.boxed
  | Cuando una pieza se mueve, la casilla inicial desaparece. Esto crea un
  a(href="https://es.wikipedia.org/wiki/Agujero_de_gusano") "agujero de gusano"
  | .

p
  a(href="/#/variants/Wormhole1") Wormhole1
  | &nbsp;variant, con movimientos de piezas más estándar:
ul
  li La torre se mueve de una o dos casillas verticalmente u horizontalmente.
  li El alfil se mueve de una o dos casillas en diagonal.
  li La dama puede moverse como una torre o un alfil.
  li Las otras piezas se mueven como en el ajedrez ortodoxo.
p Todas las piezas pueden saltar sobre otras cuando se mueven dos espacios.
