p.boxed
  | Quand une pièce se déplace, la case initiale disparaît. Cela crée un
  a(href="https://fr.wikipedia.org/wiki/Trou_de_ver") "trou de ver"
  | .

p
  a(href="/#/variants/Wormhole1") Wormhole1
  | &nbsp;variant, avec des mouvements de pièces plus standard :
ul
  li La tour se déplace d'une ou deux cases verticalement ou horizontalement.
  li Le fou se déplace d'une ou deux cases en diagonale.
  li La dame peut se mouvoir comme une tour ou un fou.
  li Les autres pièces se déplacent comme aux échecs orthodoxes.
p.
  Toutes les pièces peuvent sauter par dessus d'autres
  quand elles se déplacent de deux cases.
