p.boxed
  | Bring your king to the other side of the board.
  | Giving check is not allowed.

p TODO

h3 Source

p
  | Strongly inspired by the Racing Kings variant which is playable for example
  a(href="https://lichess.org/variant/racingKings") on lichess
  | .
