p.boxed
  | Se puede cambiar una nueva pieza con cualquiera de sus otras piezas.

p.
  Aparece una nueva pieza, comenzando por delante de los peones.
  Se mueve como una Amazona: Dama + Caballo, pero no captura.
  En cambio, puede cambiar su posici칩n con cualquier pieza.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppppppp/3j4/8/8/3J4/PPPPPPPP/RNBQKBNR:
  figcaption Posici칩n inicial determinista.

p.
  Los peones pueden promocionarse a Joker si no le queda nada en el tablero.

h3 Fuente

p
  | Esta variante est치 inspirada en 
  a(href="https://www.reddit.com/r/TotemChess/comments/imi3v7/totem_rules/")
    | Totem Chess
  | , que me pareci칩 un poco complicado.
