p.boxed
  | Une nouvelle pièce peut s'échanger avec
  | n'importe laquelle de vos autres pièces.

p.
  Une nouvelle pièce fait son apparition, démarrant devant les pions.
  Elle se déplace comme une Amazone : Dame + Cavalier, mais ne capture pas.
  Au lieu de ça, elle peut échanger sa position avec n'importe quelle pièce.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppppppp/3j4/8/8/3J4/PPPPPPPP/RNBQKBNR:
  figcaption Position initiale déterministe.

p.
  Les pions peuvent se promouvoir en Joker
  s'il ne vous en reste plus sur l'échiquier.

h3 Source

p
  | Cette variante est inspirée de 
  a(href="https://www.reddit.com/r/TotemChess/comments/imi3v7/totem_rules/")
    | Totem Chess
  | , qui m'a paru un peu trop compliquée.
