p.boxed.
  Cada captura crea una "explosión" que elimina todas las piezas cercanas,
  excepto los peones.

p.
  Cuando una pieza P captura a un enemigo en la casilla C, todas las
  piezas en las casillas alcanzable por un rey desde C desaparecen, P incluida.
  Los peones permanecen sin embargo: deben ser capturadas directamente.

p.
  El suicidio está prohibido. Por lo tanto, el rey puede tocar al rey
  contrario y volverse invulnerable a los jaques, como en el siguiente
  diagrama: 1.Rxf5 es imposible.

figure.diagram-container
  .diagram.diag12
    | fen:rnb5/pp4pp/2p5/N4pK1/3P2k1/8/PP4PP/5R2 a5,b7:
  .diagram.diag22
    | fen:8/p5pp/2p5/5pK1/3P2k1/8/PP4PP/5R2:
  figcaption Izquierda: antes 1.Nxb7. Derecha: después de la captura.

h3 Fin de la partida

p Hay dos maneras de ganar, en orden descendente de prioridad:
ol
  li Haz explotar al rey contrario
  li Mater el rey contrario

p Las explosiones tienen prioridad: un mate seguida de una explosión pierde.

figure.diagram-container
  .diagram.diag12
    | fen:3rkbnr/pb1pp2p/npp5/q4ppQ/P1B1P3/NP5N/1BPP1PPP/R3K2R:
  .diagram.diag22
    | fen:3rkbnr/pb1pp2p/npp5/5ppQ/P1B1P3/NP5N/1BP2PPP/R6R:
  figcaption 1.Qh5+ (izquierda) 1...Qxd2# (derecha), las negras ganan.

h4 Equilibrio

p.
  Las blancas tienen una gran ventaja en esta variante. Para reequilibrar
  probabilidades, puede seleccionar "Equilibrado" para que las blancas
  elige un peón (de cualquier color) para eliminar
  antes de que comience el juego. Luego, la partida continúa
  como de costumbre, con las negras jugando primero.

p
  | Esto ha sido sugerido (¿retransmitido?) y analizado recientemente (2020)
  | por un fuerte jugador de ajedrez atómico (Gannet en Discord). Ver 
  a(href="https://discord.com/channels/686736099959504907/687076744095858762/762398439043498046")
    | los mensajes
  | en el servidor Discord de vchess.

h3 Más información

p.
  Hay muchas páginas de internet sobre esta variante (se puede jugar en
  lichess y en FICS, entre otros).
  Nació en 1995 en el German Internet Chess Server (GICS) segun Wikipedia.
