p.boxed
  | Capturing your own pieces is possible: captured units
  | can be landed anywhere instead of moving a piece.

p
  | Orthodox rules apply, with only one change:
  | at each turn you can choose to eat one of your pieces, augmenting your
  | "reserve" of waiting pieces with this figure. At every move, you may
  | choose to land one of your reserve pieces anywhere on the board
  | (except first and last ranks for pawns), instead of playing a regular move.

p.
  Move notation: an arobase '@' indicate piece landing. For example B@d4 means
  a bishop rebirth on d4 square, and @f3 is a pawn landing on f3.

figure.diagram-container
  .diagram
    | fen:rnbqkb1r/ppppnppp/8/4N3/3p4/8/PPPPPPPP/1RBQKBNR:
  figcaption After 1.Rxb1 Nxe7 2.N@e5 @d4

p.
  Note: when a pawn reaches the 8th(1st) rank, it will get removed from the board.
  It will not be replaced by another piece. It does not promote.

h3 Source

p
  a(href="https://www.chessvariants.com/difftaking.dir/recyclechess.html") Recycle chess
  | &nbsp;on chessvariants.com.
