p.boxed
  | Vous pouvez capturer vos propres pièces : celles-ci peuvent ensuite être
  | parachutées n'importe où au lieu d'effectuer un déplacement.

p.
  Les règles orthodoxes s'appliquent, avec un seul changement :
  à chaque tour vous pouvez choisir de manger une de vos propres pièces,
  augmentant votre "réserve" de pièces avec cette unité.
  À chaque coup vous pouvez choisir de poser une de ces pièces en réserve
  (n'importe où, sauf rangées 1 et 8 pour les pions) au lieu de jouer un
  coup habituel.

p.
  Notation : une arobase '@' indique l'arrivée d'une pièce de réserve.
  Par exemple, B@d4 signifie un parachutage de fou en d4, et @f3 une
  renaissance de pion en f3.

figure.diagram-container
  .diagram
    | fen:rnbqkb1r/ppppnppp/8/4N3/3p4/8/PPPPPPPP/1RBQKBNR:
  figcaption After 1.Rxb1 Nxe7 2.N@e5 @d4

p.
  Note : quand un pion atteint la 8eme(1ere) rangée, il est retiré du jeu.
  Il n'est pas remplacé par une autre pièce. Il n'y a pas de promotion.

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/difftaking.dir/recyclechess.html")
    | variante Recyclage
  | &nbsp;sur chessvariants.com.

p Inventeur : Robert Huber (2000)
