p.boxed
  | Pawns can promote into an additional enemy king.

p.
  Pawns have the option to promote into an enemy king on the two last ranks,
  in addition to their usual moves.

p This allows more winning tactics: double check on two kings for example.

figure.diagram-container
  .diagram.diag12
    | fen:2kr1bnr/pbq1pppp/1pnpP3/2p5/2B3Q1/2N2N2/PPPP1PPP/R1B1K2R:
  .diagram.diag22
    | fen:2kr1bnr/pbq1pkpp/1pnp4/2p5/2B3Q1/2N2N2/PPPP1PPP/R1B1K2R:
  figcaption Before and after 1.exf7+. Not checkmate yet: 1...e6. Then 2.Qxe6#

p
  | This variant is based on 
  a(href="https://www.chessvariants.com/play/erf/Kingmake.html")
    | Kingmaker Chess
  | &nbsp;from chessvariants.com, invented by Tony Paletta (2001).
