p.boxed
  | Los peones pueden promocionarse a un rey enemigo adicional.

p.
  Los peones tienen una opción adicional: pueden ser
  transformarse en un rey contrario una vez en las dos últimas filas,
  además de los movimientos habituales.

p.
  Esto permite más tácticas ganadoras:
  jaque doble a los dos reyes, por ejemplo.

figure.diagram-container
  .diagram.diag12
    | fen:2kr1bnr/pbq1pppp/1pnpP3/2p5/2B3Q1/2N2N2/PPPP1PPP/R1B1K2R:
  .diagram.diag22
    | fen:2kr1bnr/pbq1pkpp/1pnp4/2p5/2B3Q1/2N2N2/PPPP1PPP/R1B1K2R:
  figcaption Antes y después 1.exf7+. Aún no mate : 1...e6. Luego 2.Qxe6#

p
  | Esta variante se basa en 
  a(href="https://www.chessvariants.com/play/erf/Kingmake.html")
    | Kingmaker Chess
  | &nbsp;de chessvariants.com, inventado por Tony Paletta (2001).
