p.boxed
  | Les pions peuvent se promouvoir en un roi ennemi supplémentaire.

p.
  Les pions disposent d'une option additionnelle : ceux-ci peuvent se
  transformer en un roi adverse une fois sur les deux dernières rangées,
  en plus des coups habituels.

p.
  Ceci permet plus de tactiques de gain :
  échec double sur les deux rois par exemple.

figure.diagram-container
  .diagram.diag12
    | fen:2kr1bnr/pbq1pppp/1pnpP3/2p5/2B3Q1/2N2N2/PPPP1PPP/R1B1K2R:
  .diagram.diag22
    | fen:2kr1bnr/pbq1pkpp/1pnp4/2p5/2B3Q1/2N2N2/PPPP1PPP/R1B1K2R:
  figcaption Avant et après 1.exf7+. Pas encore mat : 1...e6. Ensuite 2.Qxe6#

p
  | Cette variante est basée sur 
  a(href="https://www.chessvariants.com/play/erf/Kingmake.html")
    | Kingmaker Chess
  | &nbsp;de chessvariants.com, inventée par Tony Paletta (2001).
