p.boxed
  | Vous pouvez empêcher l'adversaire de jouer le coup qu'il souhaite,
  | même s'il ne dispose que d'un seul coup légal.

p.
  Tout se déroule comme aux échecs orthodoxes, à l'exception d'un détail :
  à chaque tour, un joueur a le droit de refuser au plus un coup adverse.
  Pour refuser un coup, re-jouez le à l'envers.
  Afin d'éviter les complications inutiles, le roque n'est pas autorisé.

p.
  Deux coups promouvant chacun un pion sur la même case, mais en deux pièces
  différentes, sont vus comme des coups différents.

p.
  Si un joueur n'a qu'un seul coup légal, son refus entraîne la fin de la
  partie, par échec et mat ou pat (match nul).

h3 Plus d'information

p
  | Voir la 
  a(href="https://www.chessvariants.com/other.dir/refusal.html")
    | page chessvariants
  | .

p Inventeur : Fred Galvin (1958)
