p.boxed Shogi on a 5 x 5 board.

figure.diagram-container
  .diagram
    | fen:rbsgk/4p/5/P4/KGSBR:
  figcaption Initial position.

p.
  Minishogi is essentially Shogi on a 5x5 board. The game was invented
  (or rediscovered) around 1970 by Shigenobu Kusumoto of Osaka, Japan.

p
  | The rules are the same as in 
  a(href="/#/variants/Shogi") Shogi
  | . Unlike standard Shogi, there is no knight or lance.
  | Promotion is only done in the last rank.

p
  | See also 
  a(href="https://www.pychess.org/variant/minishogi") Minishogi
  | &nbsp;on pychess-variants.
