p.boxed Shogi en un tablero 5 x 5.

figure.diagram-container
  .diagram
    | fen:rbsgk/4p/5/P4/KGSBR:
  figcaption Posición inicial.

p.
  Esta variante corresponde al Shogi en un tablero de ajedrez de 5x5.
  Este juego fue inventado (o redescubierto) en 1970 por Shigenobu Kusumoto
  de Osaka, Japón.

p
  | Las reglas son las mismas que en 
  a(href="/variants/Shogi") Shogi
  | . A diferencia del Shogi estándar, no hay lanza ni caballo.
  | Las promociones solo se realizan en la última fila.

p
  | Ver también 
  a(href="https://www.pychess.org/variant/minishogi") Minishogi
  | & nbsp;en pychess-variants.
