p.boxed Shogi sur un plateau 5 x 5.

figure.diagram-container
  .diagram
    | fen:rbsgk/4p/5/P4/KGSBR:
  figcaption Position initiale.

p.
  Cette variante correspond au Shogi sur un échiquier 5x5.
  Ce jeu a été inventé (ou redécouvert) en 1970 par Shigenobu Kusumoto
  d'Osaka, Japon.

p
  | les règles sont les mêmes qu'au 
  a(href="/#/variants/Shogi") Shogi
  | . Contrairement au Shogi standard, il n'y a ni lance ni cavalier.
  | Les promotion ne s'effectuent que sur la dernière rangée.

p
  | Voir aussi 
  a(href="https://www.pychess.org/variant/minishogi") Minishogi
  | &nbsp;sur pychess-variants.
