p.boxed
  | A queen versus eight pawns.

figure.diagram-container
  .diagram
    | fen:3q4/8/8/8/8/8/PPPPPPPP/8:
  figcaption Initial position

p.
  The pawns win if one reaches the other end
  without being immediately captured.
  The queen wins if it captures all the pawns.

h3 Source

p
  | Inspired by 
  a(href="https://chessplus.net/interactive-games/")
    | Bishop vs 3 Pawns
  | &nbsp;on chessplus.net.
