p.boxed
  | Una dama contra ocho peones.

figure.diagram-container
  .diagram
    | fen:3q4/8/8/8/8/8/PPPPPPPP/8:
  figcaption Posición inicial

p.
  Los peones ganan si uno de ellos llega al otro lado sin ser
  inmediatamente capturado.
  La dama gana si se come todos los peones.

h3 Fuente

p
  | Inspirado por 
  a(href="https://chessplus.net/interactive-games/")
    | Bishop vs 3 Pawns
  | &nbsp;en chessplus.net.
