p.boxed
  | Une dame contre huit pions.

figure.diagram-container
  .diagram
    | fen:3q4/8/8/8/8/8/PPPPPPPP/8:
  figcaption Position initiale

p.
  Les pions gagnent si l'un d'eux arrive de l'autre côté sans être
  immédiatement capturé.
  La dame gagne si elle mange tous les pions.

h3 Source

p
  | Inspiré par 
  a(href="https://chessplus.net/interactive-games/")
    | Bishop vs 3 Pawns
  | &nbsp;sur chessplus.net.
