p.boxed
  | Any piece guarded by a friendly knight can also move like a knight.

p.
  In addition to its normal abilities, a piece guarded by a knight can move like him.
  On the following diagram, 1.Nf4 would checkmate because it guard the g6 queen.
  If it was black to play, then 1...Rxe2 is possible due to the c8 knight.

figure.diagram-container
  .diagram
    | fen:7k/8/6Q1/1n6/8/2r5/4N3/K7:

h3 Source

p
  a(href="TODO") TODO
