p.boxed
  | Three new pieces appear, combining the movements of the knight
  | with those of the queen, rook or bishop.

figure.diagram-container
  .diagram
    | fen:esqakbnr/pppppppp/8/8/8/8/PPPPPPPP/ESQAKBNR:
  figcaption.
    Standard initial position: empresses, princesses and amazons
    respectively on a, b and d files.

p As the pictures suggest,
ul
  li The Amazon (A) moves like a queen + knight,
  li The Empress (E) moves like a rook + knight,
  li the Princess (S) moves like a bishop + knight.

p.
  Note: in the original version of the rules the fairy pieces
  are called General, Chancellor and Minister.

h3 Source

p
  a(href="https://www.chessvariants.com/diffmove.dir/perfectchess.html")
    | Perfect chess
  | &nbsp;on chessvariants.com.
  | You can also play this variant 
  a(href="https://greenchess.net/rules.php?v=perfect") on greenchess.net
  | .

p Inventor: Köksal Karakus (2000)
