p.boxed
  | Aparecen tres piezas nuevas que combinan los movimientos del caballo
  | con los de la dama, la torre o el loco.

figure.diagram-container
  .diagram
    | fen:esqakbnr/pppppppp/8/8/8/8/PPPPPPPP/ESQAKBNR:
  figcaption.
    Posición inicial estándar: emperatriz, princesas y amazonas.
    están respectivamente en las columnas a, b y d.

p Como sugiere la imagen,
ul
  li The Amazon (A) se mueve como una dama + caballo,
  li La emperatriz (E) se mueve como una torre + caballo,
  li La princesa (S) se mueve como un alfil + caballo.

p.
  Nota: en la versión original de estas reglas, las piezas mágicas son
  llamado General, Canciller y Ministro.

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/diffmove.dir/perfectchess.html") variante Perfect
  | &nbsp;en chessvariants.com.
  | Esta variante también es jugable 
  a(href="https://greenchess.net/rules.php?v=perfect") en greenchess
  | .

p Inventor: Köksal Karakus (2000)
