p.boxed
  | Trois nouvelles pièces apparaissent, combinant les déplacements du cavalier
  | avec ceux de la dame, de la tour ou du fou.

figure.diagram-container
  .diagram
    | fen:esqakbnr/pppppppp/8/8/8/8/PPPPPPPP/ESQAKBNR:
  figcaption.
    Position de départ standard : les impératrices, princesses et amazones
    sont respectivement sur les colonnes a, b et d.

p Comme suggéré par l'image,
ul
  li L'Amazone (A) se déplace comme une dame + cavalier,
  li L'Impératrice (E) se déplace comme une tour + cavalier,
  li La Princesse (S) se déplace comme un fou + cavalier.

p.
  Note : dans la version d'ortigine de ces règles, les pièces féériques sont
  appelées Général, Chancelier et Ministre.

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/diffmove.dir/perfectchess.html") variante Perfect
  | &nbsp;sur chessvariants.com.
  | Cette variante est également jouable 
  a(href="https://greenchess.net/rules.php?v=perfect") sur greenchess
  | .

p Inventeur : Köksal Karakus (2000)
