p.boxed.
  Un peon de cada campamento esconde una bomba,
  que se puede activar en lugar de ejecutar un movimiento.

p
  a(href="/#/variants/Stealthbomb1") Stealthbomb1
  | , donde solo los peones pueden llevar una bomba.
