p.boxed.
  Un pion de chaque camp cache une bombe,
  qui peut être déclenchée au lieu de jouer un coup.

p
  a(href="/#/variants/Stealthbomb1") Stealthbomb1
  | , où seuls les pions peuvent porter une bombe.
