p.boxed
	| Gagnez en perdant toutes vos pièces. Captures obligatoires.

h3 Caractéristiques

ul
	li Échiquier : standard.
	li Matériel : standard.
	li Coups non capturants : standards (si autorisés).
	li Coups spéciaux : pas de roque.
	li Captures : standards.
	li Fin de partie : pat, ou perdre toutes ses pièces.

h3 Bases

p.
	L'objectif est de perdre toutes ses pièces (pions inclus), ou d'être pat
	comme sur le diagramme suivant.
	Le roi n'a pas de statut particulier : il peut être capturé.
	Il n'y a pas de notion d'échec, et pas de roque.

p Les captures sont obligatoires, mais si plusieurs sont possibles vous pouvez choisir.

figure.diagram-container
	.diagram
		| fen:6nB/6P1/8/4p3/2p1P3/2P5/8/8:
	figcaption Les blancs ne peuvent pas bouger : 1-0.

h3 Coups spéciaux

p.
	Le roque n'est pas permis, mais les prises en passant sont possibles.
	Un pion peut se promouvoir en roi (donc il peut potentiellement y avoir
	plusieurs rois sur l'échiquier).

h3 Fin de partie

p.
	Gagnez en perdant tout votre matériel ou en étant pat (par exemple avec
	uniquement des pions bloqués restant sur l'échiquier).

h3 Liens

p
	| Cette variante est très populaire, et est jouée en divers endroits sur internet.
	| La 
	a(href="https://en.wikipedia.org/wiki/Losing_Chess") page Wikipedia
	| &nbsp;est un point de départ possible.
