p.boxed
  | Each player has a knight in pocket, which can be dropped at any moment.

p.
  To use your pocket knight, "capture" the enemy king with yours,
  and then click on any empty square.

figure.diagram-container
  .diagram
    | fen:r1bqkbnr/ppNnpppp/2p5/3p4/2PP1B2/8/PP2PPPP/RN1QKBNR:
  figcaption After N@c7+, black must give the queen.

h3 Source

p
  a(href="https://www.chessvariants.com/other.dir/pocket.html")
    | Pocket Knight
  | &nbsp;on chessvariants.com.
