p.boxed
  | Cada jugador tiene un caballo en su bolsillo,
  | que puede poner en cualquier momento.

p.
  Para usar tu caballo de bolsillo, "captura" al rey contrario con el
  su, luego haga clic en cualquier casilla vacía.

figure.diagram-container
  .diagram
    | fen:r1bqkbnr/ppNnpppp/2p5/3p4/2PP1B2/8/PP2PPPP/RN1QKBNR:
  figcaption Después de N@c7+, las negras deben dar la dama.

h3 Fuente

p
  a(href="https://www.chessvariants.com/other.dir/pocket.html")
    | Pocket Knight
  | &nbsp;en chessvariants.com.
