p.boxed
  | Chaque jouer a un cavalier en poche, qu'il peut poser à tout moment.

p.
  Pour utiliser votre cavalier de poche, "capturez" le roi adverse avec le
  votre, puis cliquez sur n'importe quelle case vide.

figure.diagram-container
  .diagram
    | fen:r1bqkbnr/ppNnpppp/2p5/3p4/2PP1B2/8/PP2PPPP/RN1QKBNR:
  figcaption Après N@c7+, les noirs doivent donner la dame.

h3 Source

p
  a(href="https://www.chessvariants.com/other.dir/pocket.html")
    | Pocket Knight
  | &nbsp;sur chessvariants.com.
