input#modalLang.modal(type="checkbox")
div(role="dialog")
	#language.card
		label.modal-close(for="modalLang")
		.section
			fieldset
				label(for="langSelect") Preferred language?
				select#langSelect(onChange="setLanguage(event)")
					each langCode in languages
						option(value=langCode selected=(lang==langCode))
							=langName[langCode]
		.section
			h3.blue Contribute
			p
				| Browse the 
				a(href="https://github.com/yagu0/vchess/tree/master/views")
					| github repository
				| : all files in the folders langNames/, modal-help/, modal-lang/,
				| translations/ and welcome/ should be translated. Moreover, and
				| it's the longest part, you would have to translate all the rules under 
				| rules/. When it's done, send me the files: 
				a(href="mailto:contact@vchess.club?subject=[vchess.club] translation")
					| contact@vchess.club
				| . Thanks!
