input#modalLang.modal(type="checkbox")
div(role="dialog")
	#language.card
		label.modal-close(for="modalLang")
		.section
			fieldset
				label(for="langSelect") Langue préférée ?
				select#langSelect(onChange="setLanguage(event)")
					each langCode in languages
						option(value=langCode selected=(lang==langCode))
							=langName[langCode]
		.section
			h3.blue Contribuer
			p
				| Votre langue favorite n'est pas disponible ? Alors...
				| Parcourez le 
				a(href="https://github.com/yagu0/vchess/tree/master/views")
					| dépôt github
				| &nbsp;: il faut traduire tous les fichiers dans les dossiers langNames/,
				| modal-help/, modal-lang/, translations/ et welcome/. De plus, et c'est l'essentiel
				| du travail il faut traduire toutes les règles dans rules/.
				| Une fois que c'est fait, envoyez-moi les fichiers : 
				a(href="mailto:contact@vchess.club?subject=[vchess.club] translation")
					| contact@vchess.club
				| . Merci !
