p.boxed
  | You can forbid the opponent to play the move he wanted,
  | unless it is the only move available.

p
  a(href="/#/variants/Refusal1") Refusal1
  | , but if a player has only one legal move, this move must be accepted.
