p.boxed
  | Puedes evitar que el oponente haga cualquier movimiento que quiera,
  | a menos que sea el único movimiento posible.

p
  a(href="/#/variants/Refusal1") Refusal1
  | , pero si un jugador tiene solo un movimiento legal, debe ser aceptado.
