p.boxed
  | Vous pouvez empêcher l'adversaire de jouer le coup qu'il souhaite,
  | sauf si c'est le seul coup possible.

p
  a(href="/#/variants/Refusal1") Refusal1
  | , mais si un joueur n'a qu'un seul coup légal, celui-ci doit être accepté.
