p.boxed
  | Pieces can also move as a knight. The knight is replaced by a mammoth.

p.
  In addition to their usual abilities, pawns and non-royal pieces (everything
  but the king) may make non-capturing knight moves.
  Pawns move forward only.

p.
  The new piece instead of the knight is a Mammoth: it leaps two squares in
  any direction, as illustrated below.

figure.diagram-container
  .diagram
    | fen:8/8/2pP4/4MP2/4p3/3p4/8/8 c7,d7,e7,f7,g7,g6,g5,g4,g3,f3,e3,c3,c4,c5:
  figcaption Movements of the Mammoth

ul
  li A pawn cannot promote with a knight move.
  li No en passant captures.

h3 Source

p
  a(href="https://www.chessvariants.com/diffmove.dir/balaklava.html")
    | Balaklava Chess
  | &nbsp;on chessvariants.com.

p Inventor: Gianluca Vecchi (1994)
