p.boxed
  | Las piezas también pueden moverse como un caballo.
  | El caballo es reemplazado por un mamut.

p.
  Además de sus habilidades habituales, peones y piezas no reales
  (todo excepto el rey) puede hacer saltos de caballo non capturado.

p.
  La nueva pieza reemplaza para el caballo es un Mamut: salta dos
  casillas en todas las direcciones, como se muestra a continuación.

figure.diagram-container
  .diagram
    | fen:8/8/2pP4/4MP2/4p3/3p4/8/8 c7,d7,e7,f7,g7,g6,g5,g4,g3,f3,e3,c3,c4,c5:
  figcaption Movimientos del Mamut.

ul
  li Un peón no puede ser promovido a través de un salto de caballo.
  li No hay capturas en passant.

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/diffmove.dir/balaklava.html")
    | variante Balaklava
  | &nbsp;en chessvariants.com.

p Inventor: Gianluca Vecchi (1994)
