p.boxed
  | Les pièces peuvent aussi se déplacer comme un cavalier.
  | Le cavalier est remplacé par un mammouth.

p.
  En plus de leurs capacités habituelles, les pions et pièces non royales
  (tout sauf le roi) peuvent effectuer des coups de cavalier non capturants.

p.
  La nouvelle pièce remplaçant le cavalier est un Mammouth : il saute de deux
  cases dans toutes les directions, comme illustré ci-dessous.

figure.diagram-container
  .diagram
    | fen:8/8/2pP4/4MP2/4p3/3p4/8/8 c7,d7,e7,f7,g7,g6,g5,g4,g3,f3,e3,c3,c4,c5:
  figcaption Déplacements du Mammouth

ul
  li Un pion ne peut se promouvoir via un saut de cavalier.
  li Pas de prises en passant.

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/diffmove.dir/balaklava.html")
    | variante Balaklava
  | &nbsp;sur chessvariants.com.

p Inventeur : Gianluca Vecchi (1994)
