p.boxed
  | Les pièces noires sont remplacées par une nouvelle équipe, dont
  | la plupart des pièces tendent à évoluer sur une seule couleur.

p.
  Les pions et le roi noirs conservent leur déplacements habituels, mais ce
  n'est pas le cas des autres pièces :
ul
  li Tour = fou + dabbabah (D),
  li Cavalier = wazir + alfil = "phoenix" (H),
  li Fou = ferz + alfil + dabbabah (A),
  li Dame = fou + cavalier = "princesse" (S).
p.
  Le Ferz et le Wazir se déplacent respectivement comme un fou et une tour
  mais d'une seule case. L'Alfil et le Dabbabah se déplacent respectivement
  de deux cases comme un fou et une tour,
  en sautant éventuellement par dessus une pièce.

figure.diagram-container
  .diagram.diag12
    | fen:8/8/8/3d4/8/8/8/8 a8,b7,c6,e4,f3,g2,h1,c4,b3,a2,e6,f7,g8,f5,d3,b5,d7:
  .diagram.diag22
    | fen:8/8/8/4h3/8/8/8/8 e6,f5,e4,d5,c7,g7,g3,c3:
  figcaption.
    Coups de la tour noire à gauche, et du cavalier noir à droite.

p.
  Les pions peuvent être promus en n'importe quelle pièce (incluant celles
  de l'autre équipe).

p.
  Après le grand roque, le roi noir arrive en b8 et la tour a8 vient en c8,
  afin de rester sur la même couleur.

h3 Source

p
  a(href="https://www.chessvariants.com/d.betza/chessvar/dan/colclob.html")
    | Les "tabasseurs unicolores"
    | &nbsp;sur chessvariants.com.

p Inventeur : Ralph Betza (1996)
