p.boxed.
  Standard army versus two powerful pieces.

p
  | This variant is inspired from 
  a(href="https://en.wikipedia.org/wiki/Maharajah_and_the_Sepoys")
    | Maharajah Chess
  | . Since it is known as a forced win for Black, it is modified here
  | following ideas of Rad Herring and viro90 
  a(href="https://discord.com/channels/686736099959504907/687076968046395410/735678637432635473")
    | on Discord
  | . The rules deviate slightly from both of their proposals, however,
  | in another attempt to balance the game.

p Rules:
ul
  li White pieces move as usual, and must eliminates both black units.
  li.
    Black pieces are a combination of a queen, a knight, and a two-squares
    jumper (Alfil + Dabbabah). They must capture the king.

figure.diagram-container
  .diagram
    | fen:8/8/1N2P3/3mR3/3P4/2B2Q2/8/7K b6,c7,a5,b5,c5,f5,a2,b3,c4,a8,b7,c6,e4,f3,d4,d3,c3,e3,f4,f6,e7,f7,d6,d7,d8,e5,e6,b4:
  figcaption Movements of the "upgraded Maharajah".
