p.boxed
  | Les pièces héritent des mouvements des pièces amies les observant.

p
  | Cette variante est basée sur 
  a(href="https://www.chessvariants.com/rules/relay-chess") Relay Chess
  | &nbsp;de chessvariants.com par Johnny Luken (2012).

p.
  Comme dans Relay Chess, il n'y a ni roque ni prise en passant, et les pions
  ne peuvent avancer que d'une case vers l'avant (par eux-mêmes).

p Cependant, j'ai effectué deux changements substantiels :
ul
  li.
    Être relayé par une pièce amie ajoute des capacités de déplacement, sans
    annuler les mouvements de base d'une pièce. Ainsi le relai correspond à
    un "upgrade", expliquant le nom choisi "Relayup".
  li.
    Les pions relayés par n'importe quelle pièce amie (sauf les pions)
    gagnent la possibilité de se déplacer et capturer comme elles, mais
    d'un pas seulement.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR c3,d4,d3,e3,f4,f3,g3:
  figcaption.
    Déplacements du pion e2, relayé par cavalier et dame (+ roi et fou).

p.
  Enfin, puisque le pat compte comme une victoire et que (je crois) il
  n'existe pas de configurations complètement bloquées, le but est de capturer
  le roi. Vous avez le droit d'aller ou de rester en échec.
