p.boxed
  | Either enter the arena, or capture something inside.
  | The arena is the 4x8 rectangle in the middle of the board.

ul
  li.
    In addition to its usual movement, a pawn can capture diagonally backward.
  li.
    The king and queen are replaced with dukes.
    A duke may move up to 3 spaces in any direction.
    Dukes may move into check as they please,
    but if a player loses both of his dukes, he loses.

p.
  The 4x8 area in the center of the board (the area in which no pieces start)
  is known as the Arena. A piece that is not currently in the Arena may only move
  if it is to enter the Arena. A piece which is currently in the Arena may
  only move to capture something in the Arena.

p A player wins if:
ul
  li He captures both of his opponent's Dukes.
  li.
    His opponent has no pieces left in the Arena at the end of any turn
    other than the first.
  li His opponent cannot make a move.

figure.diagram-container
  .diagram
    | fen:brnkqrnb/pppppppp/8/8/8/8/PPPPPPPP/QNRBBKNR:
  figcaption After the moves 1.e4 Nd6 2.Bg4 Nxe4.

p.
  In the diagram situation, the g4 bishop cannot take anything in the Arena,
  and thus cannot move. Note that 1...d5?? 2.exd5 1-0, because black would have
  no pieces in the Arena.

h3 Source

p
  a(href="https://www.chessvariants.com/32turn.dir/arenachess.html") Arena chess
  | &nbsp;on chessvariants.com.

p Inventor: Jeff Kiska (2000)
