p.boxed
  | Alinee cinco piedras en cualquier dirección.

p.
  En cada turno, coloque una piedra en el tablero, en una intersección vacía.
  Una vez que la piedra esté en su lugar, no se moverá. El primer jugador en
  alinear cinco (o más) piedras en cualquier dirección gana.
  Sin embargo, si las blancas (jugando segundas) pueden alcanzar
  este gol justo después de las negras, el juego es un empate.

figure.diagram-container
  .diagram
    | fen:991/991/991/991/991/94P5/93p6/7ppp1p7/9Pp8/9pP8/7PPP1P7/93P6/94p5/991/991/991/991/991/991 k9,k12:
  figcaption.
    Si las negras juegan en el punto anotado más bajo,
    el blanco responde a la otra marca: empate.
