p.boxed
  | Alignez cinq pierres dans n'importe quelle direction.

p.
  À chaque tour, placez une pierre sur le plateau, sur une intersection vide.
  Une fois la pierre en place elle ne bougera plus. Le premier joueur à
  aligner cinq pierres (ou plus) dans n'importe quelle direction remporte
  la victoire. Cependant, si les blancs (jouant en second) peuvent attindre
  ce but juste après les noirs, la partie est nulle.

figure.diagram-container
  .diagram
    | fen:991/991/991/991/991/94P5/93p6/7ppp1p7/9Pp8/9pP8/7PPP1P7/93P6/94p5/991/991/991/991/991/991 k9,k12:
  figcaption.
    Si les noirs jouent au point marqué inférieur,
    les blancs répondent à l'autre marque : nulle.
