p.boxed.
  Pieces movements and captures are complex.
  You can win by occupying the two squares of the last rank.

figure.diagram-container
  .diagram
    | fen:xxx2xxx/1g1qk1g1/1bnmrnb1/dppppppd/8/8/8/DPPPPPPD/1BNMRNB1/1G1QK1G1/xxx2xxx:
  figcaption Standard deterministic position

p.
  The pawns, queen, rook, inverted rook and knights are respectively called
  Pincers, Withdrawer, Coordinator, Immobilizer and Long Leapers, and behave
  exactly as in Baroque chess - so I won't describe them here, please read the
  Baroque rules.

p.

  guard mage king


