p.boxed
  | Los alfiles y la dama son menos poderosos que el ajedrez estándar.

p.
  De izquierda a derecha, con los nombres tailandeses entre paréntesis:
  torre (Ruea), caballo (Ma), alfil (Khon), dama (Met), rey (Khun).

figure.showPieces.text-center
  img(src="/images/pieces/Makruk/wr.svg")
  img(src="/images/pieces/Makruk/wn.svg")
  img(src="/images/pieces/Makruk/wb.svg")
  img(src="/images/pieces/Makruk/wq.svg")
  img(src="/images/pieces/Makruk/wk.svg")

ul
  li.
    Todas las piezas excepto los alfiles y la dama se mueven como en el
    ajedrez ortodoxo.
  li La dama se mueve una casilla en cualquier dirección diagonal.
  li El alfil se mueve un espacio hacia adelante, o como una dama.
  li.
    El único movimiento especial es la promoción de los peones, siempre como
    dama.
  li No hay enroque.

p.
  Los peones son promovidos en la sexta fila, en una dama pero representada
  por un peón particular, como se ilustra en el diagrama.

figure.diagram-container
  .diagram.diag12
    | fen:8/8/8/4P3/8/8/8/8:
  .diagram.diag22
    | fen:8/8/4F3/8/8/8/8/8:
  figcaption Antes y después de la promoción en e6.

h3 Fuente

p
  a(href="https://www.pychess.org/variant/makruk")
    | Makruk
  | &nbsp;en Pychess-variantes (jugable allí). Esta variante es jugable tambien
  a(href="https://www.playok.com/en/makruk/") en playok
  | .
