p.boxed
  | Les fous et la dame sont moins puissants qu'aux échecs standards.

p.
  De gauche à droite, avec les noms thai entre parenthèses : tour (Ruea),
  cavalier (Ma), fou (Khon), dame (Met), roi (Khun).

figure.showPieces.text-center
  img(src="/images/pieces/Makruk/wr.svg")
  img(src="/images/pieces/Makruk/wn.svg")
  img(src="/images/pieces/Makruk/wb.svg")
  img(src="/images/pieces/Makruk/wq.svg")
  img(src="/images/pieces/Makruk/wk.svg")

ul
  li.
    Toutes les pièces sauf les fous et la dame se déplacent comme aux échecs
    orthodoxes.
  li La dame se déplace d'une case dans n'importe quelle direction diagonale.
  li Le fou se déplace d'une case vers l'avant, ou bien comme une dame.
  li Le seul coup spécial est la promotion des pions, toujours en dame.
  li Il n'y a pas de roque.

p.
  Les pions sont promus sur la sixième rangée, en une dame mais représentée
  par un pion particulier, comme illustré sur le diagramme.

figure.diagram-container
  .diagram.diag12
    | fen:8/8/8/4P3/8/8/8/8:
  .diagram.diag22
    | fen:8/8/4F3/8/8/8/8/8:
  figcaption Avant et après la promotion en e6.

h3 Source

p
  a(href="https://www.pychess.org/variant/makruk")
    | Makruk
  | &nbsp;sur pychess-variants (jouable là-bas). Cette variante est jouable
  | également 
  a(href="https://www.playok.com/en/makruk/") sur playok
  | .
