p.boxed
  | Las columnas 'a' y 'h' se comunican.

p.
  La columna 'a' está ahora a la derecha de la columna 'h':
  un peón en h2 puede tomar a3, y un alfil en h3 puede ir en a4, etc.

p.
  Esto permite dobles jaques dadas por una sola pieza. En el diagrama
  a continuación, el alfil da jaque por dos caminos diferentes: e2-d3-c4 y
  g2-h3-a4. No es posible cubrir las dos líneas de ataque, por lo que el rey
  debe moverse.

figure.diagram-container
  .diagram.diag12
    | fen:8/2p5/3n4/1k6/8/8/2PP4/5B1K:
  .diagram.diag22
    | fen:4k3/2p5/8/8/7N/8/3P4/7K a2,b3,b5,a6,g2,f3,f5,g6:
  figcaption.
    Izquierda: doble-jaque en b5.
    Derecha: posibles movimientos de caballo desde h4.

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/boardrules.dir/cylindrical.html")
    | variante cilíndrica
  | &nbsp;en chessvariants.com.
