doctype html
html
		main#VueElement
			my-upsert-user
			.container
						v-bind:vobj="v" v-bind:index="idx" v-bind:key="v.name")
				.row(v-show="display=='correspondance'")
					my-correspondance
				.row
					my-room(v-show="display=='room'" :conn="conn" :settings="settings")
					my-tab-games(v-show="display=='tabGames'")
					my-rules(v-show="display=='rules'" :settings="settings")
					my-problems(v-show="display=='problems'" :prob-id="probId" :settings="settings")
					my-game(v-show="display=='game'" :game-ref="gameRef" :conn="conn"
						:allow-chat="allowChat" :allow-movelist="allowMovelist"
						:mode="mode" :settings="settings" @game-over="archiveGame")

		// TODO: get rid of underscore
		// (used essentially for _.random(), _.sample() and _.range())
		script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js")
		// TODO: add only the necessary icons to mini-css custom build
		script(src="//unpkg.com/feather-icons")
		script(src="/javascripts/utils/printDiagram.js")
		script(src="/javascripts/utils/datetime.js")
		script(src="/javascripts/utils/squareId.js")
		script(src="/javascripts/utils/misc.js")
		script(src="/javascripts/utils/ajax.js")
		script(src="/javascripts/utils/array.js")
		script(src="/javascripts/shared/nbPlayers.js")
		script(src="/javascripts/shared/challengeCheck.js")
		script(src="/javascripts/shared/userCheck.js")
		script(src="/javascripts/components/upsertUser.js")
		script(src="/javascripts/components/variantSummary.js")
		script(src="/javascripts/components/correspondance.js")
		script(src="/javascripts/components/board.js")
		script(src="/javascripts/components/chat.js")
		script(src="/javascripts/components/gameList.js")
		script(src="/javascripts/components/challengeList.js")
		script(src="/javascripts/components/moveList.js")
		script(src="/javascripts/components/game.js")
		script(src="/javascripts/components/rules.js")
		script(src="/javascripts/components/room.js")
		script(src="/javascripts/components/tabGames.js")
		script(src="/javascripts/components/problemSummary.js")
		script(src="/javascripts/components/problems.js")
		script(src="/javascripts/base_rules.js")
		script(src="/javascripts/contactForm.js")
		script(src="/javascripts/socket_url.js")
		script(src="/javascripts/index.js")
		script(src="/javascripts/variant.js")
		script(src="/javascripts/app.js")
