p.boxed.
  Pieces cannot capture pieces of the same type.

p.
  Rooks, knights, bishops and queens cannot capture their counterparts in
  the enemy army.

p Stalemate counts as a loss.

h3 More informations

p
  | See 
  a(href="https://www.chessvariants.com/difftaking.dir/brotherhood.html")
    | Brotherhood Chess
  | &nbsp;on chessvariants.com.

p Inventor: Gianluca Vecchi (1993)
