p.boxed.
  Las piezas no pueden capturar otras piezas del mismo tipo.

p.
  Las torres, los caballos, los alfiles y las damas no pueden capturar a sus
  contrapartes en el ejército enemigo.

p El empate equivale a una derrota.

h3 Más información

p
  | Ver 
  a(href="https://www.chessvariants.com/difftaking.dir/brotherhood.html")
    | Brotherhood Chess
  | &nbsp;en chessvariants.com.

p Inventor: Gianluca Vecchi (1993)
