p.boxed.
  Les pièces ne peuvent pas capturer d'autres pièces du même type.

p.
  Les tours, cavaliers, fous et dames ne peuvent capturer leurs homologues
  dans l'armée ennemie.

p Le pat équivaut à une défaite.

h3 Plus d'information

p
  | Voir 
  a(href="https://www.chessvariants.com/difftaking.dir/brotherhood.html")
    | Brotherhood Chess
  | &nbsp;sur chessvariants.com.

p Inventeur : Gianluca Vecchi (1993)
