p.boxed
  | Jouez deux coups à chaque tour. Le but est de capturer le roi.

p.
  La seule différence avec le jeu orthodoxe est la règle du double-coup, mais
  cela affecte beaucoup le jeu.

p.
  Au tout début de la partie les blancs ne jouent qu'un seul coup, comme
  d'habitude. Cependant, après cela et ce pour tout le reste de la partie
  chaque camp doit jouer deux coups à chaque tour
  (sauf si le premier capture le roi adverse).

figure.diagram-container
  .diagram.diag12
    | fen:rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR:
  .diagram.diag22
    | fen:r1bqkbnr/pppp1ppp/2n5/4p3/2B1P3/5Q2/PPPP1PPP/RNB1K1NR:
  figcaption.
    Gauche : après les coups 1.e4 e5, le pion 'd' est cloué.
    Droite : le roi noir est "en échec".

p.
  Dans la position du diagramme à gauche, après le premier coup noir ...e5,
  un déplacement du pion 'd' autoriserait 2.Bb5,Bxe8 capturant le roi.
  À droite, après 2.Qf3,Bc4 les menaces sont 3.Bxf7,Bxe8 et 3.Qxf7,Qxe8.

h3 Prise en passant

p.
  Capturer en passant est autorisé sous certaines conditions.
  Si l'adversaire a déplacé un pion permettant une telle capture
  (une fois ou deux fois), alors pour en profiter il faut prendre en passant
  dès le premier coup de votre tour. Ensuite, si (et seulement si) il y a
  une autre prise en passant disponible, vous pouvez l'exécuter au second coup.

p.
  Note : si un pion se déplace de deux cases puis qu'une pièce occupe la case
  de prise en passant au second coup d'un tour, une capture sur cette case ne
  prendra que la pièce.
  Et, si un pion a avancé deux fois la prise en passant sur son premier
  déplacement est impossible (le pion est "trop loin" désormais).

h3 Plus d'information

p
  | cette variante est dérivée des 
  a(href="/#/variants/Doublemove1") échecs marseillais
  | . Elle est jouable également 
  a(href="https://greenchess.net/rules.php?v=double-move") sur greenchess
  | .

p Inventeur : Fred Galvin (1957)
