p.boxed
  | Los peones pueden capturar hacia atrás.

p.
  Se aplican reglas ortodoxas, con peones aumentados: pueden capturar hacia
  adelante como de costumbre, pero también hacia atrás -
  siempre con un paso diagonal.

figure.diagram-container
  .diagram
    | fen:k7/2B5/3p4/2p1p3/2P1P3/3P1N2/8/K7:
  figcaption El alfil y el caballo son atacados.

h3 Fuente

p
  | Esta parece ser una idea original de José Victor Gonçalves, de ahí el
  | nombre "Victor-Chess", abreviado como Vchess. Algunas otras variantes con
  | diferentes movimientos de peones se enumeran 
  a(href="https://www.chessvariants.com/other.dir/modest-pawn.html")
    | en esta página
  | .
