p.boxed
  | Les pions peuvent capturer en arrière.

p.
  Les règles orthodoxes s'appliquent, avec des pions augmentés : ils peuvent
  capturer vers l'avant comme d'habitude, mais aussi en arrière -
  toujours d'un pas diagonal.

figure.diagram-container
  .diagram
    | fen:k7/2B5/3p4/2p1p3/2P1P3/3P1n2/8/K7:
  figcaption Le fou et le cavalier sont attaqués.

h3 Source

p
  | Cela semble être une idée originale de José Victor Gonçalves, d'où le nom
  | "Victor-Chess", abrégé en Vchess. Quelques autres variantes avec
  | différents déplacements de pions sont listées 
  a(href="https://www.chessvariants.com/other.dir/modest-pawn.html")
    | sur cette page
  | .
