p.boxed
  | Win by giving three checks (or a single checkmate).

p.
  Orthodox rules apply, but giving three checks win the game.
  Since it is easier than checkmate, most games would end in this way.

h3 Source

p
  | Old variant, playable at several locations including 
  a(href="https://lichess.org/variant/threeCheck") lichess
  | .
