p.boxed
  | Win by giving three checks (or a single checkmate).

p.
  Orthodox rules apply, but giving three checks win the game.
  Since it is easier than checkmate, most games would end in this way.

p.
  In the diagram position, 2.Bb5+ c6 3.Bxc6+ is an excellent
  sacrifice because now only one check will give white victory.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/ppp1pppp/3p4/8/4P3/8/PPPP1PPP/RNBQKBNR:
  figcaption.
    After the moves 1.e4 d6??

h3 Source

p
  | Old variant, playable at several locations including 
  a(href="https://lichess.org/variant/threeCheck") lichess
  | .
