p.boxed
  | Gana dando tres jaques (o un solo jaque mate).

p.
  Se aplican las reglas ortodoxas, pero dar tres jaques gana
  la partida. Es más fácil que de matar, entonces la mayoría de las
  partidas deberían terminar así.

h3 Fuente

p
  | Es una variante antigua, jugable en varios lugares, incluyendo
  a(href="https://lichess.org/variant/threeCheck") lichess
  | .
