p.boxed
  | Gagnez en donnant trois échecs (ou un seul échec et mat).

p.
  Les règles orthodoxes s'appliquent, mais donner trois échecs fait gagner
  la partie. C'est plus facile que de mater,
  donc la plupart des parties devraient s'achever ainsi.

h3 Source

p
  | C'est une vieille variante, jouable à plusieurs endroits dont 
  a(href="https://lichess.org/variant/threeCheck") lichess
  | .
