p.boxed.
  Tienes un rey y un "antirey". El rey no puede estar en jaque al final de un
  turno, pero el antirey siempre debe estar en jaque. Este último captura las
  piezas de su color.

p.
  Se presenta una nueva pieza: el antirey, denotado por la letra 'A'.
  Esta pieza debe estar siempre en jaque (ortodoxo): se
  considera en (anti-)jaque cuando no es atacada por ninguna pieza enemiga.
  En este caso, el antirey debe unirse inmediatamente a una casilla atacada.

p.
  El antirey es una pieza real, por lo que no puede ser capturado.
  Ella captura solo las piezas de su color.
  Los antireyes no dan jaque, y los reyes no atacan a los antireyes.

figure.diagram-container
  .diagram
    | fen:2prbkqA/2p1nnbr/2pppppp/8/8/PPPPPP2/RBNN1P2/aQKBRP2:
  figcaption Posición inicial: los antireyes están en las esquinas.

h3 Jugadas inusuales

ul
  li.
    Los peones son peones Berolina, que se mueven diagonalmente una
    casilla y captura avanzando verticalmente.
  li.
    Si un rey o anti-rey aún no se ha movido, puede realizar
    un salto de caballo a una casilla vacía.

h3 Fin de la partida

p Hay tres maneras de ganar:
ol
  li Mater el rey contrario
  li "Anti-mater" el antirey contrario
  li Dar un doble jaque, como en el siguiente diagrama

figure.diagram-container
  .diagram
    | fen:2pr3A/2pb1qbr/2p1pkQp/2pnp1n1/1PPN4/PPB1PPN1/1K2RP2/a2BRP2:
  figcaption Después de Qb1xg6#

h3 Más información

p
  | La 
  a(href="https://www.chessvariants.com/diffobjective.dir/anti-king-chess.html")
    | variante Antiking
  | &nbsp;en chessvariants.com.

p Inventor: Peter Aronson (2002)
