p.boxed
	| Zen chess only change one thing to the standard rules:
	| a piece A captures an opponent piece B if and only if B can take A
	| according to the orthodox rules.

figure.diagram-container
	.diagram
		| fen:r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R:
	figcaption After 3.Bb5?? black can play 3...Nxb5 or 3...e5xf3 for example

h3 Specifications

ul
	li Chessboard: standard.
	li Material: standard.
	li Non-capturing moves: standard.
	li Special moves: standard.
	li Captures: reverse, as stated above.
	li End of game: standard; see below.

h3 End of the game

p Conforming to the rule, the king captures the pieces which are attacking him.

figure.diagram-container
	.diagram
		| fen:8/8/8/3r1k2/8/8/3K4/8:
	figcaption The white king can take the rook

p.
	However, the king is attacked in the same way as in regular chess -
	and it's the only exception.

figure.diagram-container
	.diagram
		| fen:r7/2n5/1q6/5k2/8/8/K7/8:
	figcaption.
		The king cannot take on a8 because it's guarded by the knight: it's checkmate

h3 Source

p.
	Very few resources about this variation: 
	#[a(href="http://play.chessvariants.org/erf/ZenChess.html") this webpage]
	&nbsp;and #[a(href="http://www.pathguy.com/chess/ZenChess.htm") this one].
