p.boxed
  | Win by being safe on last rank.

p.
  Each player owns twelve abstract pieces, two each of six different kinds.
  Round pieces move in any direction;
  square pieces move only orthogonally and triangular pieces only diagonally.
  Large pieces move any distance, small pieces only one field per turn.

figure.diagram-container
  .diagram
    | fen:rbqqbr/tcssct/6/6/TCSSCT/RBQQBR:
  figcaption Deterministic initial position.

p.
  Opponent pieces can be eliminated by moving onto their position.
  The goal is to reach the opponent's base line with one of your pieces,
  safe from captures.

h3 More information

p
  | See Alapo pages on 
  a(href="https://boardgamegeek.com/boardgame/18661/alapo") boardgamegeek.com
  | &nbsp;and 
  a(href="https://www.chessvariants.com/small.dir/alapo.html")
    | chessvariants.com
  | .
