p.boxed
  | Gana llegando a salvo a la última fila.

p.
  Cada jugador tiene doce piezas abstractas, dos de cada uno de seis tipos
  diferentes. Las piezas redondas se mueven en cualquier dirección;
  las piezas cuadradas evolucionan ortogonalmente mientras que los triángulos
  moverse en diagonal.
  Las piezas grandes se mueven tan lejos como quieran,
  los pequeños están limitados a un espacio por turno.

figure.diagram-container
  .diagram
    | fen:rbqqbr/tcssct/6/6/TCSSCT/RBQQBR:
  figcaption Posición inicial determinista.

p.
  Las piezas opuestas se eliminan moviéndose a su posición.
  El objetivo es llegar a la primera fila contraria con
  una de sus piezas, a salvo de la captura.

h3 Más información

p
  | Consulte las páginas sobre Alapo en 
  a(href="https://boardgamegeek.com/boardgame/18661/alapo") boardgamegeek.com
  | &nbsp;y 
  a(href="https://www.chessvariants.com/small.dir/alapo.html")
    | chessvariants.com
  | .
