p.boxed
  | Gagnez en arrivant en sécurité sur la dernière rangée.

p.
  Chaque joueur possède douze pièces abstraites, deux de chaque de six types
  différents. Les pièces rondes se déplacent dans n'importe quelle direction ;
  les pièces carrées évoluent orthogonalement tandis que les triangles
  avancent en diagonale.
  Les grandes pièces se déplacent aussi loin qu'elle veulent,
  les petites étant limitées à une case par tour.

figure.diagram-container
  .diagram
    | fen:rbqqbr/tcssct/6/6/TCSSCT/RBQQBR:
  figcaption Position initiale déterministe.

p.
  Les pièces adverses sont éliminées en se déplaçant sur leur position.
  L'objectif est d'atteindre la première rangée adverse avec
  une de vos pièces, à l'abri des captures.

h3 Plus d'information

p
  | Voir les pages au sujet d'Alapo sur 
  a(href="https://boardgamegeek.com/boardgame/18661/alapo") boardgamegeek.com
  | &nbsp;et 
  a(href="https://www.chessvariants.com/small.dir/alapo.html")
    | chessvariants.com
  | .
