p.boxed
  | Empilez librement les tours, de manière à ce que votre couleur
  | apparaisse en haut.

p.
  48 pièces sont initialement réparties sur un plateau irrégulier de 49 cases.
  Les "blancs" prennent les pièces jaunes,
  et les "noirs" jouent avec les rouges.

figure.diagram-container
  .diagram
    | fen:xxBbxxxxx/xBbBbxxxx/xbBbBbBxx/xBbBbBbBb/BbBb1bBbB/bBbBbBbBx/xxBbBbBbx/xxxxbBbBx/xxxxxbBxx:
  figcaption Position initiale déterministe.

p.
  À chaque tour, prenez n'importe quelle tour de moins de 5 pièces (le nombre
  indiqué dessus) et placez la sur une tour adjacente, de manière à ce que
  la construction résultante soit de hauteur au plus 5.

p.
  Quand plus aucun coup n'est possible, la partie s'achève.
  Le gagnant est le joueur ayant le plus de tours de sa couleur (en haut).

h3 Plus d'information

p
  | Peu de ressources en ligne à propos de ce jeu. Les règles sont expliquées
  | par exemple sur 
  a(href="http://jeuxstrategie.free.fr/Avalam_complet.php") cette page
  | . Voir aussi la page Avalam sur 
  a(href="https://www.jeuxdenim.be/jeu-Avalam") jeuxdenim.be
  | .

p Inventeur : Philippe Deweys (1995)
