p.boxed
  | Black wins by lining up 4 pawns. Infinite pawns supply.

p.
  Black initially has only the king, and can only land pawns on the board
  (or play a regular move); if four are aligned in any direction, it's a win.
  Of course black could also win by checkmate, but it's rather unlikely.
  White wins by checkmating the enemy king.

p This variant was invented by madi (2021) on vchess Discord.
