p.boxed
  | Las negras ganan alineando 4 peones. Fondo de peones infinito.

p.
  Las negras eran solo su rey, y solo podían lanzarse en paracaídas
  peones en el tablero de ajedrez (o jugar un movimiento normal); si cuatro
  están alineados en cualquier dirección, se gana. Por supuesto que las negras
  podrían también gana por jaque mate, pero eso es bastante improbable.
  Las blancas ganan por matar al rey contrario.

P Esta variante fue inventada por madi (2021) en el Discord vchess.
