p.boxed
  | Las negras ganan alineando 4 peones. Fondo de peones infinito.

p.
  Las negras inicialmente solo tienen su rey, pero tienen una reserva de
  peones infinitos que pueden lanzar en paracaídas sobre el tablero
  en lugar de jugar un movimiento.
  Si hay cuatro peones alineados en cualquier dirección, ganas.

figure.diagram-container
  .diagram
    | fen:4k3/2pp1p2/4p3/7Q/2BPP3/8/PPP2PPP/RNB1K1NR e7:
  figcaption.
    Las negras amenazan con ganar por @e7.
    Las blancas pueden prevenirlo con Qh8+

p Las blancas ganan matando al rey contrario.

P Esta variante fue inventada por madi (2021) en el Discord vchess.
