p.boxed
  | Les noirs gagnent en alignant 4 pions. Réserve de pions infinie.

p.
  Les noirs n'ont initialement que leur roi, et ne peuvent parachuter que des
  pions sur l'échiquier (ou jouer un coup normal) ; si quatre sont alignés
  dans n'importe quelle direction, c'est gagné. Bien sûr les noirs pourraient
  aussi gagner par échec et mat, mais c'est assez improbable.
  Les blancs gagnent en matant le roi adverse.

p Cette variante a été inventée par madi (2021) sur le Discord vchess.
