p.boxed
  | Un movimiento normal siempre va seguido de un empujón de un peón contrario.

p.
  Cada ronda consta de dos partes. El primero es un movimiento legal según
  reglas ortodoxas. La segunda parte, denominada "empujar", consta de
  mueve un peón enemigo hacia adelante una casilla (hacia el jugador al turno).
  Las blancas no tienen un empujón en la primera jugada
  (Avalancha "Equilibrada").

p.
  Si ningún peón puede avanzar en el segundo parte, entonces el turno
  pasa al oponente. Si un peón empujado llega a su última fila,
  luego su dueño decide en qué pieza lo asciende.

figure.diagram-container
  .diagram.diag12
    | fen:rnbqkbnr/1pppp1pp/8/p7/P3Pp2/8/1PPPKPPP/RNBQ1BNR:
  .diagram.diag22
    | fen:rnbqkbnr/1pppp1pp/8/p7/P3P3/2N2p2/1PPPKPPP/R1BQ1BNR:
  figcaption.
    Las blancas juegan Nc3,f3 (mala idea).
    Las negras pueden entonces llevarse al rey.

p.
  En algunos casos, se pueden capturar reyes.
  Cuenta como una victoria.

p No hay capturas en-passant.

h3 Más información

p
  | Ver 
  a(href="https://www.chessvariants.com/mvopponent.dir/avalanche.html")
    | Avalanche Chess
  | &nbsp;en chessvariants.com.
