p.boxed
  | Un coup normal est toujours suivi d'une poussée d'un pion adverse.

p.
  Chaque tour consiste en deux parties. La première est un coup légal selon
  les règles orthodoxes. La seconde partie, appelée "poussée", consiste à
  déplacer un pion ennemi d'une case vers l'avant (vers le joueur au trait).
  Les blancs n'ont pas de poussée au premier coup (Avalanche "équilibrée").

p.
  Si aucun pion ne peut avancer lors de la seconde partie, alors le tour
  passe à l'adversaire. Si un pion poussé atteint sa dernière rangée,
  alors son propriétaire décide en quelle pièce il est promu.

figure.diagram-container
  .diagram.diag12
    | fen:rnbqkbnr/1pppp1pp/8/p7/P3Pp2/8/1PPPKPPP/RNBQ1BNR:
  .diagram.diag22
    | fen:rnbqkbnr/1pppp1pp/8/p7/P3P3/2N2p2/1PPPKPPP/R1BQ1BNR:
  figcaption.
    Les blancs jouent Nc3,f3 (mauvaise idée).
    Les noirs peuvent alors prendre le roi.

p.
  Dans certains cas les rois peuvent être capturés.
  Cela compte comme une victoire.

p Il n'y a pas de captures en passant.

h3 Plus d'information

p
  | Voir 
  a(href="https://www.chessvariants.com/mvopponent.dir/avalanche.html")
    | Avalanche Chess
  | &nbsp;sur chessvariants.com.
