p.boxed.
  You can capture your pieces to teleport them instead of a regular move.

p
  a(href="/#/variants/Teleport1") Teleport1
  | , but the king cannot be repositioned.
  | This removes some unusual defensive options.
