p.boxed.
  Puedes capturar tus piezas para teletransportarlas en lugar de jugar
  un movimiento normal.

p
  a(href="/#/variants/Teleport1") Teleport1
  | , pero el rey no se puede reposicionar.
  | Esto evita algunas posibilidades defensivas inusuales.
