p.boxed.
  Vous pouvez capturer vos pièces pour les téléporter au lieu de jouer
  un coup normal.

p
  a(href="/#/variants/Teleport1") Teleport1
  | , mais le roi ne peut pas être repositionné.
  | Cela empêche quelques possibilités défensives inhabituelles.
