p.boxed
  | Las piezas atacadas cambian de color después de cada turno.
  | El objetivo es cambiar el color del rey.

figure.diagram-container
  .diagram
    | fen:r1bqkbnr/ppPpPppp/2n5/3N4/8/8/PPPPPPPP/R1BQKBNR:
  figcaption Después de 1.Nc3 Nc6 2.Nd5: los peones en c7 y e7 cambian de color.

h3 Fin de la partida

p.
  El juego termina cuando un rey cambia de color,
  o cuando un lado ya no tiene un movimiento legal (pat, tablas).

p.
  En la posición del diagrama, 2...g6?? por ejemplo permitiría 3.Nf6 que
  atacar al rey y ganar (1-0).
  Sin embargo, las negras pueden defender con 2...Nb4 o 2...Nf6 que hacen
  cambiar de lado el caballo d5, o incluso 2...f6.

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/difftaking.dir/benedict.html") variante Benedict
  | &nbsp;en chessvariants.com.
