p.boxed
  | Les pièces attaquées changent de couleur après chaque tour.
  | Le but est de changer la couleur du roi.

p.
  Plus précisément, seules les pièces attaquées par le coup courant sont
  modifiées. Elles changent de couleur, jusqu'à ce que l'adversaire au trait
  puisse les attaquer. Il n'y a pas de captures : seulement des changements de
  couleur.

p.
  Le roque est possible, et change la couleur des pièces attaquées par la ou
  les pièces se déplaçant.

figure.diagram-container
  .diagram
    | fen:r1bqkbnr/ppPpPppp/2n5/3N4/8/8/PPPPPPPP/R1BQKBNR:
  figcaption Après 1.Nc3 Nc6 2.Nd5 : les pions en c7 et e7 changent de couleur.

h3 Fin de la partie

p.
  La partie s'achève quand un roi change de couleur,
  ou qu'un camp ne dispose plus de coups légaux (pat, match nul).

p.
  Dans la position du diagrame, 2...g6?? par exemple permettrait 3.Nf6 qui
  attaque le roi et gagne (1-0).
  Cependant les noirs peuvent défendre avec 2...Nb4 ou 2...Nf6 qui font
  changer de camp le cavalier d5, ou même 2...f6.

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/difftaking.dir/benedict.html")
    | variante Benedict
  | &nbsp;sur chessvariants.com.

p Inventeur : W. Dan Troyka (2002)
