p.boxed
  | Las piezas que capturan no se mueven.

p.
  Todo sigue como en el ajedrez ortodoxo, excepto que después de haber
  capturado una pieza, el atacante se queda en su casilla.

figure.diagram-container
  .diagram.diag12
    | fen:r1bqkbnr/p1pppppp/1pn5/7Q/4P3/8/PPPP1PPP/RNB1KBNR:
  .diagram.diag22
    | fen:r1bqkbnr/p1ppp2p/1pn5/7Q/4P3/8/PPPP1PPP/RNB1KBNR:
  figcaption.
    Izquierda: después de 1.e4 Nc6 2.Qh5 b6??.
    Derecha: después de 3.Qxf7+ g6 4.Qxg6#.

p.
  Esta "pequeña" diferencia altera enormemente la estrategia: defender las
  piezas es inútil, por ejemplo, y el rey no puede escapar un jaque remota
  capturando.

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/difftaking.dir/rifle.html")
    | variante Rifle
  | &nbsp;en chessvariants.com.

p Inventor: W. B. Seabrook (1921)
