p.boxed
  | Les pièces capturantes ne bougent pas.

p.
  Tout se déroule comme aux échecs orthodoxes, excepté qu'après avoir capturé
  une pièce, l'attaquant reste à sa place.

figure.diagram-container
  .diagram.diag12
    | fen:r1bqkbnr/p1pppppp/1pn5/7Q/4P3/8/PPPP1PPP/RNB1KBNR:
  .diagram.diag22
    | fen:r1bqkbnr/p1ppp2p/1pn5/7Q/4P3/8/PPPP1PPP/RNB1KBNR:
  figcaption Gauche: après 1.e4 Nc6 2.Qh5 b6??. Droite: après 3.Qxf7+ g6 4.Qxg6#.

p.
  Cette "petite" différence altère beaucoup la stratégie : défendre les pièces
  est inutile, par exemple, et le roi ne pas échapper à un échec distant en capturant.

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/difftaking.dir/rifle.html") variante Rifle
  | &nbsp;sur chessvariants.com.
