p.boxed
  | Moves leading to a Madrasi-immobilization are forbidden.

p
  | In the 
  a(href="/#/variants/Madrasi") Madrasi
  | &nbsp;variant, pieces are paralyzed when observing an enemy piece of the
  | same nature. In Isardam, moves leading to such situations are forbidden.

figure.diagram-container
  .diagram
    | fen:rnbq1rk1/ppp2ppp/3p1n2/2b1p3/2B1P3/2NP1N2/PPP2PPP/R1BQK2R d2,f4,g5,h6:
  figcaption The c1 bishop can't go to e3 (mutual attack with Bc5).

p
  | Exception: the king is attacked as usual. That is to say, a piece gives
  | check even if capturing the king would lead to an immobilization.
  | This corresponds to "type B" as described 
  a(href="https://echekk.fr/spip.php?page=article&id_article=280")
    | on this page
  | .
