p.boxed
  | Están prohibidos las jugadas que provoquen una inmovilización Madrasi.

p
  | En la variante 
  a(href="/#/variants/Madrasi") Madrasi
  | , las piezas se paralizan cuando observan una pieza enemiga de misma
  | naturaleza. En Isardam, los movimientos que llevaron a tales situaciones
  | son prohibidos.

figure.diagram-container
  .diagram
    | fen:rnbq1rk1/ppp2ppp/3p1n2/2b1p3/2B1P3/2NP1N2/PPP2PPP/R1BQK2R d2,f4,g5,h6:
  figcaption El alfil c1 no puede ir a e3 (ataque mutuo con Bc5).

p
  | Excepción: el rey es atacado como de costumbre. Es decir, una pieza
  | da jaque incluso si la captura del rey lleva a la inmovilización.
  | Esto corresponde al "tipo B" descrito 
  a(href="https://echekk.fr/spip.php?page=article&id_article=280")
    | en esta página
  | .
