p.boxed
  | Les coups menant à une immobilisation Madrasi sont interdits.

p
  | Dans la variante 
  a(href="/#/variants/Madrasi") Madrasi
  | , les pièces sont paralysées quand elles observent une pièce ennemie de
  | même nature. À Isardam, les coups menant à de telles situations
  | sont prohibés.

figure.diagram-container
  .diagram
    | fen:rnbq1rk1/ppp2ppp/3p1n2/2b1p3/2B1P3/2NP1N2/PPP2PPP/R1BQK2R d2,f4,g5,h6:
  figcaption Le fou c1 ne peut aller en e3 (attaque mutuelle avec Bc5).

p
  | Exception : le roi est attaqué comme d'habitude. C'est-à-dire qu'une pièce
  | donne échec même si la capture du roi mènerait à une immobilisation.
  | Cela correspond au "type B" décrit 
  a(href="https://echekk.fr/spip.php?page=article&id_article=280")
    | sur cette page
  | .
