p.boxed
  | Each side has two kings. Mate any of them.

p.
  Both kings can be checked and mated. This adds a new option to win a game,
  by attaking both kings at the same time, as illustrated below.

figure.diagram-container
  .diagram
    | fen:6KK/8/2Q5/8/8/5k2/2k5/8:
  figcaption Both black kings are in check: white wins.

h3 Special moves

p.
  A pawn can promote into a king, which can be mated too.
  Probably not useful in a real game, but interesting for problems.

p.
  You can castle with any king and rook, under the same conditions
  as orthodox castling. However, castling long is possible only with one king.

p.
  Note: to castle in a game you need to select
  the king or queen first, and then move it to a rook.

h3 Source

p
  a(href="https://greenchess.net/rules.php?v=dual") Dual Chess
  | &nbsp;on greenchess.net. Probably invented by the webmaster Uray M. János,
  | inspired by Coregal chess from chessvariants.com.
