p.boxed
  | Cada campo tiene dos reyes. Mate a cualquiera.

p.
  Los dos reyes pueden estar en jaque (mate). Esto agrega un nuevo
  opción de ganar una partida, como se muestra a continuación.

figure.diagram-container
  .diagram
    | fen:6KK/8/2Q5/8/8/5k2/2k5/8:
  figcaption Los dos reyes negros están en jaque: las blancas ganan.

h3 Movimientos especiales

p.
  Un peón puede ser promovido a rey, que también puede estar en jaque.
  Sin duda no es muy útil en partida, pero sí interesante por los problemas.

p.
  Puedes rocar con cualquier rey y torre, bajo las mismas
  condiciones que al ajedrez ortodoxo. Sin embargo,
  el enroque grande no es posible que con uno de los dos reyes.

p.
  Nota: para enrocar en una partida debes seleccionar el rey o la dama
  primero, luego mueva la pieza a una torre.

h3 Fuente

p
  | La 
  a(href="https://greenchess.net/rules.php?v=dual") dariante Dual
  | &nbsp;en greenchess.net. Probablemente inventado por el webmaster
  | Uray M. János, inspirado por la variante Coregal en chessvariants.com.
