p.boxed
  | Chaque camp a deux rois. Matez n'importe lequel.

p.
  Les deux rois peuvent être mis en échec et matés. Cela ajoute une nouvelle
  option pour gagner une partie, comme illustré ci-dessous.

figure.diagram-container
  .diagram
    | fen:6KK/8/2Q5/8/8/5k2/2k5/8:
  figcaption Les deux rois noirs sont en échec : les blancs gagnent.

h3 Coups spéciaux

p.
  Un pion peut être promu en roi, qui pourra être maté également.
  Sans doute peu utile en partie, mais intéressant pour les problèmes.

p.
  Vous pouvez roquer avec n'importe quel roi et tour, sous les mêmes
  conditions qu'aux échecs orthodoxes. Cependant, le grand roque n'est possible
  qu'avec un des deux rois.

p.
  Note : pour roquer dans une partie il faut sélectionner le roi ou la dame
  d'abord, puis déplacer la pièce sur une tour.

h3 Source

p
  | La 
  a(href="https://greenchess.net/rules.php?v=dual") variante Dual
  | &nbsp;sur greenchess.net. Probablement inventée par le webmaster
  | Uray M. János, inspiré par la variante Coregal sur chessvariants.com.
