p.boxed
  | Extended board with two new pieces.

p.
  Capablanca Chess was created by World Chess Champion José Raúl Capablanca
  in the 1920s. The game is played on a 10 x 8 board and adds
  two new hybrid pieces: the Princess (S) and the Empress (E).

figure.diagram-container
  .diagram
    | fen:rnsbqkbenr/pppppppppp/91/91/91/91/PPPPPPPPPP/RNSBQKBENR:
  figcaption Initial deterministic position.

p Movements of the hybrid pieces:
ul
  li Princess = Bishop + Knight.
  li Empress = Rook + Knight.

p.
  For castling, the king then moves three squares instead of two.
  Pawns may promote to the Princess and Empress as well.

h3 More information

p
  | The variant is playable on 
  a(href="https://www.pychess.org/variant/capablanca") pychess-variants
  | . See also the Wikipedia page.
