p.boxed
  | Tablero de ajedrez extendido con dos piezas nuevas.

p.
  El Ajedrez Capablanca fue inventado por el ex campeón mundial
  José Raúl Capablanca en la década de 1920. Se juegan sobre un tablero
  10 x 8 e introducir dos nuevas piezas híbridas:
  la Princesa (S) y la Emperatriz (E).

figure.diagram-container
  .diagram
    | fen:rnsbqkbenr/pppppppppp/91/91/91/91/PPPPPPPPPP/RNSBQKBENR:
  figcaption Posición inicial determinista.

p Desplazamiento de piezas híbridas:
ul
  li Princesa = Alfil + Caballo.
  li Emperatriz = Torre + Caballo.

p.
  Durante el enroque, el rey mueve tres casillas en lugar de dos.
  Los peones también pueden ser promovidos a princesa o emperatriz.

h3 Más información

p
  | La variante se puede jugar en 
  a(href="https://www.pychess.org/variant/capablanca") pychess-variants
  | . Consulte también la página de Wikipedia.
