p.boxed
  | Échiquier étendu avec deux nouvelles pièces.

p.
  Les Échecs Capablanca furent inventés par l'ancien champion du monde
  José Raúl Capablanca dans les années 1920. Ils se jouent sur un échiquier
  10 x 8, et introduisent deux nouvelles pièces hybrides :
  la Princesse (S) et l'Impératrice (E).

figure.diagram-container
  .diagram
    | fen:rnsbqkbenr/pppppppppp/91/91/91/91/PPPPPPPPPP/RNSBQKBENR:
  figcaption Position initiale déterministe.

p Déplacement des pièces hybrides :
ul
  li Princesse = Fou + Cavalier.
  li Impératrice = Tour + Cavalier.

p.
  Lors du roque, le roi se déplace de trois cases au lieu de deux.
  Les pions peuvent être promus en Princess ou Impératrice également.

h3 Plus d'information

p
  | La variante est jouable sur 
  a(href="https://www.pychess.org/variant/capablanca") pychess-variants
  | . Voir aussi la page Wikipedia.
