p.boxed
  | Both players play a move "at the same time".
  | The goal is to eliminate all enemy pawns.

figure.diagram-container
  .diagram
    | fen:npppn/p3p/5/P3P/NPPPN:
  figcaption Initial position.

p
  | This variant is inspired by the 
  a(href="https://en.wikipedia.org/wiki/Four_Horsemen_of_the_Apocalypse")
    | Four Horsemen of the Apocalypse
  | &nbsp;mythology. Knights are horsemen, and pawns are footmen.
  | If all footmen of one color die, the other side wins.

p.
  At each turn you can decide either to play safely an apparently valid move,
  or speculate on your opponent's move and choose a move valid only
  conditionally on his choice. In this last case the move may end up not
  being playable: you would get a penalty point. Two penalty points loses
  the game. For example in the initial position, 1.(c1)c2 is safe while 1.axb3
  will be valid only if black plays 1...Nb3.

p Resolving rules:
ul
  li.
    If both moves are illegal none are played.
    If one is illegal, the other is played.
  li.
    If a capture is intended but the target moved, the move is still played
    but doesn't capture anything.
  li.
    If both moves arrive on the same square: the illegal move prevails,
    if the other was legal (higher risk => reward): the other piece vanish.
    If both moves are (il)legal, then a horseman wins over a footman.
    Finally, at same risk level and same piece type, both disappear.

figure.diagram-container
  .diagram
    | fen:npppn/p4/4P/P2pP/NPP1N:
  figcaption After 1.d1d2 e4e3 2.dxe3 exd2, pawns placements are inversed.

h3 Promotions

p.
  Pawns automatically promote in a knight, except if the player already
  have two horsemen on the board. In this case the footman is relocated on
  any free square which is not on last rank.
  Even in this last case, pawn promotions may appear possible by
  anticipation of a knight capture. This is risky but playable.

h3 End of the game

p.
  As stated previously, losing all pawns lose the game, so promoting your
  last pawn loses. It may be the only legal move.
  If however both footmen armies vanish at the same time, it's a draw.
  It can happen if the two last pawns decide to advance to the same square
  for example.
  Finally, if both sides get the second penalty point at the same time
  it's also a draw.

h3 Source

p
  a(href="https://www.chessvariants.com/rules/apocalypse") Apocalypse chess
  | &nbsp;on chessvariants.com. This variant is playable at 
  a(href="http://apocalypsechess.online/") apocalypsechess.online
  | &nbsp;but without the promotion restriction.

p Inventor: C.S. Elliott (1976)
