p.boxed
	| Gagnez en éliminant toutes les pièces adverses de même nature.

h3 Caractéristiques

ul
	li Échiquier : standard.
	li Matériel : standard.
	li Coups non capturants : standards.
	li Coups spéciaux : standards.
	li Captures : standards.
	li Fin de partie : extinction d'un type de pièce.

h3 Bases

p.
	Les règles usuelles s'appliquent, mais la partie s'arrête quand toutes les
	pièces de même nature ont disparu.
	Les rois sont traités comme des pièces normales, mais peuvent roquer - sans
	considérations d'échecs.
	Les pions peuvent être promus en rois.
	Si toutes les pièces d'un même type sont capturées, la partie est perdue ;
	sauf s'il s'agit d'une extinction de pions résultant en une extinction
	(d'un certain type de pièce) en effectuant une promotion capturante.

h3 End of game

p.
	On gagne en éliminant tous les pions adverses, ou toutes ses tours ou dames, ou tous ses cavaliers, fous ou rois (pions promus).

figure.diagram-container
	.diagram
		| fen:n3brk1/5ppp/3q4/8/8/8/1Q3PPP/K1R1B1N1:
	figcaption Les blancs peuvent gagner en deux coups : 1.Qb7, 2.QxN

h3 Liens

p
	| La 
	a(href="https://www.chessvariants.com/winning.dir/extinction.html")
		| variante Extinction
	| &nbsp;sur chessvariants.com.
