p.boxed
  | Vous pouvez contrôler les pièces ennemies qui sont attaquées.

p.
  Plutôt que de déplacer une de ses pièces, un joueur peut décider de
  déplacer une pièce adverse qu'il attaque. Le coup doit être légal du point
  de vue de l'adversaire, au détail près que la pièce (hypnotisée) capture
  désormais ses amis.

p.
  La pièce hypnotisée est temporairement immobilisée et ne peut donc pas être
  déplacée par son propriétaire au tour suivant.

figure.diagram-container
  .diagram.diag12
    | fen:r1bqk1nr/pppp1ppp/2n5/1Bb1p3/4P3/5N2/PPPP1PPP/RNBQK2R:
  .diagram.diag22
    | fen:r1bnk1nr/pppp1ppp/8/1Bb1p3/4P3/5N2/PPPP1PPP/RNBQK2R:
  figcaption Avant et après Nxd8 (contrôlé par le fou en b5).

h3 Source

p
  | Hypnotic Chess sur 
  a(href="https://www.chessvariants.com/mvopponent.dir/hypnotic-chess.html")
    | chessvariants.com
  | .

p Inventeur : W. D. Troyka (2003)
