p.boxed
  | Es posible ganar dando jaque mate a la dama.
  | Una dama no puede ir o permanecer en jaque.

p Al igual que el rey, la dama puede ser en jaque (mate). Es decir que
ul
  li Se prohíbe un movimiento que permita al oponente capturar a la dama.
  li.
    Cuando tu dama es atacada, debes hacer un movimiento
    para que ya no sea atacado.
  li Si es imposible, entonces has perdido.

p.
  Como el rey sigue siendo real, esto agrega una nueva forma de ganar:
  jaque las dos piezas reales al mismo tiempo,
  como en los siguientes diagramas.

figure.diagram-container
  .diagram.diag12
    | fen:4Q3/4K3/8/8/3N4/5k2/2q5/8:
  .diagram.diag22
    | fen:n2rb1r1/1Qn2p2/5qp1/3p4/P1P2PNp/BP2k2P/R3P1P1/1K4RB:
  figcaption Las blancas ganan porque el rey y la dama negra están en jaque.

h3 Movimientos especiales

p.
  Si un peón es promovido a reina, este último también es real.
  Entonces, las sub-promociones pueden ser más sabias.

p.
  Puedes hacer el enroque con la dama o el rey y cualquiera de los
  dos torres, en las mismas condiciones que para el ajedrez ortodoxo.
  Aquí hay una posible posición después de dos pequeñas rocas blancas y
  un gran enroque negro con la dama:

figure.diagram-container
  .diagram
    | fen:r4rq1/ppppppkp/6p1/8/8/8/PPPPPPPP/1QR2RK1:
  figcaption Después de dos pequeñas rocas blancas y un gran enroque negro.

p.
  Nota: para enrocarse en una partida debes seleccionar el rey o la dama
  primero, luego mueva la pieza a una torre.

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/winning.dir/coregal.html")
    | variante Coregal
  | &nbsp;en chessvariants.com.
  | Esta variante también es jugable
  a(href="https://greenchess.net/rules.php?v=coregal") en greenchess.net
  | .

p Inventor: Vernon R. Parton (1970)
