p.boxed
  | On peut gagner en matant la dame. Une dame ne peut aller ou rester en échec.

p Tout comme le roi, la dame peut être mise en échec et matée. C'est-à-dire que
ul
  li Un coup qui laisserait l'adversaire capturer la dame est interdit.
  li.
    Quand votre dame est attaquée, vous devez jouer un coup faisant
    en sorte que celle-ci ne soit plus attaquée.
  li Si c'est impossible, alors vous avez perdu.

p.
  Puisque le roi reste royal, ceci ajoute une nouvelle manière de gagner :
  mettre en échc les deux pièces royales en même temps,
  comme sur le diagramme suivant.

figure.diagram-container
  .diagram
    | fen:4Q3/4K3/8/8/3N4/5k2/2q5/8:
  figcaption Les blancs gagnent car le roi et la dame noir sont en échec.

h3 Coups spéciaux

p.
  Si un pion est promu en dame, cette dernière est royale également.
  Ainsi, les sous promotions peuvent être plus sages.

p.
  Vous pouvez roquer avec la dame ou le roi et n'importe laquelle des
  deux tours, sous les mêmes conditions qu'aux échecs orthodoxes.
  Voici une position possible après deux petits roques blancs et
  un grand roque noir avec la dame :

figure.diagram-container
  .diagram
    | fen:r4rq1/ppppppkp/6p1/8/8/8/PPPPPPPP/1QR2RK1:
  figcaption Après deux petits roques blancs et un grand roque noir.

p.
  Note : pour roquer dans une partie il faut sélectionner le roi ou la dame
  d'abord, puis déplacer la pièce sur une tour.

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/winning.dir/coregal.html") variante Coregal
  | &nbsp;sur chessvariants.com.
  | Cette variante est jouable également 
  a(href="https://greenchess.net/rules.php?v=coregal") sur greenchess.net
  | .

p Inventeur : Vernon R. Parton (1970)
