-
	var translations =
	{
		// Index page:
		"Help": "Help",
		"First visit?": "First visit?",
		">>> Please read this <<<": ">>> Please read this <<<",
		// Variants boxes:
		"Both sides of the mirror": "Both sides of the mirror",
		"Keep antiking in check": "Keep antiking in check",
		"Explosive captures": "Explosive captures",
		"Shared pieces": "Shared pieces",
		"Standard rules": "Standard rules",
		"Captures reborn": "Captures reborn",
		"Capture all of a kind": "Capture all of a kind",
		"Big board": "Big board",
		"Lose all pieces": "Lose all pieces",
		"Laws of attraction": "Laws of attraction",
		"Exchange pieces positions": "Exchange pieces positions",
		"Exotic captures": "Exotic captures",
		"Balanced sliders & leapers": "Balanced sliders & leapers",
		"Reverse captures": "Reverse captures",

		// Variant page:
		"New game": "New game",
		"Waiting for opponent...": "Waiting for opponent...",
		"Rules": "Rules",
		"Play!": "Play!",
		"Problems": "Problems",
		"White win": "White win",
		"Black win": "Black win",
		"Draw": "Draw",
		"New online game": "New online game",
		"New game versus computer": "New game versus computer",
		"Analysis mode": "Analysis mode",
		"Start chat": "Start chat",
		"Clear game versus computer": "Clear game versus computer",
		"Settings": "Settings",
		"Resign": "Resign",
		"Undo": "Undo",
		"Play": "Play",
		"Flip": "Flip",
		"Position + flags (FEN):": "Position + flags (FEN):",
		"Ok": "Ok",
		"Random": "Random",
		"Preferences": "Preferences",
		"My name is...": "My name is...",
		"Show hints?": "Show hints?",
		"Board colors": "Board colors",
		"brown": "brown",
		"green": "green",
		"blue": "blue",
		"Play sounds?": "Play sounds?",
		"None": "None",
		"New game": "New game",
		"All": "All",
		"Chat with ": "Chat with ",
		"Type here": "Type here",
		"Send": "Send",
		"Download game": "Download game",
		"Show solution": "Show solution",
		"Load previous problems": "Load previous problems",
		"Load next problems": "Load next problems",
		"New": "New",
		"Add a problem": "Add a problem",
		"Full FEN string": "Full FEN string",
		"Safe HTML tags allowed": "Safe HTML tags allowed",
		"Instructions": "Instructions",
		"Describe the problem goal": "Describe the problem goal",
		"Solution": "Solution",
		"How to solve the problem?": "How to solve the problem?",
		"Preview": "Preview",
		"Cancel": "Cancel",
		"Solve": "Solve",
		"Bad FEN string": "Bad FEN string",
		"Empty instructions": "Empty instructions",
		"Empty solution": "Empty solution",
		"Already playing a game in this variant on another tab!":
			"Already playing a game in this variant on another tab!",
		"Finish your ": "Finish your ",
		" game first!": " game first!",
		": unfinished computer game will be erased":
			": unfinished computer game will be erased",
	};
