-
	var translations =
	{
		// Index page:
		"Help": "Aide",
		"First visit?": "Première visite ?",
		">>> Please read this <<<": ">>> SVP lisez ceci <<<",
		// Variants boxes:
		"Both sides of the mirror": "Les deux côté du miroir",
		"Keep antiking in check": "Gardez l'antiroi en échec",
		"Explosive captures": "Captures explosives",
		"Shared pieces": "Pièces partagées",
		"Standard rules": "Règles usuelles",
		"Captures reborn": "Captures ressucitées",
		"Capture all of a kind": "Capturez tout d'un même type",
		"Big board": "Grand échiquier",
		"Lose all pieces": "Perdez toutes les pièces",
		"Laws of attraction": "Les lois de l'attraction",
		"Exchange pieces positions": "Échangez les positions des pièces",
		"Exotic captures": "Captures exotiques",
		"Balanced sliders & leapers": "Modes de déplacement équilibrés",
		"Reverse captures": "Captures inversées",

		// Variant page:
		"New game": "Nouvelle partie",
		"Waiting for opponent...": "En attente d'un adversaire...",
		"Rules": "Règles",
		"Play!": "Jouer!",
		"Problems": "Problèmes",
		"White win": "Les blancs gagnent",
		"Black win": "Les noirs gagnent",
		"Draw": "Match nul",
		"New online game": "Nouvelle partie en direct",
		"New game versus computer": "Nouvelle partie contre l'ordinateur",
		"Analysis mode": "Mode analyse",
		"Start chat": "Démarrer le chat",
		"Clear game versus computer": "Effacer la partie contre l'ordinateur",
		"Settings": "Réglages",
		"Resign": "Abandonner",
		"Undo": "Annuler",
		"Play": "Jouer",
		"Flip": "Retourner",
		"Position + flags (FEN):": "Position + drapeaux (FEN) :",
		"Ok": "Ok",
		"Random": "Aléatoire",
		"Preferences": "Préférences",
		"My name is...": "Je m'appelle...",
		"Show hints?": "Aides visuelles ?",
		"Board colors": "Couleurs de l'échiquier",
		"brown": "marron",
		"green": "vert",
		"blue": "bleu",
		"Play sounds?": "Jouer les sons ?",
		"None": "Aucun",
		"New game": "Nouvelle partie",
		"All": "Tous",
		"Chat with ": "Discuter avec ",
		"Type here": "Écrivez ici",
		"Send": "Envoyer",
		"Download game": "Télécharger la partie",
		"Show solution": "Montrer la solution",
		"Load previous problems": "Charger les problèmes précédents",
		"Load next problems": "Charger les problèmes suivants",
		"New": "Nouveau",
		"Add a problem": "Ajouter un problème",
		"Full FEN string": "Chaîne FEN complète",
		"Safe HTML tags allowed": "HTML 'sûr' autorisé",
		"Instructions": "Instructions",
		"Solution": "Solution",
		"Preview": "Prévisualiser",
		"Cancel": "Annuler",
		"Solve": "Résoudre",
	};
