p.boxed
  | Capture all enemy pawns to win.

p.
  The king is a normal piece: there are no checks or checkmate.
  A player loses when he has no pawns remaining.
  Pawns can disappear by capture or promotion.
  Pawns always promote to kings.

figure.diagram-container
  .diagram
    | fen:4n3/k3p2p/8/2r5/8/2K5/2P5/2RB4:
  figcaption White to play: the c2 pawn cannot be defended.

h3 Source

p
  | The 
  a(href="https://www.chessvariants.com/winning.dir/kinglet.html")
    | Kinglet variant
  | &nbsp;on chessvariants.com.

p Inventor: Vernon R. Parton (1953)
