p.boxed
  | Captura todos los peones opuestos para ganar.

p.
  El rey es una pieza normal: no hay jaque ni jaque mate.
  Un jugador pierde cuando se queda sin peones.
  Los peones desaparecen por captura o por promoción.
  Los peones siempre son promovidos a reyes.

figure.diagram-container
  .diagram
    | fen:4n3/k3p2p/8/2r5/8/2K5/2P5/2RB4:
  figcaption Las blancas para jugar: se capturará el peón c2.

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/winning.dir/kinglet.html")
    | variante Kinglet
  | &nbsp;en chessvariants.com.

p Inventor: Vernon R. Parton (1953)
