p.boxed
  | Capturez tous les pions adverses pour gagner.

p.
  Le roi est une pièce normale : il y a ni échec ni mat.
  Un joueur perd quand il n'a plus de pions.
  Les pions disparaissent soit par capture, soit par promotion.
  Les pions sont toujours promus en rois.

figure.diagram-container
  .diagram
    | fen:4n3/k3p2p/8/2r5/8/2K5/2P5/2RB4:
  figcaption Trait aux blancs: le pion c2 va être capturé.

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/winning.dir/kinglet.html")
    | variante Kinglet
  | &nbsp;sur chessvariants.com.

p Inventeur : Vernon R. Parton (1953)
