.question.
  Where should I start?
.answer.
  The "Variants" menu on top contains the list of all playable games.
  If you know what you want, the "prefix" filter might be useful.
  Then, read the rules, and optionally watch an example game or play a game
  against the computer. Keep in mind that the "engine" is generally quite weak.
  It's here for illustration and learning purpose only.

.question.
  The initial position looks weird?
.answer.
  Everything is randomized by default - when possible. This is the initial
  spirit of the website. However, you can change this for a practice game
  using the upper-right Settings menu ("randomness level"), and for a game
  from main Hall by changing this same parameter in the form.

.question.
  The bot is too weak! Where should I continue?
.answer
  | I'm glad you ask. Since I believe that a place is more fun with nice people
  | around, the next step is to play against humans.
  | Go to main "Hall" (upper left menu), and first look if a live or
  | correspondance challenge interests you. If yes just click on it. Challenges
  | highlighted in orange are targeted: someone wants to play against you,
  | specifically, optionally from a custom starting position.
  | If there aren't any interesting challenge, then click on "New game" in the
  | upper right corner. Select a variant, and
  ul
    li.
      Adjust the cadence: format is
      'main time + increment' with default units minutes and seconds.
      If the main time is given in days then the game is considered by
      correspondance.
    li.
      Select the randomness level: 'deterministic' always show the same setup,
      the one you are generally used to.
  | You can also click on "Who's there" and select a player to
  | challenge. The "memorize" checkbox allows to store the challenge settings
  | to re-issue it in one click later.

.question.
  I'm bored of being anonymous, I want a name!
.answer.
  Very good idea: click on "Login" in the upper right corner, and then switch
  to the registration view (using the link appearing in dark red).
  Only a username and an email are required.
  Once signed up, you should log in within the next 24 hours or your 'account'
  will be deleted (you can re-do this process anytime later of course).
  This will also allow you to play correspondance games.
  Note: the authentication is passwordless, as most websites should be.

.question.
  How can I talk to my opponent? Ask rematch?
.answer.
  Just click on the Chat icon on top. It turns purple when new messages arrive.
  After the game ends, the Swords icon next to it is the rematch button:
  it turns green when you receive a rematch offer.

.question.
  I made a bad move, I want to take it back!
.answer
  | It's not possible for now. However, there is a way to continue the game:
  ol
    li Click on the Analyze button, and go back just before the bad move.
    li Copy the FEN displayed below the board (the weird long string).
    li.
      Go to main Hall, open "New game" window, select your opponent,
      and then paste the FEN in the appropriate field.

.question.
  How to report a bug?
.answer.
  Download the game (click on the button on the right), and send it on Discord.
  Alternatively, and if the bug didn't occur in a game, you can also use the
  contact form.

.question.
  I'm streaming a game, and would like to use arrows and circles.
.answer.
  A right click on a square draws a purple circle inside, and a second right
  click erases it.
  'Drag and drop' with the right mouse button from a square to another to draw
  a purple arrow. Click anywhere with the left mouse button to erase all
  drawings.

.question.
  I want to start from a custom position!
.answer.
  If the desired position is on a board on the website, just click on the
  Analyze button (microscope icon), and then copy the string appearing
  below the board. If the position is in your mind or on a physical board,
  then you can either try to understand the FEN format by trials and errors
  from the Analysis mode, or ask me - using the Contact form or on Discord.
  By the way, FEN are required to post in the "Problems" menu as well.

.question.
  I want a rating! I want tournaments! I want a new poney!
.answer.
  In my experience, caring about a rating only complicate your life,
  so there won't be any around here. There probably won't be any tournaments
  support on the website, but some may be organized anyway. Do the pairings
  somewhere else and ask people to challenge each other.

.question.
  You said "Problems" menu? What's that?
.answer.
  An area where you can upload interesting positions, which could be studies,
  (self-)mate in 3 and so on. For the moment there is no support for proof
  games, but you could still provide the final diagram to let people search.
  Start by looking at the existing problems, and try to solve them :-)

.question.
  I'm in Hall but cannot see my games!
.answer.
  Your games are gathered in "My games" menu on top.
  If a game is highlighted in orange, then it's your turn: click on it and
  play! You can have as many running games as you like in either live or
  correspondance.

.question.
  Clocks in live games sometimes freeze.
.answer
  | The clocks in live games follow a non-standard logic - but sounded, I
  | believe :-)
  ul
    li.
      If you play a move and then quit the game, your clock will be
      frozen at its current state until you come back in the game. After his move
      your opponent will see your clock stopped; he could decide to abort or
      resign, or
    li.
      If your opponent also quits the game after playing, then the time is
      just frozen - and you can decide to continue it later.
  | The rational behind this is that you don't know what the opponent played,
  | so your clock shouldn't be running. Ans it also allows to take a break in
  | long live games, like maybe 1h30 + 30s.

.question.
  I bookmarked a fascinating game, but the URL no longer works.
.answer
  | Live games are stored locally, on browsers only.
  | If you are only an observer, your browser doesn't even store it, so later
  | the game won't be reachable if the players and all observers leave the game.
  | Consequently, the right way to go is
  ol
    li Download the game (see the icon on the right),
    li Import it using the button in "Imported games" tab in "My Games" menu.

.question.
  I cleaned the website data, and all my live games are gone!
.answer.
  They are stored in your browser's database.
  You just erased it, so the games are gone :-)
  More flexible cleaning can be achieved: removing cookies is harmless (you'll
  just need to re-login), as well as removing local storage data (your
  preferences about board color and sounds will be reset). But touching
  'IndexedDB' will remove all local games.

.question.
  But I would like to remove this specific game, and this one too!
.answer.
  Click on the game result area from "My Games" listings, and confirm deletion.
  If the game is running this will abort it first.
  Note that correspondance games deleted by only one player are still
  reachable: they are just hidden for you.

.question.
  I've a question not answered here!
.answer.
  If the answer isn't 42 (are you really sure?), then use the contact form,
  or ask on Discord :-)
  See the links in the website footer.
