.question.
  ¿Por donde empiezo?
.answer.
  El menú "Variantes" en la parte superior contiene la lista de todos los
  juegos disponibles.
  Si sabe cuál quiere, el filtro "prefijo" puede ser útil.
  Luego lea las reglas y posiblemente vea una partida de ejemplo o
  juega uno contra la computadora. Tenga en cuenta que este oponente es
  en general bastante débil.
  Se utiliza solo para ilustrar y aprender las reglas.

.question.
  ¡La computadora está jugando demasiado mal! ¿Dónde debo continuar?
.answer
  | Me gusta esta pregunta. Para mí un lugar es más agradable con
  | gente comprensivo, así que el siguiente paso es jugar contra
  | humanos. Vaya al "Salón" principal (menú superior izquierda) y
  | primero averigua si estás interesado en un desafío en vivo o por
  | correspondencia. En caso afirmativo, simplemente haga clic en él.
  | Los desafíos resaltados en naranja son apuntado: alguien quiere jugar
  | contra ti, específicamente, tal vez desde una posición inicial particular.
  | Si ningún desafío es interesante, haga clic en "Nueva partida" en
  | la esquina superior derecha. Elija una variante, luego
  ul
    li.
      Ajuste la cadencia: el formato es 'tiempo principal + incremento', por
      defecto en minutos y segundos. Si el tiempo principal se da en días,
      la parte se considera por correspondencia.
    li.
      Seleccione el nivel de aleatoriedad: 'determinista' para tener siempre
      el misma configuración inicial, probablemente en la que estás
      acostumbrado a.
  | También puedes hacer clic en "Quién está allí" y elegir un jugador para
  | desafiar. El cuadro "memorizar" permite almacenar los parámetros del
  | desafío para el relanzar más tarde.

.question.
  Estoy cansado de ser anónimo, ¡quiero un nombre!
.answer.
  Gran idea: haga clic en "Login" en la esquina superior derecha, luego cambie
  en la vista de registro (a través del enlace en rojo oscuro que aparece en
  arriba). Solo se requiere su nombre de usuario y un correo electrónico.
  Una vez registrado, debe iniciar sesión en las próximas 24 horas de lo
  contrario su 'cuenta' se elimina (puede comenzar de nuevo en cualquier
  momento tarde por supuesto).
  Nota: la autenticación se realiza sin contraseña, como debería
  sea el caso en la mayoría de los sitios.

.question.
  ¿Cómo puedo hablar con el oponente? Solicitar venganza?
.answer.
  Simplemente haga clic en el icono de Chat en la parte superior.
  Se vuelve púrpura cuando llega un nuevo mensaje. Cuando la partida termina,
  el ícono de Espadas al lado permite reiniciar un juego:
  se vuelve verde cuando el oponente quiere repetición.

.question.
  Hice un mal movimiento, ¡quiero volver!
.answer
  | No es posible por el momento. Sin embargo, aquí hay una manera de
  | continuar el juego:
  ol
    li.
      Haga clic en el botón Análisis y regrese justo antes del movimiento
      incorrecto.
    li
      Copie el FEN que se muestra debajo del tablero de ajedrez (la cadena
      larga y extraña).
    li.
      Vaya al Salón, abra la ventana "Nueva partida", seleccione
      su oponente y luego pegue el FEN en el campo apropiado.

.question.
  Estoy transmitiendo un juego en vivo, y me gustaría usar flechas y
  círculos.
.answer.
  Haga clic derecho en un cuadro dibuja un círculo morado en el interior, y un
  segundo clic derecho lo borra.
  'Arrastra y suelta' con el botón derecho de un cuadro a otro dibujo
  una flecha morada. Haga clic izquierdo en cualquier lugar para
  eliminar dibujos.

.question.
  ¡Quiero comenzar desde una posición específica!
.answer.
  Si la posición deseada es en un tablero en algún lugar del sitio,
  simplemente haga clic en el botón Análisis (el icono del microscopio) y
  copie el cadena que aparece debajo del tablero. Si la posición está en tu
  cabeza o en un tablero de ajedrez físico, entonces puedes buscar entender el
  formato FEN por prueba y error en modo Análisis, o pregúntame a través del
  formulario de contacto o en Discord. El pasaje,
  estas cadenas FEN también son necesarias para publicar un problema.

.question.
  ¡Quiero un ranking! ¡Quiero torneos! ¡Quiero un nuevo pony!
.answer.
  En mi experiencia, preocuparse por un ranking solo te hace
  complicar la vida, por lo que no habrá ninguno en este sitio.
  Nada esta planeado ya no se trata de torneos, pero puedes organizarlos de
  todos modos. Haga los emparejamientos en otro lugar y pídale a la gente que
  desafío.

.question.
  ¿Mencionaste el menú "Problemas"? Que es eso ?
.answer.
  Un espacio donde puedes compartir posiciones interesantes, que podrían
  ser estudios, mat (ayudado) en 3 etc. Actualmente no hay
  soporte para análisis retrógrado, pero aún podría enviar
  el diagrama final para permitir que las personas busquen.
  Comience mirando los problemas existentes e intente resolverlos.
  :-)

.question.
  ¡Estoy en el Salón pero no veo mis partidas!
.answer.
  Sus partidas se agrupan en el menú "Mis partidas" en la parte superior.
  Si un juego está resaltado en naranja, entonces es tu turno: haga clic en
  arriba y juega! El número de partidas en progreso en vivo o por
  correspondencia no es limitada.

.question.
  En un juego en vivo, el péndulo a veces se detiene.
.answer
  | Los péndulos en las partidas en vivo siguen una lógica no estándar
  | - pero consistente, creo :-)
  ul
    li.
      Si haces un movimiento y luego sales del juego, tu péndulo se congelará
      en su estado actual hasta que vuelvas al juego.
      Despues su movimiento, tu oponente verá tu tiempo detenido;
      él podría decidir para detener el juego o rendirse, o
    li.
      Si tu oponente también abandona el juego después de su movimiento,
      entonces el tiempo está congelado y puede decidir reanudarlo más tarde.
    | De hecho, ya que no sabes lo que jugó el oponente, es
    | normal para que su péndulo se detenga. También te permite tomar un
    | descanso durante una larga partida en vivo, como 1h30 + 30s, por ejemplo.

.question.
  Anoté la dirección de una partida fascinante, pero la URL ya no funciona.
.answer
  | Los juegos en vivo se almacenan localmente en el navegador
  | solamente. Si eres un simple espectador, tu navegador no registra
  | ni siquiera el juego, por lo que será inaccesible cuando los jugadores
  | así como todos los observadores se habrán ido.
  | La forma correcta de hacer esto es
  ol
    li Descargue la partida (vea el icono a la derecha),
    li.
      Importarlo usando el botón en la pestaña "Partidas importadas"
      desde el menú "Mis partidas".

.question.
  ¡Eliminé los datos del sitio y mis partidas en vivo han desaparecido!
.answer.
  Se almacenan en la base de datos del navegador.
  Simplemente lo eliminó, por lo que ya no están allí :-)
  Se requiere una limpieza más fina: eliminar las cookies es inofensivo
  (solo tendrá que iniciar sesión de nuevo), así como la eliminación de los
  datos local (guardando sus preferencias como el color del tablero).
  Sin embargo, tocar la base de datos 'IndexedDB' puede eliminar partidas.

.question.
  Pero me gustaría eliminar esta parte allí, ¡y esta también!
.answer.
  Haz clic en el área de resultados del juego en la lista "Mis partidas",
  y confirme la eliminación. Si el juego está en progreso, será primero
  detuvo. Tenga en cuenta que las partidas de correspondencia borradas por
  solo uno de los dos jugadores siempre están accesibles: simplemente están
  ocultos para ti.

.question.
  Tengo una pregunta sin respuesta aquí!
.answer.
  Si la respuesta no es 42 (¿estás seguro?), usa el formulario
  de Contacta o pregunta en Discord :-)
  Vea los enlaces al final de la página.
