.question.
  Par où dois-je commencer ?
.answer.
  Le menu "Variantes" en haut contient la liste de touts les jeux disponibles.
  Si vous savez lequel vous voulez, le filtre "préfixe" peut être utile.
  Ensuite, lisez les règles, et éventuellement regardez une partie exemple ou
  jouez-en une contre l'ordinateur. Gardez à l'esprit que cet adversaire est
  en général plutôt faible.
  Il sert à illustrer et à apprendre les règles seulement.

.question.
  L'ordinateur joue trop mal ! Où dois-je continuer ?
.answer
  | Cette question me plaît. Pour moi un endroit est plus agréable avec des
  | gens sympas autour, donc la prochaine étape est de jouer contre des
  | humains. Allez dans le "Salon" principal (menu en haut à gauche), et
  | regardez d'abord si un défi en direct ou par correspondance vous intéresse.
  | Si oui cliquez simplement dessus. Les défis surlignés en orange sont
  | ciblés : quelqu'un veut jouer contre vous, spécifiquement, peut-être
  | depuis une position initiale particulière.
  | Si aucun défi n'est intéressant, alors cliquez sur "Nouvelle partie" dans
  | le coin en haut à droite. Choisissez une variante, puis
  ul
    li.
      Ajustez la cadence : le format est 'temps principal + incrément', par
      défaut en minutes et secondes. Si le temps principal est donnée en jours,
      la partie est considérée par correspondance.
    li.
      Sélectionnez le niveau d'alea : 'déterministe' pour avoir toujours la
      même configuration initiale, sans doute celle à laquelle vous êtes
      habitués.
  | Vous pouvez aussi cliquer sur "Qui est là" et choisir un joueur à défier.
  | La case "mémoriser" permet de stocker les paramètres du défi pour le
  | re-lancer plus tard.

.question.
  J'en ai marre d'être anonyme, je veux un nom !
.answer.
  Excellente idée : cliquez sur "Login" dans le coin haut droit, puis basculez
  sur la vue d'enregistrement (via le lien en rouge foncé apparaissant en
  haut). Seuls votre nom d'utilisateur ainsi qu'une adresse email sont requis.
  Une fois inscrit, vous devez vous logger dans les prochaines 24 heures sinon
  votre 'compte' est supprimé (vous pouvez recommencer n'importe quand plus
  tard bien sûr).
  Note : l'authentification s'effectue sans mot de passe, comme cela devrait
  être le cas sur la plupart des sites.

.question.
  Comment puis-je parler à l'adversaire ? Demander une revanche ?
.answer.
  Cliquez simplement sur l'icône Chat en haut. Il devient violet quand un
  nouveau message arrive. Une fois la partie terminée, l'icône Épées à côté
  permet de relancer une partie : il devient vert lorsque l'adversaire veut
  rejouer.

.question.
  J'ai joué un mauvais coup, je veux revenir en arrière !
.answer
  | Ce n'est pas possible pour le moment. Cependant, voici une façon de
  | continuer la partie :
  ol
    li Cliquez sur le bouton Analyse, et revenez juste avant le mauvais coup.
    li Copiez la FEN indiquée sous l'échiquier (la longue chaîne bizarre).
    li.
      Allez dans le Salon, ouvrez la fenêtre "Nouvelle partie", sélectionnez
      votre adversaire et collez ensuite la FEN dans le champ approprié.

.question.
  Je diffuse une partie en direct, et aimerais utiliser des flèches et des
  cercles.
.answer.
  Un clic droit sur une case dessine un cercle violet à l'intérieur, et un
  second clic droit l'efface.
  'Glisser déposer' avec le bouton droit depuis une case vers une autre dessine
  une flèche violette. Cliquez n'importe où avec le bouton gauche pour
  effacer les dessins.

.question.
  Je veux démarrer depuis une position spécifique !
.answer.
  SI la position souhaitée est sur un échiquier quelque part sur le site,
  cliquez simplement sur le bouton Analyse (l'icône microscope), et copiez la
  chaîne apparaissant sous l'échiquier. Si la position est dans votre tête ou
  sur un échiquier physique, alors vous pouvez soit chercher à comprendre le
  format FEN par essais et erreurs dans le mode Analyse, ou bien
  me demander - via le formulaire de contact ou sur Discord. Au passage,
  ces chaînes FEN sont nécessaires également pour poster un problème.

.question.
  Je veux un classement ! Je veux des tournois ! Je veux un nouveau poney !
.answer.
  D'après mon expérience, s'inquiéter pour un classement ne fait que vous
  compliquer la vie, donc il n'y en aura pas sur ce site. Rien n'est prévu
  non plus concernant les tournois, mais vous pouvez en organiser quand-même.
  Effectuez les appariements quelque part ailleurs et demandez aux gens de se
  défier.

.question.
  T'as mentionné le menu "Problèmes" ? C'est quoi ça ?
.answer.
  Un espace où vous pouvez partager des positions intéressantes, qui pourraient
  être des études, des mat (aidés) en 3 etc. Actuellement il n'y a pas de
  support pour l'analyse rétrograde, mais vous pourriez tout de même envoyer
  le diagramme final pour permettre aux gens de chercher.
  Commencez par regarder les problèmes existants, et essayez de les résoudre
  :-)

.question.
  Je suis dans le Salon mais ne vois pas mes parties !
.answer.
  Vos parties sont rassemblées dans le menu "Mes parties" en haut.
  Si une partie est surlignée en orange, alors c'est à vous de jouer : cliquez
  dessus et jouez ! Le nombre de parties en cours en direct ou par
  correspondance n'est pas limité.

.question.
  Dans une partie en direct, la pendule s'arrête parfois.
.answer
  | Les pendules dans les parties en direct suivent une logique non standard
  | - mais cohérente, je crois :-)
  ul
    li.
      Si vous jouez un coup puis quittez la partie, votre pendule sera figée
      dans son état courant jusqu'à ce que vous reveniez dans le jeu. Après
      son coup, votre adversaire verra votre temps arrêté ; il pourrait décider
      d'arrêter la partie ou d'abandonner, ou
    li.
      Si votre adversaire quitte lui aussi la partie après son coup, alors le
      temps est juste figé - et vous pouvez décider de reprendre plus tard.
  | En effet puisque vous ne savez pas ce qu'a joué l'adversaire, il est
  | normal que votre pendule s'arrête. Cela permet aussi de faire une pause
  | pendant une longue partie en direct, comme 1h30 + 30s par exemple.

.question.
  J'ai noté l'adresse d'une partie fascinante, mais l'URL ne fonctionne plus.
.answer
  | Les parties en direct sont stockées localement, dans le navigateur
  | seulement. Si vous êtes un simple spectateur, votre navigateur n'enregistre
  | même pas la partie, donc celle-ci sera inaccessible lorsque les joueurs
  | ainsi que tous les observateurs seront partis.
  | La bonne manière de procéder consiste alors à
  ol
    li Télécharger la partie (cf. l'icône sur la droite),
    li.
      L'importer en utilisant le bouton dans l'onglet "Parties importées"
      depuis le menu "Mes parties".

.question.
  J'ai effacé les données du site, et mes parties en direct ont disparu !
.answer.
  Elles sont stockées dans la base de données du navigateur.
  Vous venez de l'effacer, donc elles ne sont plus là :-)
  Un nettoyage plus fin est requis : supprimer les cookies est sans danger
  (vous devrez juste vous re-logger), de même que la suppression des données
  locales (enregistrant vos préférences comme la couleur de l'échiquier).
  Cependant, toucher à la base 'IndexedDB' risque de supprimer des parties.

.question.
  Mais j'aimerais supprimer cette partie là, et celle-là aussi !
.answer.
  Cliquez sur la zone du résultat d'une partie depuis les listes "Mes parties",
  et confirmez la suppression. Si la partie est en cours elle sera d'abord
  arrêtée. Notez que les parties par correspondance supprimées par un seul des
  deux joueurs sont toujours accessibles : elles vous sont juste cachées.

.question.
  J'ai une question sans réponse ici !
.answer.
  Si la réponse n'est pas 42 (êtes vous bien sûr ?), utilisez le formulaire de
  Contact ou demandez sur Discord :-)
  Cf. les liens en bas de la page.
