p.boxed
  | Win by crossing the board.

figure.diagram-container
  .diagram
    | fen:4k3/pppppppp/8/8/8/8/PPPPPPPP/4K3:
  figcaption Initial position

p
  | This is an extension of the 
  a(href="/#/variants/Pawns") Pawns
  | &nbsp;Game. A king is added to its starting square. He moves as usual.
  | The first person to reach the other side with a pawn or king is the winner.
  | You can also win by capturing the enemy king.

h3 Source

p
  a(href="https://chessplus.net/interactive-games/")
    | The Pawns Game with a King
  | &nbsp;on chessplus.net.
