p.boxed
  | Gana cruzando el tablero de ajedrez.

figure.diagram-container
  .diagrama
    | fen:4k3/pppppppp/8/8/8/8/PPPPPPPPP/4K3:
  figcaption Posición inicial

p
  | Es una extensión de la variante.
  a(href="/#/variants/Pawns") Pawns
  | . Se agrega un rey a su casilla inicial. Se mueve como siempre.
  | La primera persona que llega al otro lado del tablero con un peón
  | o el rey es declarado la ganadora.
  | También puedes ganar capturando al rey contrario.

h3 Fuente

p
  a(href="https://chessplus.net/interactive-games/")
    | The Pawns Game with a King
  | &nbsp;en chessplus.net.
