p.boxed
  | Gagnez en traversant l'échiquier.

figure.diagram-container
  .diagram
    | fen:4k3/pppppppp/8/8/8/8/PPPPPPPP/4K3:
  figcaption Position initiale

p
  | C'est une extension de la variante 
  a(href="/#/variants/Pawns") Pawns
  | . Un roi est ajouté sur sa case initiale. Il se déplace comme d'habitude.
  | La première personne à atteindre l'autre côté de l'échiquier avec un pion
  | ou le roi est déclarée gagnante.
  | Vous pouvez aussi gagner en capturant le roi adverse.

h3 Source

p
  a(href="https://chessplus.net/interactive-games/")
    | The Pawns Game with a King
  | &nbsp;sur chessplus.net.
