p.boxed
  | Gagnez en étant en sécurité sur la dernière rangée.

p.
  Variante simple : si vous pouvez déplacer une pièce de façon sécurisée sur
  la dernière rangée, c'est gagné. Si l'adversaire peut la capturer,
  vous ne gagnez pas. Le mat gagne toujours aussi,
  et toutes les autres règles habituelles s'appliquent.
