p.boxed
  | White plays one move, then black play twice,
  | then white plays three moves...

p
  | Same as 
  a(href="/#/variants/Progressive1") Progressive1
  | , but without initial double-step pawn move, and without castling.
