p.boxed
  | Las blancas juegan un movimiento, luego las negras juegan dos veces,
  | entonces las blancas juegan tres movimientos...

p
  | Como
  a(href="/#/variants/Progressive1") Progressive1
  | , pero sin el doble movimiento inicial de peón, y sin enroque.
