p.boxed
  | Les blancs jouent un coup, puis les noirs jouent deux fois,
  | ensuite les blancs jouent trois coups...

p
  | Comme 
  a(href="/#/variants/Progressive1") Progressive1
  | , mais sans le double coup initial de pion, et sans roque.
