p.boxed
  | Capture the ball, pass it among your pieces and bring it to the
  | center of the last rank.

p.
  At the beginning, there is a ball in the center of the 9x9 board.
  It doesn't move. The first piece to capture it will then hold the ball.

ul
  li.
    Capturing an enemy unit holding the ball both make the piece
    disappear and grab the ball.
  li "Capturing" a friendly unit pass the ball to it.

p.
  All pieces represent players on a field of some ball game,
  so they can move up to two squares only for a better realism.

figure.diagram-container
  .diagram.diag12
    | fen:1bnrqrnhb/ppppppppp/2h6/9/4a4/5P3/9/PPPPP1PPP/HBNRQRNHB:
  .diagram.diag22
    | fen:1bnrqrnhb/ppppppppp/2h6/9/4S4/9/9/PPPPP1PPP/HBNRQRNHB:
  figcaption Left: before fxe5 (taking ball). Right: after fxe5.

p
  | The new piece represented by an upside-down knight is a 
  a(href="https://en.wikipedia.org/wiki/Phoenix_(chess)") Phoenix (H)
  | . It moves by jumping two squares diagonally (potentially over pieces),
  | or one square orthogonally.

h3 End of the game

p.
  The goal is to bring a piece holding the ball in one of the three
  central squares of the opposite side (files d, e or f).

figure.diagram-container
  .diagram.diag12
    | fen:3rn1r2/1pp3pbp/2hp2n2/p1b1pp1p1/P6P1/2N3i1P/1PP2N3/1RB1qP3/1R2BH1HQ:
  .diagram.diag22
    | fen:3rn1r2/1pp3pbp/2hp2n2/p1b1pp1p1/P6P1/2N3h1P/1PP2N3/1RB1tP3/1R2BH1HQ:
  figcaption.
    Left: before g4Pe2 (passing the ball).
    Right: after the move. Then ...Q(x)d1# cannot be prevented.

p.
  The black phoenix on g4 passes the ball to the black queen on e2.
  Victory is then garanteed by playing a queen move on the first rank.

h3 Source

p.
  A friend and I talked some day (in 2019) about a variant where pieces
  would hit a ball to bring it to the opposite side.
  This version is inspired by these preliminary trials,
  because hitting the ball led to somewhat blocked situations.
