p.boxed
  | Captura la pelota, pásala entre tus piezas y tráela
  | en el centro de la última fila.

p.
  Al principio, hay una pelota en el medio del tablero 9x9.
  No se mueve. La primera pieza que capturarla sostendrá la pelota.

ul
  li.
    Capturar una pieza enemiga con el globo lo roba
    mientras lo hace desaparecer.
  li "Capturar" una pieza amiga le pasa la pelota.

p.
  Todas las piezas representan jugadores en un área de juego de pelota,
  entonces solo se mueven dos casillas como máximo para un mejor realismo.

figure.diagram-container
  .diagram.diag12
    | fen:rnbcq1nbr/ppppppppp/5c3/9/4a4/5P3/9/PPPPP1PPP/RNBCQCNBR:
  .diagram.diag22
    | fen:rnbcq1nbr/ppppppppp/5c3/9/4S4/9/9/PPPPP1PPP/RNBCQCNBR:
  figcaption.
    Izquierda: antes de fxe5 (tomando la pelota).
    Derecha: después de fxe5.

p.
  La pieza al lado de la dama es un Campeón (C).
  Se mueve saltando dos casillas en cualquier dirección
  (potencialmente sobre piezas), o una casilla ortogonalmente.

h3 Fin de la partida

p.
  El objetivo es traer una pieza en posesión de la pelota en uno de los
  tres casillas centrales en la última fila (columnas d, e o f).

figure.diagram-container
  .diagram.diag12
    | fen:3rn1r2/1pp3pbp/2cp2n2/p1b1pp1p1/P6P1/2N3P1P/1PP2N3/1RB1qPh2/1R2BC1CQ:
  .diagram.diag22
    | fen:3rn1r2/1pp3pbp/2cp2n2/p1b1pp1p1/P6P1/2N3P1P/1PP2N3/1RB1tPc2/1R2BC1CQ:
  figcaption.
    Izquierda: antes de g2Pe2 (pasando el globo).
    Derecha: después del movimiento. Entonces Q(x)d1# no se puede prevenir.

p.
  Las negras pasan el balón del campeón g2 a la dama en e2.
  La victoria se asegura al jugar un movimiento de dama en la primera fila.

h3 Fuente

p.
  Esta variante está inspirada por una idea que tuvimos con una amiga en 2019,
  lo que implicaba golpear la pelota para enviarla desde el otro lado del tablero.
  La versión actual evita ciertos bloqueos observados entonces.
