p.boxed
  | Captura la pelota, pásala entre tus piezas y tráela
  | en el centro de la última fila.

p.
  Al principio, hay una pelota en el medio del tablero 9x9.
  No se mueve. La primera pieza que capturarla sostendrá la pelota.

ul
  li.
    "Capturar" una pieza enemiga con el globo lo roba,
    y captura la pieza por reemplazo o la deja en su lugar:
    elija la opción "D" para "distante".
    El oponente no puede deshacer las capturas en lugar.
  li.
    "Capturar" una pieza amistosa pasa o toma la pelota. En ambos casos,
    las piezas no se mueven.

p.
  Todas las piezas representan jugadores en un área de juego de pelota,
  entonces solo se mueven tres casillas como máximo para un mejor realismo.

p.
  Para compensar la ventaja de la posesión, una pieza que tiene la
  la pelota no puede capturar piezas opuestas.

figure.diagram-container
  .diagram.diag12
    | fen:1bnrqrnhb/ppppppppp/2h6/9/4a4/5P3/9/PPPPP1PPP/HBNRQRNHB:
  .diagram.diag22
    | fen:1bnrqrnhb/ppppppppp/2h6/9/4S4/9/9/PPPPP1PPP/HBNRQRNHB:
  figcaption.
    Izquierda: antes de fxe5 (tomando la pelota).
    Derecha: después de fxe5.

p
  | La nueva pieza representada por un caballo volcado es un 
  a(href="https://en.wikipedia.org/wiki/Phoenix_(chess)") Phoenix (H)
  | . Se mueve saltando dos casillas en diagonal
  | (potencialmente sobre piezas), o una casilla ortogonalmente.

h3 Fin de la partida

p.
  El objetivo es traer una pieza en posesión de la pelota en uno de los
  tres casillas centrales en la última fila (columnas d, e o f).

figure.diagram-container
  .diagram.diag12
    | fen:3rn1r2/1pp3pbp/2hp2n2/p1b1pp1p1/P6P1/2N3i1P/1PP2N3/1RB1qP3/1R2BH1HQ:
  .diagram.diag22
    | fen:3rn1r2/1pp3pbp/2hp2n2/p1b1pp1p1/P6P1/2N3h1P/1PP2N3/1RB1tP3/1R2BH1HQ:
  figcaption.
    Izquierda: antes de g4Pe2 (pasando el globo).
    Derecha: después del movimiento. Entonces Q(x)d1# no se puede prevenir.

p.
  Las negras pasan el balón del phoenix g2 a la dama en e2.
  La victoria se asegura al jugar un movimiento de dama en la primera fila.

h3 Fuente

p.
  | Esta variante está inspirada en una discusión con una amiga en 2019, en un
  | idea de golpear la pelota para enviarla al otro lado del tablero de
  | ajedrez. La versión actual evita ciertos bloqueos observados entonces.
  | De hecho en la 
  a(href="https://www.chessvariants.com/crossover.dir/football.html")
    | variante Fútbol
  | &nbsp;mencionada en las variantes de ajedrez, el globo apenas podía
  | comenzar de nuevo desde los bordes y esquinas.
