p.boxed
  | Capturez la balle, faites la passer entre vos pièces et amenez la
  | au centre de la dernière rangée.

p.
  Au début, il y a un ballon au milieu de l'échiquier 9x9.
  Il ne bouge pas. La première pièce à le capturer détiendra alors le ballon.

ul
  li.
    "Capturer" une pièce ennemie possédant le ballon lui vole,
    et capture la pièce par remplacement ou bien la laisse en place :
    choisir l'option "D" pour "distant".
    Les captures en place ne peuvent être défaites par l'adversaire.
  li.
    "Capturer" une pièce amie lui passe le ballon, ou lui prend.
    Dans les deux cas, les pièces ne bougent pas.

p.
  Toutes les pièces représentent des joueurs sur un terrain d'un certain
  jeu de ballon, donc elles ne se déplacent que de trois cases au maximum
  pour un meilleur réalisme.

p.
  Pour compenser l'avantage de possession du ballon, une pièce ayant la
  balle ne peut pas capturer les pièces adverses.

figure.diagram-container
  .diagram.diag12
    | fen:1bnrqrnhb/ppppppppp/2h6/9/4a4/5P3/9/PPPPP1PPP/HBNRQRNHB:
  .diagram.diag22
    | fen:1bnrqrnhb/ppppppppp/2h6/9/4S4/9/9/PPPPP1PPP/HBNRQRNHB:
  figcaption Gauche : avant fxe5 (prenant le ballon). Droite : après fxe5.

p
  | La nouvelle pièce représentée par un cavalier retourné est un 
  a(href="https://en.wikipedia.org/wiki/Phoenix_(chess)") Phoenix (H)
  | . Il se déplace en effectuant des sauts de deux cases en diagonale
  | (potentiellement par dessus des pièces), ou d'une case orthogonalement.

h3 Fin de la partie

p.
  L'objectif est d'amener une pièce en possession du ballon sur une des
  trois cases centrales de la dernière rangée (colonnes d, e ou f).

figure.diagram-container
  .diagram.diag12
    | fen:3rn1r2/1pp3pbp/2hp2n2/p1b1pp1p1/P6P1/2N3i1P/1PP2N3/1RB1qP3/1R2BH1HQ:
  .diagram.diag22
    | fen:3rn1r2/1pp3pbp/2hp2n2/p1b1pp1p1/P6P1/2N3h1P/1PP2N3/1RB1tP3/1R2BH1HQ:
  figcaption.
    Gauche : avant g4Pe2 (passant le ballon).
    Droite : après le coup. Ensuite ...Q(x)d1# ne peut être empêché.

p.
  Les noirs passent la balle du phoenix g4 vers la dame en e2.
  La victoire est alors assurée en jouant ensuite un coup de dame sur la
  première rangée.

h3 Source

p
  | Cette variante s'inspire d'une discussion avec une amie en 2019, sur une
  | idée consistant à frapper la balle pour l'envoyer de l'autre côté de
  | l'échiquier. La version actuelle évite certains bloquages observés alors.
