p.boxed
  | Tus jugadas son decididos por el oponente, hacia una casilla que tendrás
  | elegido.

p.
  En cada turno, primero debes hacer un movimiento con las piezas opuestas
  hacia el espacio designado, luego juega libremente con tus piezas.
  El objetivo en la primera parte del movimiento se indica mediante un disco
  coloreado para una casilla vacía, o por una pieza coloreada para una captura.

p.
  Excepciones: el primer movimiento del juego (que solo marca un cuadrado), y
  una jugada que captura a un rey no tiene una segunda parte.

p.
  Sin jaque o jaque mate, el objetivo es capturar al rey contrario.
  No hay enroque.

figure.diagram-container
  .diagram.diag12
    | fen:rnbqkbnr/pppppppp/8/8/8/5g2/PPPPPPPP/RNBQKBNR:
  .diagram.diag22
    | fen:rnbqkbnr/pppppppp/8/3G4/8/5P2/PPPPP1PP/RNBQKBNR:
  figcaption.
    Izquierda: las blancas juegan 1.Nf3.
    Derecha: las negras ejecutan 1.f3 en su lugar, luego juegan 1...d5.

h3 Fuente

p
  | La 
  a(href="http://www.pion.ch/echecs/variante.php?jeu=ambigus")
    | descripción de las reglas
  | &nbsp;por el autor de esta variante, que también es jugable 
  a(href="https://brainking.com/en/GameRules?tp=85") en brainking.com
  | .

p Inventor: Fabrice Liardet (2005)
