p.boxed
  | Vos coups sont décidés par l'adversaire, vers une case que vous aurez
  | choisi.

p.
  À chaque tour vous devez d'abord jouer un coup avec les pièces adverses
  vers la case désignée, puis jouer un coup librement avec vos pièces.
  La cible dans la première partie du coup est indiquée soit par un disque
  coloré pour une case vide, soit par une pièce colorée pour une capture.

p.
  Exceptions : le premier coup de la partie (qui marque juste une case), et
  un coup capturant un roi n'ont pas de seconde partie.

p.
  Pas d'échec ou de mat, l'objectif est de capturer le roi adverse.
  Il n'y a pas de roque.

figure.diagram-container
  .diagram.diag12
    | fen:rnbqkbnr/pppppppp/8/8/8/5g2/PPPPPPPP/RNBQKBNR:
  .diagram.diag22
    | fen:rnbqkbnr/pppppppp/8/3G4/8/5P2/PPPPP1PP/RNBQKBNR:
  figcaption.
    Gauche : Les blancs jouent 1.Nf3.
    Droite : Les noirs exécutent 1.f3 à la place, puis jouent 1...d5.

h3 Source

p
  | La 
  a(href="http://www.pion.ch/echecs/variante.php?jeu=ambigus")
    | description des règles
  | &nbsp;par l'auteur de cette variante, qui est jouable également 
  a(href="https://brainking.com/en/GameRules?tp=85") sur brainking.com
  | .

p Inventeur : Fabrice Liardet (2005)
