p.boxed.
  Pieces of the same kind mutually attacked are immobilized.

p.
  Two pieces of the same kind which both attack the other are paralysed.
  They cannot move and they don't give check.
  This rule also applies to kings, which would then stay in the same position
  until the end of the game.

figure.diagram-container
  .diagram
    | fen:bN2kq1r/p1pp4/2n2Qpr/4RpNp/1pPb1P1P/P2K2P1/1P1R1B2/7B:
  figcaption e5 rook is safe and give check. 1...Kd8 is possible.

p.
  The diagram look like a checkmate because both black knight and bishop are
  immobilized, but since the queens are paralysed the king can escape to d8.

h3 Source

p
  | This variant appears on a number of web pages, like 
  a(href="https://echekk.fr/spip.php?page=article&id_article=1") this one
  | &nbsp;or the 
  a(href="https://en.wikipedia.org/wiki/Madrasi_chess") Wikipedia page
  | .

p Inventor: Abdul J. Karwathar (1979)
