p.boxed.
  Piezas similares que se atacan mutuamente están inmovilizadas.

p.
  Dos piezas del mismo tipo que se observan se paralizan mutuamente.
  No pueden moverse y no dan jaque.
  Esta regla también se aplica a los reyes, que luego permanecerían en el
  misma posición hasta el final del juego.

figure.diagram-container
  .diagram
    | fen:bN2kq1r/p1pp4/2n2Qpr/4RpNp/1pPb1P1P/P2K2P1/1P1R1B2/7B:
  figcaption La torre e5 es segura y da jaque. 1...Kd8 es posible.

p.
  El diagrama parece un jaque mate porque el alfil y el caballo negros son
  inmovilizados, pero como las damas están paralizadas el rey puede huir en d8.

h3 Fuente

p
  | Esta variante aparece en muchas páginas web, como 
  a(href="https://echekk.fr/spip.php?page=article&id_article=1") este
  | &nbsp;o la 
  a(href="https://en.wikipedia.org/wiki/Madrasi_chess") página Wikipedia
  | .

p Inventor: Abdul J. Karwathar (1979)
