p.boxed.
  Des pièces de même nature s'attaquant mutuellement sont immobilisées.

p.
  Deux pièces de même nature qui s'observent se paralysent mutuellement.
  Elles ne peuvent pas se déplacer et ne donnent pas échec.
  Cette règle s'applique aussi aux rois, qui resteraient ensuite dans la
  même position jusqu'à la fin de la partie.

figure.diagram-container
  .diagram
    | fen:bN2kq1r/p1pp4/2n2Qpr/4RpNp/1pPb1P1P/P2K2P1/1P1R1B2/7B:
  figcaption La tour e5 est en scurité et donne échec. 1...Kd8 est possible.

p.
  Le diagramme ressemble à un mat car le cavalier et le fou noirs sont
  immobilisés, mais puisque les dames sont paralysées le roi peut fuire en d8.

h3 Source

p
  | Cette variante apparaît sur pas mal de pages web, comme 
  a(href="https://echekk.fr/spip.php?page=article&id_article=1") celle-ci
  | &nbsp;ou la 
  a(href="https://en.wikipedia.org/wiki/Madrasi_chess") page Wikipedia
  | .

p Inventeur : Abdul J. Karwathar (1979)
