p.boxed
  | Gana llegando a la quinta fila con el rey.

p.
  Variante simple: si el rey excede la línea horizontal al medio tablero,
  está ganado. El mate siempre gana también, y
  se aplican todas las demás reglas habituales.
