p.boxed
  | Rooks are replaced by lancers from Eightpieces variant.

p
  | Everything is the same as in orthodox rules, except that rooks are
  | replaced by lancers, as defined in the 
  a(href="/variants/Eightpieces") Eightpieces variant
  | .

p.
  White lancers are facing diagonally upward, while black lancers point
  diagonally down in the deterministic initial setup.
  In the randomized version, to avoid complex setup rules,
  all lancers are facing up.

figure.diagram-container
  .diagram
    | fen:efbqkbnm/pppppppp/8/8/8/8/PPPPPPPP/EDBQKBNM:
  figcaption Initial deterministic position.

h3 More information

p TODO
