p.boxed
  | Rooks are replaced by lancers from Eightpieces variant.

p
  | Everything is the same as in orthodox rules, except that rooks are
  | replaced by lancers, as defined in the 
  a(href="/#/variants/Eightpieces") Eightpieces variant
  | .

p.
  Lancers begin aimed toward their destination square of castling.
  They can be reoriented after castling, if they effectively moved.
  While castling, some pieces can stand on the lancer's path,
  since it can jump over them.

figure.diagram-container
  .diagram.diag12
    | fen:nn1ekm2/p1ppppqp/bp3bp1/8/8/BPPN2N1/P1QPPPPP/EB4KM:
  .diagram.diag22
    | fen:nn1e1mk1/p1ppppqp/bp3bp1/8/8/BPPN2N1/P1QPPPPP/1BKC3M:
  figcaption Before and after 0-0-0+L:N 0-0 (no reorientation)

p.
  Pawn cannot promote in rooks, and, since they are absent of this game,
  neither do they promote in jailer or sentry.

h3 Source

p
  | This variant was imagined by the creator of 
  a(href="/#/variants/Eightpieces") Eightpieces
  | .
