p.boxed
  | Las torres son reemplazadas por lanceros de la variante Eightpieces.

p
  | Todo procede como en el ajedrez ortodoxo, excepto por
  | torres que son reemplazadas por lanceros como se define en la 
  a(href="variants/Eightpieces") variante Eightpieces
  | .

p.
  Los Lancers inicialmente se enfrentan entre sí.
  Se pueden reorientar después del enroque, si realmente se movieron.
  Durante el enroque, se pueden encontrar piezas en el camino de la lanza,
  ya que puede saltarlo.

figure.diagram-container
  .diagram.diag12
    | fen:nn1ekm2/p1ppppqp/bp3bp1/8/8/BPPN2N1/P1QPPPPP/EB4KM:
  .diagram.diag22
    | fen:nn1e1mk1/p1ppppqp/bp3bp1/8/8/BPPN2N1/P1QPPPPP/1BKC3M:
  figcaption Antes y después 0-0-0+L:N 0-0 (sin reorientación)

p.
  Los peones no pueden promoverse en torres y, dado que están ausentes de
  este juego, no se promocionan a sí mismos como carceleros o centinelas.

h3 Fuente

p
  | Esta variante fue imaginada por el creador de 
  a(href="/variants/Eightpieces") Eightpieces
  | .
