p.boxed
  | Les tours sont remplacées par des lanciers de la variante Eightpieces.

p
  | Tout se déroule comme aux échecs orthodoxes, sauf en ce qui concerne
  | les tours qui sont remplacées par des lanciers comme défini dans la 
  a(href="variants/Eightpieces") variante Eightpieces
  | .

p.
  Les lanciers blancs regarde vers l'avant en diagonale, tandis que les
  lanciers noirs pointent vers le sud (toujours en diagonale) dans
  l'arrangement initial déterministe.
  Dans la version aléatoire, tous les lanciers regardent droit devant afin
  d'éviter des règles d'initialisation complexes.

figure.diagram-container
  .diagram
    | fen:efbqkbnm/pppppppp/8/8/8/8/PPPPPPPP/EDBQKBNM:
  figcaption Position initiale déterministe.

h3 Plus d'information

p TODO
