p.boxed
  | Les tours sont remplacées par des lanciers de la variante Eightpieces.

p
  | Tout se déroule comme aux échecs orthodoxes, sauf en ce qui concerne
  | les tours qui sont remplacées par des lanciers comme défini dans la 
  a(href="variants/Eightpieces") variante Eightpieces
  | .

p.
  Les lanciers visent initialement leur case de destination en fin de roque.
  Ils peuvent être réorientés après le roque, s'ils ont effectivement bougé.
  Pendant le roque, des pièces peuvent se trouver sur le chemin du lancier,
  puisqu'il peut sauter par dessus.

figure.diagram-container
  .diagram.diag12
    | fen:nn1ekm2/p1ppppqp/bp3bp1/8/8/BPPN2N1/P1QPPPPP/EB4KM:
  .diagram.diag22
    | fen:nn1e1mk1/p1ppppqp/bp3bp1/8/8/BPPN2N1/P1QPPPPP/1BKC3M:
  figcaption Avant et après 0-0-0+L:N 0-0 (pas de réorientation)

p.
  Les pions ne peuvent être promus en tours, et, puisqu'ils sont absents de
  ce jeu, ils ne se promeuvent pas non plus en geôlier ou sentinelle.

h3 Source

p
  | Cette variante a été imaginée par le créateur de 
  a(href="/variants/Eightpieces") Eightpieces
  | .
