p.boxed.
  You have a king and an antiking. King cannot be let in check, but antiking
  must always stay under check. Antiking captures his own kind.

p.
  A new piece is introduced: the antiking, noted by the letter 'A'.
  This piece must always remain under (orthodox) check: it is
  considered in (anti-)check when not attacked by any enemy piece. In such a
  situation, the antiking must move immediately to an attacked square.

p.
  The antiking is a royal figure, and thus cannot be captured.
  It captures only the pieces of his color.
  Antikings don't give check, and kings do not attack antikings.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppppppp/3A4/8/8/3a4/PPPPPPPP/RNBQKBNR c5,d5,e5:
  figcaption Marked squares are not allowed antiking moves.

h3 End of the game

p There are three ways to win:
ol
  li Checkmate the opponent king
  li "Anti-checkmate" the opponent antiking
  li Give a double check, as on the following diagram

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppp1Qpp/1A6/4p3/4P2a/8/PPPP1PPP/RNB1KBNR h4,e8:
  figcaption After 1.e4 e5 2.Qh5 Ah4?? 3.Qxf7#

h3 More information

p
  a(href="https://www.chessvariants.com/diffobjective.dir/anti-king-chess.html")
    | Antiking chess
  | &nbsp;on chessvariants.com.

p Inventor: Peter Aronson (2002)
