p.boxed
  | El segundo jugador tiene un conjunto diferente de piezas,
  | moviéndose aproximadamente como "caballos aumentados".

img.img-center(src="/variants/Orda/Orda.png")

p
  | Orda Chess es una variante inventada en 2020 por Couch Tomato 
  span.italic
    | Nota: él prefiere permanecer en el anonimato :) En cualquier caso,
    | la versión Inglés de este texto y todas las imágenes son de él. 
  | La idea de este juego era conseguir una pelea asimétrica real con
  | diferentes ejércitos Las variaciones de Ralph Betza 
  a(href="https://www.chessvariants.com/unequal.dir/cwda.html")
    | con diferentes ejércitos
  | &nbsp;fueron una inspiración pero el objetivo era estar en
  | adecuación con el tema actual. En nuestro caso, el tema de
  | nuevo ejército es como se mueve el caballo: la mayoría de las piezas
  | tener un elemento que evoca el movimiento del caballo.
  | Dado este "tema del caballo", esta variante fue construida
  | después del ejército mongol y llamó a la Horda. Una "orda" era un
  | estructura militar para el pueblo de las estepas, y la palabra española
  | "horda" viene de ahi. El ejército original se llama "el Reino", para el
  | contraste El juego en sí está increíblemente equilibrado según
  | evaluación del módulo (en realidad más que para ajedrez estándar),
  | con una proporción de ganancias cercana a 50-50 para el Reino y la Horda.

h3 Reglas generales

ol
  li.
    El diseño de las habitaciones se da arriba. Las piezas de la Horda son
    partes estándar espejadas, aunque desplazamiento son diferentes
  li El Reino siempre hace el primer movimiento.
  li La Horda no puede enroquar.
  li.
    Los peones de la Horda que comienzan en la tercera fila, tampoco pueden
    avanzar dos espacios o ser capturado en passant. Peones del Reino
    en cuanto a ellos, mantenga estas dos opciones.
  li Las únicas promociones posibles son en dama o kheshig.
  li.
    Es posible una nueva forma de ganar: la "mate de campamento".
    Esta "mate" obtenido jugando el rey (sin ser en jaque) en la última fila.
  li Las otras reglas se aplican, como el empate o las tablas por repetición.

h3 Piezas de la Horda

p.
  Hay cuatro nuevas unidades únicas* en la Horda: 2 Lanceros, 2 Arqueros
  a caballo, 2 Kheshigs y 1 Yurt (* excepto el kheshig que el
  Reino puede obtener por promoción). Los kheshigs son los más
  poderoso (desplazamiento de caballo + rey) y lidera cada flanco, mientras
  que la yurta es una habitación bastante débil a diferencia de la dama.
  El Rey de la Horda se llama Khan y tiene una apariencia diferente, pero es
  muévete y captura como el Rey del Reino; se nota por el mismo
  abreviatura (K) &mdash; el cambio es puramente estético y temática

p.
  Los Lanceros y el Arquero a caballo de la Horda son únicos en el sentido
  de que no capturar mientras se mueven. Recuerda que la Horda es
  inspirado en una caballería (militar), y por lo tanto los Lanceros y
  Arqueros en ambos caballos se mueven como jinetes. Capturan como
  la torre y el alfil, respectivamente. El Kheshig es más tradicional porque
  captura mientras se mueve; combina los movimientos del rey y el
  caballo. La yurta también captura a medida que se mueve: como un
  general de plata en el Shogi.

table.rules
  tr
    th Pieza de la Horda
    th "Contraparte" del Reino
    th Desplazamiento
    th Captura
  tr
    td Yurta
    td Dama
    td "Plata"
    td "Plata"
  tr
    td Arquero
    td Alfil
    td Caballo
    td Alfil
  tr
    td Kheshig
    td Caballo
    td Caballo+Rey
    td Caballo+Rey
  tr
    td Lancero
    td Torre
    td Caballo
    td Torre

p.
  Los detalles y diagramas de cada parte se pueden encontrar a continuación.
  Los puntos verdes representan los movimientos, el rojo las capturas,
  y los amarillos representan ambos.

h4 Yurta (Y)

img.img-center(src="/variants/Orda/Yurt.png")

p.
  La yurta se mueve y captura una casilla diagonal o un cuadrado hacia
  el frente. Esto corresponde a un general de plata en el Shogi o un
  alfil/khon en Makruk. Solo hay una yurta, comenzando en el sitio de la dama,
  pero a diferencia de este último corresponde a una pieza (muy) menor:
  el más débil en el juego después del peón. Dicho esto, no debería
  para ser subestimado, porque es una de las piezas raras de la Horda que
  captura a medida que se mueve Los otros dos son el khan y el kheshig: los
  dos piezas más preciosas. Entonces la yurta tiene el papel único de
  apoyar peones y otras partes sin temor a la rebelión.

p.
  Una yurta es un hábitat móvil para las poblaciones de las estepas
  asiáticos. Su movilidad limitada contrasta con su importancia para
  apoyar a los militares se refleja en esta pieza.

h4 Kheshig (H)

img.img-center(src="/variants/Orda/Kheshig.png")

p.
  El kheshig es una pieza híbrida que se mueve y captura como un rey y un
  caballo combinado. Este tipo de pieza también se llama centauro,
  genéricamente. El kheshig comienza en la ubicación del jinete, pero a
  diferencia de esto la última es la pieza más poderosa de la Horda.
  Puedes imaginar como un general que lideraría sus propias tropas en cada
  flanco. En general, es preferible mantener a los kheshigs en el refugio
  detrás de la apertura hasta la mitad del juego, debido a su extrema
  importancia para la Horda en la final.

p.
  Los kheshigs eran la guardia imperial de élite en el reino mongol.
  Entonces es apropiado que sea increíblemente difícil para el Reino
  matar un khan sin eliminar al menos uno de los kheshigs.

h4 Arquero a caballo (A)

img.img-center(src="/variants/Orda/Archer.png")

p.
  El arquero (a caballo) es una pieza única "pseudo-híbrida" que se mueve
  y capturar de manera diferente. El arquero tiene los movimientos del
  caballo pero captura como alfil. El arquero jugando tanto en casillas
  negras como en blancas, es más fuerte que el alfil del Reino.

p.
  Uno de los dos componentes principales de la caballería mongol,
  que funciona como una caballería ligera. Su velocidad
  y su habilidad los convirtió en una amenaza única. Su capacidad para
  posicionarse rápidamente para un hilo o tenedor mortal
  los convierte en una amenaza peligrosa para el Reino.

h4 Lancero (L)

img.img-center(src="/variants/Orda/Lancer.png")

p.
  El lancero es una pieza única "pseudo-híbrida" que se mueve y ataca
  diferente. Se mueve como un caballo pero captura como una torre.
  El lancero no es tan móvil como la torre, generalmente es más débil
  que este último, especialmente en la final porque no puede cruzar
  el tablero muy rápido. Su valor es comparable al del arquero.

p.
  Los lanceros eran uno de los dos componentes principales de la caballería
  mongol, que opera como una caballería pesada. Aunque siendo más débil
  que una torre, tienen la ventaja de poder ingresar al juego más rápido.

h4 Evaluación de las piezas

p.
  Los valores precisos de las piezas son desconocidos. Sin embargo, aquí
  están los valores utilizados por Fairy Stockfish. Estos son valores
  genérico, no necesariamente específico del ajedrez Orda.

table.rules
  tr
    th Pieza del Reino
    th Valor (inicio / fin)
    th Pieza de la Horda
    th Valor (inicio / fin)
  tr
    td Peón
    td 120 / 213
    td Peón
    td 120 / 213
  tr
    td Dama
    td 2538 / 2682
    td Yurta
    td 630 / 630
  tr
    td Alfil
    td 825 / 915
    td Arquero
    td 1100 / 1200
  tr
    td Caballo
    td 781 / 854
    td Kheshig
    td 1600 / 1700
  tr
    td Torre
    td 1276 / 1380
    td Lancero
    td 1050 / 1250

p
  | Para aquellos que desean un enfoque simplificado, esta tabla puede ser
  | usado como una aproximación. 
  span.italic
    | Nota: esta simplificación es utilizada por el bot equivocada aquí.

table.rules
  tr
    th Pieza del Reino
    th Valor
    th Pieza de la Horda
    th Valor
  tr
    td Peón
    td 1
    td Peón
    td 1
  tr
    td Dama
    td 9
    td Yurta
    td 2
  tr
    td Alfil
    td 3
    td Arcquero
    td 4
  tr
    td Caballo
    td 3
    td Kheshig
    td 7
  tr
    td Torre
    td 5
    td Lancero
    td 4

p.
  En general, el ejército de la Horda es más débil que el Reino (en
  basado solo en la evaluación de las piezas por Stockfish).
  Sin embargo, la Horda comienza con peones en la tercera fila, que
  debe equilibrar el juego.

h3 Estrategia

p.
  La variante aún es joven, por lo que la estrategia aún no se ha escrito.
  Gran parte de los datos actuales provienen de partes de la computadora.
  La Horda no puede enrocarse, pero observamos que colocar el khan en g7
  en los primeros cuatro movimientos asegura igualmente al rey.
  De hecho, Fairy Stockfish comienza con esta jugada en el 56% de los casos.
  El resto es variable.
  En cuanto al Reino, d4, g3 y b3 son las aperturas más frecuentes
  en ese orden.
