p.boxed
  | Le joueur en second dispose d'un jeu de pièces différent,
  | se déplaçant en gros comme des "cavaliers augmentés".

img.img-center(src="/images/variants/Orda/Orda.png")

p
  | Orda Chess est une variante inventée en 2020 par Couch Tomato
  span.italic
    | Note : il préfère rester anonyme :) En tout cas la version
    | anglaise de ce texte et toutes les images sont de lui.
  | L'idée pour ce jeu était d'obtenir un vrai combat asymétrique avec
  | des armées différentes. Les variantes de Ralph Betza 
  a(href="https://www.chessvariants.com/unequal.dir/cwda.html")
    | avec des armées différentes
  | ont été une source d'inspiration, mais l'objectif était d'être en
  | adéquation avec le thème présent. Dans notre cas, le thème de la
  | nouvelle armée est le déplacement de cavalier : la plupart des pièces
  | ont un élément évoquant le mouvement du cavalier.
  | Étant donné ce "thème cavalier", cette variante a été construite
  | d'après l'armée mongole et appelé la Horde. Une "orda" était une
  | structure militaire pour les gens des steppes, et le mot français "horde"
  | vient de là. L'armée originelle est appelée "le Royaume", pour le
  | contraste. Le jeu en lui-même est incroyablement équilibré selon
  | l'évaluation du module (en fait plus que pour les échecs standards),
  | avec un ratio de gains proche de 50-50 pour le Royaume et la Horde.

h3 Règles générales

ol
  li.
    L'agencement des pièces est donné ci-dessus. Les pièces de la Horde sont
    affichées en miroir des pièces standards, bien que les déplacements
    soient différents.
  li Le Royaume joue toujours le premier coup.
  li La Horde ne peut pas roquer.
  li.
    Les pions de la Horde démarrant sur la troisième rangée, ils ne peuvent ni
    avancer de deux cases ni être capturés en passant. Les pions du Royaume
    quant à eux conservent ces deux options.
  li Les seules promotions possibles sont en dame ou kheshig.
  li.
    Une nouvelle façon de gagner est possible : le "mat de camp". Ce "mat"
    s'obtient en jouant le roi (sans être échec) sur la dernière rangée.
  li Les autres règles s'appliquent, comme le pat ou la nulle par répétition.

h3 Pièces de la Horde

p.
  Il y a quatre nouvelles unités uniques* à la Horde : 2 Lanciers, 2 Archers
  à cheval, 2 Kheshigs et 1 Yourte (* à l'exception du kheshig que le
  Royaume peut obtenir par promotion). Les kheshigs sont la pièce la plus
  puissante (déplacement de cavalier + roi) et mènent chaque flanc, tandis
  que la yourte est une pièce plutôt faible contrairement à la dame.
  Le roi de la Horde est appelée Khan et a une allure différente, mais se
  déplace et capture comme le roi du Royaume ; il est noté par la même
  abbréviation (K) &mdash; le changement est purement esthétique et
  thématique.

p.
  Le Lancier et l'Archer à cheval de la Horde sont uniques en le sens qu'ils
  ne capturent pas comme ils se déplacent. Rappelez-vous que la Horde est
  inspirée d'une cavalerie (militaire), et donc les Lanciers et Archers à
  cheval se déplacent tous deux comme des cavaliers. Ils capturent comme
  la tour et le fou, respectivement. Le Kheshig est plus traditionnel car il
  capture comme il se déplace ; il combine les mouvements du roi et du
  cavalier. La yourte capture également comme elle se déplace : comme un
  général d'argent au Shogi.

table
  tr
    th Pièce de la Horde
    th "Contrepartie" du Royaume
    th Déplacement
    th Capture
  tr
    td Yourte
    td Dame
    td "Silver"
    td "Silver"
  tr
    td Archer
    td Fou
    td Cavalier
    td Fou
  tr
    td Kheshig
    td Cavalier
    td Cavalier+Roi
    td Cavalier+Roi
  tr
    td Lancier
    td Tour
    td Cavalier
    td Tour

p.
  Les détails et diagrammes de chaque pièce se trouvent ci-dessous.
  Les points verts représentent les déplacements, les rouges les captures,
  et les jaunes représentent les deux.

h4 Yourte (Y)

img.img-center(src="/images/variants/Orda/Yurt.png")

p.
  La yourte se déplace et capture d'une case en diagonale ou une case vers
  l'avant. Cela correspond à un général d'argent au Shogi ou à un fou/khon
  au Makruk. Il n'y a qu'une yourte, démarrant à l'emplacement de la dame,
  mais contrairement à cette dernière elle correspond à une pièce (très)
  mineure : la plus faible du jeu après le pion. Ceci dit, elle ne doit pas
  être sous-estimée, car c'est une des rares pièces de la Horde qui capture
  comme elle se déplace. Les deux autres sont le khan et le kheshig : les
  deux pièces les plus précieuses. Ainsi la yourte a le rôle unique de
  soutenir les pions et les autres pièces sans crainte de rebellion.

p.
  Une yourte est un habitat mobile pour les populations des steppes
  asiatiques. Leur mobilité limitée contrastant avec leur importance pour
  soutenir l'armée se reflète dans cette pièce.

h4 Kheshig (H)

img.img-center(src="/images/variants/Orda/Kheshig.png")

p.
  Le kheshig est une pièce hybride qui bouge et capture comme roi et cavalier
  combinés. Ce type de pièce est aussi appelée centaure, de façon générique.
  Le kheshig démarre à l'emplacmeent du cavalier, mais contrairement à ce
  dernier c'est la pièce la plus puissante de la Horde. On peut l'imaginer
  comme un général qui mènerait ses propres troupes sur chaque flanc.
  On préfère généralement garder les kheshigs à l'abri en retrait pendant
  l'ouverture jusqu'au milieu de jeu, à cause de leur extrême importance
  pour la Horde en finale.

p.
  Les kheshigs étaient la garde impérial d'élite dans le royaume mongol.
  Il est donc approprié qu'il soit incroyablement difficile pour le Royaume
  de mater un khan sans éliminer au moins un des kheshigs.

h4 Archer à cheval (A)

img.img-center(src="/images/variants/Orda/Archer.png")

p.
  L'archer (à cheval) est une pièce unique "pseudo-hybride" qui se déplace
  et capture différemment. L'archer dispose des mouvements du cavalier mais
  capture comme un fou. L'archer évoluant à la fois sur cases noires et
  blanches, il est plus fort que le fou du Royaume.

p.
  Les archers à cheval étaient l'une des deux composantes principales de la
  cavalerie mongole, fonctionnant comme une cavalerie légère. Leur vitesse
  et leur habileté faisaient d'eux une menace unique. Leur capacité à
  se positionner rapidement pour une enfilade mortelle ou une fourchette
  fait d'eux une dangeureuse menace pour le Royaume.

h4 Lancier (L)

img.img-center(src="/images/variants/Orda/Lancer.png")

p.
  Le lancier est une pièce unique "pseudo-hybride" qui se déplace et attaque
  différemment. Il bouge comme un cavalier mais capture comme une tour.
  Le lancier n'étant pas aussi mobile que la tour, il est généralement plus
  faible que cette dernière, surtout en finale car il ne peut pas traverser
  l'échiquier très vite. Sa valeur est comparable à celle de l'archer.

p.
  Les lanciers étaient l'une des deux composantes principales de la cavalerie
  mongole, fonctionnant comme une cavalerie lourde. Bien qu'étant plus faibles
  qu'une tour, ils ont l'avantage de pouvoir entrer dans le jeu plus vite.

h4 Évaluation des pièces

p.
  Les valeurs précises des pièces sont inconnues. Cependant, voici les
  valeurs utilisées par Fairy Stockfish. Celles-ci sont des valeurs
  génériques, pas nécessairement spécifiques aux échecs Orda.

table
  tr
    th Pièce du royaume
    th Valeur (Début / Fin)
    th Pièce de la Horde
    th Value (Début / Fin)
  tr
    td Pion
    td 120 / 213
    td Pion
    td 120 / 213
  tr
    td Dame
    td 2538 / 2682
    td Yourte
    td 630 / 630
  tr
    td Fou
    td 825 / 915
    td Archer
    td 1100 / 1200
  tr
    td Cavalier
    td 781 / 854
    td Kheshig
    td 1600 / 1700
  tr
    td Tour
    td 1276 / 1380
    td Lancier
    td 1050 / 1250

p
  | Pour ceux souhaitant une approche simplifiée, cette table peut être
  | utilisée comme approximation.
  span.note Note : cette simplification est utilisée par le mauvais bot ici.

table
  tr
    th Pièce du Royaume
    th Valeur
    th Pièce de la Horde
    th Valeur
  tr
    td Pion
    td 1
    td Pion
    td 1
  tr
    td Dame
    td 9
    td Yourte
    td 2
  tr
    td Fou
    td 3
    td Archer
    td 4
  tr
    td Cavalier
    td 3
    td Kheshig
    td 7
  tr
    td Tour
    td 5
    td Lancier
    td 4

p.
  Globalement, l'armée de la Horde est plus faible que le Royaume (en se
  basant sur la seule évaluation des pièces par Stockfish).
  La Horde démarre cependant avec des pions sur la troisème rangée, ce qui
  devrait équilibrer le jeu.

h3 Stratégie

p.
  La variante est encore jeune, donc la stratégie reste à écrire !
  Beaucoup des données actuelles proviennent de parties de l'ordinateur.
  La Horde ne peut pas roquer, mais on observe que placer le khan en f7
  dans les quatre premiers coups met le roi en sécurité de manière similaire.
  En fait, Fairy Stockfish commence par ce coup dans 56% des cas.
  Le reste est variable.
  Concernant le Royaume, d4, g3 et b3 sont les ouvertures les plus fréquentes
  dans cet ordre.
