p.boxed
  | You can forbid the opponent to play the move he wanted.

p.
  All rules are as in normal chess, except for the following: each turn,
  a player has the right to refuse at most one move of the opponent.
  To refuse a move, re-play it from end to starting square.

p.
  Two moves promoting the same pawn on the same square, but to a
  different type of piece, count as two different moves.

p If a player has only one legal move, this move must be accepted.

h3 More information

p
  | See the 
  a(href="https://www.chessvariants.com/other.dir/refusal.html")
    | chessvariants page
  | .

p Inventor: Fred Galvin (1958)
