p.boxed
  | Puedes evitar que el oponente haga cualquier movimiento que quiera.

p.
  Todo va como en el ajedrez ortodoxo, excepto por un detalle:
  en cada turno, un jugador tiene derecho a rechazar como máximo una jugada
  del oponente. Para rechazar un movimiento, vuelva a reproducirlo al revés.

p.
  Dos movimientos, cada uno promoviendo un peón en la misma casilla,
  pero en dos piezas diferentes, se ven como jugadas diferentes.

p Si un jugador tiene solo un movimiento legal, debe ser aceptado.

h3 Más información

p
  | Ver la 
  a(href="https://www.chessvariants.com/other.dir/refusal.html")
    | página chessvariants
  | .

p Inventor: Fred Galvin (1958)
