p.boxed Xiangqi on a 7 x 7 board.

figure.diagram-container
  .diagram
    | fen:rcnkncr/p1ppp1p/7/7/7/P1PPP1P/RCNKNCR:
  figcaption Initial position.

p.
  Minixiangqi is essentially Xiangqi on a 7x7 board. The game was invented
  (or rediscovered) around 1973 by Shigenobu Kusumoto of Osaka, Japan.

p
  | The rules are the same as in 
  a(href="/#/variants/Xiangqi") Xiangqi
  | . Unlike standard Xiangqi, there is no elephant or advisor.
  | Pawns always have the ability to move sideways.

p
  | See also 
  a(href="https://www.pychess.org/variant/minixiangqi") Minixiangqi
  | &nbsp;on pychess-variants.
