p.boxed Xiangqi en un tablero 7 x 7.

figure.diagram-container
  .diagram
    | fen:rcnkncr/p1ppp1p/7/7/7/P1PPP1P/RCNKNCR:
  figcaption Posición inicial.

p.
  Esta variante corresponde al Xiangqi en un tablero de ajedrez de 7x7.
  Este juego fue inventado (o redescubierto) en 1973 por Shigenobu Kusumoto
  de Osaka, Japón.

p
  | Las reglas son las mismas que en 
  a(href="/#/variants/Xiangqi") Xiangqi
  | . A diferencia del Xiangqi estándar, no hay elefante ni consejero.
  | Los peones siempre tienen la opción de moverse hacia los lados.

p
  | Ver también 
  a(href="https://www.pychess.org/variant/minixiangqi") Minixiangqi
  | & nbsp;en pychess-variants.
