p.boxed Xiangqi sur un plateau 7 x 7.

figure.diagram-container
  .diagram
    | fen:rcnkncr/p1ppp1p/7/7/7/P1PPP1P/RCNKNCR:
  figcaption Position initiale.

p.
  Cette variante correspond au Xiangqi sur un échiquier 7x7.
  Ce jeu a été inventé (ou redécouvert) en 1973 par Shigenobu Kusumoto
  d'Osaka, Japon.

p
  | Les règles sont les mêmes qu'au 
  a(href="/#/variants/Xiangqi") Xiangqi
  | . Contrairement au Xiangqi standard, il n'y a ni éléphant ni conseiller.
  | Les pions ont toujours l'option de se déplacer létaralement.

p
  | Voir aussi 
  a(href="https://www.pychess.org/variant/minixiangqi") Minixiangqi
  | &nbsp;sur pychess-variants.
