p.boxed.
  Pieces can capture both colors.

p.
  This can be useful to open lines for attack, and it also eliminate
  back rank mate threats for example.
  On the diagram 1.Qh5 is possible because 1...Ra1+ 2.Kxh2.

figure.diagram-container
  .diagram.diag12
    | fen:r5k1/5ppp/8/6N1/8/8/6PP/3Q3K:
  .diagram.diag22
    | fen:r5k1/5ppp/8/6NQ/8/8/6PP/7K:
  figcaption Before and after 1.Qh5

h3 Source

p
  |This variant is mentioned in 
  a(href="https://www.jsbeasley.co.uk/encyc.htm")
    | The Classified Encyclopedia of Chess Variants
  | .

p Inventor: L. Tabi (1971)
