p.boxed.
  Las piezas pueden capturar ambos colores.

p.
  Esto puede ser útil para abrir líneas de ataque, por ejemplo, y que
  también elimina las amenazas de mate del corredor, por ejemplo.
  En el diagrama 1.Qh5 es posible porque 1...Ra1+ 2.Kxh2.

figure.diagram-container
  .diagram.diag12
    | fen:r5k1/5ppp/8/6N1/8/8/6PP/3Q3K:
  .diagram.diag22
    | fen:r5k1/5ppp/8/6NQ/8/8/6PP/7K:
  figcaption Antes y después 1.Qh5

h3 Fuente

p
  | Esta variante se menciona en 
  a(href="https://www.jsbeasley.co.uk/encyc.htm")
    | The Classified Encyclopedia of Chess Variants
  | .

p Inventor: L. Tabi (1971)
