p.boxed.
  Les pièces peuvent capturer les deux couleurs.

p.
  Cela peut être utile pour ouvrir des lignes d'attaque par exemple, et ça
  élimine aussi les menaces de mat du couloir par exemple.
  Sur le diagramme 1.Qh5 est possible car 1...Ra1+ 2.Kxh2.

figure.diagram-container
  .diagram.diag12
    | fen:r5k1/5ppp/8/6N1/8/8/6PP/3Q3K:
  .diagram.diag22
    | fen:r5k1/5ppp/8/6NQ/8/8/6PP/7K:
  figcaption Before and after 1.Qh5

h3 Source

p
  | Cette variante est mentionnée dans 
  a(href="https://www.jsbeasley.co.uk/encyc.htm")
    | The Classified Encyclopedia of Chess Variants
  | .

p Inventeur : L. Tabi (1971)
