p.boxed.
  You can capture your pieces to teleport them instead of a regular move.

p.
  Instead of playing an orthodox move, it is possible to capture one of
  our own pieces before repositioning it immediatly elsewhere on the board.
  A king may remain under check while the move isn't complete.
  A repositioned piece can give checkmate.
  A pawn cannot be placed on the last rank.

p.
  A king can reposition a piece or be repositioned,
  possibly to escape from a check.

figure.diagram-container
  .diagram.diag12
    | fen:7k/6b1/8/4Q2N/8/8/8/K7:
  .diagram.diag22
    | fen:7k/6b1/5N2/7Q/8/8/8/K7:
  figcaption Not a pin, nor a mate in 2.

p.
  1.Qxh5,N@f6+ is played from the diagram position, showing that the queen
  isn't really pinned. Then, instead of 1...Bh6 black can either reposition
  the bishop or the king to escape from check. 1...Kxg7,B@d4+ for example.

p To reposition a piece, just click on an empty square after a self-capture.

h3 Source

p
  | This variant is 
  a(href="http://abrobecker.free.fr/chess/fairyblitz.htm#deplaceurdevivants")
    | mentioned here
  | .

p Inventor: Philippe Rouzaud (2006)
