p.boxed.
  Vous pouvez capturer vos pièces pour les téléporter au lieu de jouer
  un coup normal.

p.
  Un camp peut, à la place d'un coup orthodoxe, capturer une de ses pièces et
  replacer la pièce capturée immédiatement sur l'échiquier. Un roi peut rester
  en échec durant cette action.
  Une pièce déplacée sur l'échiquier peut mater.
  Un pion ne peut pas être déplacé en dernière rangée.

p.
  Un roi peut déplacer et être déplacé,
  y compris pour se soustraire à un échec.

figure.diagram-container
  .diagram.diag12
    | fen:7k/6b1/8/4Q2N/8/8/8/K7:
  .diagram.diag22
    | fen:7k/6b1/5N2/7Q/8/8/8/K7:
  figcaption Pas un clouage, ni un mat en 2.

p.
  1.Qxh5,N@f6+ est joué depuis la position du diagramme, montrant que la dame
  n'est pas vraiment clouée. Ensuite, pour se soustraire à l'échec les noirs
  peuvent replacer leur fou ou leur roi au lieu de jouer 1...Bh6.
  1...Kxg7,B@d4+ par exemple.

p.
  Pour repositionner une pièce, cliquez simplement sur une case vide après
  une auto-capture.

h3 Source

p
  | Cette variante est 
  a(href="http://abrobecker.free.fr/chess/fairyblitz.htm#deplaceurdevivants")
    | mentionnée ici
  | .

p Inventeur : Philippe Rouzaud (2006)
