input#modalWelcome.modal(type="checkbox")
div(role="dialog")
  #welcome.card.text-center
    label.modal-close(for="modalWelcome")
    h3.blue.section Welcome to v[ariant]chess.club!
    .section
      p A fun place to play chess variants in real time.
      p But wait... what is a chess variant?
      img(src="/images/Hexagonal_chess.svg")
      p.
        As suggested by the picture, a variant setup generally looks more or less
        like a chessboard with regular pieces (otherwise it's no longer a variant
        but a whole new game).
      p.emphasis.purple However...
      p Each variant has its own new rules, which can involve
      table.list-table
        tbody
          tr
            td * different pieces movements
          tr
            td * different chessboard(s)
          tr
            td * new pieces
          tr
            td * moves side effects
          tr
            td ...and so on
    .section
      p.
        Example: imagine that a capture is an atomic explosion, wiping all
        adjacent squares &ndash; except the pawns, which as cockroaches can
        resist this kind of event.
      p Also state a goal: make the opponent's king explode.
      p &rarr; Congrats, you defined Atomic chess! (Playable here)
    .section
      p.emphasis.purple
        | OK, this all sounds interesting, but why would that be fun?
      p.
        Because all games here start with a random setup: no more boring
        openings memorization, you have to rely on your chess skills only.
        No game is like another one.
      -
        var wikipediaUrl = "https://en.wikipedia.org/wiki/" +
          "List_of_chess_variants#/media/File:Hexagonal_chess.svg";
      p.
        For informations about hundreds (if not thousands) of variants, you
        can visit the excellent
        #[a(href="https://www.chessvariants.com/") chessvariants] website.
    p.smallfont Image credit: #[a(href=wikipediaUrl) Wikipedia]
