p.boxed
  | White and black pieces are replaced by different armies.

p.
  Pawns and kings move as usual, but the other pieces generally do not.
  Indeed, before the game start you must select two armies, defining
  new movements for "rooks", "knights", "bishops" and "queens".

p Pieces movements are described using these simple pieces:
ul
  li Dabbabah = jump two squares orthogonally
  li Alfil = jump two squares diagonally
  li Wazir = one square orthogonally
  li Ferz = one square diagonally
  li Three leaper (L3) = jump three squares orthogonally
  li Narrow knight = knight without "2+1 lateral moves"

p Pawns can be promoted into a piece of any of the two armies playing.

h3 The Colorbound Clobberers

figure.showPieces.text-center
  img(src="/images/pieces/Cwda/bd.svg")
  img(src="/images/pieces/Cwda/ww.svg")
  img(src="/images/pieces/Cwda/bf.svg")
  img(src="/images/pieces/Cwda/wc.svg")

ul
  li Rook = bishop + dabbabah = "bede" (D),
  li Knight = wazir + alfil = "waffle" (W),
  li Bishop = ferz + alfil + dabbabah = "fad" (F),
  li Queen = bishop + knight = "cardinal" (C).

figure.diagram-container
  .diagram.diag12
    | fen:8/8/8/3D4/8/8/8/8 a8,b7,c6,e4,f3,g2,h1,c4,b3,a2,e6,f7,g8,f5,d3,b5,d7:
  .diagram.diag22
    | fen:8/8/8/4w3/8/8/8/8 e6,f5,e4,d5,c7,g7,g3,c3:
  figcaption.
    Moves of the Bede on the left, and of the Waffle on the right.

p.
  When castling large, the king and rook arrive respectively on
  b1/b8 and c1/c8 so that the rook remains on the same color.

h3 The Nutty Knights

figure.showPieces.text-center
  img(src="/images/pieces/Cwda/bg.svg")
  img(src="/images/pieces/Cwda/wi.svg")
  img(src="/images/pieces/Cwda/bt.svg")
  img(src="/images/pieces/Cwda/wl.svg")

ul
  li Rook = rook forward and sideways + king backwards = "charging rook" (G),
  li Knight = narrow knight + ferz = "fibnif" (I),
  li.
    Bishop = knight forward + king sideways and backwards =
    "charging knight" (T),
  li Queen = rook forward and sideways + knight forward + king = "colonel" (L).

figure.diagram-container
  .diagram.diag12
    | fen:8/8/8/3i4/8/8/8/8 c7,c3,e7,e3,c4,c6,e6,e4:
  .diagram.diag22
    | fen:8/8/8/4T3/8/8/8/8 c6,d7,f7,g6,d5,f5,d4,e4,f4:
  figcaption.
    Moves of the Fibnif on the left, and of the Charging knight on the right.

h3 The Remarkable Rookies

figure.showPieces.text-center
  img(src="/images/pieces/Cwda/bs.svg")
  img(src="/images/pieces/Cwda/wy.svg")
  img(src="/images/pieces/Cwda/bh.svg")
  img(src="/images/pieces/Cwda/wo.svg")

ul
  li Rook = rook limited to 4 squares = "short rook" (S),
  li Knight = dabbabah + wazir = "woody rook" (Y),
  li Bishop = dabbabah + ferz + L3 = "half-duck" (H),
  li Queen = rook + knight = "chancellor" (O).

figure.diagram-container
  .diagram.diag12
    | fen:8/8/8/3y4/8/8/8/8 d3,b5,d7,f5,c5,d6,e5,d4:
  .diagram.diag22
    | fen:8/8/8/4H3/8/8/8/8 c5,e7,g5,e3,b5,e8,h5,e2,d4,d6,f6,f4:
  figcaption.
    Moves of the Woody rook on the left, and of the Half-duck on the right.

h3 Fide army

p The standard chess pieces.

h3 Source

p
  a(href="https://www.chessvariants.com/unequal.dir/cwda.html")
    | Chess with different armies
  | &nbsp;on chessvariants.com.

p Inventor: Ralph Betza (1996)
