p.boxed
  | TODO: other armies as well
  | Black pieces are replaced by a new army, where most pieces are quite
  | colorbound.

p Black pawns and king move as usual, but the other pieces do not:
ul
  li Rook = bishop + dabbabah (D),
  li Knight = wazir + alfil = "phoenix" (H),
  li Bishop = ferz + alfil + dabbabah (A),
  li Queen = bishop + knight = "princess" (S).
p.
  The Ferz and Wazir move respectively like a single-step bishop, and
  single-step rook. The Alfil and Dabbabah move respectively like a
  double-step bishop and a double-step rook. They can both leap over a piece.

figure.diagram-container
  .diagram.diag12
    | fen:8/8/8/3d4/8/8/8/8 a8,b7,c6,e4,f3,g2,h1,c4,b3,a2,e6,f7,g8,f5,d3,b5,d7:
  .diagram.diag22
    | fen:8/8/8/4h3/8/8/8/8 e6,f5,e4,d5,c7,g7,g3,c3:
  figcaption.
    Moves of the black rook on the left, and of the black knight on the right.

figure.diagram-container
  .diagram.diag12
    | fen:8/8/8/3a4/8/8/8/8 c6,b7,e6,f7,e4,f3,c4,b3,d7,f5,d3,b5:
  .diagram.diag22
    | fen:8/8/8/4s3/8/8/8/8 a1,b2,c3,d4,f6,g7,h8,b8,c7,d6,f4,g3,h2,c6,d7,f7,g6,g4,f3,d3,c4:
  figcaption.
    Moves of the black bishop on the left, and of the black queen on the right.

p Pawns can be promoted into any piece (including those of the other team).

p.
  When castling large, the black king arrives on b8 and the a8 rook moves
  to c8, to remain on the same color.

h3 Source

p
  a(href="https://www.chessvariants.com/d.betza/chessvar/dan/colclob.html")
    | The colorbound clobberers
  | &nbsp;on chessvariants.com.

p Inventor: Ralph Betza (1996)
