p.boxed
  | Las piezas negras son reemplazadas por un nuevo equipo, que incluye
  | la mayoría de las piezas se estiraron para evolucionar en un solo color.

p.
  Los peones negros y el rey mantienen sus movimientos habituales, pero este
  no es el caso para las otras piezas:
ul
  li Torre = alfil + dabbabah (D),
  li Caballo = wazir + alfil = "phoenix" (H),
  li Alfil = ferz + elefante + dabbabah (A),
  li Dama = alfil + caballo = "princesa" (S).
p.
  El Ferz y el Wazir viajan respectivamente como un alfil y una torre,
  pero de una casilla solamente. El Elefante y el Dabbabah se mueven
  respectivamente de dos casillas como un alfil y una torre,
  posiblemente saltando sobre una pieza.

figure.diagram-container
  .diagram.diag12
    | fen:8/8/8/3d4/8/8/8/8 a8,b7,c6,e4,f3,g2,h1,c4,b3,a2,e6,f7,g8,f5,d3,b5,d7:
  .diagram.diag22
    | fen:8/8/8/4h3/8/8/8/8 e6,f5,e4,d5,c7,g7,g3,c3:
  figcaption.
    Jugadas de la torre negra a la izquierda y del caballo negro a la derecha.

figure.diagram-container
  .diagram.diag12
    | fen:8/8/8/3a4/8/8/8/8 c6,b7,e6,f7,e4,f3,c4,b3,d7,f5,d3,b5:
  .diagram.diag22
    | fen:8/8/8/4s3/8/8/8/8 a1,b2,c3,d4,f6,g7,h8,b8,c7,d6,f4,g3,h2,c6,d7,f7,g6,g4,f3,d3,c4:
  figcaption.
    Jugadas del alfil negro a la izquierda, y de la dama negra a la derecha.

p.
  Los peones pueden ser promovidos a cualquier piezas (incluidos las del
  otro equipo)

p.
  Después del gran enroque, el rey negro llega en b8 y la torre a8 entra en c8,
  para permanecer en el mismo color.

h3 Fuente

p
  a(href="https://www.chessvariants.com/d.betza/chessvar/dan/colclob.html")
    | Los "batidores unicolor"
  | &nbsp;en chessvariants.com.

p Inventor: Ralph Betza (1996)
