p.boxed
  | Les pièces noires et blanches sont remplacées par des armées différentes.

p.
  Les pions et rois se déplacent comme d'habitude, mais en général pas
  les autres pièces. En effet, avant le début de la partie vous devez
  sélectionner deux armées, définissant de nouveaux déplacements pour les
  "tours", "cavaliers", "fous" et "dames".

p Les mouvements des pièces sont décrits en utilisant ces pièces élmentaires :
ul
  li Dabbabah = saute deux cases orthogonalement
  li Alfil = saute deux cases en diagonale
  li Wazir = une case orthogonalement
  li Ferz = une case en diagonale
  li Three leaper (L3) = saute trois cases orthogonalement
  li Narrow knight = cavalier sans "coups latéraux 2+1"

p.
  Les pions peuvent se promouvoir en une pièce de n'importe
  laquelle des armées présentes.

h3 Les Tabasseurs Unicolores

figure.showPieces.text-center
  img(src="/images/pieces/Cwda/bd.svg")
  img(src="/images/pieces/Cwda/ww.svg")
  img(src="/images/pieces/Cwda/bf.svg")
  img(src="/images/pieces/Cwda/wc.svg")

ul
  li Tour = fou + dabbabah = "bede" (D),
  li Cavalier = wazir + alfil = "gaufre" (W),
  li Fou = ferz + alfil + dabbabah = "fad" (F),
  li Dame = fou + cavalier = "cardinal" (C).

figure.diagram-container
  .diagram.diag12
    | fen:8/8/8/3D4/8/8/8/8 a8,b7,c6,e4,f3,g2,h1,c4,b3,a2,e6,f7,g8,f5,d3,b5,d7:
  .diagram.diag22
    | fen:8/8/8/4w3/8/8/8/8 e6,f5,e4,d5,c7,g7,g3,c3:
  figcaption Coups du Bede à gauche, et de la Gaufre à droite.

figure.diagram-container
  .diagram
    | fen:8/8/8/3F4/8/8/8/8 b7,c6,b5,f5,d3,d7,b3,c4,e4,f3,e6,f7:
  figcaption.
    Coups du Fad.

p.
  Après le grand roque, roi et tour arrivent respectivement en b1/b8 et c1/c8
  afin que la tour reste sur la même couleur.

h3 Les Chevaliers Fous

figure.showPieces.text-center
  img(src="/images/pieces/Cwda/bg.svg")
  img(src="/images/pieces/Cwda/wi.svg")
  img(src="/images/pieces/Cwda/bt.svg")
  img(src="/images/pieces/Cwda/wl.svg")

ul
  li.
    Tour = tour vers l'avant et latéralement + roi vers l'arrière =
    "tour chargeante" (G),
  li Cavalier = narrow knight + ferz = "fibnif" (I),
  li.
    Fou = cavalier vers l'avant + roi latéralement et vers l'arrière =
    "cavalier chargeant" (T),
  li.
    Dame = tour vers l'avant et latéralement + cavalier vers l'avant + roi =
    "colonel" (L).

figure.diagram-container
  .diagram.diag12
    | fen:8/8/8/8/3G4/8/8/8 d5,d6,d7,d8,c4,b4,a4,e4,f4,g4,h4,c3,d3,e3:
  .diagram.diag22
    | fen:8/8/8/8/4i3/8/8/8 d6,d2,f6,f2,d3,d5,f5,f3:
  figcaption Coups de la Tour chargeante à gauche, et du Fibnif à droite.

figure.diagram-container
  .diagram.diag12
    | fen:8/8/8/8/3T4/8/8/8 b5,c6,e6,f5,c4,e4,c3,d3,e3:
  .diagram.diag22
    | fen:8/8/8/8/4c3/8/8/8 e5,e6,e7,e8,d4,c4,b4,a4,f4,g4,h4,d6,c5,f6,g5,d5,f5,d3,e3,f3:
  figcaption Coups du Cavalier chargeant à gauche, et du Colonel à droite.

h3 Les Recrues Remarquables

figure.showPieces.text-center
  img(src="/images/pieces/Cwda/bs.svg")
  img(src="/images/pieces/Cwda/wy.svg")
  img(src="/images/pieces/Cwda/bh.svg")
  img(src="/images/pieces/Cwda/wo.svg")

ul
  li Tour = tour limitée à 4 cases = "tour courte" (S),
  li Cavalier = dabbabah + wazir = "tour boisée" (Y),
  li Fou = dabbabah + ferz + L3 = "demi-canard" (H),
  li Dame = tour + cavalier = "chancelier" (O).

figure.diagram-container
  .diagram.diag12
    | fen:8/8/8/3y4/8/8/8/8 d3,b5,d7,f5,c5,d6,e5,d4:
  .diagram.diag22
    | fen:8/8/8/4H3/8/8/8/8 c5,e7,g5,e3,b5,e8,h5,e2,d4,d6,f6,f4:
  figcaption Coups de la Tour boisée à gauche, et du Demi-canard à droite.

h3 Armée Fide

p Les pièces d'échecs standard.

h3 Source

p
  a(href="https://www.chessvariants.com/unequal.dir/cwda.html")
    | Échecs avec armées différentes
  | &nbsp;sur chessvariants.com.

p Inventeur : Ralph Betza (1996)
