#!/usr/bin/env python

import sqlite3
from sqlite3 import Error

vchess_db_path = "/path/to/vchess.sqlite"

def create_connection():
    """
    Create a database connection to the vchess SQLite database
    :return: Connection object or None
    """

    conn = None
    try:
        conn = sqlite3.connect(vchess_db_path)
    except Error as e:
        print(e)

    return conn
