p.boxed
  | Black pieces are replaced by a new army, where all of the pieces are
  | inspired by the standard Rook.

p TODO add more description

figure.diagram-container
  .diagram.diag12
    | fen:7d/8/8/8/8/8/1d6/8 b1,a2,c2,d2,e2,f2,b3,b4,b5,b6,d8,e8,f8,g8,h7,h6,h5,h4:
  .diagram.diag22
    | fen:8/8/8/8/4h3/8/8/8 e2,e3,e5,e6,c4,d4,f4,g4:
  figcaption.
    TODO maybe a caption (might be useful to clarify which pieces
    can
    jump)

figure.diagram-container
  .diagram.diag12
    | fen:8/8/8/8/4a3/8/8/8 e1,e2,e6,e7,b4,c4,g4,h4,d5,d3,f5,f3:
  .diagram.diag22
    | fen:8/8/8/8/4s3/8/8/8 e1,e2,e3,e5,e6,e7,e8,a4,b4,c4,d4,f4,g4,h4,c5,c3,g5,g3,d6,d2,f6,f2:
  figcaption.
    TODO maybe a caption

figure.diagram-container
  .diagram
    | fen:dhaskahd/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR:
  figcaption Standard initial position.


h3 Source

p
  a(href="https://www.chessvariants.com/d.betza/chessvar/dan/rookies.html")
    | The Remarkable Rookies
  | &nbsp;on chessvariants.com.

p Inventor: Ralph Betza (1996)
