p.boxed
  | Gana eliminando todas las piezas opuestas del mismo tipo.

p.
  Se aplican las reglas habituales, pero el juego termina cuando todas las
  piezas del mismo tipo han desaparecido. Los reyes son tratados como piezas
  normales, pero pueden enroquar - sin consideraciones de jaques.
  Los peones pueden ser promovidos a reyes.
  Si se capturan todas las piezas del mismo tipo, el juego se pierde;
  excepto en el caso de una extinción de peones que resulte en una extinción
  (de cierto tipo de pieza) mediante la realización de una promoción con
  captura.

h3 Fin de la partida

p.
  Ganas eliminando todos los peones de tu oponente, o todas sus torres o
  dama(s), o todos sus caballos, alfiles o reye(s) (peones promovidos
  potenciales).

figure.diagram-container
  .diagram
    | fen:n3brk1/5ppp/3q4/8/8/8/1Q3PPP/K1R1B1N1:
  figcaption Las blancas pueden ganar en dos jugadas: 1.Qb7, 2.QxN

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/winning.dir/extinction.html")
    | variante Extinción
  | &nbsp;en chessvariants.com.

p Inventor: R. Wayne Schmittberger (1985)
