p.boxed
  | Gagnez en éliminant toutes les pièces adverses de même nature.

p.
  Les règles usuelles s'appliquent, mais la partie s'arrête quand toutes les
  pièces de même nature ont disparu.
  Les rois sont traités comme des pièces normales, mais peuvent roquer - sans
  considérations d'échecs.
  Les pions peuvent être promus en rois.
  Si toutes les pièces d'un même type sont capturées, la partie est perdue ;
  sauf s'il s'agit d'une extinction de pions résultant en une extinction
  (d'un certain type de pièce) en effectuant une promotion capturante.

h3 Fin de la partie

p.
  On gagne en éliminant tous les pions adverses, ou toutes ses tours ou dame(s), ou tous ses cavaliers, fous ou roi(s) (pions promus potentiels).

figure.diagram-container
  .diagram
    | fen:n3brk1/5ppp/3q4/8/8/8/1Q3PPP/K1R1B1N1:
  figcaption Les blancs peuvent gagner en deux coups : 1.Qb7, 2.QxN

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/winning.dir/extinction.html")
    | variante Extinction
  | &nbsp;sur chessvariants.com.

p Inventeur : R. Wayne Schmittberger (1985)
