p.boxed
	| You only see what your pieces can reach. Incomplete information game.

h3 Specifications

ul
	li Chessboard: standard.
	li Material: standard.
	li Non-capturing moves: standard.
	li Special moves: standard.
	li Captures: standard.
	li End of game: capture the king.

p Incomplete information version of the orthodox game (also shuffled).

h3 Basics

p.
	TODO

figure.diagram-container
	.diagram
		| fen:r3kbnr/pp3ppp/3p4/4p3/8/8/PPPPPPPP/R1BQKBNR:
	figcaption After the moves 1.Nc3 d6?? 2.Nd5 e5 3.Nxc7

h3 End of the game

p Win by capturing the king (no checks, no stalemate).

h3 More information

p.
	TODO: quote buho21, ...
