p.boxed
	| You only see what your pieces can reach. Incomplete information game.

h3 Divergences

p.
	Incomplete information version of the orthodox game
	(with randomized initial position).

h3 Basics

p.
	Before every move, players see only what their pieces can reach.
	That is to say: empty squares where your pieces can go,
	but also occupied squares where captures can be made.
	For example on the illustration next, after 1.e4 d5 white sees a black
	pawn on d5, the squares e5, f5, h5, b5, a6 and all four first ranks.
	The f5 square is visible (and empty) because of the
	special case of pawn capture.

figure.diagram-container
	.diagram
		| fen:8/8/8/3p4/4P3/8/PPPP1PPP/RNBQKBNR - w 8,7,b6-h6,a5,c5,g5:
	figcaption Standard initial position after 1.e4 d5

p.
	Choose your move carefully, based on what you can infer from the
	opponent's past moves. Counting material, in particular, is crucial.
	Be careful to block the attacking lines toward your king too.
	Good luck!

p.
	Note: the bot is not cheating - it really uses only the information
	described earlier. Moreover, it is very basic and clearly less
	challenging that a human. But it may be a fun start :)

h3 End of the game

p Win by capturing the enemy king (no checks, no stalemate).

h3 More information

p
	| I discovered this variant on 
	a(href="https://www.buho21.com/") Buho21
	| , which is a nice website but its spirit is very different than here
	| (ranking system, VIP membership or ads, etc.).
	| It seemed to be the only place to play DarkChess in live.
