p.boxed.
  Atomic1, but white's first move is a pawn removal.

p.
  At the very first move of the game, white must remove a pawn,
  from either side.
  Black then replies, and the game continues normally.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppppppp/8/8/8/8/PPPP1PPP/RNBQKBNR:
  figcaption After 1.e2X, pawn removal at e2.

h3 More information

p
  | This variant aims at balancing the big white's advantage in Atomic1.
  | It was suggested (relayed?) and analyzed recently (2020) by a strong
  | Atomic player (Gannet on Discord). See 
  a(href="https://discord.com/channels/686736099959504907/687076744095858762/762398439043498046")
    | the messages
  | &nbsp;on Discord vchess server.
