p.boxed.
  Atomic1, pero el primer movimiento de las blancas es quitar un peón.

p.
  En el primer movimiento del juego, las blancas deben elegir un peón para
  borrar, blanco o negro.
  Entonces las negras responden, luego el juego continúa normalmente.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppppppp/8/8/8/8/PPPP1PPP/RNBQKBNR:
  figcaption Después de 1.e2X, remoción de peones en e2.

h3 Más información

p
  | Esta variante tiene como objetivo reequilibrar la gran ventaja de las
  | blancas en Atomic1. Ha sido sugerido (¿retransmitido?) y analizado
  | recientemente (2020) por un fuerte jugador de ajedrez atómico
  | (Gannet en Discord). Ver 
  a(href="https://discord.com/channels/686736099959504907/687076744095858762/762398439043498046")
    | los mensajes
  | &nbsp;en el servidor Discord de vchess.
