p.boxed.
  Atomic1, mais le premier coup des blancs consiste à supprimer un pion.

p.
  Au tout premier coup de la partie, les blancs doivent choisir un pion à
  supprimer, blanc ou noir.
  Les noirs répondent alors, puis la partie continue normalement.

figure.diagram-container
  .diagram
    | fen:rnbqkbnr/pppppppp/8/8/8/8/PPPP1PPP/RNBQKBNR:
  figcaption.
    Après 1.e2X, suppression de pion en e2.

h3 Plus d'information

p
  | Cette variante vise à rééquilibrer le gros avantage blanc en Atomic1.
  | Elle a été suggérée (relayée ?) et analysée récemment (2020) par un fort
  | joueur d'échecs atomiques (Gannet sur Discord). Voir 
  a(href="https://discord.com/channels/686736099959504907/687076744095858762/762398439043498046")
    | les messages
  | &nbsp;sur le serveur Discord de vchess.
