p.boxed
  | All pieces can be captured en passant, by any piece.

p More precisely:
ul
  li.
    A piece making a multistep move can be captured by an opponent's piece
    guarding a square on its way; this capture is only possible right after
    the move (same condition as for en passant pawns captures).
  li.
    Even if the capturer gets captured en passant on next turn,
    the initial captured piece does not return to the board.

p.
  This is a generalisation of en passant capture with the pawn, which is
  still possible. It leads to some unexpected situations,
  like on the following diagram after 1...Rb2-d2+: this is not a mate
  since the king can capture the rook en passant on c2: 2.Kxc2 e.p.

figure.diagram-container
  .diagram
    | fen:6k1/1p1p4/6p1/4P3/2n5/3nP1b1/3r1BP1/R2K1R1B:
  figcaption After 1...Rb2-d2+: not a mate!

h3 Special moves

ul
  li.
    Knights become knightriders, which may make multi knight-steps in the
    same direction. For example in the standard initial position,
    the knightrider on g1 can go to e5 or could capture on d7 in addition
    to the knight moves (see diagram below).
  li The king can capture a piece en passant by making a knight move.

figure.diagram-container
  .diagram
    | fen:rnbqk1nr/ppppppbp/6p1/8/8/2NP5/PPP1PPPP/R1BQKBNR h3,f3,e5,d7:
  figcaption.
    Possible knightrider moves after 1.d3 g6 2.Nc3 Bg7.
    If 3.Nxd7, 3...Bxe5 e.p. is possible.

p.
  Due to the extended knight movement, a capture, check or even checkmate
  could be played at move 1. On the following diagram 1.Nxe7 is mate,
  and black in turn could play 1...Nxg2 trapping the queen.
  Consequently, captures are disabled at move 1.

figure.diagram-container
  .diagram
    | fen:nbqnbrkr/pppppppp/8/8/8/8/PPPPPPPP/RNKBQNBR:
  figcaption 1.Nxe7# and 1...Nxg2: "knightriders' anomalies".

h3 Source

p
  a(href="https://www.chessvariants.com/difftaking.dir/enpassant.html")
    | En Passant chess
  | &nbsp;on chessvariants.com.

p Inventor: Andy Kurnia (1998)
