p.boxed
  | Todas las piezas se pueden capturar en passant, por cualquier pieza.

p Más específicamente:
ul
  li.
    Se puede capturar una pieza que mueve varias casillas
    por una pieza opuesta que controla un cuadrado en su camino;
    esta captura solo es posible inmediatamente después del movimiento
    (misma condición que para capturar peones en passant).
  li.
    Incluso si el capturador se encuentra capturado en el siguiente
    movimiento, la pieza inicialmente capturada no vuelve al tablero.

p.
  Es una generalización de la captura en passant de los peones,
  que sigue siendo posible. Esto lleva a algunas situaciones inesperadas,
  como en el siguiente diagrama después de 1...Rb2-d2+: no es un mate desde
  el rey puede tomar la torre en passant en c2: 2.Kxc2 e.p.

figure.diagram-container
  .diagram
    | fen:6k1/1p1p4/6p1/4P3/2n5/3nP1b1/3r1BP1/R2K1R1B:
  figcaption Despues de 1...Rb2-d2+: no es jaque mate!

h3 Movimientos especiales

ul
  li.
    Los caballos se convierten en caballos de la noche (o noctámbulos),
    capaces de realizar varias saltos en la misma dirección.
    Por ejemplo en la posición inicial, el noctámbulo en g1 puede ir a e5
    o podría tomar en d7 además de los movimientos de caballo.
  li.
    El rey puede capturar una pieza en passant haciendo
    un movimiento de caballo.

figure.diagram-container
  .diagram
    | fen:rnbqk1nr/ppppppbp/6p1/8/8/2NP5/PPP1PPPP/R1BQKBNR h3,f3,e5,d7:
  figcaption.
    Posibles jugadas de noctámbulo después de 1.d3 g6 2.Nc3 Bg7.
    Si 3.Nxd7, 3...Bxe5 e.p. es posible.

p.
  Los movimientos del caballo se incrementan, una captura,
  un jaque o incluso un jaque mate sería posible en el primer movimiento.
  En el diagrama a continuación 1.Nxe7 es mate, y las negras al turno
  podría jugar 1...Nxg2 atrapando a la dama.
  Es por eso que las capturas solo están autorizadas
  desde el segundo movimiento.

figure.diagram-container
  .diagram
    | fen:nbqnbrkr/pppppppp/8/8/8/8/PPPPPPPP/RNKBQNBR:
  figcaption 1.Nxe7# y 1...Nxg2: "anomalías de noctámbulos".

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/difftaking.dir/enpassant.html")
    | variante En Passant
  | &nbsp;en chessvariants.com.

p Inventor: Andy Kurnia (1998)
