p.boxed
  | Toutes les pièces peuvent être capturées en passant, par n'importe quelle pièce.

p Plus précisément :
ul
  li.
    Une pièce effectuant un déplacement de plusieurs cases peut être capturée
    par une pièce adverse contrôlant une case sur son chemin ;
    cette capture n'est possible qu'immédiatement après le coup
    (même condition que pour les captures de pions en passant).
  li.
    Même si le capturant se retrouve capturé au coup suivant, la pièce
    initialement capturée ne revient pas sur l'échiquier.

p C'est une généralisation de la prise en passant des pions, qui reste possible.

h3 Coups spéciaux

ul
  li.
    Les cavaliers deviennent des chevaliers, pouvant effectuer plusieurs
    déplacements de cavalier dans la même direction.
    Par exemple dans la position initiale, le chevalier en g1 peut aller en e5
    ou prendre d7 en plus des coups de cavalier.
  li Le roi peut capturer une pièce en passant en effectuant un coup de cavalier.

figure.diagram-container
  .diagram
    | fen:rnbqk1nr/ppppppbp/6p1/8/8/2NP5/PPP1PPPP/R1BQKBNR h3,f3,e5,d7:
  figcaption.
    Possibles coups de chevalier après 1.d3 g6 2.Nc3 Bg7.
    Si 3.Nxd7, 3...Bxe5 e.p. est possible.

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/difftaking.dir/enpassant.html") variante En Passant
  | &nbsp;sur chessvariants.com.
