p.boxed
  | Toutes les pièces peuvent être capturées en passant,
  | par n'importe quelle pièce.

p Plus précisément :
ul
  li.
    Une pièce effectuant un déplacement de plusieurs cases peut être capturée
    par une pièce adverse contrôlant une case sur son chemin ;
    cette capture n'est possible qu'immédiatement après le coup
    (même condition que pour les captures de pions en passant).
  li.
    Même si le capturant se retrouve capturé au coup suivant, la pièce
    initialement capturée ne revient pas sur l'échiquier.

p.
  C'est une généralisation de la prise en passant des pions,
  qui reste possible. Cela mène à certaines situations inattendues, comme
  sur le diagramme suivant après 1...Rb2-d2+ : ce n'est pas un mat puisque
  le roi peut prendre la tour en passant en c2 : 2.Kxc2 e.p.

figure.diagram-container
  .diagram
    | fen:6k1/1p1p4/6p1/4P3/2n5/3nP1b1/3r1BP1/R2K1R1B:
  figcaption Après 1...Rb2-d2+ : pas un mat !

h3 Coups spéciaux

ul
  li.
    Les cavaliers deviennent des cavaliers de la nuit (ou noctambules),
    pouvant effectuer plusieurs déplacements de cavalier dans la même
    direction. Par exemple dans la position initiale, le noctambule en g1 peut
    aller en e5 ou pourrait prendre en d7 en plus des coups de cavalier.
  li.
    Le roi peut capturer une pièce en passant en effectuant
    un coup de cavalier.

figure.diagram-container
  .diagram
    | fen:rnbqk1nr/ppppppbp/6p1/8/8/2NP5/PPP1PPPP/R1BQKBNR h3,f3,e5,d7:
  figcaption.
    Possibles coups de noctambule après 1.d3 g6 2.Nc3 Bg7.
    Si 3.Nxd7, 3...Bxe5 e.p. est possible.

p.
  Les déplacements du cavalier étant augmentés, une capture,
  un échec ou même un mat seraient possibles au premier coup.
  Sur le diagramme ci-dessous 1.Nxe7 fait mat, et les noirs au trait
  pourraient jouer 1...Nxg2 piégeant la dame.
  C'est pourquoi les captures ne sont autorisées qu'à partir du second coup.

figure.diagram-container
  .diagram
    | fen:nbqnbrkr/pppppppp/8/8/8/8/PPPPPPPP/RNKBQNBR:
  figcaption 1.Nxe7# et 1...Nxg2 : "anomalies de noctambules".

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/difftaking.dir/enpassant.html")
    | variante En Passant
  | &nbsp;sur chessvariants.com.

p Inventeur : Andy Kurnia (1998)
