p.boxed
  | Además de los movimientos habituales,
  | se puede cambiar una pieza con una vecina.

p.
  En lugar de hacer un movimiento normal, se puede cambiar una pieza con una
  pieza amiga contigua.
  El intercambio puede mover peones en la primera o última fila:
  en el primer caso es posible un salto de dos casillas, y en el
  segundo se lleva a cabo una promoción.
  El intercambio debe involucrar dos piezas de diferentes naturalezas.
  El intercambio está prohibido cuando el rey está en jaque.

p.
  Notación: un movimiento de cambio se indica con la letra mayúscula 'S'
  seguido por las casillas intercambiadas. Por ejemplo en el diagrama: Sb8c8.

figure.diagram-container
  .diagram
    | fen:1RB3k1/5ppp/8/8/8/8/8/K7:
  figcaption Las blancas pueden dar jaque mate en 1 por intercambio b8-c8.

p.
  Nota: para activar un intercambio que involucre al rey, seleccione la pieza
  no real primero (para no interferir con el enroque).

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/diffmove.dir/switching.html")
    | variante Switching
  | &nbsp;en chessvariants.com.

p Inventor: Tony Quintanilla (2004)
