p.boxed
  | If A attacks B, then A can moves like B.

p.
  This game follows the orthodox chess rules, with one addition:
  if a piece attacks another friendly one, it borrows powers from it and
  can move (and capture) like it. This does not apply to pawns and kings,
  which can neither move like another piece or share their abilities.

figure.diagram-container
  .diagram.diag12
    | fen:1r3k1r/2p3pp/2P5/p2p4/Pp1Q13/4N3/1PP1PP1P/4K3:
  .diagram.diag22
    | fen:1r3k1r/2p3pp/2P1Q3/p2p4/Pp6/4N3/1PP1PP1P/4K3:
  figcaption Before and after Qe6#

p.
  On the example above, the queen is attacking the knight and can therefore
  move like it on both diagrams, so this is checkmate after Qe6.

h3 More information

p
  | Join the Copycat 
  a(href="https://discord.gg/tv9hVkQKa9") Discord server
  | &nbsp;:-)

p
  | Inventors: students at 
  a(href="https://www.facebook.com/groups/ucfchessclub/") UCF Chess Club
  | .
