p.boxed
  | Si A ataca a B, entonces A puede moverse como B.

p.
  Este juego sigue las reglas del ajedrez ortodoxo, con una adición: si una
  pieza ataca a otra pieza amiga, toma prestados sus poderes y puede ser
  mover (y capturar) como ella. Esto no se aplica a peones y reyes,
  que no pueden imitar otras piezas ni compartir sus habilidades.

figure.diagram-container
  .diagram.diag12
    | fen:1r3k1r/2p3pp/2P5/p2p4/Pp1Q13/4N3/1PP1PP1P/4K3:
  .diagram.diag22
    | fen:1r3k1r/2p3pp/2P1Q3/p2p4/Pp6/4N3/1PP1PP1P/4K3:
  figcaption Antes y después Qe6#

p.
  En el ejemplo anterior, la reina ataca al caballo y luego puede moverse
  como él en los dos diagramas: por lo tanto, es mate después de Qe6.

h3 Más información

p
  | Únete al 
  a(href="https://discord.gg/tv9hVkQKa9") servidor Discord
  | &nbsp;Copycat :-)

p
  | Inventores: alumnos al 
  a(href="https://www.facebook.com/groups/ucfchessclub/") UCF Chess Club
  | .
