p.boxed
  | Si A attaque B, alors A peut bouger comme B.

p.
  Ce jeu suit les règles des échecs orthodoxes, à un ajout près : si une
  pièce attaque une autre pièce amie, elle emprunte ses pouvoirs et peut se
  déplacer (et capturer) comme elle. Cela ne s'applique pas aux pions et rois,
  qui ne peuvent pas imiter d'autres pièces ni partager leurs capacités.

figure.diagram-container
  .diagram.diag12
    | fen:1r3k1r/2p3pp/2P5/p2p4/Pp1Q13/4N3/1PP1PP1P/4K3:
  .diagram.diag22
    | fen:1r3k1r/2p3pp/2P1Q3/p2p4/Pp6/4N3/1PP1PP1P/4K3:
  figcaption Avant et après Qe6#

p.
  Sur l'exemple ci-dessus, la dame attaque le cavalier et peut alors se
  déplacer comme lui sur les deux diagrammes : c'est donc mat après Qe6.

h3 Plus d'information

p
  | Rejoignez le 
  a(href="https://discord.gg/tv9hVkQKa9") serveur Discord
  | &nbsp;Copycat :-)

p
  | Inventeurs : étudiants à l'
  a(href="https://www.facebook.com/groups/ucfchessclub/") UCF Chess Club
  | .
