p.boxed
  | Las capturas intercambian las piezas.
  | El objetivo es llevar al rey contrario a tu primera fila.

p.
  Cuando se captura una pieza, no se retira del tablero, sino
  solo se movió a la casilla originalmente ocupada por la pieza que capturó.

p.
  Está prohibido "deshacer" una captura inmediatamente después de que se
  haya jugado: en la posición del diagrama, 3...Bxg7 no está permitido.

figure.diagram-container
  .diagram
    | fen:rnbqk1nr/ppppppBp/6p1/8/8/1P6/PbPPPPPP/RN1QKBNR:
  figcaption Después de 1.b3 g6 2.Bb2 Bg7 3.Bxg7

ul
  li.
    El rey no puede moverse excepto ser capturado por uno de los
    piezas opuestas. No hay enroque.
  li Tomar al rey no tiene otro efecto que moverlo.

p.
  Los peones no son promovidos: permanecen en la última fila desde donde
  ya no puede moverse. Sin embargo, dicho peón puede volver al juego
  siendo capturado.

h3 Fin de la partida

p El objetivo es "absorber" al rey contrario a tu primera fila.

figure.diagram-container
  .diagram
    | fen:2Pb3r/1rP3nq/1p2p2p/p1p2NpP/1P2R2k/P3p2P/pN1PP1B1/R1BnQ1Kb:
  figcaption White puede ganar con 1.Dxh4

h3 Fuente

p
  | La 
  a(href="https://www.chessvariants.com/rules/suction-chess") variante Succión
  | &nbsp;en chessvariants.com.
