p.boxed
  | Les captures échangent les pièces.
  | L'objectif est d'amener le roi adverse sur votre première rangée.

p.
  Quand une pièce est capturée elle n'est pas retirée de l'échiquier, mais
  seulement déplacée sur la case initialement occupée par la pièce capturante.

p.
  Il est interdit de "défaire" une capture juste après qu'elle a été jouée :
  dans la position du diagramme, 3...Bxg7 n'est pas autorisé.

figure.diagram-container
  .diagram
    | fen:rnbqk1nr/ppppppBp/6p1/8/8/1P6/PbPPPPPP/RN1QKBNR:
  figcaption Après 1.b3 g6 2.Bb2 Bg7 3.Bxg7

ul
  li.
    Le roi ne peut pas se déplacer, sauf en en étant capturé par l'une des
    pièces adverses. Il n'y a pas de roque.
  li Prendre le roi n'a aucun autre effet que de le déplacer.

p.
  Les pions ne sont pas promus : ils restent sur la dernière rangée d'où ils
  ne peuvent plus bouger. Un tel pion peut cependant revenir dans le jeu
  en étant capturé.

h3 Fin de la partie

p Le but est d'"aspirer" le roi adverse jusqu'à votre première rangée.

figure.diagram-container
  .diagram
    | fen:2Pb3r/1rP3nq/1p2p2p/p1p2NpP/1P2R2k/P3p2P/pN1PP1B1/R1BnQ1Kb:
  figcaption White can win with 1.Qxh4

h3 Source

p
  | La 
  a(href="https://www.chessvariants.com/rules/suction-chess") variante Suction
  | &nbsp;sur chessvariants.com.
