p.boxed.
  Rook and bishop can fusion to become a queen, if the queen disappeared.

p.
  If a side lacks a queen, then a special fusion move is allowed by "capturing"
  a rook with a bishop (and conversely).
  The result of the capture is a queen, hence the variant name.

figure.diagram-container
  .diagram.diag12
    | fen:1R6/1pr2k2/p1p1p2p/3p3p/2nP3P/1NP3P1/PPK1P3/2R3B1:
  .diagram.diag22
    | fen:1R6/1pr2k2/p1p1p2p/3p3p/2nP3P/1NP3P1/PPK1P3/6Q1:
  figcaption Left: before Rxg1=Q. Right: after the move.

h3 Source

p
  | This variant is 
  a(href="https://www.chessvariants.com/play/erf/CoronatC.html") mentioned here
  | .
