p.boxed.
  Tour et fou peuvent fusionner pour devenir une reine, si la dame a disparu.

p.
  Si un camp a perdu sa dame, alors il peut effectuer un coup spécial en
  "capturant" une tour avec un fou (et inversement).
  Le résultat de la capture est une reine, d'où le nom de la variante.

figure.diagram-container
  .diagram.diag12
    | fen:1R6/1pr2k2/p1p1p2p/3p3p/2nP3P/1NP3P1/PPK1P3/2R3B1:
  .diagram.diag22
    | fen:1R6/1pr2k2/p1p1p2p/3p3p/2nP3P/1NP3P1/PPK1P3/6Q1:
  figcaption Gauche : avant Rxg1=Q. Droite : après le coup.

h3 Source

p
  | Cette variante est 
  a(href="https://www.chessvariants.com/play/erf/CoronatC.html") mentionnée ici
  | .
