p.boxed.
  Simplified Shogi.

p.
  Dobutsu Shogi ("Animal Chess") is a Shogi variant for young children.
  It was invented by professional shogi player Madoka Kitao, partially to
  attract young girls to the game. It is played on a 3×4 board and
  generally follows the rules of standard shogi,
  with a few exceptions described below.

figure.diagram-container
  .diagram
    | fen:gke/1p1/1P1/EKG:
  figcaption Initial position.

ul
  li.
    You must either capture the enemy Lion (King) or move your own
    Lion into the final rank.
  li.
    All pieces move by one square at a time,
    following directions indicated on pieces' edges.
  li.
    Once arrived on the final rank, Chick (Pawn) promotes into Hen (Tokin),
    moving in all directions except diagonally backward.
    Other pieces don't transform.
  li.
    Instead of playing a move, captured pieces may be dropped
    (without restrictions). A captured Hen turns back into a Chick.
  li Repetition of moves counts as a draw.

figure.showPieces.text-center
  img(src="/images/pieces/Dobutsu/wh.svg")
  figcaption Hen: promoted pawn.

h3 More information

p
  | The variant is playable on 
  a(href="https://www.pychess.org/variant/dobutsu") pychess-variants
  | . See also the Wikipedia page.
