p.boxed.
  Shogi simplificado.

p.
  Dobutsu Shogi ("Ajedrez animal") es una variante de Shogi destinada
  a los niños pequeños. Fue inventado por la jugadora profesional
  Madoka Kitao, en parte para atraer a las jóvenes al juego.
  Se juega en un tablero de ajedrez 3x4 y generalmente sigue las reglas de
  shogi estándar, con algunas excepciones que se describen a continuación.

figure.diagram-container
  .diagram
    | fen:gke/1p1/1P1/EKG:
  figcaption Position initiale.

ul
  li.
    Debes capturar al León (Rey) oponente o traer tu propio
    en la última fila.
  li.
    Todas las piezas solo se mueven un espacio a la vez,
    siguiendo las indicaciones indicadas en los bordes de las piezas.
  li.
    Una vez en la última fila, se promueve el Pollito (Peón)
    en una Gallina (Tokin), moviéndose en todas direcciones excepto
    diagonalmente hacia atrás. Las otras piezas no se transforman.
  li.
    En lugar de jugar un movimiento, las piezas capturadas se pueden lanzar
    en paracaídas (sin restricciones). Una Gallina capturada se convierte de
    nuevo en Pollito.
  li Las jugadas repetitivas equivalen a un empate.

figure.showPieces.text-center
  img(src="/images/pieces/Dobutsu/wh.svg" style="width:100px")
  figcaption Hen: pion promu.

h3 Más información

p
  | La variante se puede jugar en 
  a(href="https://www.pychess.org/variant/dobutsu") pychess-variants
  | . Consulte también la página de Wikipedia.
