p.boxed.
  Shogi simplifié.

p.
  Dobutsu Shogi ("Échecs des Animaux") est une variante du Shogi destinée
  aux jeunes enfants. Elle a été inventée par la joueuse professionnelle
  Madoka Kitao, en partie pour attirer de jeunes filles vers le jeu.
  Elle se joue sur un échiquier 3x4 et suit généralement les règles du
  shogi standard, avec quelques exceptions décrites ci-dessous.

figure.diagram-container
  .diagram
    | fen:gke/1p1/1P1/EKG:
  figcaption Position initiale.

ul
  li.
    Vous devez soit capturer le Lion (Roi) adverse, ou bien amener le votre
    sur la dernière rangée.
  li.
    Toutes les pièces ne se déplacent que d'une case à la fois,
    suivant les directions indiquées sur les bords des pièces.
  li.
    Une fois parvenu sur la dernière rangée, le Poussin (Pion) est promu
    en une Poule (Tokin), se déplaçant dans toutes les directions sauf
    en diagonale vers arrière. Les autres pièces ne se transforment pas.
  li.
    Au lieu de jouer un coup, les pièces capturées peuvent être parachutées
    (sans restrictions). Une Poule capturée redevient un Poussin.
  li La répétition de coups équivaut à une nulle.

figure.showPieces.text-center
  img(src="/images/pieces/Dobutsu/wh.svg")
  figcaption Hen: pion promu.

h3 Plus d'information

p
  | La variante est jouable sur 
  a(href="https://www.pychess.org/variant/dobutsu") pychess-variants
  | . Voir aussi la page Wikipedia.
