p.boxed
  | Knights capture as rooks, and rooks capture as knights.

figure.diagram-container
  .diagram.diag12
    | fen:r1bqr1k1/pp2ppbp/2n2np1/1BpN4/5P2/4PN2/PPP3PP/R1BQ1RK1:
  .diagram.diag22
    | fen:r1bNr1k1/pp2ppbp/2n2np1/1Bp5/5P2/4PN2/PPP3PP/R1BQ1RK1:
  figcaption Before and after Nxd8.

h3 Source

p
  | The variant is mentioned 
  a(href="https://www.chessvariants.com/play/erf/NewZChss.html")
    | on chessvariants
  | . It was probably invented around 1903.
