p.boxed
  | Los caballos capturan como torres y las torres como caballos.

figure.diagram-container
  .diagram.diag12
    | fen:r1bqr1k1/pp2ppbp/2n2np1/1BpN4/5P2/4PN2/PPP3PP/R1BQ1RK1:
  .diagram.diag22
    | fen:r1bNr1k1/pp2ppbp/2n2np1/1Bp5/5P2/4PN2/PPP3PP/R1BQ1RK1:
  figcaption Antes y después de Nxd8.

h3 Fuente

p
  | Se menciona la variante 
  a(href="https://www.chessvariants.com/play/erf/NewZChss.html")
    | en chessvariants
  | . Probablemente fue inventado alrededor de 1903.
