p.boxed
  | Les cavaliers capturent comme des tours, et les tours comme des cavaliers.

figure.diagram-container
  .diagram.diag12
    | fen:r1bqr1k1/pp2ppbp/2n2np1/1BpN4/5P2/4PN2/PPP3PP/R1BQ1RK1:
  .diagram.diag22
    | fen:r1bNr1k1/pp2ppbp/2n2np1/1Bp5/5P2/4PN2/PPP3PP/R1BQ1RK1:
  figcaption Avant et après Nxd8.

h3 Source

p
  | La variante est mentionnée 
  a(href="https://www.chessvariants.com/play/erf/NewZChss.html")
    | sur chessvariants
  | . Elle a probablement été inventée vers 1903.
