p.boxed
  | Only pawns. Standard rules. The first to promote wins.

p.
  This game may appear simple, but since you cannot play any waiting move,
  beware the Zugzwang ;)

figure.diagram-container
  .diagram
    | fen:8/5p1p/2p1p1p1/1p1p2P1/p2P1P1P/P1P1P3/1P6/8:
  figcaption The side to play will lose.

p.
  Also, space is important. On the following diagram any move of a white pawn
  which is not on the edge wins.

figure.diagram-container
  .diagram
    | fen:8/8/pppppppp/8/PPPPPPPP/8/8/8:
  figcaption Any central advance wins.
